agente-con-telegram-X5VJGSintMpIfMsv.json
{"createdAt":"2025-08-18T21:20:52.318Z","updatedAt":"2025-08-18T21:20:52.318Z","id":"X5VJGSintMpIfMsv","name":"Agente con Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-416,96],"id":"131675c5-d14c-48b0-9276-698cbfe244b6","name":"Telegram Trigger","webhookId":"fc903dc9-6cf0-447d-b3a1-dbb6a667fccc"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"7201cec3-a528-4b16-a6cf-4c9470ee4c41"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voz"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5b62c8a-fc78-4b8e-a609-3714489d64f2","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-208,96],"id":"eda2e97c-2ca9-4627-a762-a31c55c4b9ff","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,0],"id":"7ed12147-b602-4c2f-9d94-5df054ee6f1c","name":"Transcribe a recording"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"id":"70043811-e3f7-4cee-b83f-82cf8a91b295","name":"Get a file","webhookId":"1ddb3c94-2f8f-4f8e-a201-d67496674e4d"},{"parameters":{"assignments":{"assignments":[{"id":"2b148dc4-33a9-4a6a-b700-65783dd39e0b","name":"Texto","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,176],"id":"e9a630cd-dc84-48a2-af89-fcc33ac6d3c3","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.Texto }}","options":{"systemMessage":"Eres un asistente virtual amable y profesional, Tu tarea es responder con educación y claridad a los cliente, responde siempre con freces cortas y concisas."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[416,192],"id":"dad69090-1957-46c3-a195-2e56fbe6696b","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[368,416],"id":"f2942650-5876-42d4-a36f-33d8e32c28ec","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[512,400],"id":"73ecc3e8-2aec-46ef-81a0-6a38d279b0ae","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[768,192],"id":"9ad9a520-3ed2-4fd5-921b-189669217d8b","name":"Send a text message","webhookId":"e8c573eb-568b-4393-9b10-46c03317a8aa"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Transcribe a recording":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"03083a6d-cfe6-4f8d-9c92-96cffa2907a0","triggerCount":0,"shared":[{"createdAt":"2025-08-18T21:20:52.318Z","updatedAt":"2025-08-18T21:20:52.318Z","role":"workflow:owner","workflowId":"X5VJGSintMpIfMsv","projectId":"JP23SHf2OXqUP0Za"}],"tags":[]}