airtable-to-mail-cPKdVaKFwkHAA6RV.json
{"createdAt":"2025-10-05T00:51:38.402Z","updatedAt":"2025-10-05T00:51:38.402Z","id":"cPKdVaKFwkHAA6RV","name":"Airtable to mail","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"https://airtable.com/appagvmHTGA3TfVdh/tbl1l8z4AwyuS6o5q/viwg58eNG5KHOIaXi?blocks=hide","mode":"url"},"tableId":{"__rl":true,"value":"https://airtable.com/appagvmHTGA3TfVdh/tbl1l8z4AwyuS6o5q/viwg58eNG5KHOIaXi?blocks=hide","mode":"url"},"triggerField":"Order Number","additionalFields":{}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[0,0],"id":"b286b918-413c-421d-bc83-c07e50987ae1","name":"Airtable Trigger"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You are responsible for customer orders. Your task is to collect incoming information about new orders and create a clear summary that will be sent via email to the team. The email should be signed with \"Customer Success Team\".\n\nHere are the details of the customer orders:\n\nOrder Number: {{ $json.fields['Order Number'] }}\nCustomer: {{ $json.fields.Customer }}\nProduct: {{ $json.fields.Product }}\nQuantity: {{ $json.fields.Quantity }}\nPrice: {{ $json.fields.Price }}\nDate: {{ $json.fields.Date }}\nStatus: {{ $json.fields.Status }}\n\nPlease provide the following output parameters:\n\nemail_subject\nemail_body\n\nmake a clean body with new lines if needed"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[224,0],"id":"f204e370-fa84-4f24-876b-d883587a5770","name":"OpenAI","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"sendTo":"arnoldoberleiterhofer@gmail.com","subject":"={{ $json.message.content.email_subject }}","emailType":"text","message":"={{ $json.message.content.email_body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[592,0],"id":"b2e8ea76-73a2-4fb4-b285-858d8f2dd981","name":"Gmail","webhookId":"0cf99814-75bd-4932-bfc6-ee92e9ac87fa"}],"connections":{"Airtable Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"828b25a8-15a8-4711-a92e-d8e20095175e","triggerCount":0,"shared":[{"createdAt":"2025-10-05T00:51:38.402Z","updatedAt":"2025-10-05T00:51:38.402Z","role":"workflow:owner","workflowId":"cPKdVaKFwkHAA6RV","projectId":"95llCqXI9to4u1LV"}],"tags":[]}