apitemplate.io-3oqnwJ3hmjl69T6x.json
{"createdAt":"2025-07-26T17:27:26.734Z","updatedAt":"2025-10-03T00:27:38.903Z","id":"3oqnwJ3hmjl69T6x","name":"APITemplate.io","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"67bdb302-d71e-4eb4-9ced-6a23b74fb7e7","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"14405b89-f782-4ee4-97e3-369ccdc009bb","name":"Webhook","webhookId":"67bdb302-d71e-4eb4-9ced-6a23b74fb7e7"},{"parameters":{"respondWith":"json","responseBody":"={\n    \"nombre\":             \"{{ $('OpenAI').item.json.message.content.nombre }}\",\n    \"resumen_personal\":   \"{{ $('OpenAI').item.json.message.content.resumen_personal }}\",\n    \"nicho\":              \"{{ $('OpenAI').item.json.message.content.nicho }}\",\n    \"icp\":                \"{{ $('OpenAI').item.json.message.content.icp }}\",\n    \"dolor\":              \"{{ $('OpenAI').item.json.message.content.dolor }}\",\n    \"nsvp\":               \"{{ $('OpenAI').item.json.message.content.nsvp }}\",\n    \"oferta\":             \"{{ $('OpenAI').item.json.message.content.oferta }}\",\n    \"idea_automatizacion\":\"{{ $('OpenAI').item.json.message.content.idea_automatizacion }}\",\n  \"url_pdf\": \"{{ $json.download_url }}\"\n\n  }","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[832,0],"id":"f4b544b8-3805-4b23-9bd1-9f9b10dbff1f","name":"Respond to Webhook"},{"parameters":{"resource":"pdf","pdfTemplateId":"ab077b23f1dd0150","jsonParameters":true,"propertiesJson":"={\n    \"nombre\":             \"{{ $json.message.content.nombre }}\",\n    \"resumen_personal\":   \"{{ $json.message.content.resumen_personal }}\",\n    \"nicho\":              \"{{ $json.message.content.nicho }}\",\n    \"icp\":                \"{{ $json.message.content.icp }}\",\n    \"dolor\":              \"{{ $json.message.content.dolor }}\",\n    \"nsvp\":               \"{{ $json.message.content.nsvp }}\",\n    \"oferta\":             \"{{ $json.message.content.oferta }}\",\n    \"idea_automatizacion\":\"{{ $json.message.content.idea_automatizacion }}\"\n  }"},"type":"n8n-nodes-base.apiTemplateIo","typeVersion":1,"position":[672,0],"id":"fe9f53a9-32e6-4531-ba31-edc5a9bb10a2","name":"APITemplate.io","credentials":{"apiTemplateIoApi":{"id":"2VbrIRpPugYeG0el","name":"APITemplate.io account"}}},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=Eres el “Consultor AILINK 90”, un estratega de negocios e IA. TU MISIÓN: transformar la información de autoconocimiento del alumno en un diagnóstico operativo accionable.\n\nAsegurate de que los datos de salida no sean extremadamente extensos. \n\n## DATOS DE ENTRADA (no los repitas):\n- nombre: {{ $json.body.nombre }}\n- experiencia_previa: {{ $json.body.experiencia_previa }}\n- publico_interes: {{ $json.body.publico_interes }}\n- mejora_deseada: {{ $json.body.mejora_deseada }}\n- idea_libre: {{ $json.body.idea_libre }}\n\n## INSTRUCCIONES\n1. Piensa como un consultor senior: extrae lo esencial, sé concreto y orientado a negocio.\n2. Redacta en segunda persona (“Tú puedes…”, “Ayudarás a…”), claro y sin jerga innecesaria.\n3. Devuelve **solo** un JSON VÁLIDO, sin comentarios ni formato Markdown.\n\n### ESQUEMA EXACTO DEL JSON DE SALIDA\n{\n  \"nombre\":            \"<copia exacta del nombre>\",\n  \"resumen_personal\":  \"<máx 30 palabras que describan al alumno y su perfil>\",\n  \"nicho\":             \"<nicho viable de acuerdo a su publico_interes y experiencia_previa>\",\n  \"icp\":               \"<cliente ideal en 1 frase clara>\",\n  \"dolor\":             \"<principal pain point que ese ICP sufre hoy>\",\n  \"nsvp\":              \"<propuesta única (NSVP) que el alumno ofrecerá para resolver el dolor>\",\n  \"oferta\":            \"<oferta irresistible inicial en 1-2 frases, con tiempo o garantía>\",\n  \"idea_automatizacion\":\"<idea de automatización IA alineada con mejora_deseada o idea_libre>\"\n}\n\n4. No añadas saltos de línea dentro de los valores (solo espacios).\n5. Si te faltan datos, asume la información mínima necesaria o pide clarificación, pero **no** cambies el formato.\n\nIMPORTANTE: responde ÚNICAMENTE con el JSON de salida."}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[352,0],"id":"beb323a9-722e-4cd9-8e68-b6c919dfee8a","name":"OpenAI","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[160,0],"id":"cb61866a-d7d3-4871-acae-f8875bae4ada","name":"Wait","webhookId":"8ae37396-2325-4154-ac83-edba382931e2"}],"connections":{"Webhook":{"main":[[{"node":"Wait","type":"main","index":0}]]},"APITemplate.io":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"APITemplate.io","type":"main","index":0}]]},"Wait":{"main":[[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2c67eb9e-9e34-4b59-9dc9-7c868dad0f67","triggerCount":0,"shared":[{"createdAt":"2025-07-26T17:27:26.734Z","updatedAt":"2025-07-26T17:27:26.734Z","role":"workflow:owner","workflowId":"3oqnwJ3hmjl69T6x","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}