asistente_administrativo-JCkYWMHY1DcXtLBS.json
{"createdAt":"2025-07-04T13:59:45.917Z","updatedAt":"2025-08-02T15:26:08.002Z","id":"JCkYWMHY1DcXtLBS","name":"Asistente_Administrativo","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.mensaje }}","options":{"systemMessage":"=Eres el asistente personal de Juan Pe Navarro. Siempre te hablar谩 Juanpe.\n\nLa fecha y hora de hoy es: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1760,768],"id":"d20acc3b-6280-4fe5-9908-33340796d189","name":"AI Agent1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.message._data.type }}","rightValue":"=ptt","operator":{"type":"string","operation":"equals"},"id":"be9dbcd5-0882-4ce9-9822-305865fae492"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6a0ec742-7f93-4ea1-af39-35d410da1c1a","leftValue":"={{ $json.body.data.message._data.type }}","rightValue":"chat","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[768,752],"id":"89495225-a3fc-46c7-8d29-5ba5c25728d1","name":"Switch"},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.media.data","options":{"fileName":"fe.ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[960,512],"id":"1715aad9-4e19-4ab7-a5a2-40537106f0c6","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"9ab83bb8-0010-4684-ae19-79e992cb39ea","name":"body.data.message._data.id.remote","value":"={{ $json.body.data.message._data.id.remote }}","type":"string"},{"id":"26e6f1fb-f66d-4080-a01e-9e889cb2156e","name":"body","value":"={{ $json.body }}","type":"object"},{"id":"62738a51-4284-40b5-a761-0dd788569ab6","name":"text","value":"={{ $json.body.data.message._data.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,752],"id":"8771f76a-8cfd-4058-a250-c1c9f4a12d84","name":"Edit Fields"},{"parameters":{"calendar":{"__rl":true,"value":"divisual@divisualproject.com","mode":"list","cachedResultName":"divisual@divisualproject.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","sendUpdates":"all","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1968,992],"id":"409ef3c7-26a4-4ff1-8e41-e8c88110725d","name":"Crear evento"},{"parameters":{"descriptionType":"manual","toolDescription":"Utiliza esta herramienta para eliminar eventos del calendario.","operation":"delete","calendar":{"__rl":true,"value":"divisual@divisualproject.com","mode":"list","cachedResultName":"divisual@divisualproject.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1824,992],"id":"8214c687-2a4d-4754-beb5-10fb2f8c713c","name":"Eliminar evento"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"divisual@divisualproject.com","mode":"list","cachedResultName":"divisual@divisualproject.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2112,992],"id":"517e0909-40a8-46e1-a33c-2452535c18ba","name":"Actualizar evento"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"divisual@divisualproject.com","mode":"list","cachedResultName":"divisual@divisualproject.com"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2240,992],"id":"bc786c61-2237-4f0d-9376-438547c2d98a","name":"Comprobar disponibilidad"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.data.message._data.id.remote }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1648,992],"id":"3750ef34-ea84-4a33-8ea5-96f98d6cf453","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1488,992],"id":"d8c89546-5f8f-43a1-971f-08972d6ad11e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"content":"##  Entrada de mensaje mediante Webhook en EvolutionAPI o Telegram\n","height":300,"width":420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[288,624],"id":"6e54a433-4e2a-4128-9aaf-d8c3b61420eb","name":"Sticky Note"},{"parameters":{"content":"##  Identificaci贸n de mensaje\n\nAqu铆 identificamos si el mensaje recibido es un **audio** o un **texto**.\n\n- Si es **texto**, se env铆a directamente al agente para su interpretaci贸n.\n- Si es **audio**, se redirige a un nodo de tipo `convert to file` para transcribir el contenido a texto, de modo que el agente pueda interpretarlo correctamente.\n","height":620,"width":700,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,304],"id":"b6aba198-885e-4d03-9eb1-01ca9fbb65de","name":"Sticky Note1"},{"parameters":{"content":"##  Acci贸n del agente\n\nEn esta zona, el agente entra en acci贸n:\n\n- **Interpreta la informaci贸n recibida** (ya sea texto o transcripci贸n de audio).\n- **Toma decisiones** en base al contenido del mensaje.\n- **Ejecuta las herramientas disponibles** (como consultas a base de datos, generaci贸n de respuestas, acciones en Shopify, etc.) para ofrecer una respuesta adecuada o realizar una tarea automatizada.\n","height":600,"width":960,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,544],"id":"64408358-1a1a-4492-a122-4a42256183ca","name":"Sticky Note2"},{"parameters":{"content":"##  Respuesta por WhatsApp\n\nEste nodo se encarga de **enviar la respuesta generada por el agente** a la misma conversaci贸n de WhatsApp desde donde se recibi贸 el mensaje.\n\n- Mantiene el contexto de la conversaci贸n.\n- Utiliza la API de WaAPI para realizar el env铆o de forma autom谩tica.\n","height":440,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2432,512],"id":"74d8666c-8204-4874-add1-5a7b7191667d","name":"Sticky Note3"},{"parameters":{"jsCode":"return items.map(item => {\n  const originalText = $input.first().json.output;\n\n  if (typeof originalText !== 'string') {\n    return {\n      json: {\n        error: 'El campo \"text\" no existe o no es un texto',\n        original: originalText\n      }\n    };\n  }\n\n  let cleaned = originalText\n    .replace(/<[^>]*>/g, '')                     // Quitar HTML\n    .replace(/\\r?\\n|\\r/g, ' ')                   // Saltos de l铆nea a espacio\n    .replace(/\\t+/g, ' ')                        // Tabs a espacio\n    .replace(/[^\\p{L}\\p{N},.驴?:?\\s]+/gu, '')     // Mantener letras, n煤meros, , . : 驴 ? y espacios\n    .replace(/\\s+/g, ' ')                        // Normalizar m煤ltiples espacios\n    .trim();                                     // Quitar espacios extremos\n\n  return {\n    json: {\n      cleaned\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,768],"id":"7827b514-55a6-4be8-986a-b5dcaf12c0e4","name":"limpiar texto"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1184,512],"id":"219d9f62-3741-42b0-93a1-e1a53ffda9a1","name":"Transcribir audio","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"defa1545-074d-4d6a-a21f-a95c2226995f","name":"mensaje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,768],"id":"1c452de3-d7b5-4480-884a-b3183cced8ce","name":"Mapear mensaje"},{"parameters":{"method":"POST","url":"https://waapi.app/api/v1/instances/70972/client/action/send-message","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $('Webhook').item.json.body.data.message._data.id.remote }}\",\n  \"message\": \"{{ $json.cleaned }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2512,768],"id":"179ae6cc-5e8d-4dfc-a87d-055ac5cfc170","name":"HTTP Request - Respuesta","credentials":{"httpHeaderAuth":{"id":"GOtsv2rqJKs8tVpz","name":"Header Auth account"}}},{"parameters":{"httpMethod":"POST","path":"a5e7d83a-d754-486b-a2a6-4f61c7115b65","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[320,752],"id":"9d1c1e1a-b039-4ca2-9357-7b2077ed76ba","name":"Webhook","webhookId":"a5e7d83a-d754-486b-a2a6-4f61c7115b65"}],"connections":{"Switch":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"Mapear mensaje","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribir audio","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Crear evento":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Eliminar evento":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Actualizar evento":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Comprobar disponibilidad":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[{"node":"limpiar texto","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"limpiar texto":{"main":[[{"node":"HTTP Request - Respuesta","type":"main","index":0}]]},"Transcribir audio":{"main":[[{"node":"Mapear mensaje","type":"main","index":0}]]},"Mapear mensaje":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b36075a0-7e1b-4801-ba45-6363bc4e71d5","triggerCount":1,"shared":[{"createdAt":"2025-07-04T13:59:45.917Z","updatedAt":"2025-07-04T13:59:45.917Z","role":"workflow:owner","workflowId":"JCkYWMHY1DcXtLBS","projectId":"95llCqXI9to4u1LV"}],"tags":[]}