automatiza-facturas-dUXLEUpoj3McS4RF.json
{"createdAt":"2025-07-26T17:30:26.471Z","updatedAt":"2025-07-26T17:30:40.432Z","id":"dUXLEUpoj3McS4RF","name":"Automatiza facturas","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jrYONROjv4Zk-c4lI6j7ob6vPuE_y8NH","mode":"list","cachedResultName":"test_facturas_extractor","cachedResultUrl":"https://drive.google.com/drive/folders/1jrYONROjv4Zk-c4lI6j7ob6vPuE_y8NH"},"event":"fileCreated","options":{"fileType":"all"}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"5923e8bb-8478-4087-80d1-e61acc8ef4bc","name":"subir_archivo"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{$json.id}}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[464,32],"id":"e614d5cb-cdd0-4d4f-abfb-a205ba7142ad","name":"Download file"},{"parameters":{"operation":"binaryToPropery","destinationKey":"base64","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[688,32],"id":"a46e2966-c3ac-4af1-a09c-4c8ce6000521","name":"Extract from File"},{"parameters":{"method":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"xxxx"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"inlineData\": {\n            \"mimeType\": \"{{ $('subir_archivo').item.json.mimeType }}\",\n            \"data\": \"{{ $('Extract from File').item.json.base64 }}\"\n          }\n        },\n        {\n          \"text\": \"Mi empresa es Lambda, que es el receptor de la factura.\\n\\nA partir del documento de factura proporcionado, extrae los siguientes campos y devuelve un objeto JSON con los campos en el orden exacto listado a continuación:\\n\\n⸻\\n\\n• Fecha de la Factura: La fecha en que se emitió la factura. Formato estrictamente así: DD/MM/AAAA (p. ej. 15/11/2025).\\n• Categoría: Clasifica el gasto en una de las siguientes categorías predefinidas:\\n    • Costes de IT y Software\\n    • Telefonía y Comunicaciones\\n    • Material de Oficina\\n    • Viajes y Alojamiento\\n    • Marketing y Publicidad\\n    • Honorarios por Servicios\\n    • Suscripciones y Membresías\\n    • Formación y Educación\\n    • Suministros y Alquileres\\n    • Servicios Profesionales\\n• Emisor: El nombre de la empresa o persona que emitió la factura. Esto no es Lambda, sino la entidad que figura claramente en la factura como emisor.\\n• Descripción: Breve explicación del producto o servicio prestado.\\n• Importe (sin IVA): El precio neto antes de IVA.\\n    • Elimina cualquier símbolo o texto de moneda (€, $, EUR, USD, etc.).\\n    • Usa coma como separador decimal, no punto (p. ej. 10.90 → 10,90).\\n    • Ejemplo: \\\"1200,00\\\"\\n• IVA %: El valor numérico del tipo de IVA, usando coma como separador decimal y sin el símbolo de porcentaje.\\n    • Ejemplo: \\\"21,0\\\" (no \\\"21.0\\\" ni \\\"21,0%\\\")\\n    • Si no se aplica IVA, escribe \\\"0,0\\\"\\n• Total: El importe total incluido el IVA.\\n    • Elimina cualquier símbolo de moneda.\\n    • Formato con coma como separador decimal.\\n    • Ejemplo: \\\"1500,00\\\"\\n• Moneda: Extrae la unidad monetaria de forma separada como una abreviatura en mayúsculas (p. ej. \\\"EUR\\\", \\\"USD\\\").\\n• Notas: Cualquier anotación relevante para contabilidad o aclaraciones. Si no aplica, usa \\\"N/A\\\".\\n\\n⸻\\n\\n✅ Asegúrate de:\\n• Formato consistente en todos los campos.\\n• Ningún campo vacío (usa \\\"N/A\\\" donde no haya datos).\\n• Cumplimiento estricto del orden y estructura indicados.\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0,\n    \"topK\": 1,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 1024,\n    \"responseMimeType\": \"application/json\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,32],"id":"2d7d5151-1421-474b-9eb8-c524bf7bd861","name":"Gemini"},{"parameters":{"assignments":{"assignments":[{"id":"fe29fadf-1d53-4be3-885f-4f03967fd23b","name":"JsonString","value":"={{JSON.parse($json.candidates[0].content.parts[0].text)}}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,32],"id":"f55396f4-167b-4d2d-a040-0c5195ac56de","name":"String to Json"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Mao2cdMZC6FIW4_dMOMVBqTdvE6fWYooy1h911h64pQ","mode":"list","cachedResultName":"facturas_buenas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Mao2cdMZC6FIW4_dMOMVBqTdvE6fWYooy1h911h64pQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Mao2cdMZC6FIW4_dMOMVBqTdvE6fWYooy1h911h64pQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.JsonString[0]['Fecha de la Factura'] }}","Categoría":"={{ $json.JsonString[0]['Categoría'] }}","Emisor":"={{ $json.JsonString[0].Emisor }}","Descripción":"={{ $json.JsonString[0]['Descripción'] }}","Importe":"={{ $json.JsonString[0]['Importe (sin IVA)'] }}","Iva":"={{ $json.JsonString[0]['IVA %'] }}","Total":"={{ $json.JsonString[0].Total }}","Moneda":"={{ $json.JsonString[0].Moneda }}","URL":"={{ $('Download file').item.json.webViewLink }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Categoría","displayName":"Categoría","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Emisor","displayName":"Emisor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Descripción","displayName":"Descripción","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Importe","displayName":"Importe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Iva","displayName":"Iva","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Total","displayName":"Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Moneda","displayName":"Moneda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1392,32],"id":"f9697ed9-0716-4302-8b84-e68dfbb6982f","name":"facturas autonomo"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1568,32],"id":"3edb7c29-40b6-4115-a6b7-48e3cc468018","name":"Espera peticiones","webhookId":"d9c38e93-5ffa-4476-b673-c6cace25fb77"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[224,0],"id":"daa0d3ea-b5b9-47a9-891d-44c71cd4f309","name":"Bucle"},{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-16,288],"id":"e5faa44d-6bcb-448f-b9dd-da57c8e1b882","name":"Telegram Trigger","webhookId":"44e2a84e-a87d-4bed-86ea-67d6fe6b11d0"},{"parameters":{"name":"={{ $now.format('yyyy-MM-dd') }}-{{ $json.message.photo[0].file_unique_id }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1jrYONROjv4Zk-c4lI6j7ob6vPuE_y8NH","mode":"list","cachedResultName":"test_facturas_extractor","cachedResultUrl":"https://drive.google.com/drive/folders/1jrYONROjv4Zk-c4lI6j7ob6vPuE_y8NH"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,288],"id":"c9cd8b9b-37bf-460f-b688-805e62db52eb","name":"guardar_drive"}],"connections":{"subir_archivo":{"main":[[{"node":"Bucle","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Gemini","type":"main","index":0}]]},"Gemini":{"main":[[{"node":"String to Json","type":"main","index":0}]]},"String to Json":{"main":[[{"node":"facturas autonomo","type":"main","index":0}]]},"facturas autonomo":{"main":[[{"node":"Espera peticiones","type":"main","index":0}]]},"Espera peticiones":{"main":[[{"node":"Bucle","type":"main","index":0}]]},"Bucle":{"main":[[],[{"node":"Download file","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"guardar_drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"53fb3cc6-e93b-4505-b19d-0d2564d476a3","triggerCount":0,"shared":[{"createdAt":"2025-07-26T17:30:26.471Z","updatedAt":"2025-07-26T17:30:26.471Z","role":"workflow:owner","workflowId":"dUXLEUpoj3McS4RF","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}