blueprint-AOMeq8V56eQlxsU6.json
{"createdAt":"2025-09-30T12:17:17.070Z","updatedAt":"2025-09-30T12:17:42.484Z","id":"AOMeq8V56eQlxsU6","name":"Blueprint","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"5c0a1b3f-5365-4b13-b134-e473561cdc13","name":"pain_points","value":"={{ $('Aggregate').item.json.pain_points }}","type":"string"},{"id":"fb2a0cbc-ca4e-47a3-8fe0-e7196b8e37dd","name":"nicho_elegido","value":"={{ $('Code1').item.json.nicho }}","type":"string"},{"id":"272d0c08-7042-4da4-ad5f-50eb12cfe2ab","name":"formato","value":"=imagen","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2176,1024],"id":"50ae46a3-8105-4254-9961-38143a148bfe","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.freepik.com/v1/ai/text-to-image/seedream-v4","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"<TU_API_KEY>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $json.output }}\",\n  \"aspect_ratio\": \"square_1_1\",\n  \"guidance_scale\": 7.5,\n  \"seed\": 42,\n\"reference_images\": []\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,1408],"id":"c96af0e8-5e5b-4223-a768-9ac7ca38199e","name":"Crear Imagen"},{"parameters":{"amount":25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1488,1408],"id":"e9304896-2cb0-441c-af02-13c24f7dfea5","name":"Wait","webhookId":"b8f0d322-1bc5-47d2-8560-ef98e774cdd8"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"pain_points","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1952,1024],"id":"d3fcb895-46b7-494e-88f9-1054ae81a1d7","name":"Aggregate"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[2384,1360],"id":"adb45b9e-159a-4c6f-89da-1a6a8ceb0150","name":"SerpAPI"},{"parameters":{"documentId":{"__rl":true,"value":"1Y2I2EAfC-C5RI7A15E33XoE_YgYHkVRgCh-MI08RY1c","mode":"list","cachedResultName":"contenido_linkedin_averis","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y2I2EAfC-C5RI7A15E33XoE_YgYHkVRgCh-MI08RY1c/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"nichos_reddit","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y2I2EAfC-C5RI7A15E33XoE_YgYHkVRgCh-MI08RY1c/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1712,1024],"id":"4ee340b4-886d-41ec-9f29-ab1742e5b22e","name":"Extraer_pain_points"},{"parameters":{"url":"=https://api.freepik.com/v1/ai/text-to-image/seedream-v4/{{ $json.data.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"FPSXdf6fc0430a80dd19ac3d9460763bab0f"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,1408],"id":"4f34f6b2-8342-4f1f-bfdf-bf70ef091af4","name":"Get_freepik"},{"parameters":{"promptType":"define","text":"=## ENTRADA\n\n** Nicho para el Post:** {{ $json.nicho_elegido }}\n** Ideas Pain Points:** {{ $json.pain_points }} (aleatoriza y elige uno como golden nugget)\n** Ángulo:** {{ $('Code1').item.json['ángulo'] }}","options":{"systemMessage":"=SISTEMA EXPERTO: Post Copywriter - Marketing Digital para PYMEs\n\nDEFINICIÓN DE ROL Y EXPERTISE\nEres un Post Copywriter especializado en marketing digital para negocios españoles. Tu misión es crear posts profesionales que eduquen, aporten valor real y generen leads cualificados de forma sutil.\nHERRAMIENTAS DISPONIBLES:\n\nSerpAPI: Para investigación de tendencias, datos actualizados y análisis de competencia\nAnálisis de mercado español específico\nIdentificación de ángulos únicos y estadísticas verificadas\n\nAVATAR PRIMARIO: EMPRENDEDOR PYME ESPAÑOL\nPERFIL DETALLADO:\n\nDueño/gerente de PYME (5-50 empleados)\nSectores: Clínicas, gestorías, e-commerce, agencias, restaurantes\n35-50 años, facturación 200K-2M anuales\nBusca más clientes y mejor posicionamiento online\nEscéptico de las agencias de marketing, necesita resultados tangibles\n\nPAIN POINTS ESPECÍFICOS:\n\nInversión en marketing sin ROI claro\nPérdida de clientes frente a competencia online\nDesconocimiento de estrategias digitales efectivas\nFalta de tiempo para gestión de redes sociales\nDificultad para medir resultados de marketing\nPresupuestos limitados para marketing digital\n\nKEYWORDS SEO PRINCIPALES\nPRIMARIAS (Alta Prioridad):\n\nmarketing digital para pymes\nposicionamiento SEO local\npublicidad Google Ads\nmarketing redes sociales\nestrategia digital pequeñas empresas\ncaptación clientes online\n\nESTRUCTURA OBLIGATORIA DEL POST\n1. HOOK DIRECTO (PRIMERA LÍNEA)\nEMPEZAR INMEDIATAMENTE CON:\n\nPregunta específica del sector\nHistoria concreta en presente\nProblema cuantificado que conecte\n\nEJEMPLOS CORRECTOS:\n\n\"¿Sabes cuántos clientes potenciales pierdes por no aparecer en Google?\"\n\"El restaurante de Carlos factura 30% menos desde que abrió la competencia al lado.\"\n\"Ana invierte 800€ al mes en Facebook Ads pero no sabe si funciona.\"\n\n2. DESARROLLO EDUCATIVO (1200-1500 caracteres)\nSubsección A: El Problema Real\n\nCasos específicos del sector\nCuantificación del impacto (clientes/€ perdidos)\nConsecuencias comerciales\n\nSubsección B: Oportunidades de Marketing Digital\n\nExplicación accesible de estrategias efectivas\nBeneficios específicos que podría obtener\nEjemplos concretos: \"Ana podría conseguir X clientes más con Y estrategia\"\n\nSubsección C: Potencial de Resultados\n\nProyección realista de mejoras\nROI estimado y timeframe\nBeneficios comerciales esperables\n\n3. LLAMADA A LA ACCIÓN SUTIL (150-200 caracteres)\n\nOferta de consulta/auditoría gratuita\nInvitación a contacto sin presión\nEnfoque consultivo, no vendedor\n\n4. FORMATO VISUAL DEL POST - GESTIÓN PERFECTA DE ESPACIOS\nCOMO EXPERTO COPYWRITER PARA LINKEDIN, DEBES MANEJAR LOS ESPACIOS A LA PERFECCIÓN:\n\nSin títulos: Empezar directamente con el hook\nPárrafos cortos: Máximo 2-3 líneas cada uno\nESPACIOS ESTRATÉGICOS: Línea en blanco entre cada párrafo para crear respiración visual\nESTILO VISUAL LIMPIO: Cada idea debe \"respirar\" con espacios generosos\nSEPARACIÓN CLARA: Doble salto de línea entre secciones principales\nPreguntas directas: Hooks que conecten inmediatamente\nBullets con espacio: Usar guiones (-) seguidos de espacio en blanco antes y después\nSEPARACIÓN DE BULLETS: Cuando pongas una lista de bullets, SIEMPRE agregar \\n antes de cada bullet para crear separación visual perfecta\nRESPIRACIÓN DEL TEXTO: El espaciado debe crear un flujo visual perfecto para la lectura en móvil\nHashtags separados: Una línea en blanco antes de hashtags\nTotal máximo: 1300 caracteres\n\nEJEMPLO DE FORMATO CORRECTO CON ESPACIADO PERFECTO:\n¿Sabes por qué tu competencia aparece primero en Google?\nEl 75% de los usuarios nunca pasa de la primera página de resultados.\nUna estrategia SEO local bien ejecutada puede generar:\n\\n- Más visibilidad en búsquedas de tu zona\n\\n- Mayor tráfico web cualificado\n\\n- Más llamadas y consultas directas\nTu negocio merece estar donde tus clientes te buscan.\nSi quieres mejorar tu posicionamiento online, hablemos.\n#MarketingDigital #SEOLocal\nEJEMPLO ESPECÍFICO DE BULLETS CON SEPARACIÓN:\nUna estrategia de contenido en redes sociales puede transformar la percepción de tu marca y generar confianza.\n\\n- Aumenta el reconocimiento de marca hasta un 80%.\n\\n- Genera más engagement con tu audiencia objetivo.\n\\n- Convierte seguidores en clientes reales.\nTONO Y ESTILO OBLIGATORIO\nCARACTERÍSTICAS:\n\nProfesional pero accesible\nEducativo, no promocional\nTUTEO OBLIGATORIO: Habla de tú, nunca de usted\nCERCANÍA: Tono cercano y directo\nCOSTES: Usar \"coste/costes\", nunca \"costos\"\n\nEVITAR ABSOLUTAMENTE:\n\nTítulos o encabezados antes del hook\nJerga técnica innecesaria\nPromesas irreales o marketing agresivo\nUSTED: Nunca usar \"usted\", siempre \"tú\"\nCOSTOS: Cambiar siempre por \"coste\" o \"costes\"\nEMPAQUE: Cambiar siempre por \"packaging\"\n\nPROCESO OBLIGATORIO DE INVESTIGACIÓN CON SERPAPI\nBúsquedas obligatorias:\n\nBúsqueda principal: \"[keyword principal] + 2025 + España\"\nBúsqueda estadísticas: \"[sector específico] + marketing digital + estadísticas + 2024\"\nBúsqueda tendencias: \"[keyword] + trends + ROI + pequeñas empresas\"\nBúsqueda competencia: \"[keyword] + casos éxito + pymes españolas\"\nBúsqueda problemas: \"[sector] + marketing digital + desafíos + pymes\"\n\nOUTPUT REQUERIDO: JSON\n⚠️ OBLIGATORIO: SIEMPRE DEVOLVER EXACTAMENTE ESTAS DOS VARIABLES EN FORMATO JSON:\njson{\n  \"tema_imagen\": \"Descripción breve para diseñador gráfico (máx 50 palabras)\",\n  \"contenido_blog\": \"Post completo optimizado SEO (máximo 1800 caracteres con espacios) - EMPEZAR DIRECTAMENTE CON HOOK, SIN TÍTULO, CON ESPACIADO PERFECTO\"\n}\n🔥 REGLA ABSOLUTA DE OUTPUT:\n\nNUNCA devuelvas solo texto\nNUNCA devuelvas explicaciones adicionales\nSIEMPRE devuelve ÚNICAMENTE el JSON con las dos variables exactas\nSIEMPRE respeta el formato JSON válido\nOBLIGATORIO: Toda respuesta debe contener exclusivamente el JSON con \"tema_imagen\" y \"contenido_blog\"\n\nCHECKLIST DE VALIDACIÓN FINAL:\n\nFORMATO Y ESPACIADO:\n□ ¿Empieza DIRECTAMENTE con hook, sin título?\n□ ¿Cada párrafo tiene máximo 2-3 líneas?\n□ ¿Hay línea en blanco entre cada párrafo?\n□ ¿Los bullets tienen espacios antes y después con \\n- para separación visual?\n□ ¿El texto \"respira\" visualmente con espacios estratégicos?\n□ ¿Usa \"tú\" en lugar de \"usted\"?\n□ ¿Usa \"coste/costes\" en lugar de \"costos\"?\n□ ¿Máximo 1800 caracteres con espacios?\n\nCONTENIDO:\n□ ¿Hook específico del sector en primera línea?\n□ ¿Incluye mínimo 3 estadísticas verificadas?\n□ ¿CTA sutil y consultivo al final?\n□ ¿Tono educativo, no promocional?\n\nOUTPUT JSON:\n□ ¿Respuesta contiene ÚNICAMENTE el JSON?\n□ ¿Formato JSON válido?\n□ ¿Contiene exactamente \"tema_imagen\" y \"contenido_blog\"?\n□ ¿No hay texto adicional fuera del JSON?\nINSTRUCCIÓN FINAL: Crear un post que empiece DIRECTAMENTE con un hook impactante, eduque sobre marketing digital con casos reales españoles, y genere interés consultivo. NUNCA incluir títulos. SIEMPRE empezar con el hook directamente. GESTIONAR ESPACIOS COMO EXPERTO COPYWRITER PARA CREAR UN ESTILO VISUAL LIMPIO Y CLARO QUE PERMITA AL TEXTO RESPIRAR. DEVOLVER EXCLUSIVAMENTE JSON CON LAS DOS VARIABLES REQUERIDAS."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2384,1024],"id":"34fda2b9-b4ea-4832-8a61-486ae75ca566","name":"agente_post","notesInFlow":true,"notes":"AVERIS TECH"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[816,1024],"id":"b89d9016-03b8-41ed-9210-780a90c5aea2","name":"Schedule Trigger1"},{"parameters":{"promptType":"define","text":"=GENERADOR ALEATORIO DE NICHOS Y ÁNGULOS DE MARKETING\nIDENTIDAD\nEres un generador completamente aleatorio que selecciona nichos y ángulos de marketing digital sin ningún patrón predecible.\nNICHOS DISPONIBLES (ELEGIR UNO AL AZAR):\n\nDentist\nBeauty\nAccounting\nReal Estate\nLawyer\nEcommerce\nHR\nOnline_Education\nOnline_Coach\nInterior_Design\n\nÁNGULOS DE MARKETING DISPONIBLES (ELEGIR UNO AL AZAR):\nÁNGULOS DE CAPTACIÓN:\n\n\"Cómo conseguir más clientes sin aumentar presupuesto\"\n\"La estrategia que está usando tu competencia\"\n\"Por qué pierdes clientes en Google\"\n\"El error que cometen el 90% de [nicho]\"\n\"Cómo dominar tu mercado local\"\n\"La diferencia entre estar online y vender online\"\n\nÁNGULOS DE CONVERSIÓN:\n\n\"De visitante a cliente: el embudo que funciona\"\n\"Por qué tus leads no se convierten\"\n\"El seguimiento que triplica ventas\"\n\"Cómo automatizar tu proceso de ventas\"\n\"La página web que vende mientras duermes\"\n\"Email marketing que genera ingresos recurrentes\"\n\nÁNGULOS DE POSICIONAMIENTO:\n\n\"Cómo ser la primera opción en tu zona\"\n\"La reputación online que atrae clientes\"\n\"Por qué Google no te encuentra\"\n\"SEO local: aparecer cuando te buscan\"\n\"La presencia digital que genera confianza\"\n\"Cómo destacar en un mercado saturado\"\n\nÁNGULOS DE RETENCIÓN:\n\n\"Clientes que vuelven vs clientes de una vez\"\n\"El sistema de fidelización que funciona\"\n\"Marketing de retención rentable\"\n\"Cómo hacer que te recomienden\"\n\"La comunicación que mantiene clientes\"\n\"De cliente a embajador de marca\"\n\nÁNGULOS DE ROI:\n\n\"Marketing con ROI medible y garantizado\"\n\"Cómo saber qué marketing realmente funciona\"\n\"La inversión que se paga sola\"\n\"Marketing que genera resultados inmediatos\"\n\"Cómo multiplicar tu inversión publicitaria\"\n\"El presupuesto de marketing que rentabiliza\"\n\nINSTRUCCIÓN\nSolo responde con una de las siguientes opciones elegida completamente al azar, y no añadas ningún texto adicional. Las opciones posibles son: Dentist, Beauty, Accounting, Real Estate, Lawyer, Ecommerce, HR, Online_Education, Online_Coach, Interior_Design.\nTu respuesta debe ser únicamente en formato JSON con la siguiente estructura:\njson{\n  \"nicho\": \"[opción elegida aleatoriamente de la lista anterior]\",\n  \"ángulo\": \"[Elegido aleatoriamente]\"\n}\nNo incluyas ningún texto adicional fuera del JSON.","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1104,1024],"id":"ae60baaa-1ea4-42e0-84b3-da2e7b8b659d","name":"nicho_aleatorio","notesInFlow":false,"notes":"AVERIS TECH"},{"parameters":{"jsCode":"// Obtener el texto de la respuesta\nconst responseText = $input.first().json.text;\n\n// Extraer el JSON del texto (remover los backticks y \"json\")\nconst jsonMatch = responseText.match(/```json\\n([\\s\\S]*?)\\n```/);\n\nif (jsonMatch) {\n  // Parsear el JSON extraído\n  const parsedData = JSON.parse(jsonMatch[1]);\n  \n  // Retornar las variables separadas - NICHO Y ÁNGULO\n  return [{\n    json: {\n      nicho: parsedData.nicho,\n      ángulo: parsedData.ángulo\n    }\n  }];\n} else {\n  // Si no se puede extraer el JSON, intentar parsear directamente\n  try {\n    const parsedData = JSON.parse(responseText);\n    return [{\n      json: {\n        nicho: parsedData.nicho,\n        ángulo: parsedData.ángulo\n      }\n    }];\n  } catch (error) {\n    return [{\n      json: {\n        error: \"No se pudo parsear el JSON\",\n        original_text: responseText,\n        mensaje: \"Variables esperadas: nicho, ángulo\"\n      }\n    }];\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,1024],"id":"134b7a12-5439-48eb-b4b5-6f9f5f9deb42","name":"Code1"},{"parameters":{"postAs":"organization","text":"={{ $('Code').item.json.contenido_blog }}","shareMediaCategory":"IMAGE","additionalFields":{"title":"Automation Post System by Daniel Lianes"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[2064,1408],"id":"ea2a2878-6bd7-4331-b1ba-456657f0d17b","name":"Create a post1"},{"parameters":{"url":"={{ $('Get_freepik').item.json.data.generated[0] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,1408],"id":"2f1664b2-4031-42fe-bacb-a78c7966c80d","name":"Descargar_imagen1"},{"parameters":{"content":"## 🔔 CONTENIDO QUE CONVIERTE AUTOMÁTICAMENTE\n","height":1104,"width":2656,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,800],"id":"17438bbb-8b99-49bb-88c7-69c63ef3e9fd","name":"Sticky Note"},{"parameters":{"jsCode":"// NODO PULIR VARIABLES BLOG AVERIS\n// Input: Formato N8N con estructura anidada\n// Output: JSON pulido y optimizado\n// MODIFICADO: Preserva caracteres de escape EXACTAMENTE como se reciben\n\nlet input;\ntry {\n    // Obtener los datos del input\n    const rawData = $input.all();\n    console.log('📥 RAW DATA:', JSON.stringify(rawData, null, 2));\n    \n    // Navegar por la estructura hasta encontrar el output\n    let outputString;\n    \n    // Buscar en diferentes ubicaciones posibles\n    if (rawData[0]?.json?.output) {\n        // Formato: [{ json: { output: \"...\" } }]\n        outputString = rawData[0].json.output;\n        console.log('✅ Encontrado en rawData[0].json.output');\n    } else if (rawData[0]?.output) {\n        // Formato: [{ output: \"...\" }]\n        outputString = rawData[0].output;\n        console.log('✅ Encontrado en rawData[0].output');\n    } else if (rawData?.json?.output) {\n        // Formato: { json: { output: \"...\" } }\n        outputString = rawData.json.output;\n        console.log('✅ Encontrado en rawData.json.output');\n    } else if (rawData?.output) {\n        // Formato: { output: \"...\" }\n        outputString = rawData.output;\n        console.log('✅ Encontrado en rawData.output');\n    } else {\n        // Buscar recursivamente en toda la estructura\n        function buscarOutput(obj) {\n            if (obj && typeof obj === 'object') {\n                if (obj.output && typeof obj.output === 'string') {\n                    return obj.output;\n                }\n                for (const key in obj) {\n                    const resultado = buscarOutput(obj[key]);\n                    if (resultado) return resultado;\n                }\n            }\n            return null;\n        }\n        \n        outputString = buscarOutput(rawData);\n        if (outputString) {\n            console.log('✅ Encontrado mediante búsqueda recursiva');\n        } else {\n            throw new Error('No se pudo encontrar la propiedad \"output\" en ninguna ubicación');\n        }\n    }\n    \n    console.log('📄 Output encontrado (preview):', outputString.substring(0, 100) + '...');\n    \n    // Limpiar y parsear el JSON\n    const cleanJsonString = outputString\n        .replace(/```json\\s*/g, '')\n        .replace(/```\\s*$/g, '')\n        .trim();\n    \n    input = JSON.parse(cleanJsonString);\n    \n    // Verificar propiedades - ADAPTADO PARA MÚLTIPLES FORMATOS\n    const tieneFormatoImagen = input.tema_imagen && input.caption;\n    const tieneFormatoPost = input.contenido_post;\n    const tieneFormatoBlog = input.tema_imagen && input.contenido_blog;\n    \n    if (!tieneFormatoImagen && !tieneFormatoPost && !tieneFormatoBlog) {\n        throw new Error(`Formato no reconocido. Encontradas: ${Object.keys(input).join(', ')}`);\n    }\n    \n    console.log('✅ JSON PARSEADO CORRECTAMENTE');\n    \n} catch (error) {\n    console.error('❌ ERROR:', error.message);\n    return {\n        error: true,\n        mensaje: error.message,\n        input_recibido: $input.all(),\n        timestamp: new Date().toISOString()\n    };\n}\n\n// ===============================\n// FUNCIÓN PULIR TEMA IMAGEN\n// ===============================\nfunction pulirTemaImagen(tema_bruto) {\n    let tema_pulido = tema_bruto;\n    \n    // Eliminar palabras innecesarias\n    const palabras_eliminar = [\n        'imagen de', 'imagen que muestre', 'fotografía de', 'foto de',\n        'ilustración de', 'diseño de', 'crear una imagen', 'generar',\n        'diseña', 'crea una', 'haz una imagen', 'que represente'\n    ];\n    \n    palabras_eliminar.forEach(palabra => {\n        const regex = new RegExp(palabra, 'gi');\n        tema_pulido = tema_pulido.replace(regex, '');\n    });\n    \n    // Limpiar espacios extra y puntuación innecesaria\n    tema_pulido = tema_pulido\n        .replace(/\\s+/g, ' ') // Espacios múltiples\n        .replace(/^[,.\\s]+|[,.\\s]+$/g, '') // Puntuación al inicio/final\n        .trim();\n    \n    // Asegurar que empiece con mayúscula\n    tema_pulido = tema_pulido.charAt(0).toUpperCase() + tema_pulido.slice(1);\n    \n    // Limitar a 50 palabras máximo\n    const palabras = tema_pulido.split(' ');\n    if (palabras.length > 50) {\n        tema_pulido = palabras.slice(0, 50).join(' ') + '...';\n    }\n    \n    return tema_pulido;\n}\n\n// ===============================\n// FUNCIÓN PULIR CAPTION (PARA IMÁGENES) - PRESERVAR ESCAPES EXACTOS\n// ===============================\nfunction pulirCaption(caption_bruto) {\n    let caption_pulido = caption_bruto;\n    \n    // ⚠️ PRESERVAR TODOS LOS CARACTERES DE ESCAPE EXACTAMENTE COMO VIENEN\n    // NO tocar \\n, \\\", \\', \\\\, etc.\n    \n    // Solo eliminar elementos no deseados que NO sean escapes\n    const elementos_eliminar = [\n        /CAPTION:\\s*/gi,\n        /---+/g, // Separadores\n        /^[\\s]*[\\*\\-\\+]\\s+/gm // Bullets al inicio\n    ];\n    \n    elementos_eliminar.forEach(regex => {\n        caption_pulido = caption_pulido.replace(regex, '');\n    });\n    \n    // Solo limpiar espacios múltiples reales (NO tocar \\n ni otros escapes)\n    // Usar solo espacios y tabs REALES, no escapados\n    caption_pulido = caption_pulido\n        .replace(/[ \\t]+/g, ' ') // Solo espacios y tabs múltiples horizontales REALES\n        .replace(/^[ \\t]+/gm, '') // Espacios REALES al inicio de línea\n        .replace(/[ \\t]+$/gm, '') // Espacios REALES al final de línea\n        .trim();\n    \n    // Verificar límite de 315 caracteres\n    if (caption_pulido.length > 315) {\n        caption_pulido = caption_pulido.substring(0, 312) + '...';\n    }\n    \n    return caption_pulido;\n}\n\n// ===============================\n// FUNCIÓN PULIR CONTENIDO (BLOG/POST) - PRESERVAR ESCAPES EXACTOS\n// ===============================\nfunction pulirContenido(contenido_bruto) {\n    let contenido_pulido = contenido_bruto;\n    \n    // ⚠️ PRESERVAR TODOS LOS CARACTERES DE ESCAPE EXACTAMENTE COMO VIENEN\n    // NO convertir \\n, \\\", \\', \\\\, etc.\n    \n    // 1. CONVERTIR HTML TAGS A MARKDOWN (sin tocar escapes)\n    contenido_pulido = contenido_pulido\n        .replace(/<h1>/g, '# ')\n        .replace(/<\\/h1>/g, '')\n        .replace(/<h2>/g, '## ')\n        .replace(/<\\/h2>/g, '')\n        .replace(/<h3>/g, '### ')\n        .replace(/<\\/h3>/g, '')\n        .replace(/<p>/g, '')\n        .replace(/<\\/p>/g, '\\\\n\\\\n') // Mantener como escape\n        .replace(/<strong>/g, '**')\n        .replace(/<\\/strong>/g, '**')\n        .replace(/<ul>/g, '')\n        .replace(/<\\/ul>/g, '')\n        .replace(/<li>/g, '- ')\n        .replace(/<\\/li>/g, '');\n    \n    // 2. ELIMINAR ELEMENTOS NO DESEADOS (sin tocar escapes)\n    const elementos_eliminar = [\n        /LINKEDIN POST:\\s*/gi,\n        /FUENTES UTILIZADAS:\\s*/gi,\n        /KEYWORDS SEO:\\s*/gi,\n        /ENGAGEMENT PREDICTIVO:\\s*/gi,\n        /---+/g, // Separadores\n        /TÍTULO SEO:/gi,\n        /META DESCRIPCIÓN:/gi,\n        /HASHTAGS:/gi\n    ];\n    \n    elementos_eliminar.forEach(regex => {\n        contenido_pulido = contenido_pulido.replace(regex, '');\n    });\n    \n    // 3. ⚠️ PRESERVAR TODOS LOS ESCAPES - NO TOCAR NADA\n    // Eliminado completamente TODO el bloque de conversión de escapes\n    \n    // 4. Solo limpiar espacios múltiples REALES (no escapados)\n    contenido_pulido = contenido_pulido\n        .replace(/[ \\t]+/g, ' '); // Solo espacios y tabs múltiples horizontales REALES\n    \n    // 5. OPTIMIZAR ESTRUCTURA DE TÍTULOS (sin tocar escapes de saltos de línea)\n    // Mantenido solo para conversiones de # sin tocar \\n\n    contenido_pulido = contenido_pulido\n        .replace(/^#+\\s+(.+)$/gm, (match, title) => {\n            if (match.startsWith('# ')) return match;\n            if (match.startsWith('## ')) return match;\n            if (match.startsWith('### ')) return match;\n            return `# ${title}`;\n        });\n    \n    // 6. OPTIMIZAR LISTAS (sin tocar escapes)\n    contenido_pulido = contenido_pulido\n        .replace(/^[\\s]*[-*+]\\s+/gm, '- ');\n    \n    // 7. PULIR CALL TO ACTION (mantener escapes intactos)\n    const cta_patterns = [\n        /(le invitamos a una consulta|contacte con nosotros|si desea explorar|póngase en contacto)/gi\n    ];\n    \n    cta_patterns.forEach(pattern => {\n        contenido_pulido = contenido_pulido.replace(pattern, (match) => {\n            return `**${match.trim()}**`;\n        });\n    });\n    \n    // 8. LIMPIEZAS FINALES MÍNIMAS (preservar TODOS los escapes)\n    contenido_pulido = contenido_pulido\n        .trim()\n        // Solo espacios REALES al inicio de líneas (no tocar \\n)\n        .replace(/^[ \\t]+/gm, '');\n    \n    return contenido_pulido;\n}\n\n// ===============================\n// FUNCIÓN VALIDAR CALIDAD\n// ===============================\nfunction validarCalidad(tipo, tema, contenido) {\n    const errores = [];\n    const advertencias = [];\n    \n    // Validaciones tema imagen (solo si existe)\n    if (tema) {\n        if (tema.length > 250) {\n            errores.push('Tema imagen muy largo (>250 caracteres)');\n        }\n        if (tema.length < 10) {\n            errores.push('Tema imagen muy corto (<10 caracteres)');\n        }\n    }\n    \n    // Validaciones contenido\n    if (contenido) {\n        const word_count = contenido.split(/\\s+/).length;\n        \n        if (tipo === 'imagen') {\n            // Para imágenes: caption de máximo 315 caracteres\n            if (contenido.length > 315) {\n                errores.push('Caption muy largo (>315 caracteres)');\n            }\n            if (contenido.length < 50) {\n                advertencias.push('Caption muy corto (<50 caracteres)');\n            }\n        } else if (tipo === 'post') {\n            // Para posts: máximo 2000 caracteres\n            if (contenido.length > 2000) {\n                advertencias.push(`Post largo: ${contenido.length} caracteres (máximo recomendado: 2000)`);\n            }\n            if (word_count < 100) {\n                advertencias.push(`Post corto: ${word_count} palabras`);\n            }\n        } else {\n            // Para blogs: contenido extenso\n            if (word_count < 1000) {\n                advertencias.push(`Contenido corto: ${word_count} palabras (mínimo recomendado: 1200)`);\n            }\n            if (word_count > 2000) {\n                advertencias.push(`Contenido largo: ${word_count} palabras (máximo recomendado: 1800)`);\n            }\n            \n            // Verificar estructura H1 (solo para blogs)\n            const h1_matches = contenido.match(/^# .+$/gm) || [];\n            if (h1_matches.length === 0) {\n                errores.push('Falta título H1');\n            }\n            if (h1_matches.length > 1) {\n                errores.push('Múltiples H1 detectados');\n            }\n            \n            // Verificar H2\n            const h2_matches = contenido.match(/^## .+$/gm) || [];\n            if (h2_matches.length < 2) {\n                advertencias.push('Pocas secciones H2 (recomendado: 3-4)');\n            }\n        }\n        \n        // Verificar CTA (para todos los tipos)\n        const cta_patterns = /(contacta|contáctanos|consulta|ayuda)/gi;\n        if (!cta_patterns.test(contenido)) {\n            advertencias.push('Falta call-to-action');\n        }\n    }\n    \n    return { errores, advertencias };\n}\n\n// ===============================\n// PROCESAMIENTO PRINCIPAL\n// ===============================\ntry {\n    // Detectar tipo de contenido\n    let tipo, tema_pulido, contenido_pulido;\n    \n    if (input.tema_imagen && input.caption) {\n        // FORMATO IMAGEN\n        tipo = 'imagen';\n        tema_pulido = pulirTemaImagen(input.tema_imagen);\n        contenido_pulido = pulirCaption(input.caption);\n        \n        console.log('🖼️ PROCESANDO FORMATO IMAGEN');\n        \n    } else if (input.contenido_post) {\n        // FORMATO POST\n        tipo = 'post';\n        tema_pulido = null;\n        contenido_pulido = pulirContenido(input.contenido_post);\n        \n        console.log('📝 PROCESANDO FORMATO POST');\n        \n    } else if (input.tema_imagen && input.contenido_blog) {\n        // FORMATO BLOG\n        tipo = 'blog';\n        tema_pulido = pulirTemaImagen(input.tema_imagen);\n        contenido_pulido = pulirContenido(input.contenido_blog);\n        \n        console.log('📚 PROCESANDO FORMATO BLOG');\n        \n    } else {\n        throw new Error('Formato no reconocido en el input');\n    }\n    \n    // Validar calidad\n    const validacion = validarCalidad(tipo, tema_pulido, contenido_pulido);\n    \n    // Preparar output según el tipo\n    let output = {\n        metadata: {\n            tipo: tipo,\n            caracteres_contenido: contenido_pulido ? contenido_pulido.length : 0,\n            palabras_total: contenido_pulido ? contenido_pulido.split(/\\s+/).length : 0,\n            errores: validacion.errores,\n            advertencias: validacion.advertencias,\n            procesado_en: new Date().toISOString(),\n            escapes_preservados_exactos: true // Nuevo indicador específico\n        }\n    };\n    \n    if (tipo === 'imagen') {\n        output.tema_imagen = tema_pulido;\n        output.caption = contenido_pulido;\n        output.metadata.caracteres_tema = tema_pulido.length;\n    } else if (tipo === 'post') {\n        output.contenido_post = contenido_pulido;\n    } else if (tipo === 'blog') {\n        output.tema_imagen = tema_pulido;\n        output.contenido_blog = contenido_pulido;\n        output.metadata.caracteres_tema = tema_pulido.length;\n        output.metadata.h1_count = (contenido_pulido.match(/^# .+$/gm) || []).length;\n        output.metadata.h2_count = (contenido_pulido.match(/^## .+$/gm) || []).length;\n        output.metadata.h3_count = (contenido_pulido.match(/^### .+$/gm) || []).length;\n    }\n    \n    // Log para debugging\n    console.log(`🔧 VARIABLES PULIDAS - TIPO: ${tipo.toUpperCase()}`);\n    console.log(`📊 Palabras: ${output.metadata.palabras_total}`);\n    console.log(`📏 Caracteres: ${output.metadata.caracteres_contenido}`);\n    if (tema_pulido) console.log(`📝 Tema: ${output.metadata.caracteres_tema} caracteres`);\n    console.log(`⚠️ Errores: ${output.metadata.errores.length}`);\n    console.log(`⚡ Advertencias: ${output.metadata.advertencias.length}`);\n    console.log(`🔒 CARACTERES DE ESCAPE PRESERVADOS EXACTAMENTE`);\n    \n    if (output.metadata.errores.length > 0) {\n        console.log('❌ ERRORES DETECTADOS:', output.metadata.errores);\n    }\n    \n    if (output.metadata.advertencias.length > 0) {\n        console.log('🟡 ADVERTENCIAS:', output.metadata.advertencias);\n    }\n    \n    return output;\n    \n} catch (error) {\n    console.error('❌ ERROR EN PROCESAMIENTO:', error.message);\n    return {\n        error: true,\n        mensaje: error.message,\n        input_recibido: input\n    };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,1408],"id":"6c0e7b62-9829-404d-b927-1e88df538c90","name":"Code"},{"parameters":{"rule":{"interval":[{"daysInterval":10}]}},"id":"2473682b-2afc-4ef0-b11b-1cfde222c436","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-2016,272],"typeVersion":1.2},{"parameters":{"numberInputs":10},"id":"8ff0b2aa-0882-4cc4-95f3-e68839fccaaa","name":"Merger","type":"n8n-nodes-base.merge","position":[-272,224],"typeVersion":3.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"66a1151e-872b-47dd-9358-4a158d66f5e3","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.ups }}","rightValue":5}]},"options":{}},"id":"bd42de52-a71a-4b1b-b3f3-bdf8969edee2","name":"+5 UPS","type":"n8n-nodes-base.filter","position":[176,320],"typeVersion":2.2},{"parameters":{"operation":"getAll","subreddit":"Dentistry","limit":50,"filters":{"category":"new"}},"id":"ec894769-b4ea-4cb6-8756-4521890d6d06","name":"Get many posts Dentist","type":"n8n-nodes-base.reddit","position":[-1072,-592],"typeVersion":1},{"parameters":{"operation":"getAll","subreddit":"accounting","limit":50,"filters":{"category":"new"}},"id":"63cb9a68-5bd4-457d-925e-719bf1510c87","name":"Get many posts Accounting","type":"n8n-nodes-base.reddit","position":[-1072,-240],"typeVersion":1},{"parameters":{"operation":"getAll","subreddit":"medicalaesthetics","limit":50,"filters":{"category":"new"}},"id":"d27bdcb8-ee5a-4fb6-bbda-a46e8789e8a2","name":"Get many posts Beauty ","type":"n8n-nodes-base.reddit","position":[-1072,-416],"typeVersion":1},{"parameters":{"operation":"getAll","subreddit":"real_estate_agency","limit":50,"filters":{"category":"new"}},"id":"575cace2-69f0-48af-9e70-97556ee17edb","name":"Get many posts Real Estate","type":"n8n-nodes-base.reddit","position":[-1072,-32],"typeVersion":1},{"parameters":{"operation":"getAll","subreddit":"e-commerce","limit":50,"filters":{"category":"new"}},"id":"792d3382-6a75-48b5-833b-591191b798a4","name":"Get many posts Ecommerce","type":"n8n-nodes-base.reddit","position":[-1072,352],"typeVersion":1},{"parameters":{"operation":"getAll","subreddit":"online_coach","limit":50,"filters":{"category":"new"}},"id":"cfae6396-e56c-4295-abae-8e51eb2628eb","name":"Get many posts Online Coach","type":"n8n-nodes-base.reddit","position":[-1072,960],"typeVersion":1},{"parameters":{"operation":"getAll","subreddit":"onlineeducation","limit":50,"filters":{"category":"new"}},"id":"32921f23-0286-4eaa-b6a1-1cd855802b33","name":"Get many posts Online_Education","type":"n8n-nodes-base.reddit","position":[-1072,752],"typeVersion":1},{"parameters":{"operation":"getAll","subreddit":"InteriorDesign","limit":50,"filters":{"category":"new"}},"id":"a7ce1725-7315-4d7f-87eb-f21f73048ce6","name":"Get many posts interior_design","type":"n8n-nodes-base.reddit","position":[-1072,1168],"typeVersion":1},{"parameters":{"operation":"getAll","subreddit":"lawyertalk","limit":50,"filters":{"category":"new"}},"id":"ab589fac-ddd6-4693-82c2-8c4e897593cc","name":"Get many posts lawyer","type":"n8n-nodes-base.reddit","position":[-1072,160],"typeVersion":1},{"parameters":{"operation":"getAll","subreddit":"human_resources","limit":50,"filters":{"category":"new"}},"id":"e9e52600-a286-4df0-b2d8-2c7e243306db","name":"Get many posts HR","type":"n8n-nodes-base.reddit","position":[-1072,560],"typeVersion":1},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[432,320],"id":"d6888dbb-9326-4eb7-bca7-5a6164fa5c4c","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"497d189c-eaf0-412f-a6a8-51b02f696c5d","leftValue":"={{ $json.tiene_pain_point }}","rightValue":"=false","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1312,336],"id":"86740c39-fa68-4eb6-8de7-ef12922fafd4","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[880,144],"id":"9977e031-e844-41bb-abcd-6bda0e4c6cd7","name":"No Operation, do nothing"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Y2I2EAfC-C5RI7A15E33XoE_YgYHkVRgCh-MI08RY1c","mode":"list","cachedResultName":"Nichos_reddit","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y2I2EAfC-C5RI7A15E33XoE_YgYHkVRgCh-MI08RY1c/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y2I2EAfC-C5RI7A15E33XoE_YgYHkVRgCh-MI08RY1c/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nicho":"={{ $('Edit Fields1').item.json.nicho }}","Pain point":"={{ $('Edit Fields1').item.json.pain_point }}","Solucion":"={{ $json.solucion }}","Scoring":"={{ $json.scoring }}","Stack":"={{ $json.stack }}","Fecha":"={{ $now.setZone('Europe/Madrid').toFormat('yyyy-MM-dd') }}"},"matchingColumns":["Nicho"],"schema":[{"id":"Nicho","displayName":"Nicho","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pain point","displayName":"Pain point","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Solucion","displayName":"Solucion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Scoring","displayName":"Scoring","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stack","displayName":"Stack","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Utilizado","displayName":"Utilizado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2304,352],"id":"cdbedb26-5ea8-4488-8f78-4091a762729a","name":"Append row in sheet"},{"parameters":{"jsCode":"// Nodo Function para debugear y parsear respuesta del modelo\n\n// Obtener la respuesta del modelo\nconst modelResponse = $input.all()[0].json;\n\n// Log completo para debugging\nconsole.log(\"=== DEBUG COMPLETO ===\");\nconsole.log(\"Tipo de respuesta:\", typeof modelResponse);\nconsole.log(\"Respuesta completa:\", JSON.stringify(modelResponse, null, 2));\n\n// Intentar extraer el texto de diferentes posibles estructuras\nlet responseText = null;\n\n// Posibles ubicaciones del texto de respuesta\nconst possiblePaths = [\n  modelResponse.message?.content,\n  modelResponse.content,\n  modelResponse.text,\n  modelResponse.output,\n  modelResponse.response,\n  modelResponse\n];\n\nfor (let path of possiblePaths) {\n  if (typeof path === 'string') {\n    responseText = path;\n    console.log(\"Texto encontrado en:\", path);\n    break;\n  }\n}\n\nconsole.log(\"Texto extraído:\", responseText);\n\n// Si no encontramos texto, devolver error\nif (!responseText) {\n  return [{\n    json: {\n      error: \"No se pudo extraer texto de la respuesta\",\n      raw_response: modelResponse,\n      debug: \"Revisar estructura de respuesta del modelo\"\n    }\n  }];\n}\n\n// Limpiar el texto (quitar markdown, espacios extra, etc.)\nlet cleanText = responseText\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconsole.log(\"Texto limpio:\", cleanText);\n\n// Intentar parsear como JSON\nlet parsedResult = null;\ntry {\n  parsedResult = JSON.parse(cleanText);\n  console.log(\"JSON parseado exitosamente:\", parsedResult);\n} catch (parseError) {\n  console.log(\"Error parseando JSON:\", parseError.message);\n  \n  // Intentar extraer JSON usando regex\n  const jsonMatch = cleanText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsedResult = JSON.parse(jsonMatch[0]);\n      console.log(\"JSON extraído con regex:\", parsedResult);\n    } catch (regexError) {\n      console.log(\"Error con regex:\", regexError.message);\n    }\n  }\n}\n\n// Lista de nichos permitidos\nconst nichosPermitidos = [\n  \"Dentistas\",\n  \"Medicoestética\", \n  \"Asesoría Fiscal\",\n  \"Real Estate\",\n  \"Abogados\",\n  \"Ecommerce\",\n  \"RRHH\",\n  \"Educacion Online\",\n  \"Coach\",\n  \"Diseño Interiores\"\n];\n\n// Validar estructura esperada\nlet validatedResult = {\n  tiene_pain_point: false,\n  nicho: null,\n  pain_point: null,\n  debug: {\n    raw_text: responseText,\n    clean_text: cleanText,\n    parse_success: false,\n    validation_errors: []\n  }\n};\n\nif (parsedResult) {\n  validatedResult.debug.parse_success = true;\n  \n  // Validar campo tiene_pain_point\n  if (typeof parsedResult.tiene_pain_point === 'boolean') {\n    validatedResult.tiene_pain_point = parsedResult.tiene_pain_point;\n  } else {\n    validatedResult.debug.validation_errors.push(\"tiene_pain_point no es boolean\");\n  }\n  \n  // Validar campo nicho\n  if (parsedResult.nicho !== undefined) {\n    // Si tiene_pain_point es true, validar que el nicho esté en la lista permitida\n    if (validatedResult.tiene_pain_point && parsedResult.nicho !== null) {\n      if (nichosPermitidos.includes(parsedResult.nicho)) {\n        validatedResult.nicho = parsedResult.nicho;\n      } else {\n        validatedResult.debug.validation_errors.push(`Nicho \"${parsedResult.nicho}\" no está en la lista permitida: ${nichosPermitidos.join(', ')}`);\n        // Forzar tiene_pain_point a false si el nicho no es válido\n        validatedResult.tiene_pain_point = false;\n        validatedResult.nicho = null;\n      }\n    } else {\n      validatedResult.nicho = parsedResult.nicho;\n    }\n  } else {\n    validatedResult.debug.validation_errors.push(\"nicho faltante\");\n  }\n  \n  // Validar campo pain_point\n  if (parsedResult.pain_point !== undefined) {\n    // Si tiene_pain_point es true, pain_point debe ser string no vacío\n    if (validatedResult.tiene_pain_point) {\n      if (typeof parsedResult.pain_point === 'string' && parsedResult.pain_point.trim() !== '') {\n        validatedResult.pain_point = parsedResult.pain_point;\n      } else {\n        validatedResult.debug.validation_errors.push(\"pain_point debe ser string no vacío cuando tiene_pain_point es true\");\n        validatedResult.tiene_pain_point = false;\n        validatedResult.pain_point = null;\n      }\n    } else {\n      validatedResult.pain_point = parsedResult.pain_point;\n    }\n  } else {\n    validatedResult.debug.validation_errors.push(\"pain_point faltante\");\n  }\n  \n  // Validación final: si tiene_pain_point es true, tanto nicho como pain_point deben ser válidos\n  if (validatedResult.tiene_pain_point && (!validatedResult.nicho || !validatedResult.pain_point)) {\n    validatedResult.debug.validation_errors.push(\"Cuando tiene_pain_point es true, nicho y pain_point deben ser válidos\");\n    validatedResult.tiene_pain_point = false;\n    validatedResult.nicho = null;\n    validatedResult.pain_point = null;\n  }\n}\n\nconsole.log(\"Resultado final:\", validatedResult);\nconsole.log(\"Nichos permitidos:\", nichosPermitidos);\nconsole.log(\"Errores de validación:\", validatedResult.debug.validation_errors);\n\nreturn [{\n  json: validatedResult\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,336],"id":"bc2f3ee5-891b-445a-81b3-58f39a0756c6","name":"Code2"},{"parameters":{"assignments":{"assignments":[{"id":"5b62bca5-1803-4130-826f-b396dd929e42","name":"nicho","value":"={{ $json.nicho }}","type":"string"},{"id":"35d4138b-e9f3-4366-8e6f-b3d99a9bae68","name":"pain_point","value":"={{ $json.pain_point }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1584,352],"id":"84c4d164-34c5-4259-8843-fb50b5565026","name":"Edit Fields1"},{"parameters":{"jsCode":"// Nodo Function para parsear respuesta del analista de automatización\n// Coloca este nodo después del modelo de IA\n\n// Obtener la respuesta del modelo\nconst modelResponse = $input.all()[0].json;\n\n// Log completo para debugging\nconsole.log(\"=== PARSER AUTOMATIZACIÓN DEBUG ===\");\nconsole.log(\"Tipo de respuesta:\", typeof modelResponse);\nconsole.log(\"Respuesta completa:\", JSON.stringify(modelResponse, null, 2));\n\n// Intentar extraer el texto de diferentes posibles estructuras\nlet responseText = null;\n\n// Posibles ubicaciones del texto de respuesta\nconst possiblePaths = [\n  modelResponse.message?.content,\n  modelResponse.content,\n  modelResponse.text,\n  modelResponse.output,\n  modelResponse.response,\n  modelResponse\n];\n\nfor (let path of possiblePaths) {\n  if (typeof path === 'string') {\n    responseText = path;\n    console.log(\"Texto encontrado en:\", path);\n    break;\n  }\n}\n\nconsole.log(\"Texto extraído:\", responseText);\n\n// Si no encontramos texto, devolver estructura por defecto\nif (!responseText) {\n  return [{\n    json: {\n      nombre: \"Error de Parsing\",\n      solucion: \"No se pudo extraer la respuesta del modelo\",\n      stack: \"Error en extracción\",\n      scoring: 0.5, // 50% como decimal\n      debug: {\n        error: \"No se pudo extraer texto de la respuesta\",\n        raw_response: modelResponse\n      }\n    }\n  }];\n}\n\n// Limpiar el texto (quitar markdown, espacios extra, etc.)\nlet cleanText = responseText\n  .replace(/```json/gi, '')\n  .replace(/```/g, '')\n  .replace(/`/g, '')\n  .trim();\n\nconsole.log(\"Texto limpio:\", cleanText);\n\n// Intentar parsear como JSON\nlet parsedResult = null;\n\n// Método 1: Parse directo\ntry {\n  parsedResult = JSON.parse(cleanText);\n  console.log(\"JSON parseado exitosamente (método 1):\", parsedResult);\n} catch (parseError) {\n  console.log(\"Error parseando JSON (método 1):\", parseError.message);\n  \n  // Método 2: Extraer JSON usando regex más robusto\n  const jsonMatches = [\n    cleanText.match(/\\{[\\s\\S]*\\}/),\n    cleanText.match(/\\{[^{}]*\"nombre\"[^{}]*\"solucion\"[^{}]*\"stack\"[^{}]*\"scoring\"[^{}]*\\}/),\n    cleanText.match(/\\{[\\s\\S]*\"nombre\"[\\s\\S]*\\}/)\n  ];\n  \n  for (let match of jsonMatches) {\n    if (match) {\n      try {\n        parsedResult = JSON.parse(match[0]);\n        console.log(\"JSON extraído con regex:\", parsedResult);\n        break;\n      } catch (regexError) {\n        console.log(\"Error con regex:\", regexError.message);\n      }\n    }\n  }\n  \n  // Método 3: Parsing manual por líneas si el JSON está malformado\n  if (!parsedResult) {\n    try {\n      const lines = cleanText.split('\\n');\n      const manualResult = {};\n      \n      for (let line of lines) {\n        const nameMatch = line.match(/\"nombre\":\\s*\"([^\"]+)\"/);\n        const solucionMatch = line.match(/\"solucion\":\\s*\"([^\"]+)\"/);\n        const stackMatch = line.match(/\"stack\":\\s*\"([^\"]+)\"/);\n        const scoringMatch = line.match(/\"scoring\":\\s*(\\d+)/);\n        \n        if (nameMatch) manualResult.nombre = nameMatch[1];\n        if (solucionMatch) manualResult.solucion = solucionMatch[1];\n        if (stackMatch) manualResult.stack = stackMatch[1];\n        if (scoringMatch) manualResult.scoring = parseInt(scoringMatch[1]);\n      }\n      \n      if (Object.keys(manualResult).length > 0) {\n        parsedResult = manualResult;\n        console.log(\"JSON extraído manualmente:\", parsedResult);\n      }\n    } catch (manualError) {\n      console.log(\"Error en parsing manual:\", manualError.message);\n    }\n  }\n}\n\n// Estructura de resultado por defecto\nlet finalResult = {\n  nombre: \"Automatización No Especificada\",\n  solucion: \"No se pudo determinar la solución de automatización\",\n  stack: \"Stack no definido\",\n  scoring: 0.5, // 50% como decimal\n  debug: {\n    raw_text: responseText,\n    clean_text: cleanText,\n    parse_success: false,\n    validation_errors: [],\n    parsing_method: \"default\"\n  }\n};\n\n// Si logramos parsear, validar y limpiar los datos\nif (parsedResult && typeof parsedResult === 'object') {\n  finalResult.debug.parse_success = true;\n  finalResult.debug.parsing_method = \"json_parse\";\n  \n  // Validar y asignar nombre\n  if (typeof parsedResult.nombre === 'string' && parsedResult.nombre.trim() !== '') {\n    finalResult.nombre = parsedResult.nombre.trim();\n  } else {\n    finalResult.debug.validation_errors.push(\"nombre inválido o faltante\");\n  }\n  \n  // Validar y asignar solución\n  if (typeof parsedResult.solucion === 'string' && parsedResult.solucion.trim() !== '') {\n    finalResult.solucion = parsedResult.solucion.trim();\n  } else {\n    finalResult.debug.validation_errors.push(\"solucion inválida o faltante\");\n  }\n  \n  // Validar y asignar stack\n  if (typeof parsedResult.stack === 'string' && parsedResult.stack.trim() !== '') {\n    finalResult.stack = parsedResult.stack.trim();\n  } else {\n    finalResult.debug.validation_errors.push(\"stack inválido o faltante\");\n  }\n  \n  // Validar y convertir scoring a decimal (CRÍTICO PARA AIRTABLE)\n  let scoring = null;\n  if (typeof parsedResult.scoring === 'number') {\n    scoring = parsedResult.scoring;\n  } else if (typeof parsedResult.scoring === 'string') {\n    scoring = parseInt(parsedResult.scoring);\n  }\n  \n  if (scoring !== null && !isNaN(scoring) && scoring >= 1 && scoring <= 100) {\n    // CONVERTIR A DECIMAL PARA AIRTABLE (88 -> 0.88)\n    finalResult.scoring = scoring / 100;\n  } else {\n    finalResult.debug.validation_errors.push(\"scoring inválido (debe ser 1-100)\");\n    finalResult.scoring = 0.5; // 50% como decimal\n  }\n}\n\n// Validaciones adicionales y correcciones\nif (finalResult.nombre === \"Automatización No Especificada\" && parsedResult) {\n  const solucionWords = finalResult.solucion.split(' ').slice(0, 4).join(' ');\n  if (solucionWords.length > 0) {\n    finalResult.nombre = solucionWords;\n    finalResult.debug.validation_errors.push(\"nombre generado automáticamente desde solución\");\n  }\n}\n\n// Asegurar que scoring esté en rango decimal válido 0.01-1.00\nif (finalResult.scoring < 0.01) finalResult.scoring = 0.01;\nif (finalResult.scoring > 1.00) finalResult.scoring = 1.00;\n\n// Stack por defecto si está vacío\nif (finalResult.stack === \"Stack no definido\" || finalResult.stack === \"\") {\n  finalResult.stack = \"n8n + Airtable + APIs\";\n  finalResult.debug.validation_errors.push(\"stack asignado por defecto\");\n}\n\n// Log final\nconsole.log(\"=== RESULTADO FINAL ===\");\nconsole.log(\"Nombre:\", finalResult.nombre);\nconsole.log(\"Solución:\", finalResult.solucion);\nconsole.log(\"Stack:\", finalResult.stack);\nconsole.log(\"Scoring original:\", parsedResult?.scoring);\nconsole.log(\"Scoring para Airtable (decimal):\", finalResult.scoring);\nconsole.log(\"Scoring mostrado (%):\", (finalResult.scoring * 100) + \"%\");\nconsole.log(\"Errores de validación:\", finalResult.debug.validation_errors);\n\n// Retornar resultado estructurado\nreturn [{\n  json: {\n    nombre: finalResult.nombre,\n    solucion: finalResult.solucion,\n    stack: finalResult.stack,\n    scoring: finalResult.scoring, // Enviado como decimal\n    debug: finalResult.debug\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,352],"id":"5fae8fa3-01c2-4d29-8ba4-f0f9065ad2be","name":"Code3"},{"parameters":{"content":"## 📂 MOTOR DE INVESTIGACIÓN DE PUNTOS DE DOLOR\n\n","height":2192,"width":2272,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2240,-688],"id":"175b3b66-c9fd-4a59-bf64-6a40e41b048c","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"=## ENTRADA\n**Topic:** {{ $json.tema_imagen }}\n** Post:** {{ $json.contenido_blog }}","messages":{"messageValues":[{"message":"=# VISUAL PROMPT EXPERT: Digital Marketing Imagery\n\n## ROLE DEFINITION\nYou are a **Visual Prompt Expert** specializing in creating high-impact, viral imagery for digital marketing content. *Your mission is to analyze blog content about digital marketing strategies and generate simple, direct, cinematic prompts in English that create maximum LinkedIn engagement.*\n\n# IMPORTANT - OUTPUT: PLAIN TEXT PROMPT ONLY - NO SPECIAL CHARACTERS OR PUNCTUATION\n\n## ANALYSIS FRAMEWORK\n\n### STEP 1: EXTRACT KEY ELEMENTS\nFrom the blog content, identify:\n- **Main pain point** (specific marketing problem)\n- **Target sector** (restaurants, clinics, e-commerce, agencies, etc.)\n- **Transformation moment** (before/after digital strategy)\n- **Emotional shift** (invisibility → visibility, confusion → clarity)\n\n### STEP 2: SELECT VISUAL CONCEPT\nChoose the most powerful concept:\n- **VISIBILITY** - From invisible to first page of Google\n- **GROWTH** - Exponential business expansion through digital\n- **CONNECTION** - Building authentic audience relationships\n- **TRANSFORMATION** - Before/after digital presence\n- **DOMINATION** - Commanding digital landscape\n\n## PROMPT STRUCTURE (ALWAYS IN ENGLISH)\n\n### REQUIRED FORMAT:\n[SHOT TYPE] of [MAIN SUBJECT] [ACTION/EMOTION] in [ENVIRONMENT]. [VISUAL METAPHOR/KEY ELEMENTS]. [LIGHTING]. Shot on [LENS] with [DEPTH OF FIELD]. [COLOR PALETTE]. [TECHNICAL SPECS].\n\n### EXAMPLE STRUCTURE:\n\nMedium shot cinematic portrait of Spanish business owner confidently pointing at massive floating Google search results showing their company at number 1 position. Modern office with holographic SEO metrics and rising traffic graphs surrounding. Dramatic key lighting highlighting triumphant expression. Shot on 85mm prime lens with shallow depth of field blurring competitor results below. Digital blue and success green color palette with bright white highlights. 8K hyper detailed photorealistic.\n\nWide angle cinematic shot of restaurant owner standing in bustling dining room while holographic social media engagement metrics float above tables filled with happy customers. Warm ambient lighting mixed with cool digital displays showing increased reservations. Shot on 24mm lens capturing entire transformed space with selective focus on proud owner. Appetite inducing warm yellows and social media blues with golden hour accents. 8K ultra realistic with motion blur of satisfied diners and glowing review notifications.\n\nLow angle cinematic shot of e commerce entrepreneur commanding center stage with arms raised as floating 3D sales charts and customer conversion funnels spiral upward around figure. Dynamic LED lighting creating powerful silhouette against backdrop of rising revenue graphs. Shot on 35mm with dramatic perspective emphasizing dominance over digital marketplace. Electric commerce orange and profit green palette with premium gold accents. 8K photorealistic with particle effects showing exponential growth trajectory.\n\n## VISUAL ELEMENTS LIBRARY\n\n### BUSINESS CONTEXTS:\n- Modern Spanish office with digital displays\n- Bustling restaurant with happy customers\n- Clean clinic reception with patient flow\n- Creative agency workspace with campaign boards\n- Local storefront with increased foot traffic\n\n### EMOTIONAL EXPRESSIONS:\n- Confidence from digital dominance\n- Relief from finally being found online\n- Excitement from growing engagement\n- Pride in brand transformation\n- Determination in competitive landscape\n\n### MARKETING METAPHORS:\n- Google search results floating in 3D\n- Social media engagement rising like smoke\n- Customer journey maps as holographic paths\n- Revenue charts growing exponentially upward\n- Brand visibility expanding as light rays\n\n### TECHNICAL SPECIFICATIONS:\n- Shot on 85mm/50mm/24mm prime lens\n- Shallow depth of field f 1 point 4\n- 8K hyper detailed photorealistic\n- Cinematic lighting key plus fill plus rim\n- Digital marketing color palette blue green orange\n\n## SECTOR-SPECIFIC ELEMENTS\n\n### RESTAURANTS/HOSPITALITY:\n- Busy dining rooms satisfied customers reservation systems\n- Food photography social media reviews local SEO\n- Online ordering platforms delivery integration\n\n### CLINICS/HEALTHCARE:\n- Patient consultations appointment booking systems\n- Medical expertise content trust building\n- Online reputation management testimonials\n\n### E-COMMERCE/RETAIL:\n- Product catalogs shopping carts conversion funnels\n- Abandoned cart recovery email marketing\n- Inventory management customer lifecycle\n\n### AGENCIES/SERVICES:\n- Client presentations campaign dashboards\n- Creative workflows project management\n- Performance metrics ROI demonstrations\n\n## OUTPUT REQUIREMENTS\n- DELIVER ONLY THE ENGLISH PROMPT IN PLAIN TEXT\n- NO quotes brackets commas periods or JSON structure\n- Single paragraph format with spaces between words only\n- All technical and emotional elements included\n- Maximum impact for LinkedIn engagement\n- NO special characters punctuation marks or symbols\n\n## VALIDATION CHECKLIST\nBefore generating:\n- Marketing pain point clearly identified from blog\n- Target sector correctly mapped\n- Digital transformation captured\n- All technical elements included\n- Prompt in English only\n- Simple direct cinematic style\n- Plain text format with no punctuation\n\n## FINAL INSTRUCTION\nAnalyze the blog content extract the core digital marketing transformation and generate a single powerful English prompt in plain text format that will create a viral LinkedIn image. Focus on the emotional journey from marketing invisibility to digital dominance and business growth.\n\n# IMPORTANT - OUTPUT: PLAIN TEXT ENGLISH PROMPT ONLY WITH NO PUNCTUATION MARKS COMMAS PERIODS OR SPECIAL CHARACTERS"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[960,1408],"id":"47f0ac44-b144-4150-af0a-54da830ba32d","name":"prompt_imagen","notesInFlow":false,"notes":"AVERIS TECH"},{"parameters":{"model":"google/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2176,1680],"id":"5f9eaab8-d7a7-4005-8e82-85f17dfabba2","name":"Gemini 2.5 Pro"},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1856,608],"id":"dd9fecc0-2f63-4e14-b190-dad8c49f2d0c","name":"OpenAI 4.1 Mini"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1216,1216],"id":"22eff0ec-5a25-494a-8a5c-4d772839b61d","name":"OpenAi 4.1 Mini"},{"parameters":{"content":"## 📂 MOTOR AUTOMATIZADO DE DESCUBRIMIENTO DE PUNTOS DE DOLOR\n","height":976,"width":1360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,-256],"id":"669b5c0c-5f8d-40c0-9b4c-f1368fc117ca","name":"Sticky Note5"},{"parameters":{"content":"## 🏆 ARQUITECTO DE SOLUCIONES CON IA\n\n","height":720,"width":1008,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1552,16],"id":"7819e7ee-fd66-4cbb-97b1-a847e070c923","name":"Sticky Note8"},{"parameters":{"promptType":"define","text":"=### Nicho: {{ $json.nicho }}\n### Pain point: {{ $json.pain_point }}","messages":{"messageValues":[{"message":"=# DETECTOR EXPERTO DE PAIN POINTS DE MARKETING DIGITAL\n\n## IDENTIDAD\nEres un detector experto de pain points de marketing digital que analiza posts de Reddit. Tu objetivo es identificar problemas de marketing reales que se puedan resolver con estrategias digitales, publicidad online, SEO, redes sociales y herramientas de marketing.\n\n## INSTRUCCIÓN PRINCIPAL\nAnaliza el texto y detecta pain points de marketing digital solucionables. Traduce los problemas a un lenguaje claro y empresarial, añadiendo contexto realista cuando sea necesario para que cualquier dueño de negocio entienda el problema.\n\n## FORMATO DE RESPUESTA\nResponde **SOLO** con este JSON exacto (sin explicaciones adicionales):\n\n```json\n{\n    \"tiene_pain_point\": true,\n    \"nicho\": \"Dentist|Beauty|Accounting|Real Estate|Lawyer|Ecommerce|HR|Online_Education|Online_Coach|Interior_Design\",\n    \"pain_point\": \"descripción clara del problema con contexto realista que cualquier empresario entienda\"\n}\nSi no hay pain point de marketing solucionable:\n\nJSON\n\n{\n    \"tiene_pain_point\": false,\n    \"nicho\": null,\n    \"pain_point\": null\n}\nNICHOS ESPECÍFICOS PERMITIDOS (ELEGIR UNO EXACTO):\nDentist\n\nBeauty\n\nAccounting\n\nReal Estate\n\nLawyer\n\nEcommerce\n\nHR\n\nOnline_Education\n\nOnline_Coach\n\nInterior_Design\n\nPAIN POINTS DE MARKETING QUE SÍ DETECTAMOS:\n✅ Falta de visibilidad online (no aparece en Google, competencia dominando)\n✅ Bajo ROI en publicidad digital (Facebook Ads, Google Ads sin resultados)\n✅ Gestión deficiente de redes sociales (falta de engagement, contenido inconsistente)\n✅ Ausencia de estrategia SEO local (clientes locales no encuentran el negocio)\n✅ Problemas de captación de leads (web sin conversiones, formularios que no funcionan)\n✅ Falta de seguimiento de clientes potenciales (leads que se pierden, no hay nurturing)\n✅ Ausencia de marketing de contenidos (no educan a su audiencia, falta autoridad)\n✅ Problemas de reputación online (malas reseñas, falta de testimonios)\n✅ Email marketing inexistente o ineficaz (no retienen clientes, comunicación esporádica)\n✅ Métricas y analítica confusa (no saben qué marketing funciona)\n✅ Competencia digital superior (otros negocios dominando su mercado online)\n✅ Conversión web baja (mucho tráfico pero pocas ventas)\n✅ Falta de presencia en plataformas clave (Google My Business, directorios)\n✅ Problemas con el embudo de ventas digital (leads no se convierten en clientes)\n✅ Marketing tradicional sin resultados (volantes, radio sin ROI medible)\n✅ Falta de automatización en marketing (mensajes manuales, seguimientos perdidos)\n✅ Targeting incorrecto en publicidad (anuncios a audiencia equivocada)\n✅ Branding débil o inconsistente (confusión de marca en diferentes canales)\n\nPAIN POINTS QUE NO SON NUESTRO FOCO:\n❌ Problemas operativos internos sin componente de marketing\n❌ Issues técnicos de desarrollo web complejos\n❌ Problemas de producto o servicio (calidad, precio)\n❌ Conflictos legales o regulatorios\n❌ Problemas financieros generales no relacionados con marketing\n❌ Issues interpersonales entre empleados\n\nCRITERIOS PARA PAIN POINTS CLAROS:\nTraducir jerga técnica: Convertir términos de marketing en lenguaje empresarial\n\nAñadir contexto realista: Explicar por qué es un problema para el crecimiento del negocio\n\nCuantificar cuando sea posible: Mencionar clientes perdidos, ventas no realizadas\n\nSer específico: Evitar descripciones vagas, ir al problema concreto de marketing\n\nEJEMPLOS DE TRANSFORMACIÓN:\nANTES (técnico/vago): \"Mi CTR está muy bajo\"\nDESPUÉS (claro/empresarial): \"Los anuncios de Facebook apenas generan clics, gastando 500€ mensuales en publicidad que solo trae 2-3 clientes potenciales\"\n\nANTES (técnico/vago): \"No tengo organic reach\"\nDESPUÉS (claro/empresarial): \"Las publicaciones en redes sociales solo las ven 20-30 personas cuando tengo 1,000 seguidores, perdiendo oportunidades de generar ventas sin pagar publicidad\"\n\nANTES (técnico/vago): \"SEO problems\"\nDESPUÉS (claro/empresarial): \"Los clientes no encuentran mi negocio en Google cuando buscan servicios dentales en mi zona, mientras la competencia aparece en las primeras posiciones\"\n\nANTES (técnico/vago): \"Bad conversion funnel\"\nDESPUÉS (claro/empresarial): \"Los visitantes llegan a mi web pero no se convierten en clientes: de 1,000 visitas mensuales solo consigo 5-10 consultas reales\"\n\nIDENTIFICACIÓN DE NICHOS:\nDebe ser uno de los 10 nichos exactos listados arriba\n\nSi el problema no encaja claramente en ningún nicho específico, evaluar cuál es el más cercano\n\nSi es demasiado genérico o no aplica a ninguno de los nichos, marcar como sin pain point\n\nREGLAS IMPORTANTES:\nSOLO usar los nichos exactos listados\n\nNO crear variaciones de los nichos permitidos\n\nSi no encaja en ningún nicho específico, marcar tiene_pain_point: false\n\nResponder ÚNICAMENTE con el JSON, sin explicaciones adicionales\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1792,352],"id":"56d91773-803e-42bb-80f3-000af679efb3","name":"asistente_soluciones"},{"parameters":{"promptType":"define","text":"=### Título: {{ $json.title }}\n### Contenido: {{ $json.selftext }}","messages":{"messageValues":[{"message":"=# DETECTOR EXPERTO DE PAIN POINTS DE MARKETING DIGITAL\n\n## IDENTIDAD\nEres un detector experto de pain points de marketing digital que analiza posts de Reddit. Tu objetivo es identificar problemas de marketing reales que se puedan resolver con estrategias digitales, publicidad online, SEO, redes sociales y herramientas de marketing.\n\n## INSTRUCCIÓN PRINCIPAL\nAnaliza el texto y detecta pain points de marketing digital solucionables. Traduce los problemas a un lenguaje claro y empresarial, añadiendo contexto realista cuando sea necesario para que cualquier dueño de negocio entienda el problema.\n\n## FORMATO DE RESPUESTA\nResponde **SOLO** con este JSON exacto (sin explicaciones adicionales):\n\n```json\n{\n    \"tiene_pain_point\": true,\n    \"nicho\": \"Dentist|Beauty|Accounting|Real Estate|Lawyer|Ecommerce|HR|Online_Education|Online_Coach|Interior_Design\",\n    \"pain_point\": \"descripción clara del problema con contexto realista que cualquier empresario entienda\"\n}\nSi no hay pain point de marketing solucionable:\n\nJSON\n\n{\n    \"tiene_pain_point\": false,\n    \"nicho\": null,\n    \"pain_point\": null\n}\nNICHOS ESPECÍFICOS PERMITIDOS (ELEGIR UNO EXACTO):\nDentist\n\nBeauty\n\nAccounting\n\nReal Estate\n\nLawyer\n\nEcommerce\n\nHR\n\nOnline_Education\n\nOnline_Coach\n\nInterior_Design\n\nPAIN POINTS DE MARKETING QUE SÍ DETECTAMOS:\n✅ Falta de visibilidad online (no aparece en Google, competencia dominando)\n✅ Bajo ROI en publicidad digital (Facebook Ads, Google Ads sin resultados)\n✅ Gestión deficiente de redes sociales (falta de engagement, contenido inconsistente)\n✅ Ausencia de estrategia SEO local (clientes locales no encuentran el negocio)\n✅ Problemas de captación de leads (web sin conversiones, formularios que no funcionan)\n✅ Falta de seguimiento de clientes potenciales (leads que se pierden, no hay nurturing)\n✅ Ausencia de marketing de contenidos (no educan a su audiencia, falta autoridad)\n✅ Problemas de reputación online (malas reseñas, falta de testimonios)\n✅ Email marketing inexistente o ineficaz (no retienen clientes, comunicación esporádica)\n✅ Métricas y analítica confusa (no saben qué marketing funciona)\n✅ Competencia digital superior (otros negocios dominando su mercado online)\n✅ Conversión web baja (mucho tráfico pero pocas ventas)\n✅ Falta de presencia en plataformas clave (Google My Business, directorios)\n✅ Problemas con el embudo de ventas digital (leads no se convierten en clientes)\n✅ Marketing tradicional sin resultados (volantes, radio sin ROI medible)\n✅ Falta de automatización en marketing (mensajes manuales, seguimientos perdidos)\n✅ Targeting incorrecto en publicidad (anuncios a audiencia equivocada)\n✅ Branding débil o inconsistente (confusión de marca en diferentes canales)\n\nPAIN POINTS QUE NO SON NUESTRO FOCO:\n❌ Problemas operativos internos sin componente de marketing\n❌ Issues técnicos de desarrollo web complejos\n❌ Problemas de producto o servicio (calidad, precio)\n❌ Conflictos legales o regulatorios\n❌ Problemas financieros generales no relacionados con marketing\n❌ Issues interpersonales entre empleados\n\nCRITERIOS PARA PAIN POINTS CLAROS:\nTraducir jerga técnica: Convertir términos de marketing en lenguaje empresarial\n\nAñadir contexto realista: Explicar por qué es un problema para el crecimiento del negocio\n\nCuantificar cuando sea posible: Mencionar clientes perdidos, ventas no realizadas\n\nSer específico: Evitar descripciones vagas, ir al problema concreto de marketing\n\nEJEMPLOS DE TRANSFORMACIÓN:\nANTES (técnico/vago): \"Mi CTR está muy bajo\"\nDESPUÉS (claro/empresarial): \"Los anuncios de Facebook apenas generan clics, gastando 500€ mensuales en publicidad que solo trae 2-3 clientes potenciales\"\n\nANTES (técnico/vago): \"No tengo organic reach\"\nDESPUÉS (claro/empresarial): \"Las publicaciones en redes sociales solo las ven 20-30 personas cuando tengo 1,000 seguidores, perdiendo oportunidades de generar ventas sin pagar publicidad\"\n\nANTES (técnico/vago): \"SEO problems\"\nDESPUÉS (claro/empresarial): \"Los clientes no encuentran mi negocio en Google cuando buscan servicios dentales en mi zona, mientras la competencia aparece en las primeras posiciones\"\n\nANTES (técnico/vago): \"Bad conversion funnel\"\nDESPUÉS (claro/empresarial): \"Los visitantes llegan a mi web pero no se convierten en clientes: de 1,000 visitas mensuales solo consigo 5-10 consultas reales\"\n\nIDENTIFICACIÓN DE NICHOS:\nDebe ser uno de los 10 nichos exactos listados arriba\n\nSi el problema no encaja claramente en ningún nicho específico, evaluar cuál es el más cercano\n\nSi es demasiado genérico o no aplica a ninguno de los nichos, marcar como sin pain point\n\nREGLAS IMPORTANTES:\nSOLO usar los nichos exactos listados\n\nNO crear variaciones de los nichos permitidos\n\nSi no encaja en ningún nicho específico, marcar tiene_pain_point: false\n\nResponder ÚNICAMENTE con el JSON, sin explicaciones adicionales"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[672,336],"id":"ff661de7-b32c-4c49-9e50-ea44f297cf3f","name":"asistente_pain_points"}],"connections":{"Edit Fields":{"main":[[{"node":"agente_post","type":"main","index":0}]]},"Crear Imagen":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get_freepik","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"agente_post","type":"ai_tool","index":0}]]},"Extraer_pain_points":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Get_freepik":{"main":[[{"node":"Descargar_imagen1","type":"main","index":0}]]},"agente_post":{"main":[[{"node":"Code","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"nicho_aleatorio","type":"main","index":0}]]},"nicho_aleatorio":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Extraer_pain_points","type":"main","index":0}]]},"Descargar_imagen1":{"main":[[{"node":"Create a post1","type":"main","index":0}]]},"Code":{"main":[[{"node":"prompt_imagen","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many posts Dentist","type":"main","index":0},{"node":"Get many posts Beauty ","type":"main","index":0},{"node":"Get many posts Accounting","type":"main","index":0},{"node":"Get many posts Real Estate","type":"main","index":0},{"node":"Get many posts lawyer","type":"main","index":0},{"node":"Get many posts Ecommerce","type":"main","index":0},{"node":"Get many posts HR","type":"main","index":0},{"node":"Get many posts Online_Education","type":"main","index":0},{"node":"Get many posts Online Coach","type":"main","index":0},{"node":"Get many posts interior_design","type":"main","index":0}]]},"Merger":{"main":[[{"node":"+5 UPS","type":"main","index":0}]]},"+5 UPS":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get many posts Dentist":{"main":[[{"node":"Merger","type":"main","index":0}]]},"Get many posts Accounting":{"main":[[{"node":"Merger","type":"main","index":2}]]},"Get many posts Beauty ":{"main":[[{"node":"Merger","type":"main","index":1}]]},"Get many posts Real Estate":{"main":[[{"node":"Merger","type":"main","index":3}]]},"Get many posts Ecommerce":{"main":[[{"node":"Merger","type":"main","index":5}]]},"Get many posts Online Coach":{"main":[[{"node":"Merger","type":"main","index":8}]]},"Get many posts Online_Education":{"main":[[{"node":"Merger","type":"main","index":7}]]},"Get many posts interior_design":{"main":[[{"node":"Merger","type":"main","index":9}]]},"Get many posts lawyer":{"main":[[{"node":"Merger","type":"main","index":4}]]},"Get many posts HR":{"main":[[{"node":"Merger","type":"main","index":6}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"asistente_pain_points","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code2":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"asistente_soluciones","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"prompt_imagen":{"main":[[{"node":"Crear Imagen","type":"main","index":0}]]},"Gemini 2.5 Pro":{"ai_languageModel":[[{"node":"agente_post","type":"ai_languageModel","index":0},{"node":"prompt_imagen","type":"ai_languageModel","index":0}]]},"OpenAI 4.1 Mini":{"ai_languageModel":[[{"node":"asistente_pain_points","type":"ai_languageModel","index":0},{"node":"asistente_soluciones","type":"ai_languageModel","index":0}]]},"OpenAi 4.1 Mini":{"ai_languageModel":[[{"node":"nicho_aleatorio","type":"ai_languageModel","index":0}]]},"asistente_soluciones":{"main":[[{"node":"Code3","type":"main","index":0}]]},"asistente_pain_points":{"main":[[{"node":"Code2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger1":[{"json":{"timestamp":"2025-09-22T09:30:29.038+02:00","Readable date":"September 22nd 2025, 9:30:29 am","Readable time":"9:30:29 am","Day of week":"Monday","Year":"2025","Month":"September","Day of month":"22","Hour":"09","Minute":"30","Second":"29","Timezone":"Europe/Madrid (UTC+02:00)"}}]},"versionId":"572723ea-c2a2-48e3-92b1-582d18eaf3ec","triggerCount":0,"shared":[{"createdAt":"2025-09-30T12:17:17.070Z","updatedAt":"2025-09-30T12:17:17.070Z","role":"workflow:owner","workflowId":"AOMeq8V56eQlxsU6","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}