caso-9-respaldo-masivos-workflow-n8n-yFkCHSJJy5i0wqCA.json
{"createdAt":"2025-10-04T22:06:57.364Z","updatedAt":"2025-10-04T22:19:16.940Z","id":"yFkCHSJJy5i0wqCA","name":"Caso 9 Respaldo masivos workflow N8N","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"a70c9b10-77ca-4ae5-87ca-c6df21e33664","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-832,-64],"typeVersion":3},{"parameters":{"command":"npx n8n export:credentials --all --decrypted"},"id":"8c384709-25e1-4d99-911b-f154097951ab","name":"Execute Command","type":"n8n-nodes-base.executeCommand","position":[-1360,-160],"typeVersion":1},{"parameters":{"jsCode":"// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"},"id":"a9e868e7-2b2a-49bb-81ad-1306cdeced10","name":"JSON formatting","type":"n8n-nodes-base.code","position":[-1168,-160],"typeVersion":2},{"parameters":{"workflowId":"re6hWVLabWhzHoDQ","mode":"each","options":{}},"id":"e0b01fcb-fdd6-4ee3-86f6-a6e3c38d4de8","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[-528,-64],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1264,32],"id":"5c39d382-8f0a-4720-8639-7acac1b15cd9","name":"n8n","credentials":{"n8nApi":{"id":"m0fT1jmNjZQ9eWfy","name":"n8n account"}}},{"parameters":{"options":{}},"id":"febc34fd-2e70-4a42-993a-b2650e0dc2a8","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","position":[-944,208],"typeVersion":3},{"parameters":{"workflowId":"=re6hWVLabWhzHoDQ","mode":"each","options":{}},"id":"dab98f88-08d9-47b4-9425-179daa8fb86f","name":"Execute Workflow1","type":"n8n-nodes-base.executeWorkflow","position":[-560,176],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":5}]}},"id":"bfc95d9a-9f91-415c-a9eb-88c9e63ebf90","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","position":[-1584,32],"typeVersion":1.2,"disabled":true},{"parameters":{"content":"## Flujo Respaldo de Credenciales","height":751,"width":1289,"color":7},"id":"8665bd39-5004-4bec-878f-e46d8ef041b2","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1632,-288],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"09f37143-ab3b-480f-9290-7a854d7a9757","name":"Return","type":"n8n-nodes-base.set","position":[1792,-80],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"5833fd78-948c-489d-a8ae-8693e7ed6a2e","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[992,-192],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"042847ef-ad79-41df-a571-8dac69627006","name":"If file too large","type":"n8n-nodes-base.if","position":[784,-160],"typeVersion":2},{"parameters":{},"id":"c89b7039-250c-496c-b358-af64ae3ad985","name":"Merge Items","type":"n8n-nodes-base.merge","position":[784,256],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"},"id":"e89f5d57-72c6-4b59-84de-c19fd54b1318","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[928,112],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"5016cdd4-fc76-468d-a901-b1896563e685","name":"Check Status","type":"n8n-nodes-base.switch","position":[1104,80],"typeVersion":1},{"parameters":{},"id":"ec5b1422-80fe-47dc-80a7-56cc9d51b9ec","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1328,-80],"typeVersion":1},{"parameters":{},"id":"cd8cf915-dbe3-473a-adcf-4923ef1edc0a","name":"File is different","type":"n8n-nodes-base.noOp","position":[1328,80],"typeVersion":1},{"parameters":{},"id":"a3fd956f-30d2-4b6b-a1e3-65f7ad242769","name":"File is new","type":"n8n-nodes-base.noOp","position":[1328,240],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('NombreRepo').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('NombreRepo').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('NombreRepo').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"3776cc58-5d9c-440a-abe6-aac541f48016","name":"Create new file","type":"n8n-nodes-base.github","position":[1552,240],"typeVersion":1,"webhookId":"57f3f169-11b3-4d6f-b1c1-c1142972aaee"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('NombreRepo').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('NombreRepo').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('NombreRepo').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"883829cd-b357-4814-909a-f97f5faf3cdf","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1552,64],"typeVersion":1,"webhookId":"91959538-2afb-4f0b-b6ee-9123105772e4"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"03f3f081-5860-47c4-ae96-ef9d27fccf96","name":"Get file data","type":"n8n-nodes-base.github","position":[592,-160],"typeVersion":1,"alwaysOutputData":true,"webhookId":"a45a619e-dbdc-40fb-b3df-15a9aff99d3f","credentials":{"githubApi":{"id":"gdxt1oYsp7B9s9bD","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"inputSource":"passthrough"},"id":"08278317-a7e5-4337-aa93-68e75c42cab3","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-112,272],"typeVersion":1.1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5c0c038-d70d-4806-905c-e74e71edbbad","leftValue":"={{ $json.data}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-176,-96],"id":"82eb1361-256e-49f7-b96a-2767a724ac42","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.tags[0] }}","rightValue":""}]},"renameOutput":true,"outputKey":"tag"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2656fbe3-fe35-4770-9c03-9a455ec618e4","operator":{"type":"object","operation":"notExists","singleValue":true},"leftValue":"={{ $json.tags[0] }}","rightValue":""}]},"renameOutput":true,"outputKey":"none"}]},"options":{}},"id":"4f44d925-f11f-45a5-9fd7-aaf87476d2ef","name":"tag?","type":"n8n-nodes-base.switch","position":[96,0],"typeVersion":3.2},{"parameters":{"assignments":{"assignments":[{"id":"9954810e-6998-461a-a8f4-205dce98e60e","name":"pathTag","value":"={{ $('Execute Workflow Trigger').item.json.tags[0].name }}/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,176],"id":"a1d690ba-e892-4b9c-bf5e-860f0ea580eb","name":"extraeTag"},{"parameters":{"assignments":{"assignments":[{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"=repo.path","type":"string","value":"=workflows/{{ $json.pathTag}}"}]},"options":{}},"id":"3f530d38-42e8-43ff-84bb-02f02e657cbf","name":"RutaWorkflows","type":"n8n-nodes-base.set","position":[528,48],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"credentials/"}]},"options":{}},"id":"ce5c4f60-e8bb-49aa-82d7-a641f8ac9ef8","name":"RutaCredenciales","type":"n8n-nodes-base.set","position":[112,-160],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"200df91c-34d4-47f4-8344-b5f8672e3869","name":"repo.owner","value":"=[tu usuario en github]","type":"string"},{"id":"769e66ea-2ef6-4331-97f9-62d727eec1ad","name":"repo.name","value":"=[el nombre de tu repositorio]","type":"string"},{"id":"fe0942a6-72ee-4511-b075-3101b0ee929a","name":"repo.path","value":"={{ $json.repo.path }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,-144],"id":"9a96bf18-bc9c-4e02-b973-860be02c039b","name":"NombreRepo"},{"parameters":{"content":"## Diseño 2 Respaldo Workflow\n\n","height":751,"width":2223,"color":6},"id":"5b4048cb-bf7d-4046-ad23-afa06d5f977f","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-240,-272],"typeVersion":1},{"parameters":{"content":"### True = Ruta para backup de las credenciales","height":80,"width":164},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,-208],"id":"5ed854c0-08f5-4080-80e4-ebfb4ac227d6","name":"Sticky Note8"},{"parameters":{"content":"### False = Ruta para backup de workflows","height":80,"width":160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-112,48],"id":"b2acb4b6-743c-41a7-889b-a70df245763b","name":"Sticky Note9"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"JSON formatting","type":"main","index":0}]]},"JSON formatting":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"n8n","type":"main","index":0},{"node":"Execute Command","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"RutaCredenciales","type":"main","index":0}],[{"node":"tag?","type":"main","index":0}]]},"tag?":{"main":[[{"node":"extraeTag","type":"main","index":0}],[{"node":"RutaWorkflows","type":"main","index":0}]]},"extraeTag":{"main":[[{"node":"RutaWorkflows","type":"main","index":0}]]},"RutaWorkflows":{"main":[[{"node":"NombreRepo","type":"main","index":0}]]},"RutaCredenciales":{"main":[[{"node":"NombreRepo","type":"main","index":0}]]},"NombreRepo":{"main":[[{"node":"Get file data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"83e7cfcb-5ff7-4c6a-bddf-57d289550596","triggerCount":0,"shared":[{"createdAt":"2025-10-04T22:06:57.364Z","updatedAt":"2025-10-04T22:06:57.364Z","role":"workflow:owner","workflowId":"yFkCHSJJy5i0wqCA","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}