caso-8-respaldo-masivos-workflow-n8n-bsjqnj0SEfuFJh0C.json
{"createdAt":"2025-10-01T20:14:25.979Z","updatedAt":"2025-10-04T22:19:28.162Z","id":"bsjqnj0SEfuFJh0C","name":"Caso 8 Respaldo masivos workflow N8N","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"737c338e-37e4-417a-a3a3-aee5324a1aea","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1008,544]},{"parameters":{"options":{}},"id":"fa65ddbe-3e72-4307-ab06-ff18f0d1f92a","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-672,624]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"28ee5882-e126-45ef-a0d8-7484cfb2cd21","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-464,624]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"c49d230d-88fe-491e-a911-f442513149ff","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-272,624]},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"8a2ceebc-fae2-43ce-9009-daa99b887c13","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[128,624]},{"parameters":{"filters":{},"requestOptions":{}},"id":"f052d4a9-3b95-40e0-965c-9c3c5a659318","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[368,624],"credentials":{"n8nApi":{"id":"m0fT1jmNjZQ9eWfy","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"ec61c51b-3d5c-48f8-b72c-a2c278daff8c","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[544,624]},{"parameters":{"batchSize":1,"options":{}},"id":"4d6496a8-1a75-4e75-b9bc-51ba0bc992f8","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[784,624]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"4740a805-49df-43c4-af5c-c3628d12371d","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1024,544]},{"parameters":{"content":"## 🔁Disparador programado\n- El nodo `Schedule Trigger` está configurado para ejecutarse a las 07:00 y 19:00 (hora del servidor).\n- También puedes usar el nodo `Execute workflow` para pruebas manuales.\n\n","height":500,"width":442,"color":4},"id":"13afb13b-ca12-4468-bad3-82182db27ef7","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1168,384]},{"parameters":{"content":"## Fecha y hora del respaldo\n\nLos siguientes nodos configuran la fecha y hora del respaldo, que se usa como parte del mensaje de commit:\n\n1. `Set date`: Obtiene la fecha y hora actual.\n2. `Format date`: Da formato a la fecha como `dd-MM-yyyy/H:mm`.\n3. `Set commit date`: Guarda el valor como `commitDate`.","height":499,"width":601,"color":6},"id":"cd029b6a-e078-4049-8f5a-848aadebca6d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,384]},{"parameters":{"content":"## Consulta de archivos existentes en el repositorio\n1. `List files from repository [GITHUB]`: Lista los archivos existentes en el repositorio.\n2. `Combine file names [GITHUB]`: Junta los nombres de archivos para facilitar comparación.\nEsta lista se usa para evitar duplicados al hacer el respaldo.","height":499,"width":422},"id":"552578a9-93f5-4ca0-8a12-2d9589cf707c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-112,384]},{"parameters":{"content":"## Recuperación de workflows desde n8n\n- `Retrieve workflows [N8N]`: Obtiene todos los flujos de trabajo activos de la instancia configurada.\n\n**Nota:** Asegúrate de que las credenciales `n8nApi` estén configuradas con la instancia correcta.","height":499,"width":384,"color":3},"id":"7131f557-e58e-4d8a-8c02-30359112f4af","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,384]},{"parameters":{"content":"## Subida del respaldo\n- Si el archivo ya existe:\n  - `Update file [GITHUB]`: Actualiza el archivo existente con un nuevo commit.\n\n- Si el archivo no existe:\n  - `Upload file [GITHUB]`: Crea un nuevo archivo en el repositorio.\nAmbas operaciones usan el commit con la fecha generada: `backup-{commitDate}`","height":872,"width":704},"id":"8255c519-d5c5-4dc8-9c2b-d3b97c3068b0","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,96]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 7,19 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-992,704],"id":"febcc1e2-4949-42fa-9179-2466fbb5d173","name":"Schedule Trigger","disabled":true},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"alvaradojuanm","mode":"list","cachedResultName":"alvaradojuanm","cachedResultUrl":"https://github.com/alvaradojuanm"},"repository":{"__rl":true,"value":"codigo","mode":"list","cachedResultName":"codigo","cachedResultUrl":"https://github.com/alvaradojuanm/codigo"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"8c28002a-19b4-4069-84f0-22503e711e6a","name":"Crear Archivo","type":"n8n-nodes-base.github","typeVersion":1,"position":[1232,752],"webhookId":"e8e42a07-a236-47f5-b790-616cb524240c","credentials":{"githubApi":{"id":"gdxt1oYsp7B9s9bD","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"alvaradojuanm","mode":"list","cachedResultName":"alvaradojuanm","cachedResultUrl":"https://github.com/alvaradojuanm"},"repository":{"__rl":true,"value":"codigo","mode":"list","cachedResultName":"codigo","cachedResultUrl":"https://github.com/alvaradojuanm/codigo"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"16487f44-5116-4746-938a-892a0bdd9a26","name":"Actualizar","type":"n8n-nodes-base.github","typeVersion":1,"position":[1248,320],"webhookId":"24558a3d-404b-4a02-a8ce-a4a27e77d1e5","credentials":{"githubApi":{"id":"gdxt1oYsp7B9s9bD","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"alvaradojuanm","mode":"list","cachedResultName":"alvaradojuanm","cachedResultUrl":"https://github.com/alvaradojuanm"},"repository":{"__rl":true,"value":"codigo","mode":"list","cachedResultName":"codigo","cachedResultUrl":"https://github.com/alvaradojuanm/codigo"},"filePath":"="},"id":"af093009-09e2-4d8d-9c0e-c0c0cc6ade64","name":"Consultar repositorio","type":"n8n-nodes-base.github","typeVersion":1,"position":[-48,624],"alwaysOutputData":true,"webhookId":"71b34ce0-3f61-4898-b048-8ec92aa6786c","credentials":{"githubApi":{"id":"gdxt1oYsp7B9s9bD","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"Consultar repositorio","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Actualizar","type":"main","index":0}],[{"node":"Crear Archivo","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Crear Archivo":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Actualizar":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Consultar repositorio":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b7f2cfdb-8c30-4feb-a660-6da5dda69ff9","triggerCount":0,"shared":[{"createdAt":"2025-10-01T20:14:25.979Z","updatedAt":"2025-10-01T20:14:25.979Z","role":"workflow:owner","workflowId":"bsjqnj0SEfuFJh0C","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}