caso-3-asistente-de-ventas-whatsapp-+-redis-+-jV79KiW1BiQx4JgS.json
{"createdAt":"2025-08-09T01:04:21.625Z","updatedAt":"2025-10-04T22:20:20.524Z","id":"jV79KiW1BiQx4JgS","name":"Caso 3 Asistente de Ventas WhatsApp + Redis +","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"=https://evolution.dployxperts.com/message/sendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"odnDxZwWPEwo1vjKStths8X7MqNMyIa1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('data message extraction').item.json.session_id }}\n"},{"name":"text","value":"={{ $json.output }}   "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,1504],"id":"90827563-abdf-4c36-8a8e-305970bb2df0","name":"HTTP Request"},{"parameters":{"operation":"toBinary","sourceProperty":"voice_message","options":{"mimeType":"=audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1280,1504],"id":"abd8687f-cbfc-456e-8cc4-97210cd5571b","name":"Convertir a audio/ogg1"},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"sender","value":"={{ $('Verificar quien Escribe').item.json.body.data.key.senderLid }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message_type","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"text_message","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"voice_message","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"5a9a7ae9-ce91-4634-ad5c-fb0d446aabac","name":"session_id","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"cf8e5bf6-5c0e-4308-9ed4-a47fffadbb36","name":"date_time","value":"={{ $('Webhook').item.json.body.date_time }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"name","value":"={{ $('Webhook').item.json.body.data.pushName }}\n\n","type":"string"},{"id":"48766a3a-0864-4a7f-baa7-d56f14a60ec8","name":"id","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"bed0dc41-5873-49f6-b6f7-d8f7860b245b","name":"time","value":"={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s').toLocal() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2176,1504],"id":"79326c4b-af8b-40c7-b4b4-d4836757a27a","name":"data message extraction"},{"parameters":{"assignments":{"assignments":[{"id":"a386845c-a9a6-4cad-b816-5e8fd5a49779","name":"final_message_voice","value":"={{ $json.text }}","type":"string"},{"id":"fa5968d2-69af-4068-b921-05e39a112aa9","name":"session_id","value":"={{ $('data message extraction').item.json.session_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,1504],"id":"56efcedd-77cd-49a5-b8cc-48eea79dc30a","name":"final_message_voice"},{"parameters":{"assignments":{"assignments":[{"id":"5231578b-a0b5-4dfc-962c-35efbc97ce15","name":"final_message_text","value":"={{ $json.text_message }}","type":"string"},{"id":"dab6d3ca-8bf8-4c25-9c08-6c0fc5f9ebcf","name":"session_id","value":"={{ $('data message extraction').item.json.session_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1072,1264],"id":"ddf8b21a-706c-40c4-bd4d-aaf909e99364","name":"final_message_text"},{"parameters":{"assignments":{"assignments":[{"id":"5231578b-a0b5-4dfc-962c-35efbc97ce15","name":"final_message","value":"={{ $json.final_message_text }} {{ $json.final_message_voice }}","type":"string"},{"id":"dab6d3ca-8bf8-4c25-9c08-6c0fc5f9ebcf","name":"session_id","value":"={{ $('data message extraction').item.json.session_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-688,1264],"id":"3d7dafc6-deef-4530-9c14-52aaedfe0728","name":"final_message"},{"parameters":{"assignments":{"assignments":[{"id":"fdaaa5c7-a1a8-4f0f-b775-dbb1df5f754e","name":"concat_message","value":"={{ $json.message.map(m => JSON.parse(m).message).join('\\n') }}","type":"string"},{"id":"dbb5014c-ccc9-4aed-bdee-a2e90092c775","name":"session_id","value":"={{ $('data message extraction').item.json.sender }}","type":"string"},{"id":"cb83d288-5aac-4b3a-915e-b843da9b4ad1","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,1264],"id":"2b53ebd1-7609-49bf-96d5-b796a0c9fb8c","name":"Un_solo_message"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a6a2789-9ff6-4ab3-95da-65c7f99af9ef","leftValue":"={{ $json.message_type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":"={{ false }}","options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1664,1312],"id":"8e1348b3-1e63-472f-9027-3c2403762785","name":"If"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1072,1504],"id":"e2039729-97e9-4b28-b6e1-a9c598cec2e1","name":"Transcribir Audio","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2112,1136],"id":"d6204df3-e91b-41b3-ab86-24744c141e05","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"064bc845-5c7d-4c02-9d20-57d780823da9","leftValue":"={{ $json['bot-state'] }}","rightValue":"blocked-bot","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2368,1488],"id":"9ef7eaf7-6114-4da0-9f06-919303a8b254","name":"If3"},{"parameters":{"operation":"delete","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2368,1120],"id":"b1334dc8-0ea7-45f7-9203-ea0534d7208b","name":"Activar Bot","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"operation":"set","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","value":"blocked-bot","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2368,1296],"id":"f8bda767-d2f5-45f4-bf8b-9e8726cf46b3","name":"Bloquea al Agente","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b226403-e859-4d73-b14a-5cdc22e85e3c","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":".","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2560,1200],"id":"9d71098f-31cb-4f30-b6f6-0fdcc71e2e6f","name":"Verificar palabra Clave"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8b64fab-0278-4873-94b1-665efa5c4f76","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2784,1360],"id":"7bdc3a90-6861-4cda-9dbe-3219eab96401","name":"Verificar quien Escribe"},{"parameters":{"operation":"get","propertyName":"bot-state","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2560,1488],"id":"5e9f040a-906a-4b4a-a886-3a34adc88811","name":"verificar bloqueo","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"httpMethod":"POST","path":"7a2c2a2a-8f5d-4a77-b916-5fa8d2174815","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3072,1616],"id":"3823ac02-8a8f-4f6d-92c2-2b6fb6ca48ee","name":"Webhook","webhookId":"7a2c2a2a-8f5d-4a77-b916-5fa8d2174815"},{"parameters":{"descriptionType":"manual","toolDescription":"Cuando el usuario escriba la palabra \"humano\" ejecuta esta tool","operation":"set","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","value":"blocked-bot","expire":true,"ttl":300},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[560,1776],"id":"ec82e11f-12bc-4cc1-a365-e0598dfe19be","name":"Humano","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"operation":"push","list":"={{ $('data message extraction').item.json.session_id }}","messageData":"={{ JSON.stringify(\n{\n  'message': $json.final_message,\n  'id': $('data message extraction').item.json.id,\n  'time': $('data message extraction').item.json.time\n}\n) \n}}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-464,1264],"id":"d724bbf5-c346-4936-8496-f0d1f5d78e0c","name":"Buffer","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('final_message').item.json.session_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-256,1264],"id":"d6d633c8-c501-4a9b-a0b0-06df9d9b926f","name":"Get_buffer_data","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[144,1120],"id":"7d4b3c2a-b6aa-42a3-bb75-9542fd9724c7","name":"No Operation1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.message.last()).id  }}","rightValue":"={{ $('data message extraction').item.json.id }}","operator":{"type":"string","operation":"notEquals"},"id":"98d1a5e3-385e-4584-b205-87efed40d501"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"953bdd59-05aa-426c-890b-fb5825803985","leftValue":"={{ JSON.parse($json.message.last()).time }}","rightValue":"={{ $now.minus({ seconds: 7 }).toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuar"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-80,1248],"id":"a2fb44b7-df62-41c7-b5d8-62900dd7f2c3","name":"Switch"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-272,1056],"id":"3ad91ff1-f255-4f54-b5e0-4fc994e5fac4","name":"Wait2","webhookId":"56271429-b6c3-493a-8bfe-f3a2be62c7a3"},{"parameters":{"operation":"delete","key":"={{ $('data message extraction').item.json.session_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[144,1264],"id":"561bcd56-e45c-415e-bd26-650b870506f5","name":"Delete_buffer1","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"description":"Utiliza esta herramienta para mejorar tus acciones añadiendo una capa más de razonamiento antes de ejecutar."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[832,1776],"id":"31b0b8b3-f8e5-4c6d-b40a-b83708de406d","name":"Think"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('final_message').item.json.session_id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[400,1776],"id":"f45bfd0c-43af-479d-837c-ac96b5bdb19d","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Crear un evento en Google Calendar","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"start":"={{ $fromAI('fechaInicio') }}","end":"={{ $fromAI('fechaFin') }}","additionalFields":{"color":"6","description":"={{ $fromAI('descripcion') }}","showMeAs":"opaque","summary":"={{ $fromAI('titulo') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-1104,2192],"id":"b81dab51-4d54-4c5e-bd50-97ef4865adbe","name":"Crear Evento","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Editar Evento en Google Calendar","operation":"update","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"eventId":"={{ $fromAI('idEventoModificar') }}","updateFields":{"description":"={{ $fromAI('descripcion') }}","end":"={{ $fromAI('fechaFin') }}","start":"={{ $fromAI('fechaInicio') }}","summary":"={{ $fromAI('titulo') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-832,2192],"id":"f3a9a3fb-0bf5-42be-8f9e-4951c1199c1c","name":"Editar Evento","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Eliminar Evento en Google Calendar","operation":"delete","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"eventId":"={{ $fromAI('idEventoModificar') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-704,2192],"id":"34d22657-8282-45a2-8c31-98d133a474f1","name":"Eliminar Evento","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Obtener Eventos de Google Calendar","operation":"getAll","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"timeMin":"={{ $fromAI(\"unDiaAntes\", \"dia previo a la fecha solicitada\") }}","timeMax":"={{ $fromAI(\"unDiaDespues\", \"dia siguiente a la fecha solicitada\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-560,2192],"id":"39389258-6e54-475f-a7bb-a8694d60c34a","name":"Obtener Eventos","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[224,1776],"id":"67d959d7-1999-4cdb-87a6-754f8943a3a2","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"nP1YZmGaWN1xgdRX","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.message.last()).id  }}","rightValue":"={{ $('data message extraction').item.json.id }}","operator":{"type":"string","operation":"notEquals"},"id":"98d1a5e3-385e-4584-b205-87efed40d501"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"953bdd59-05aa-426c-890b-fb5825803985","leftValue":"={{ JSON.parse($json.message.last()).time }}","rightValue":"={{ $now.minus({ seconds: 7 }).toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"caf0df85-ead2-44c0-a327-c38339608a5f","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1776,976],"id":"2d598b66-b02f-4389-a758-c85b513d3bb4","name":"Switch1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Describe la imagen en detalle. \n\nEsta es el caption de la imagen para contexto: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1120,1008],"id":"b08a0c6c-89d2-407b-832a-a9a5cdd8da0d","name":"Analyze Image","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"content":"## Audio","height":200,"width":624},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1376,1472],"id":"7c93f044-a8dd-437a-9603-42345eaace20","name":"Sticky Note"},{"parameters":{"content":"## Imagen y Text","height":220,"width":592,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1376,960],"id":"7a1ab6e2-11fb-4a4a-b454-276335226869","name":"Sticky Note1"},{"parameters":{"content":"## Solo Text","width":608,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1376,1248],"id":"9e47df4d-0557-4779-8504-4945b8db98dc","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"assignment-id-2","name":"text","value":"=El usuario proporcionó la siguiente imagen y texto.\n\nDescripción de la Imagen:\n{{ $json.content }}\n\nMensaje del usuario: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,1008],"id":"8053ca1f-2a8e-4de7-95bb-e761c8f1ce0e","name":"Image + Text"},{"parameters":{"content":"## Video","height":228,"width":608,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1376,688],"id":"76b421c6-d990-4c45-944e-c5d7fd08bbc0","name":"Sticky Note6"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1344,752],"id":"664d4da7-84e9-482a-8c5f-01c9aab80651","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $('HTTP Request3').item.json.mime_type}}\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        },\n        {\n          \"text\": \"Describe el contenido de este video.\"\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1168,752],"id":"746a1299-9257-4dbc-a972-5cea6d490a34","name":"HTTP Request4","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"assignment-id-4","name":"text","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-992,752],"id":"6ab52a16-09ef-4375-8cbb-fc14e02c12d0","name":"Edit Fields3"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,352],"id":"0f1fb515-d853-435e-9a93-b45bfc80a430","name":"Download Image","credentials":{"evolutionApi":{"id":"Q1PNCRcODeTICQTF","name":"Evolution account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,112],"id":"037b9593-e4f4-4ec8-a16b-4fe3d17bd7ef","name":"Download Audio","credentials":{"evolutionApi":{"id":"Q1PNCRcODeTICQTF","name":"Evolution account"}}},{"parameters":{"content":"## Entrada","height":840,"width":440,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,80],"id":"acc8d297-ad75-44d6-ac05-077e7ba3475f","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"assignment-id-1","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,112],"id":"e81b29a7-adc3-4bd6-b5e4-283d32909dcd","name":"Text"},{"parameters":{"assignments":{"assignments":[{"id":"assignment-id-3","name":"text","value":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,560],"id":"dd4e7b31-c797-4ab6-ab5e-2371f9e61a1a","name":"Text Only"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[288,112],"id":"8aea2add-ae11-4668-9312-fc735c90bedd","name":"Transcribe","credentials":{"openAiApi":{"id":"r8djHEeAWWI0Jv49","name":"OpenAi account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32,784],"id":"d7b76f2c-bdf5-4b6e-8071-3c282ad04094","name":"HTTP Request3","credentials":{"evolutionApi":{"id":"Q1PNCRcODeTICQTF","name":"Evolution account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Describe la imagen en detalle. \n\nEsta es el caption de la imagen para contexto: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[288,352],"id":"c4566b6b-10ea-4e60-9918-8c4cef1743ec","name":"Analyze Image1","credentials":{"openAiApi":{"id":"r8djHEeAWWI0Jv49","name":"OpenAi account"}}},{"parameters":{"content":"## Audio","height":200,"width":800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-176,80],"id":"c28dea6a-9029-49f2-ad4b-a5d3742b05a2","name":"Sticky Note4"},{"parameters":{"content":"## Imagen y Text","height":220,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-176,304],"id":"0e6112b7-bfed-404a-95aa-2b1739b50955","name":"Sticky Note5"},{"parameters":{"content":"## Solo Text","width":800,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-176,544],"id":"0f59ff54-c5f9-48e0-9942-d4238e65e0da","name":"Sticky Note7"},{"parameters":{"assignments":{"assignments":[{"id":"assignment-id-2","name":"text","value":"=El usuario proporcionó la siguiente imagen y texto.\n\nDescripción de la Imagen:\n{{ $json.content }}\n\nMensaje del usuario: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,352],"id":"039e7169-3f7e-4599-ba63-051c0e96672c","name":"Image + Text1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"condition-id-2","leftValue":"={{ $json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"condition-id-3","leftValue":"={{ $json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"condition-id-4"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"condition-id-5","leftValue":"={{ $json.messages[0].video }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-496,448],"id":"d1c4cb16-34d9-4e2c-9b67-94459e58140a","name":"Input1"},{"parameters":{"content":"## Video","height":228,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-176,736],"id":"efc01956-eae4-4ebf-8f58-14c978d96528","name":"Sticky Note8"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[208,784],"id":"99827bdf-914d-47ba-b7b5-ad7df605ee24","name":"Extract from File1"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $('HTTP Request3').item.json.mime_type}}\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        },\n        {\n          \"text\": \"Describe el contenido de este video.\"\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,784],"id":"aefae6d3-152f-4992-86d1-46b03ac2b47d","name":"HTTP Request5","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"assignment-id-4","name":"text","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,784],"id":"b36ad33c-4910-4b55-bf71-b0860b305c61","name":"Edit Fields"},{"parameters":{"descriptionType":"manual","toolDescription":"Obtener disponibilidad en un calendario en Google Calendar","resource":"calendar","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', `Horario disponible de inicio`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', `Horario disponible de fin`, 'string') }}","options":{"timezone":{"__rl":true,"value":"America/Caracas","mode":"list","cachedResultName":"America/Caracas"}}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-960,2192],"id":"3e423bd1-3d96-4f4f-b820-21b27ef2f457","name":"Disponibilidad","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3264,2288],"id":"1a1e5a58-425f-480a-85e3-aea46b60cf58","name":"Schedule Trigger","disabled":true},{"parameters":{"jsCode":"// Obtener la fecha y hora actual en formato ISO\nconst now = new Date().toISOString();\n\n// Obtener la fecha y hora actual + 5 minutos\nconst nowPlus5 = new Date(Date.now() + 5 * 60000).toISOString();\n\n// Retornar los valores en formato que n8n pueda usar\nreturn [\n  {\n    json: {\n      now: now,\n      nowPlus5: nowPlus5\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3040,2288],"id":"f6afb6d8-7909-48f0-8175-af4ea4b41eb6","name":"Code","disabled":true},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"db064f416880c116f5f7bba547c6b62f460208dd8c03a1ded288c9792ad48fc4@group.calendar.google.com","mode":"list","cachedResultName":"Recordatorios"},"eventId":"={{ $('Get many events').item.json.id }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-2080,2272],"id":"b0b8572c-b103-4cab-9d3a-fd95a11f5fc7","name":"Google Calendar1","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.summary }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"si"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7022b564-a53f-4019-9660-478b2f8bd6a1","leftValue":"={{ $json.summary }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"no"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2608,2288],"id":"6ee479bc-4e3f-447c-a0a0-ea595c5530b5","name":"Switch2","disabled":true},{"parameters":{"sendTo":"alvaradojuanm@gmail.com","subject":"Recordatorio","message":"=🚨 RECUERDA {{ $json.summary.toUpperCase() }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2352,2272],"id":"9343f9dc-76b3-4fa1-996d-bc26a072882c","name":"Send a message","webhookId":"4cb25456-d7f9-447c-ae31-0839ece72f28","credentials":{"gmailOAuth2":{"id":"Pgqkyd8w5QCACq2o","name":"Gmail account"}},"disabled":true},{"parameters":{"descriptionType":"manual","toolDescription":"Enviar un mensaje en Gmail","sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `El destinatario del email.`, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[16,2208],"id":"2ab75ea2-ae6d-487d-84ac-22dbb9139096","name":"Enviar Correo","webhookId":"b57b8367-72bd-46e5-b8f0-8433ce7eacbb","credentials":{"gmailOAuth2":{"id":"Pgqkyd8w5QCACq2o","name":"Gmail account"}}},{"parameters":{"description":"Invoca este agente cuando necesites:\n\nrevisar eventos en calendario\ncrear evento en calendario\neditar evento en calendario\neliminar evento en calendario\nenviar correo","workflowId":{"__rl":true,"value":"jV79KiW1BiQx4JgS","mode":"list","cachedResultName":"WhatsApp + Redis +"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2192,2256],"id":"59c40de3-aa32-40e7-b802-09214f380abb","name":"Agente","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# 📌 Descripción General  \nEres un **asistente inteligente de calendario**.  \nDebes ser **preciso, confiable y directo** en lo que ejecutas.  \nLa fecha y hora actual es: `{{ $now.setZone('UTC-4') }}`  \nZona horaria: **America/Caracas (UTC-4)**  \nFormato de hora: **12 horas (hh:mm AM/PM)**  \n\n---\n\n## 🎯 Reglas de Comportamiento  \n- Siempre responde de forma breve y clara, usando **emojis**.  \n- No mantienes conversaciones largas: solo ejecutas lo que pide el agente principal (Ana).  \n- Si el cliente pide información fuera de **disponibilidad, reservas, especialistas o horarios**, responde amablemente que no tienes esa información y retoma tu función principal.  \n- Nunca dupliques eventos en el mismo horario.  \n- Respeta siempre la duración estándar: **60 minutos por cita**.  \n\n---\n\n## 🔧 Funciones Disponibles  \n\n### 🗓 Crear Evento  \n- Si solo se indica hora de inicio → asigna duración de 60 min.  \n- Si no se da fecha → asume hoy.  \n- Si faltan título o descripción → solicita al agente principal que complete la información.  \n- Si el horario está ocupado:  \n  - Informa que no está disponible.  \n  - Recomienda el **próximo horario libre del mismo día** en bloques de 60 min.  \n- Confirmación de cita:  \n\n**✅ Cita creada exitosamente**  \n📌 **Título:** Reunión con Laura  \n📅 **Fecha:** 08-09-2025  \n🕑 **Hora:** 04:00 PM – 05:00 PM (UTC-4)  \n📍 **Ubicación/Enlace:** Sala de reuniones virtual (Google Meet)  \n\n---\n\n### 📋 Obtener Eventos  \n- Devuelve lista de eventos de un día o de un cliente.  \n- Ordena cronológicamente.  \n- Resumen en **una sola línea**:  \n  - 📌 Título | 🕑 Hora | ⏱️ Duración  \n\n---\n\n### ✏️ Modificar Evento  \n- Permite cambiar fecha, hora, título o descripción.  \n- Si no queda claro qué modificar → pide aclaración al agente principal.  \n\n---\n\n### 🗑 Eliminar Evento  \n- Cancela citas según lo indicado (por título, fecha u hora).  \n- Si hay ambigüedad → pide confirmación antes de eliminar.  \n\n---\n\n### 📧 Enviar Correo  \n- Casos: confirmación, invitación, cambio o cancelación.  \n- Incluye siempre:  \n  - 📌 Título del evento  \n  - 📅 Fecha y hora  \n  - 📍 Ubicación o enlace  \n  - ✉️ Mensaje cordial  \n\n---\n\n## 🔍 Validaciones y Reglas  \n1. Para **reagendar**, primero muestra al cliente sus citas.  \n2. Cancela la cita seleccionada y luego crea la nueva en el horario solicitado.  \n3. Toda cita dura siempre **60 minutos**.  \n4. Usa siempre **emojis** en tus respuestas.  \n5. Nunca confirmes una acción sin ejecutarla correctamente en calendario.  \n\n### 🔄 Validación de consistencia para múltiples citas  \n- Cuando el agente principal solicite **crear varias citas**:  \n  1. Verifica que el número de citas creadas coincida con las solicitadas.  \n  2. Si alguna no se pudo crear (bloqueo, duplicado, error de datos):  \n     - Notifica al agente principal cuál cita faltó.  \n     - Sugiere automáticamente horarios alternativos disponibles.  \n  3. No cierres el flujo hasta que confirmes que todas las citas fueron creadas o reemplazadas por alternativas aprobadas.  \n\n---\n\n## 🧭 Rol del Agente Secundario  \n- No interactúa de forma extensa con el cliente.  \n- **Ejecuta las instrucciones que recibe de Ana (agente principal)**.  \n- Devuelve siempre resultados claros, resumidos y con formato.  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2192,2464],"id":"88cab190-0192-4e58-ac17-dfb4196985e9","name":"Multi_Agente_IA","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1472,2160],"id":"9c20ff1a-5fcc-4447-b824-c79dd5d19d48","name":"Google Gemini Model","credentials":{"googlePalmApi":{"id":"nP1YZmGaWN1xgdRX","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[976,1776],"id":"f4eaf32e-709a-4ee0-b9bd-2c992cbd9fcd","name":"Postgres Chat Memory"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"returnAll":true,"options":{"timeMin":"={{ $json.now }}","timeMax":"={{ $json.nowPlus5 }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-2816,2288],"id":"bc16e472-6b80-4c68-846a-0268676aa967","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-1216,2192],"id":"b0cef374-c081-44e7-ba89-6cf994aef441","name":"Think1"},{"parameters":{"path":"b10a7406-84f1-4089-94cc-c2faac45f510"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[-672,1760],"id":"25b53088-b49e-43ea-bfb7-f183a307b71a","name":"MCP Server Trigger","webhookId":"b10a7406-84f1-4089-94cc-c2faac45f510"},{"parameters":{"endpointUrl":"https://n8n.dployxperts.com/mcp/b10a7406-84f1-4089-94cc-c2faac45f510","serverTransport":"httpStreamable","include":"selected","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[704,1776],"id":"740e77b9-3f89-4858-a072-a92e7750195e","name":"MCP Client"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-368,2208],"id":"aa8760b8-16de-4174-845a-60616f2aaa08","name":"Google Gemini Model1","credentials":{"googlePalmApi":{"id":"nP1YZmGaWN1xgdRX","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-96,2208],"id":"cf2e416b-7d0b-4b84-8ac4-87840058383c","name":"Think2"},{"parameters":{"toolDescription":"Eres un **asistente inteligente de calendario**.","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=# 📌 Descripción General  \nEres un **asistente inteligente de calendario**.  \nDebes ser **preciso, confiable y transparente** en todo lo que ejecutas.  \nLa fecha y hora actual es: `{{ $now.setZone('UTC-4') }}`  \nZona horaria: **America/Caracas (UTC-4)**  \nFormato de hora: **12 horas (hh:mm AM/PM)**  \n\n---\n\n## 🎯 Reglas de Comportamiento  \n- Siempre responde de forma breve y clara, usando **emojis**.  \n- No mantienes conversaciones largas: solo ejecutas lo que pide el agente principal (Ana).  \n- Nunca dupliques eventos en el mismo horario.  \n- Respeta siempre la duración estándar: **60 minutos por cita**.  \n- **IMPORTANTE:** Nunca responder “no disponible” sin mostrar:  \n  1. La lista completa de eventos existentes en esa fecha.  \n  2. Los horarios realmente ocupados.  \n  3. Los horarios libres que quedan.  \n\n---\n\n## 🔧 Funciones Disponibles  \n\n### 🗓 Crear Evento  \n- Antes de crear, consulta SIEMPRE la agenda del día con **Obtener Eventos**.  \n- Devuelve a Ana la lista de:  \n  - Eventos ocupados.  \n  - Horarios libres calculados en bloques de 60 minutos.  \n- Si el horario solicitado está libre → crea la cita.  \n- Si está ocupado → devuelve la evidencia (eventos del día) y recomienda el próximo horario libre.  \n\nConfirmación de cita:  \n\n**✅ Cita creada exitosamente**  \n📌 **Título:** Reunión con Laura  \n📅 **Fecha:** 08-09-2025  \n🕑 **Hora:** 04:00 PM – 05:00 PM (UTC-4)  \n📍 **Ubicación/Enlace:** Sala de reuniones virtual (Google Meet)  \n\n---\n\n### 📋 Obtener Eventos  \n- Devuelve SIEMPRE todos los eventos del día en orden cronológico.  \n- Además de los eventos, debes calcular y mostrar:  \n  - ⏱️ **Bloques ocupados**  \n  - 🟢 **Bloques libres disponibles**  \n- Ejemplo de respuesta:  \n  📌 Consulta Cardiología | 🕑 09:00 AM – 10:00 AM  \n  📌 Consulta Dermatología | 🕑 11:00 AM – 12:00 PM  \n  🟢 Horarios libres: 10:00 AM – 11:00 AM, 12:00 PM – 01:00 PM  \n\n---\n\n### ✏️ Modificar Evento  \n- Antes de modificar, **valida que el evento exista** con **Obtener Eventos**.  \n- Si no queda claro qué modificar → pide aclaración al agente principal.  \n\n---\n\n### 🗑 Eliminar Evento  \n- Antes de eliminar, **valida que el evento exista** con **Obtener Eventos**.  \n- Cancela citas según lo indicado (por título, fecha u hora).  \n- Si hay ambigüedad → pide confirmación antes de eliminar.  \n\n---\n\n### 📧 Enviar Correo  \n- Casos: confirmación, invitación, cambio o cancelación.  \n- Incluye siempre:  \n  - 📌 Título del evento  \n  - 📅 Fecha y hora  \n  - 📍 Ubicación o enlace  \n  - ✉️ Mensaje cordial  \n\n---\n\n## 🔍 Validaciones y Reglas  \n1. Para **reagendar**, primero muestra al cliente sus citas y la disponibilidad real del nuevo horario.  \n2. Nunca confirmes “no disponible” sin:  \n   - Mostrar los eventos reales del día.  \n   - Calcular y devolver los horarios libres.  \n3. Toda cita dura siempre **60 minutos**.  \n4. Usa siempre **emojis** en tus respuestas.  \n5. Antes de rechazar una cita → **doble validación**: consultar agenda y calcular horarios libres.  \n\n---\n\n## 🧭 Rol del Agente Secundario  \n- No interactúa de forma extensa con el cliente.  \n- **Ejecuta instrucciones de Ana con precisión.**  \n- Devuelve siempre:  \n  - Lista real de eventos.  \n  - Horarios ocupados.  \n  - Horarios libres.  \n- Solo después de esto puede decir si el horario está disponible o no.  \n"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-1072,1920],"id":"92e144e6-c010-48fd-94f5-128671107fea","name":"Agendador"},{"parameters":{"toolDescription":"Eres un **asistente de integraciones y automatización**. ","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=# 📌 Descripción General  \nEres un **asistente de integraciones y automatización**.  \nTu misión es ejecutar de forma **precisa, confiable y validada** acciones relacionadas con contactos, oportunidades en Odoo y envío de correos.  \nNunca interactúas con el cliente, solo respondes a instrucciones del **Asistente Virtual (Ana)**.  \n\nLa fecha y hora actual es: `{{ $now.setZone('UTC-4') }}`  \nZona horaria: **America/Caracas (UTC-4)**  \n\n---\n\n## 🎯 Reglas de Comportamiento  \n- No hablas con el cliente, solo con **Ana**.  \n- Devuelves confirmaciones claras y estructuradas con ✅ o ❌.  \n- Siempre consultas antes de ejecutar.  \n- Nunca modificas ni eliminas contactos u oportunidades.  \n- Si Ana pide modificar o eliminar → responde:  \n  **“❌ No puedo modificar ni eliminar datos de contacto. Indica al cliente que debe comunicarse con un ejecutivo de la empresa.”**  \n\n---\n\n## 🔧 Funciones Disponibles  \n\n### 👤 Contactos (Odoo)  \n- **Obtener contacto por Tax ID = (Cédula o RIF):**  \n  - Debes ejecutar esta validación **siempre antes de crear**.  \n  - Si existe → devolver los datos encontrados en formato estructurado.  \n  - Si no existe → informar claramente: **“❌ Contacto no registrado en Odoo”**.  \n\n- **Crear contacto:** (solo si no existe)  \n  - Datos mínimos:  \n    - Tax ID (Cédula o RIF)  \n    - Nombre completo (Name)  \n    - Correo electrónico (Email)  \n    - Dirección (Internal Notes)  \n    - Teléfono celular (Mobile)  \n    - Teléfono local (Phone)  \n  - Confirmar creación con:  \n    **✅ Contacto creado en Odoo**  \n\n---\n\n### 📈 Oportunidades (Odoo)  \n- Crear una oportunidad de venta asociada al contacto.  \n- Validación obligatoria: **confirmar que el contacto existe primero**.  \n- Datos mínimos:  \n  - Nombre del cliente  \n  - Servicio de interés  \n  - Estado inicial = “Nueva”  \n  - Observaciones (si aplica)  \n- Confirmar con:  \n  **✅ Oportunidad registrada en Odoo**  \n\n---\n\n### 📧 Enviar Correo (Gmail)  \n- Antes de enviar → validar que se proporcionen todos los campos obligatorios.  \n- Casos principales:  \n  - Confirmación de cita creada  \n  - Confirmación de reagendamiento  \n  - Cancelación de cita  \n\n- Contenido mínimo del correo:  \n  - 📌 Título del evento  \n  - 📅 Fecha y hora  \n  - 📍 Ubicación o enlace  \n  - ✉️ Mensaje cordial  \n\n- Confirmar envío con:  \n  **✅ Correo enviado al cliente**  \n\n---\n\n## 🔍 Validaciones y Reglas  \n1. **Validación obligatoria de Tax ID:** Nunca crear contacto sin antes ejecutar “Obtener contacto por Tax ID”.  \n2. Si el contacto existe → devolver datos a Ana sin crear duplicados.  \n3. Si no existe → registrar el nuevo contacto con todos los campos requeridos.  \n4. Antes de crear oportunidad → validar que el contacto ya esté en Odoo.  \n5. Antes de enviar correo → validar que se entreguen todos los datos mínimos del evento.  \n6. Nunca procesar múltiples contactos u oportunidades a la vez, solo uno por ejecución.  \n7. Siempre devolver confirmaciones estructuradas (✅ éxito, ❌ error).  \n\n---\n\n## 🧭 Rol del Agente Herramientas  \n- **No conversa con el cliente.**  \n- Ejecuta únicamente tareas técnicas solicitadas por Ana.  \n- Debe **validar, ejecutar y confirmar** en cada paso.  \n- Devuelve resultados claros y resumidos para que Ana los comunique al cliente.  \n"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-176,1936],"id":"278dbc5f-ee7f-4f87-9326-90d3be2f0f8a","name":"Herramientas"},{"parameters":{"descriptionType":"manual","toolDescription":"Crear un contacto en Odoo","contactName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}","additionalFields":{"email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}","comment":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Internal_Notes', `Colocar direccion del contacto`, 'string') }}","mobile":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mobile', ``, 'string') }}","phone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}","vat":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tax_ID', `Colocar numero de identificacion (cedula o rif)`, 'string') }}"}},"type":"n8n-nodes-base.odooTool","typeVersion":1,"position":[192,2208],"id":"2acf3bd6-3e21-405f-b187-ef42df0c745e","name":"Crear contacto Odoo","credentials":{"odooApi":{"id":"q4uqnJ6E4Ixod1TP","name":"Odoo account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Crear una oportunidad en Odoo","resource":"opportunity","opportunityName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}","additionalFields":{"email_from":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}","expected_revenue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Expected_Revenue', ``, 'number') }}","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Internal_Notes', ``, 'string') }}","phone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}"}},"type":"n8n-nodes-base.odooTool","typeVersion":1,"position":[560,2208],"id":"5a8d7f56-3928-4b80-9512-dc54e02b0110","name":"Crear Oportunidad en Odoo","credentials":{"odooApi":{"id":"q4uqnJ6E4Ixod1TP","name":"Odoo account"}}},{"parameters":{"promptType":"define","text":"=Nombre del usuario al que te diriges: {{ $('Webhook').item.json.body.data.pushName }}\n\nContenido del mensaje del usuario: {{ $json.concat_message }}","options":{"systemMessage":"=# 📌 Descripción General  \nEres **Ana**, un asistente virtual de **DployXperts**, una empresa especializada en **Infraestructura Tecnológica e Inteligencia Artificial**.  \nTu rol es ser el **primer canal de atención** para clientes interesados en soluciones tecnológicas, con un tono **profesional, cordial y claro**.  \n\nResponde siempre con un lenguaje **preciso, técnico pero accesible**, en un máximo de **400 caracteres por respuesta**.  \n\n---\n\n## 🏢 Contexto Empresarial  \nDployXperts es líder en el diseño, implementación y administración de entornos TI de alto rendimiento.  \n- Infraestructura Tecnológica & Cloud (AWS/GCP)  \n- Inteligencia Artificial & Machine Learning  \n- CI/CD & Automatización (N8N)  \n- Contenedores & Orquestación (Docker, Kubernetes)  \n- Administración de Servidores & Redes (Linux/Windows, Cisco)  \n- Seguridad Informática & Site Reliability Engineering (SRE)  \n\nImpulsamos la **transformación digital** con soluciones integrales que abarcan arquitecturas **on-premise, híbridas y multicloud**, garantizando **escalabilidad, seguridad y eficiencia operativa**.  \n\n---\n\n## 🎯 Reglas de Comportamiento  \n- En una nueva conversación: **preséntate con tu nombre y menciona el centro médico**.  \n- Valida el **ID del chat** para evitar presentarte de nuevo si ya interactuaste con el usuario.  \n- Si el usuario escribe **\"humano\"**, ejecuta la tool **Humano**.  \n- Fecha actual: **{{ $now.toFormat(\"dd-MM-yyyy hh:mm a ZZ\") }}**  \n  - Zona horaria: **America/Caracas (UTC-4)**  \n  - Usa siempre el **formato de 12 horas (hh:mm AM/PM)** al mostrar horarios.  \n- Mantén **continuidad del tema** utilizando memoria.  \n- **IMPORTANTE:** Nunca modificar ni eliminar datos de contacto.  \n  - Si el cliente pide modificar/borrar → indicar amablemente que debe contactar con un **ejecutivo de la empresa**.  \n- **IMPORTANTE:** Solo se puede agendar **una cita a la vez**.  \n  - Si el cliente envía varias opciones en un mismo mensaje → pídele que indique **una sola fecha y hora**.  \n\n---\n\n## 🧭 Rol Principal  \n\n### 📅 Agendar  \n1. Presentarte por tu nombre y mencionar **DployXperts**.  \n2. Preguntar cual es el requerimineto que tiene el  cliente a resolver. \n3. Compartir información breve del servicio.  \n4. Preguntar por la **Cédula o RIF (Tax ID)** del cliente.  \n   - **Normalizar siempre el Tax ID** → eliminar puntos, comas u otros símbolos. Ejemplo: `16.760.320` → `16760320`.  \n   - **Guardar en memoria el Tax ID para todo el flujo**.  \n5. Pedir al **Herramientas** que consulte en Odoo si el contacto existe.  \n   - Si existe → pasar directo a pedir fecha y hora de la cita.  \n   - Si no existe → solicitar los **datos obligatorios**:  \n     - **Nombre completo (Name)**  \n     - **Correo electrónico (Email)**  \n     - **Dirección (se registrará en “Internal Notes”)**  \n     - **Teléfono celular (Mobile)**  \n     - **Teléfono local (Phone) → opcional**  \n   - **Al confirmar con el cliente, incluir también el Tax ID previamente guardado junto a los demás datos.**  \n   - Pedir al **Herramientas** que registre el nuevo contacto en Odoo.  \n6. Preguntar qué día y hora desea agendar (una sola cita).  \n7. Pedir al **Agendador** que verifique disponibilidad en ese horario.  \n8. Si hay disponibilidad → pedir al **Agendador** que agende la cita.  \n9. Pedir al **Herramientas** que envíe correo de confirmación al cliente.  \n\n### 🔄 Reagendar  \n1. Preguntar al cliente si desea mover una cita existente.  \n2. Pedir al **Agendador** que muestre las citas del cliente.  \n3. Preguntar cuál cita quiere mover y a qué nuevo día/hora.  \n4. Pedir al **Agendador** que cancele la cita original.  \n5. Pedir al **Agendador** que cree la nueva cita en el horario solicitado.  \n6. Confirmar con el cliente que sus datos de contacto siguen siendo los mismos.  \n7. Pedir al **Herramientas** que envíe correo de confirmación.  \n\n### ❌ Cancelar  \n1. Preguntar al cliente qué cita desea cancelar.  \n2. Pedir al **Agendador** que muestre las citas del cliente.  \n3. Confirmar con el cliente cuál cita se eliminará.  \n4. Pedir al **Agendador** que cancele esa cita.  \n5. Pedir al **Herramientas** que envíe correo de cancelación.  \n6. Ofrecer al cliente la opción de agendar otra en una nueva fecha.  \n\n---\n\n## ⏰ Contexto Temporal  \nUsa como referencia la fecha y hora actual en la zona horaria **UTC-4**:  \n`{{ $now.setZone('UTC-4') }}`  \n\n---\n\n## 🗣️ Estilo de Comunicación  \n- Claro, respetuoso y directo.  \n- Adaptado a las prioridades del usuario.  \n- Cercano y cálido, sin perder profesionalismo.  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[464,1488],"id":"45d96348-8b9e-4667-9193-a5eee8e2e9ec","name":"Asistente Virtual"},{"parameters":{"operation":"getAll","options":{"fieldsList":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fields_to_Include', ``, 'string') }}"}},"type":"n8n-nodes-base.odooTool","typeVersion":1,"position":[368,2208],"id":"91a11bc4-9956-4729-99f9-da77f496614f","name":"Obtener contactos en Odoo","credentials":{"odooApi":{"id":"q4uqnJ6E4Ixod1TP","name":"Odoo account"}}},{"parameters":{"inputSource":"passthrough"},"id":"d69bf444-7bbf-43d6-a873-4c6d392d9c6f","typeVersion":1.1,"name":"Multi_Agente","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1920,2464],"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('final_message').item.json.session_id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1328,2176],"id":"fe30f055-1377-4ae0-a65e-f56b08a4e53a","name":"Simple Memory1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('final_message').item.json.session_id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-208,2224],"id":"3d9cd93e-88c5-45fb-9189-ef0537c4ecab","name":"Simple Memory2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8b64fab-0278-4873-94b1-665efa5c4f76","leftValue":"={{ $json.session_id }}","rightValue":"584128499163","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1904,1664],"id":"6fb24fa4-abfd-4dc1-979b-4094d6fcc0d0","name":"Omitir","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1648,1568],"id":"3f541044-121c-4da9-bd8d-f7675fa0b339","name":"No Operation, do nothing"}],"connections":{"Convertir a audio/ogg1":{"main":[[{"node":"Transcribir Audio","type":"main","index":0}]]},"data message extraction":{"main":[[{"node":"If","type":"main","index":0}]]},"final_message_voice":{"main":[[{"node":"final_message","type":"main","index":0}]]},"final_message_text":{"main":[[{"node":"final_message","type":"main","index":0}]]},"final_message":{"main":[[{"node":"Buffer","type":"main","index":0}]]},"Un_solo_message":{"main":[[{"node":"Asistente Virtual","type":"main","index":0}]]},"If":{"main":[[{"node":"final_message_text","type":"main","index":0}],[{"node":"Convertir a audio/ogg1","type":"main","index":0}]]},"Transcribir Audio":{"main":[[{"node":"final_message_voice","type":"main","index":0}]]},"If3":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"data message extraction","type":"main","index":0}]]},"Bloquea al Agente":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Verificar palabra Clave":{"main":[[{"node":"Activar Bot","type":"main","index":0}],[{"node":"Bloquea al Agente","type":"main","index":0}]]},"Verificar quien Escribe":{"main":[[{"node":"Verificar palabra Clave","type":"main","index":0}],[{"node":"verificar bloqueo","type":"main","index":0}]]},"verificar bloqueo":{"main":[[{"node":"If3","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Verificar quien Escribe","type":"main","index":0}]]},"Humano":{"ai_tool":[[{"node":"Asistente Virtual","type":"ai_tool","index":0}]]},"Buffer":{"main":[[{"node":"Get_buffer_data","type":"main","index":0}]]},"Get_buffer_data":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Get_buffer_data","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation1","type":"main","index":0}],[{"node":"Delete_buffer1","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Delete_buffer1":{"main":[[{"node":"Un_solo_message","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Asistente Virtual","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Asistente Virtual","type":"ai_memory","index":0}]]},"Crear Evento":{"ai_tool":[[{"node":"Agendador","type":"ai_tool","index":0}]]},"Editar Evento":{"ai_tool":[[{"node":"Agendador","type":"ai_tool","index":0}]]},"Eliminar Evento":{"ai_tool":[[{"node":"Agendador","type":"ai_tool","index":0}]]},"Obtener Eventos":{"ai_tool":[[{"node":"Agendador","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Asistente Virtual","type":"ai_languageModel","index":0}]]},"Analyze Image":{"main":[[{"node":"Image + Text","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Analyze Image1","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"Text","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Analyze Image1":{"main":[[{"node":"Image + Text1","type":"main","index":0}]]},"Input1":{"main":[[{"node":"Download Audio","type":"main","index":0}],[{"node":"Download Image","type":"main","index":0}],[{"node":"Text Only","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Disponibilidad":{"ai_tool":[[{"node":"Agendador","type":"ai_tool","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Enviar Correo":{"ai_tool":[[{"node":"Herramientas","type":"ai_tool","index":0}]]},"Google Gemini Model":{"ai_languageModel":[[{"node":"Agendador","type":"ai_languageModel","index":0}]]},"Get many events":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Think1":{"ai_tool":[[{"node":"Agendador","type":"ai_tool","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Asistente Virtual","type":"ai_tool","index":0}]]},"Google Gemini Model1":{"ai_languageModel":[[{"node":"Herramientas","type":"ai_languageModel","index":0}]]},"Think2":{"ai_tool":[[{"node":"Herramientas","type":"ai_tool","index":0}]]},"Agendador":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Herramientas":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Crear contacto Odoo":{"ai_tool":[[{"node":"Herramientas","type":"ai_tool","index":0}]]},"Crear Oportunidad en Odoo":{"ai_tool":[[{"node":"Herramientas","type":"ai_tool","index":0}]]},"Asistente Virtual":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Obtener contactos en Odoo":{"ai_tool":[[{"node":"Herramientas","type":"ai_tool","index":0}]]},"Multi_Agente":{"main":[[{"node":"Multi_Agente_IA","type":"main","index":0}]]},"Omitir":{"main":[[],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Caracas","callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.dployxperts.com","user-agent":"axios/1.10.0","content-length":"1132","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"31.97.135.186","cf-ipcountry":"US","cf-ray":"983ed03198dc5a29-EWR","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"172.71.203.52","x-forwarded-host":"n8n.dployxperts.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"09d704c9b26e","x-real-ip":"172.71.203.52"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"DployXperts","data":{"key":{"remoteJid":"584128499163@s.whatsapp.net","fromMe":false,"id":"3EB0D3B6419D85A9C3F976","senderLid":"263878579613915@lid"},"pushName":"Juan Alvarado","status":"DELIVERY_ACK","message":{"conversation":"hola","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"ydtJdZ7p/mAjHQ==","senderTimestamp":"1758045511","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"c45w/WypHQk8Zw==","recipientTimestamp":"1757963337"},"deviceListMetadataVersion":2,"messageSecret":"nLQmnF3vDyo8aD3EASXTLMas5Cv558xrK4bzsutOHWM=","limitSharingV2":{"sharingLimited":true,"trigger":"CHAT_SETTING","limitSharingSettingTimestamp":"1754366851879","initiatedByMe":false}}},"messageType":"conversation","messageTimestamp":1758680537,"instanceId":"33d2e56f-75a8-46d9-89e0-fd7feac283a5","source":"web"},"destination":"https://n8n.dployxperts.com/webhook/7a2c2a2a-8f5d-4a77-b916-5fa8d2174815","date_time":"2025-09-23T23:22:17.792Z","sender":"584242849028@s.whatsapp.net","server_url":"https://evolution.dployxperts.com","apikey":"8210DE90CEAE-4EB6-BDF7-FACF2C761197"},"webhookUrl":"https://n8n.dployxperts.com/webhook/7a2c2a2a-8f5d-4a77-b916-5fa8d2174815","executionMode":"production"}}]},"versionId":"3cdfa992-95d8-4e02-a66c-ce3f305b1849","triggerCount":2,"shared":[{"createdAt":"2025-08-09T01:04:21.625Z","updatedAt":"2025-08-09T01:04:21.625Z","role":"workflow:owner","workflowId":"jV79KiW1BiQx4JgS","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}