caso-7-evaluacion-2-sib9ctuLtch2kWpt.json
{"createdAt":"2025-10-04T20:09:26.794Z","updatedAt":"2025-10-04T22:02:20.476Z","id":"sib9ctuLtch2kWpt","name":"Caso 7 Evaluacion 2","active":false,"isArchived":true,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[304,272],"id":"dce473a3-dc76-40bc-8df7-b0c208d4f2b8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"r8djHEeAWWI0Jv49","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"[\n  {\n  \"output\":{\n    \"category\":\"\",\n    \"priority\":\"\"\n  },\n  \"intermediateSteps\":[\n    \n  ]\n}\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[608,272],"id":"7abf2c49-3954-451c-be4c-da48cbc95307","name":"Structured Output Parser"},{"parameters":{"operation":"checkIfEvaluating"},"type":"n8n-nodes-base.evaluation","typeVersion":4.6,"position":[752,48],"id":"73bbf9dc-6f68-49d8-821d-3e7024a8823d","name":"check_type"},{"parameters":{"documentId":{"__rl":true,"value":"1KtX8kXEQTgiJ_gdT99_2ZgpLxRHa6JoiOjxfmn8502M","mode":"list","cachedResultName":"Casos de Prueba n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KtX8kXEQTgiJ_gdT99_2ZgpLxRHa6JoiOjxfmn8502M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KtX8kXEQTgiJ_gdT99_2ZgpLxRHa6JoiOjxfmn8502M/edit#gid=0"},"outputs":{"values":[{"outputName":"categoria_actual","outputValue":"={{ $json.output.Categoria }}"},{"outputName":"prioridad_actual","outputValue":"={{ $json.output.Prioridad }}"}]}},"type":"n8n-nodes-base.evaluation","typeVersion":4.6,"position":[1088,48],"id":"e200fd0e-50d2-459b-a097-9a25cdda9856","name":"set_outputs","credentials":{"googleSheetsOAuth2Api":{"id":"8zUn17HAvdcPCK4t","name":"Google Sheets account 3"}}},{"parameters":{"operation":"setMetrics","metrics":{"assignments":[{"name":"categoria_match","value":"={{ $('AI Support Ticket Agent').item.json.output.Categoria == $('start_tests').item.json.categoria_esperada}}","type":"number","id":"2c6aad8b-f8a6-4136-a20f-5fc12d499f82"},{"id":"0fe2042e-0487-435c-bc87-2c6bf0ecf4c1","name":"prioridad_match","value":"={{ $('AI Support Ticket Agent').item.json.output.Prioridad ==$('start_tests').item.json.prioridad_esperada }}","type":"number"}]}},"type":"n8n-nodes-base.evaluation","typeVersion":4.6,"position":[1312,48],"id":"25ab6ba6-8237-4a3e-990d-c3984130e8fd","name":"compare_outputs"},{"parameters":{"promptType":"define","text":"=Body:  {{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"Eres un asistente que define el nivel de prioridad de un requerimiento, de entradas recibirás el texto del correo de soporte, retorna la categoría y prioridad de acuerdo a la siguiente clasificación: \n\nCategoria: \"Bug , Incidente, Requerimiento\" \nPrioridad: \"Alta, Media , Baja\"","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[384,48],"id":"b2313e59-82af-486a-81ed-4b788b7afc76","name":"AI Support Ticket Agent"},{"parameters":{"public":true,"initialMessages":"Agente de Soporte de Incidentes","options":{"subtitle":"","title":"","responseMode":"responseNode"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"a473a385-ea0e-439c-ba1f-d8428b7eaa82","name":"trigger_chat","webhookId":"0c0a9777-e3ff-4472-b45a-cd8ce9279db6"},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"value":"","mode":"list","cachedResultName":"","cachedResultUrl":""}},"type":"n8n-nodes-base.evaluationTrigger","typeVersion":4.6,"position":[0,208],"id":"80913521-9de7-4626-96b3-d3a8256024d9","name":"start_tests","credentials":{"googleSheetsOAuth2Api":{"id":"8zUn17HAvdcPCK4t","name":"Google Sheets account 3"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[944,208],"id":"121d98a7-4d5e-4583-906b-dfd280dff61f","name":"Respond to Webhook"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Support Ticket Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Support Ticket Agent","type":"ai_outputParser","index":0}]]},"check_type":{"main":[[{"node":"set_outputs","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"set_outputs":{"main":[[{"node":"compare_outputs","type":"main","index":0}]]},"AI Support Ticket Agent":{"main":[[{"node":"check_type","type":"main","index":0}]]},"trigger_chat":{"main":[[{"node":"AI Support Ticket Agent","type":"main","index":0}]]},"start_tests":{"main":[[{"node":"AI Support Ticket Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"854ed51b-32ca-4378-8624-9dbe0e0bba38","triggerCount":0,"shared":[{"createdAt":"2025-10-04T20:09:26.794Z","updatedAt":"2025-10-04T20:09:26.794Z","role":"workflow:owner","workflowId":"sib9ctuLtch2kWpt","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}