caso-10-telegram-+-redis-oVW7rZ42tT6SSavX.json
{"createdAt":"2025-07-16T22:42:49.570Z","updatedAt":"2025-10-04T22:18:40.010Z","id":"oVW7rZ42tT6SSavX","name":"Caso 10 Telegram + Redis","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-544,-304],"id":"470cfa59-56b8-438b-b1c0-bdf66af51d52","name":"Telegram Trigger","webhookId":"4ae065d8-77b0-4453-b811-cf44d043fb7a","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.update_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1088,-192],"id":"72dfd423-595b-4070-9d10-90c52e88aca4","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1168,-432],"id":"627f9241-f148-48b6-b28b-4994e7e5b8b4","name":"Telegram","webhookId":"264a0957-a9b2-4dcc-a842-de31460d2572","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"018e755d-ee60-4ce6-8c79-24a7f232e576","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-96,-192],"id":"acf25c1f-9304-44ad-b839-5d6c65c0a0a7","name":"If"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-304,-480],"id":"f5627a5a-c349-464a-9c22-099cc9689f8f","name":"Telegram1","webhookId":"7e3a3e5a-fd66-4ffc-a117-67af18c4ec52","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-96,-576],"id":"dab02e2c-f6fc-4caa-9b78-6bec76b5ae61","name":"OpenAI","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"120dd6f6-c43e-46e0-9595-3ddf7c30eb02","name":"Mensasje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,-640],"id":"c9e18367-1752-4c82-94c3-955d0e8488c0","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"5231578b-a0b5-4dfc-962c-35efbc97ce15","name":"Mensasje","value":"={{ $('Telegram Trigger').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-176],"id":"177d634f-fd45-48f1-8e5c-5724e3ec07e6","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"58370258-e1a7-4b1f-a154-d9e1a0628ba9","name":"MensasjeFinal","value":"={{ $json.Mensasje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,-640],"id":"698f42d0-0eb2-4089-b44e-63af147560fa","name":"Edit Fields2"},{"parameters":{"operation":"push","list":"={{ $('If').item.json.message.from.id.toString() }}","messageData":"={{ $json.MensasjeFinal }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[560,-640],"id":"2cc33b98-ae87-434a-b83e-57515e63f0cf","name":"Redis","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[784,-640],"id":"d517b197-f8be-401c-b5c5-19bc02b4fe52","name":"Wait","webhookId":"dd4c5ad2-cf80-47d8-aad8-cd4e61cd7d24"},{"parameters":{"operation":"get","key":"={{ $('If').item.json.message.from.id.toString() }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1008,-640],"id":"8ceafce5-70b8-4ab2-ae23-81e6c81b7673","name":"Redis1","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da81303e-4687-4179-91ca-e14d0f67b4c1","leftValue":"={{ $('Edit Fields2').item.json.MensasjeFinal }}","rightValue":"={{ $('Edit Fields2').item.json.MensasjeFinal }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1232,-640],"id":"b4ea42da-b711-4543-89ed-d2740d69544f","name":"If1"},{"parameters":{"operation":"delete","key":"={{ $('Telegram Trigger').item.json.message.from.id.toString() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1456,-672],"id":"d95a5cfe-7061-49ed-835b-0c445bc50f3d","name":"Redis2","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"assignments":{"assignments":[{"id":"baba4b5a-843d-468f-857f-07ac39f10e19","name":"Imput","value":"={{ $json.propertyName.reverse().join(\" \") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,-432],"id":"7d8d2237-880e-4e10-a20e-8432009b4f5e","name":"Edit Fields3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.update_id }}","tableName":"chat_histories","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[960,-192],"id":"03e6b906-548d-43d9-86f4-bb7418492d30","name":"Memory","credentials":{"postgres":{"id":"2rWXL8WYRyYZbH6r","name":"Postgres account"}}},{"parameters":{"numberInputs":4,"rules":{"rule":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"32dd0e0b-36db-4ae5-8f23-3a50e045678a","leftValue":"={{ $json.Imput }}","rightValue":"={{ $json.Imput }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]}},"type":"@n8n/n8n-nodes-langchain.modelSelector","typeVersion":1,"position":[672,-224],"id":"f4cd26b5-6623-45f7-b5c0-6c5420d8ba77","name":"Model Selector"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[624,0],"id":"6ccf5fca-c8d6-4bfa-a81f-89e63547e885","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1408,48],"id":"74149662-232c-4147-8de4-37bd14017cf5","name":"Groq Chat Model","credentials":{"groqApi":{"id":"FavnbvPqe2Y44zqR","name":"Groq account 2"}}},{"parameters":{"model":"qwen/qwen-2.5-72b-instruct:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[976,0],"id":"afa2735f-ca08-4ba9-87a3-a039deeb02c2","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"w28quhFk0bpJ7y6t","name":"OpenRouter account"}}},{"parameters":{"model":"google/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1136,0],"id":"3aeda085-1d84-4250-a502-5e18425eb728","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"w28quhFk0bpJ7y6t","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $json.Imput }}","options":{"systemMessage":"# Descripción General:\nEres un asistente virtual amigable y cordial tu nombre es  \"Ana\". Tu función es ayudar respondiendo únicamente preguntas e inquietudes. Siempre debes responder con un tono humano, cálido, respetuoso y claro, como si fueras una persona muy atenta.\n\nCuando inicies una conversación nueva con un usuario, comienza presentándote con tu nombre. \n\nvalida el id del chat para garantizar que no vuelvas a presentarte con tu nombre si ya has interactuado con el usuario. \n\nEn todo momento usa un lenguaje profesional, cordial y accesible.\n\nVerifica tu memoria para mantener la continuidad del tema.\n\nDebes responder en un contexto de 400 caracteres como máximo.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[800,-432],"id":"0baf269d-7cb1-4206-875d-062bc1fc516e","name":"AI Agent1"},{"parameters":{"calendar":{"__rl":true,"value":"josemafe7@gmail.com","mode":"list","cachedResultName":"josemafe7@gmail.com"},"start":"={{ $fromAI('Start', `Fecha y hora de inicio de la reunión.`, 'string') }}","end":"={{ $fromAI('End', `Fecha y hora de fin de la reunión.`, 'string') }}","useDefaultReminders":"={{ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', `Participante de la reunión`, 'string') }}"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Descripción de la reunión.`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Título de la reunión`, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-528,304],"id":"96669e33-e16c-4952-a5fd-1e2fc1da98af","name":"Crear evento","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}},"disabled":true},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"josemafe7@gmail.com","mode":"list","cachedResultName":"josemafe7@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-384,304],"id":"4f8ad710-9047-4fd3-bdf2-ca516e383720","name":"Eliminar Evento","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}},"disabled":true},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"josemafe7@gmail.com","mode":"list","cachedResultName":"josemafe7@gmail.com"},"limit":10,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{"timeZone":{"__rl":true,"value":"Europe/Madrid","mode":"list","cachedResultName":"Europe/Madrid"}}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-208,304],"id":"9685d604-73d7-4009-9510-48389a86d6a2","name":"Obtener Eventos","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}},"disabled":true},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"josemafe7@gmail.com","mode":"list","cachedResultName":"josemafe7@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"attendeesUi":{"values":{"mode":"replace","attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"]}},"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-32,304],"id":"910bf49e-4156-4896-ba34-ca717be42af6","name":"Actualizar Evento","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}},"disabled":true},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g","mode":"list","cachedResultName":"Base de datos contactos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit#gid=0"},"startIndex":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Row_Number', ``, 'number') }}","numberToDelete":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[624,336],"id":"b85aecec-3377-4557-b95e-e3d51734eef5","name":"EliminarContacto","credentials":{"googleSheetsOAuth2Api":{"id":"6ZsfAjFlddP24YPd","name":"Google Sheets account"}},"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g","mode":"list","cachedResultName":"Base de datos contactos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"nombre","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"},{"lookupColumn":"email","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[144,304],"id":"e56829ad-5d06-4725-bfcc-91df0e51280b","name":"ObtenerContactos","credentials":{"googleSheetsOAuth2Api":{"id":"6ZsfAjFlddP24YPd","name":"Google Sheets account"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1s1FrNJ2zP_zAI8X6k0ZIJJxzj2nLFXA7WvoNUNQQ4qw","mode":"list","cachedResultName":"Base de datos contactos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s1FrNJ2zP_zAI8X6k0ZIJJxzj2nLFXA7WvoNUNQQ4qw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uasrJ9h9RaygRvBcJkY8SXmluDwRnRa-ImG0M_VRgOc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre__using_to_match_', ``, 'string') }}","Correo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Correo', ``, 'string') }}"},"matchingColumns":["Nombre"],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[464,304],"id":"c14d3547-8870-4bd9-9e0b-5d94d563b8e7","name":"ActualizarContacto","credentials":{"googleSheetsOAuth2Api":{"id":"6ZsfAjFlddP24YPd","name":"Google Sheets account"}},"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g","mode":"list","cachedResultName":"Base de datos contactos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[784,336],"id":"3a731779-1e3f-4485-bce5-e232f04a70e9","name":"ObtenerTodosContactos","credentials":{"googleSheetsOAuth2Api":{"id":"6ZsfAjFlddP24YPd","name":"Google Sheets account"}},"disabled":true},{"parameters":{"path":"33322373-5080-4e97-b468-f0f40f6686d9"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[304,64],"id":"080d03f6-64bc-4d06-b157-17e6fc67a234","name":"MCP Server Trigger1","webhookId":"33322373-5080-4e97-b468-f0f40f6686d9","disabled":true},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `El destinatario del email.`, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[912,464],"id":"18112ab7-1968-4613-84e8-7823166d0d5c","name":"Enviar Email","webhookId":"99d0f5d6-6176-4147-a68e-611eec371a9e","credentials":{"gmailOAuth2":{"id":"Pgqkyd8w5QCACq2o","name":"Gmail account"}},"disabled":true},{"parameters":{"operation":"reply","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1072,464],"id":"e631adbc-ab21-41af-82f8-a654fe271749","name":"Responder Email","webhookId":"6479e218-e946-4598-a93e-86d0bbcfc79f","credentials":{"gmailOAuth2":{"id":"Pgqkyd8w5QCACq2o","name":"Gmail account"}},"disabled":true},{"parameters":{"resource":"draft","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1216,464],"id":"35b42c43-9d73-4d38-9a4f-00489455a9e5","name":"Crear Borrador","webhookId":"19623e00-6c13-426e-9f75-47eb4570e82b","credentials":{"gmailOAuth2":{"id":"Pgqkyd8w5QCACq2o","name":"Gmail account"}},"disabled":true},{"parameters":{"operation":"getAll","limit":20,"filters":{"receivedAfter":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}","receivedBefore":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}","sender":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1392,464],"id":"3e265f2f-1725-408c-ad9f-7243e34104b4","name":"Obtener Emails","webhookId":"7c23354e-d786-4c2e-b6c7-68b313aff9a8","credentials":{"gmailOAuth2":{"id":"Pgqkyd8w5QCACq2o","name":"Gmail account"}},"disabled":true},{"parameters":{"operation":"delete","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1536,464],"id":"cb2771af-06a6-48e6-b54e-c299e189792c","name":"Eliminar Email","webhookId":"c671bf92-f648-47b4-b056-54bd71667fe1","credentials":{"gmailOAuth2":{"id":"Pgqkyd8w5QCACq2o","name":"Gmail account"}},"disabled":true},{"parameters":{"path":"27dd4208-4407-4413-a270-1302d812e60e"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[1056,176],"id":"9b874cca-afcd-4219-865e-c816d19928cd","name":"MCP Server Trigger2","webhookId":"27dd4208-4407-4413-a270-1302d812e60e","disabled":true},{"parameters":{"sseEndpoint":"https://n8n.dployxperts.com/mcp/27dd4208-4407-4413-a270-1302d812e60e/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1632,-176],"id":"c3999598-2caf-4f8d-9e14-a483f14ab35f","name":"MCP Gmail","disabled":true},{"parameters":{"sseEndpoint":"https://n8n.dployxperts.com/mcp/336d6b12-6aaf-4ebc-bd5b-c682313cd94f/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1344,-176],"id":"02caeaac-c7ef-49c4-85c5-c40657048598","name":"MCP Calendario","disabled":true},{"parameters":{"sseEndpoint":"https://n8n.dployxperts.com/mcp/33322373-5080-4e97-b468-f0f40f6686d9/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1488,-176],"id":"fc633658-b2f6-4cc1-8238-c4aae716909e","name":"MCP Contactos","disabled":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g","mode":"list","cachedResultName":"Base de datos contactos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}","Correo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Correo', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[304,304],"id":"dee1f34e-55b8-49b8-b0dd-e2a8544d6b7b","name":"AddContactos","credentials":{"googleSheetsOAuth2Api":{"id":"6ZsfAjFlddP24YPd","name":"Google Sheets account"}},"disabled":true},{"parameters":{"path":"336d6b12-6aaf-4ebc-bd5b-c682313cd94f"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[-368,64],"id":"3fd50e4a-310a-4a37-86c4-b46c1a8524d3","name":"MCP Server Calendario","webhookId":"336d6b12-6aaf-4ebc-bd5b-c682313cd94f","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[800,16],"id":"64c73727-5006-40c1-b09d-b592fa9b7fc5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"nP1YZmGaWN1xgdRX","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[]]},"If":{"main":[[{"node":"Telegram1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":2}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":3}]]},"Model Selector":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Crear evento":{"ai_tool":[[{"node":"MCP Server Calendario","type":"ai_tool","index":0}]]},"Eliminar Evento":{"ai_tool":[[{"node":"MCP Server Calendario","type":"ai_tool","index":0}]]},"Obtener Eventos":{"ai_tool":[[{"node":"MCP Server Calendario","type":"ai_tool","index":0}]]},"Actualizar Evento":{"ai_tool":[[{"node":"MCP Server Calendario","type":"ai_tool","index":0}]]},"EliminarContacto":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"ObtenerContactos":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"ActualizarContacto":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"ObtenerTodosContactos":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"Enviar Email":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Responder Email":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Crear Borrador":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Obtener Emails":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Eliminar Email":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"AddContactos":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"MCP Gmail":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"MCP Contactos":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"MCP Calendario":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Model Selector","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":918616484,"message":{"message_id":46,"from":{"id":916203700,"is_bot":false,"first_name":"Juan","last_name":"Alvarado","username":"alvaradojuanm","language_code":"es"},"chat":{"id":916203700,"first_name":"Juan","last_name":"Alvarado","username":"alvaradojuanm","type":"private"},"date":1759616088,"text":"/start","entities":[{"offset":0,"length":6,"type":"bot_command"}]}}}]},"versionId":"e9f9a445-864f-4668-a3c4-fc297fd93a3b","triggerCount":1,"shared":[{"createdAt":"2025-07-16T22:42:49.570Z","updatedAt":"2025-07-16T22:42:49.570Z","role":"workflow:owner","workflowId":"oVW7rZ42tT6SSavX","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}