caso-5-chatbot-Zww9UeXRQACIV55z.json
{"createdAt":"2025-10-04T02:30:22.582Z","updatedAt":"2025-10-06T18:07:05.302Z","id":"Zww9UeXRQACIV55z","name":"Caso 5 Chatbot","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"opportunity","additionalFields":{}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[368,384],"id":"d879485e-0652-4aa7-9a7b-7657d8215cea","name":"Create an opportunity","credentials":{"odooApi":{"id":"q4uqnJ6E4Ixod1TP","name":"Odoo account"}},"disabled":true},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[608,400],"id":"ea1399a3-5f43-4089-870f-9ab2447dd542","name":"Create a contact","credentials":{"odooApi":{"id":"q4uqnJ6E4Ixod1TP","name":"Odoo account"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[112,208],"id":"bf078c14-19e7-4e8c-8fee-d28a24c8d07b","name":"Simple Memory"},{"parameters":{"respondWith":"json","responseBody":"={ \"response\": \"{{ $node['Code'].json.response }}\" }","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[608,208],"id":"f89a0fd5-84b0-4984-b712-687ba5089b3b","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"25e9d219-2181-4416-b3bc-54bee3adb3fb","name":"body","value":"={{ $json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,208],"id":"f122ef49-dbeb-47fb-950c-49042b29b818","name":"message text"},{"parameters":{"jsCode":"const items = [];\nfor (const item of $input.all()) { // Itera sobre cada ítem de entrada al nodo Code\n  let aiResponseText = \"Lo siento, hubo un error interno (no se pudo acceder a la respuesta de la IA).\"; // Mensaje de fallback\n  \n  try {\n      let rawText = null;\n\n      // *** ACCESO SIMPLIFICADO Y DIRECTO A LA SALIDA DEL AI AGENT ***\n      // Asume que la salida del AI Agent es el 'item' que llega directamente a este nodo 'Code'.\n      // Intentar obtener el texto de la IA buscando en item.json.output o item.json.text\n      if (item.json) { // Asegurarse de que el item tenga una propiedad 'json'\n          if (typeof item.json.output === 'string') {\n              rawText = item.json.output;\n          } else if (typeof item.json.text === 'string') { \n              rawText = item.json.text;\n          }\n      }\n\n      // Si rawText sigue siendo null aquí, es porque no se encontró en item.json.\n      // En este caso, el AI Agent no está proporcionando su output como item.json.output/text.\n      // Esta es la rama que toma si el AI Agent no es el nodo inmediatamente anterior, o si su output no es el esperado.\n      if (!rawText) {\n          // Intentar obtenerlo a través de $node.getNode() como último recurso,\n          // aunque el error \"Referenced node doesn't exist\" sugiere que esto puede fallar.\n          try {\n              const aiAgentNode = $node.getNode('AI Agent'); \n              if (aiAgentNode && aiAgentNode.json) {\n                  if (typeof aiAgentNode.json.output === 'string') {\n                      rawText = aiAgentNode.json.output;\n                  } else if (typeof aiAgentNode.json.text === 'string') {\n                      rawText = aiAgentNode.json.text;\n                  }\n              } else if (aiAgentNode && typeof aiAgentNode.output === 'string') { // Para casos donde el output no está en .json\n                   rawText = aiAgentNode.output;\n              } else if (aiAgentNode && typeof aiAgentNode.text === 'string') { // Para casos donde el output no está en .json\n                   rawText = aiAgentNode.text;\n              }\n          } catch (getNodeError) {\n              console.warn(\"Fallo al obtener AI Agent via $node.getNode():\", getNodeError.message || getNodeError);\n          }\n      }\n\n\n      if (rawText) {\n          // Limpieza de barras invertidas (del problema anterior de \\\"asistente\\\")\n      \n\n          // Limpieza de caracteres de control ilegales para JSON\n           //cleanedText = rawText.replace(/[\\u0000-\\u0008\\u000B\\u000C\\u000E-\\u001F\\u007F-\\u009F]/g, ''); \n          \n          // Eliminación AÚN MÁS AGRESIVA de saltos de línea y espacios especiales (causa de truncamiento)\n         let cleanedText = rawText.replace(/[\\n\\r\\t\\f\\v\\u0085\\u2028\\u2029\\u00A0\\u1680\\u2000-\\u200A\\u202F\\u205F\\u3000\\\"\"]+/g, ' '); \n          \n          // Normalizar espacios y eliminar espacios al inicio/final\n         // cleanedText = cleanedText.replace(/\\s+/g, ' ').trim(); \n\n          // Opcional: Eliminar comillas dobles al inicio y al final si la IA las pone literalmente.\n          if (cleanedText.startsWith('\"') && cleanedText.endsWith('\"')) {\n              cleanedText = cleanedText.substring(1, cleanedText.length - 1);\n          }\n\n          aiResponseText = cleanedText;\n          \n      } else {\n          // Este warning se activará si rawText sigue siendo null después de todos los intentos\n          console.warn(\"No se pudo obtener una respuesta de texto válida del AI Agent (valor nulo o no string en ningún formato esperado). Item:\", item);\n          aiResponseText = \"La respuesta de la IA no fue válida (formato inesperado de la IA).\";\n      }\n      \n  } catch (e) {\n      // Este catch capturará si hay un error inesperado fuera de las comprobaciones de acceso\n      console.error(\"Error inesperado en el nodo Code (posible error de JavaScript en el código):\", e);\n      aiResponseText = `ERROR EN CHATBOT (n8n): ${e.message || e}`; \n  }\n  \n  const responseBody = {\n    response: aiResponseText\n  };\n\n  items.push({ json: responseBody });\n}\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,-80],"id":"b1972d36-1370-4605-999f-ab8b1d4d0157","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"f32432c6-c20c-4d45-a14b-96b41ad9bbed","name":"body.convesation","value":"={{ $json.body.audio.data.replace(/^data:audio\\/webm;base64,/, '') }}","type":"string"},{"id":"a591bed2-7a0c-4928-834b-c0f77b54e4d7","name":"body.audio.mimeType","value":"={{ $json.body.audio.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-992,48],"id":"987eda38-f4d4-48ab-89cd-3275a67de01e","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"63f7af61-5c2b-4418-85e7-ea6864916750","name":"body.sessionId","value":"={{ $('Webhook1').item.json.body.sessionId }}","type":"string"},{"id":"25e9d219-2181-4416-b3bc-54bee3adb3fb","name":"body.convesation","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,48],"id":"ffa663d3-c7cb-4a98-b27f-c88fa5a229e4","name":"message voice"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.message  &&  !$json.body.file }}","rightValue":"={{ $json.body.message }}","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"61cb5103-05ca-4a6e-9d35-30f029cf8e9f"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e79da46-c72b-4642-adac-885769fa142e","leftValue":"={{ $json.body.audio.data }}","rightValue":"=","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f1f80ad-507f-4272-b67e-187628540554","leftValue":"={{ $json.body.message }}{{ $json.body.file }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"adjunto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1232,32],"id":"8a5a9a36-61f8-4b09-b55d-892bda7811d1","name":"Switch1"},{"parameters":{"operation":"toBinary","sourceProperty":"body.convesation","options":{"mimeType":"={{ $json.body.audio.mimeType }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-768,48],"id":"0d92fb56-84cc-4d67-86f6-2191701de7e7","name":"Convert to File"},{"parameters":{"resource":"speech","operation":"speechToText","additionalOptions":{"languageCode":"es"},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[-544,48],"id":"936b0c0a-3bb8-49ed-9ee2-81e3d4b155d9","name":"Transcribe audio or video","credentials":{"elevenLabsApi":{"id":"dgWaH5I83aB0PHak","name":"ElevenLabs account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f32432c6-c20c-4d45-a14b-96b41ad9bbed","name":"body.convesation","value":"={{ $json.body.message && $json.body.file.data.replace(/^data:application\\/json;base64,/, '') }} }}","type":"string"},{"id":"a591bed2-7a0c-4928-834b-c0f77b54e4d7","name":"body.audio.mimeType","value":"={{ $json.body.file.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-976,256],"id":"7489f036-8d52-43e5-a423-616922329c00","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"body.convesation","options":{"mimeType":"={{ $json.body.audio.mimeType }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-768,272],"id":"307c8cd0-1414-47b7-a0eb-73621fe6b880","name":"Convert to File1"},{"parameters":{"promptType":"define","text":"={{ $json.body.convesation }}","hasOutputParser":true,"options":{"systemMessage":"=# 📌 Descripción General  \nEres **Karola**, una asistente virtual Arquitectura Empresarial Banesco experta en **Infraestructura Tecnológica, Automatización, Arquitectura Empresarial e Inteligencia Artificial**.  \nTu función es **apoyar al equipo técnico y administrativo** en sus tareas diarias, resolviendo dudas, documentando procesos y proporcionando soluciones precisas sobre herramientas y sistemas tecnológicos usados en la empresa.  \n\nResponde siempre con un tono **profesional, claro y técnico**, en un máximo de **400 caracteres por respuesta**.  \n\n---\n\n## 🧠 Áreas de Conocimiento  \n- **Infraestructura TI & Cloud Computing (AWS, GCP, Azure)**  \n- **Automatización de Procesos & CI/CD (N8N, Jenkins, GitHub Actions)**  \n- **Contenedores & Orquestación (Docker, Kubernetes)**  \n- **Administración de Servidores & Redes (Linux, Windows, Cisco)**  \n- **Ciberseguridad, DevOps & Site Reliability Engineering (SRE)**  \n- **Inteligencia Artificial & Machine Learning aplicados a productividad interna**  \n\n---\n\n## 🗣️ Estilo de Comunicación  \n- Profesional y técnico, pero comprensible.  \n- Directa y enfocada en resolver.  \n- Amigable y colaborativa, sin lenguaje comercial.  \n- Precisa y estructurada: usa pasos, comandos o listas cuando sea útil.  \n\n---\n\n## ⚙️ Indicaciones Principales  \n1. Preséntate como **Karola**, asistente interna del área tecnológica.  \n2. Analiza la pregunta y responde con **datos concretos o pasos detallados**.  \n3. Si se trata de una herramienta o proceso interno, **describe el procedimiento o la ruta exacta**.  \n4. Si el tema requiere decisión humana (permisos, compras, configuración sensible), **indícalo claramente**.  \n5. Ofrece siempre **una recomendación práctica o enlace interno** (documento, wiki, script, recurso).  \n6. Si detectas una duda repetitiva, sugiere **documentarla como guía o automatización**.  \n\n---\n\n## 💡 Notas e Indicaciones Adicionales  \n**Nota:** Mantén tus respuestas enfocadas en el entorno interno, no hables como canal de ventas.  \n**Nota:** Si la información es confidencial o sensible, recuerda marcarla como “🔒 Uso interno”.  \n**Nota:** Usa ejemplos técnicos, comandos o snippets cuando sea útil para el equipo.  \n**Nota:** Si un colaborador solicita ayuda fuera de tus áreas, deriva la consulta al equipo correspondiente.  \n\n---\n\n## 🧩 Ejemplo de Mensaje de Bienvenida  \n“👋 Hola, soy **Karola**, tu asistente virtual especializada en tecnología. \n\nPuedo ayudarte con dudas sobre infraestructura, automatización, inteligencia artificial o soporte técnico interno.  \n\n¿Qué necesitas resolver hoy?”  \n\n---\n\n## 🎯 Objetivo General  \nBrindar **asistencia técnica inteligente, rápida y documentada** al equipo interno, reduciendo tiempos de soporte y mejorando la eficiencia operativa.  \nKarola debe actuar como una **fuente de conocimiento viva** que centraliza información técnica y ayuda a automatizar procesos internos.  \n\n---\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-64,-400],"id":"60c2a80a-6633-4ea5-ac23-1b12578cf175","name":"AI Agent1"},{"parameters":{"respondWith":"json","responseBody":"={ \"response\":\"{{ $node['Code'].json.response }}\" }","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[608,-80],"id":"036e1077-98b3-4e21-bfa0-8aad60bf36d6","name":"Respond to Webhook1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[112,64],"id":"d9dac1ea-6e12-49e6-9da2-70ab8bf427c3","name":"Simple Memory1"},{"parameters":{"assignments":{"assignments":[{"id":"63f7af61-5c2b-4418-85e7-ea6864916750","name":"body.sessionId","value":"={{ $json.body.session_id }}","type":"string"},{"id":"25e9d219-2181-4416-b3bc-54bee3adb3fb","name":"body.convesation","value":"={{ $json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,-176],"id":"60f0036a-1dcd-4f73-8964-aeaffdedbc7c","name":"message text1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-96,80],"id":"cd4065cc-b074-4f2a-b715-c348affdbd8e","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"nP1YZmGaWN1xgdRX","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"httpMethod":"POST","path":"dc1610fb-19b0-4b3d-bf1e-4fa91ae88299","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-448,304],"id":"2f8d4a08-0063-40e6-954a-04f8086f2319","name":"Webhook","webhookId":"dc1610fb-19b0-4b3d-bf1e-4fa91ae88299"},{"parameters":{"source":"googleSheets","documentId":{"__rl":true,"value":"19K9LMViKnIudD94Fpj8k0WLt51xfLC2h52XrG0wUoNc","mode":"list","cachedResultName":"n8n evaluation datasets","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19K9LMViKnIudD94Fpj8k0WLt51xfLC2h52XrG0wUoNc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":662663849,"mode":"list","cachedResultName":"Q&A","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19K9LMViKnIudD94Fpj8k0WLt51xfLC2h52XrG0wUoNc/edit#gid=662663849"},"limitRows":true},"type":"n8n-nodes-base.evaluationTrigger","typeVersion":4.7,"position":[-1152,-240],"id":"40297720-b275-480a-ba60-ca96852e8d58","name":"When fetching a dataset row","credentials":{"googleSheetsOAuth2Api":{"id":"BgAYVjcPJiIS0EUL","name":"Caso 6 carga masiva odoo"}},"disabled":true},{"parameters":{"operation":"setMetrics","options":{}},"type":"n8n-nodes-base.evaluation","typeVersion":4.8,"position":[-416,-400],"id":"94c2d6f2-67e9-471c-8844-34cf990d2e8b","name":"Evaluation"},{"parameters":{"operation":"setMetrics","options":{}},"type":"n8n-nodes-base.evaluation","typeVersion":4.8,"position":[592,-320],"id":"85146809-77b8-43e8-8abe-cd8b8229ffd1","name":"Evaluation1","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.body.convesation }}","needsFallback":true,"options":{"systemMessage":"=# 📌 Descripción General  \nEres **Karola**, una asistente virtual Arquitectura Empresarial Banesco experta en **Infraestructura Tecnológica, Automatización, Arquitectura Empresarial e Inteligencia Artificial**.  \nTu función es **apoyar al equipo técnico y administrativo** en sus tareas diarias, resolviendo dudas, documentando procesos y proporcionando soluciones precisas sobre herramientas y sistemas tecnológicos usados en la empresa.  \n\nResponde siempre con un tono **profesional, claro y técnico**, en un máximo de **400 caracteres por respuesta**.  \n\n---\n\n## 🧠 Áreas de Conocimiento  \n- **Infraestructura TI & Cloud Computing (AWS, GCP, Azure)**  \n- **Automatización de Procesos & CI/CD (N8N, Jenkins, GitHub Actions)**  \n- **Contenedores & Orquestación (Docker, Kubernetes)**  \n- **Administración de Servidores & Redes (Linux, Windows, Cisco)**  \n- **Ciberseguridad, DevOps & Site Reliability Engineering (SRE)**  \n- **Inteligencia Artificial & Machine Learning aplicados a productividad interna**  \n\n---\n\n## 🗣️ Estilo de Comunicación  \n- Profesional y técnico, pero comprensible.  \n- Directa y enfocada en resolver.  \n- Amigable y colaborativa, sin lenguaje comercial.  \n- Precisa y estructurada: usa pasos, comandos o listas cuando sea útil.  \n\n---\n\n## ⚙️ Indicaciones Principales  \n1. Preséntate como **Karola**, asistente interna del área tecnológica.  \n2. Analiza la pregunta y responde con **datos concretos o pasos detallados**.  \n3. Si se trata de una herramienta o proceso interno, **describe el procedimiento o la ruta exacta**.  \n4. Si el tema requiere decisión humana (permisos, compras, configuración sensible), **indícalo claramente**.  \n5. Ofrece siempre **una recomendación práctica o enlace interno** (documento, wiki, script, recurso).  \n6. Si detectas una duda repetitiva, sugiere **documentarla como guía o automatización**.  \n\n---\n\n## 💡 Notas e Indicaciones Adicionales  \n**Nota:** Mantén tus respuestas enfocadas en el entorno interno, no hables como canal de ventas.  \n**Nota:** Si la información es confidencial o sensible, recuerda marcarla como “🔒 Uso interno”.  \n**Nota:** Usa ejemplos técnicos, comandos o snippets cuando sea útil para el equipo.  \n**Nota:** Si un colaborador solicita ayuda fuera de tus áreas, deriva la consulta al equipo correspondiente.  \n\n---\n\n## 🧩 Ejemplo de Mensaje de Bienvenida  \n“👋 Hola, soy **Karola**, tu asistente virtual especializada en tecnología. \n\nPuedo ayudarte con dudas sobre infraestructura, automatización, inteligencia artificial o soporte técnico interno.  \n\n¿Qué necesitas resolver hoy?”  \n\n---\n\n## 🎯 Objetivo General  \nBrindar **asistencia técnica inteligente, rápida y documentada** al equipo interno, reduciendo tiempos de soporte y mejorando la eficiencia operativa.  \nKarola debe actuar como una **fuente de conocimiento viva** que centraliza información técnica y ayuda a automatizar procesos internos.  \n\n---\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-64,-208],"id":"b6473dc5-ff15-4592-becf-47213a623708","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,-32],"id":"eb5cd16a-3f27-495b-9752-3931e46bd5de","name":"Chat Model","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}}],"connections":{"message text":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0},{"node":"Evaluation1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"message voice":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"message text1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe audio or video","type":"main","index":0}]]},"Transcribe audio or video":{"main":[[{"node":"message voice","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"AI Agent1":{"main":[[]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"message text1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"When fetching a dataset row":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Evaluation":{"main":[[]]},"Respond to Webhook1":{"main":[[]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"FnxEsEXktKndJPrI","timeSavedPerExecution":1},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2dc748f5-1927-4f93-b6b1-fb27bb5f2bf7","triggerCount":1,"shared":[{"createdAt":"2025-10-04T02:30:22.582Z","updatedAt":"2025-10-04T02:30:22.582Z","role":"workflow:owner","workflowId":"Zww9UeXRQACIV55z","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}