caso-2-desarrollo-profesor-de-ingles-aOl9u02ojJpvduEv.json
{"createdAt":"2025-09-28T03:31:02.178Z","updatedAt":"2025-10-04T22:20:37.828Z","id":"aOl9u02ojJpvduEv","name":"Caso 2 Desarrollo Profesor de Ingles","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"=https://evolution.dployxperts.com/message/sendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"odnDxZwWPEwo1vjKStths8X7MqNMyIa1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('data message extraction').item.json.session_id }}\n"},{"name":"text","value":"={{ $json.output }}   "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,1200],"id":"12d7f84a-c5ef-4ad8-b5ba-f7965bf438eb","name":"HTTP Request"},{"parameters":{"operation":"toBinary","sourceProperty":"voice_message","options":{"mimeType":"=audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-624,1424],"id":"dadcdbb3-362a-4d53-a13d-09b68616a4d2","name":"Convertir a audio/ogg1"},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"sender","value":"={{ $('Verificar quien Escribe').item.json.body.data.key.senderLid }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message_type","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"text_message","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"voice_message","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"5a9a7ae9-ce91-4634-ad5c-fb0d446aabac","name":"session_id","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"cf8e5bf6-5c0e-4308-9ed4-a47fffadbb36","name":"date_time","value":"={{ $('Webhook').item.json.body.date_time }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"name","value":"={{ $('Webhook').item.json.body.data.pushName }}\n\n","type":"string"},{"id":"48766a3a-0864-4a7f-baa7-d56f14a60ec8","name":"id","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"bed0dc41-5873-49f6-b6f7-d8f7860b245b","name":"time","value":"={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s').toLocal() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1456,1440],"id":"5751e1c3-1d92-404d-81ec-949a7c5d1149","name":"data message extraction"},{"parameters":{"assignments":{"assignments":[{"id":"a386845c-a9a6-4cad-b816-5e8fd5a49779","name":"final_message_voice","value":"={{ $json.text }}","type":"string"},{"id":"fa5968d2-69af-4068-b921-05e39a112aa9","name":"session_id","value":"={{ $('data message extraction').item.json.session_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,1424],"id":"93044d14-9ff3-47c2-aa42-c6864a44ab69","name":"final_message_voice"},{"parameters":{"assignments":{"assignments":[{"id":"5231578b-a0b5-4dfc-962c-35efbc97ce15","name":"final_message_text","value":"={{ $json.text_message }}","type":"string"},{"id":"dab6d3ca-8bf8-4c25-9c08-6c0fc5f9ebcf","name":"session_id","value":"={{ $('data message extraction').item.json.session_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,1184],"id":"eac17974-500a-40a5-89a1-49a7bcf663c5","name":"final_message_text"},{"parameters":{"assignments":{"assignments":[{"id":"5231578b-a0b5-4dfc-962c-35efbc97ce15","name":"final_message","value":"={{ $json.final_message_text }} {{ $json.final_message_voice }}","type":"string"},{"id":"dab6d3ca-8bf8-4c25-9c08-6c0fc5f9ebcf","name":"session_id","value":"={{ $('data message extraction').item.json.session_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,1184],"id":"88c0d87f-744b-4304-a0d0-2b30b7e80db2","name":"final_message"},{"parameters":{"assignments":{"assignments":[{"id":"fdaaa5c7-a1a8-4f0f-b775-dbb1df5f754e","name":"concat_message","value":"={{ $json.message.map(m => JSON.parse(m).message).join('\\n') }}","type":"string"},{"id":"dbb5014c-ccc9-4aed-bdee-a2e90092c775","name":"session_id","value":"={{ $('data message extraction').item.json.sender }}","type":"string"},{"id":"cb83d288-5aac-4b3a-915e-b843da9b4ad1","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,1184],"id":"35388b0c-c498-48b4-9d11-66abc7395d73","name":"Un_solo_message"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a6a2789-9ff6-4ab3-95da-65c7f99af9ef","leftValue":"={{ $json.message_type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":"={{ false }}","options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,1248],"id":"40ddf981-afd1-48d8-9a85-08ad5ac23659","name":"If"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-416,1424],"id":"d541c499-3299-4bc5-b06e-bc76adbf3d40","name":"Transcribir Audio","credentials":{"openAiApi":{"id":"r8djHEeAWWI0Jv49","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1248,976],"id":"91699c2a-e5bd-4cb6-a923-d6890495e276","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"064bc845-5c7d-4c02-9d20-57d780823da9","leftValue":"={{ $json['bot-state'] }}","rightValue":"blocked-bot","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1680,1408],"id":"34d0f82f-dc49-4e8d-bf60-05d134676539","name":"If3"},{"parameters":{"operation":"delete","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1520,944],"id":"b0fc5563-611a-4ffc-997b-e32ce5486176","name":"Activar Bot","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"operation":"set","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","value":"blocked-bot","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1600,1168],"id":"c787298d-29e9-475e-b2b9-288f3716aab4","name":"Bloquea al Agente","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b226403-e859-4d73-b14a-5cdc22e85e3c","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":".","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1840,1120],"id":"427c253c-cbc1-42da-a7be-c8cb496e7fd5","name":"Verificar palabra Clave"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8b64fab-0278-4873-94b1-665efa5c4f76","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2048,1232],"id":"cdcaff65-a191-465e-90ca-09a6c52a472e","name":"Verificar quien Escribe"},{"parameters":{"operation":"get","propertyName":"bot-state","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1856,1408],"id":"f1a91bd1-56f5-46dc-8f74-968e959b6814","name":"verificar bloqueo","credentials":{"redis":{"id":"5XWSSfVsbh9TvdPm","name":"Profesor"}}},{"parameters":{"httpMethod":"POST","path":"1239ce60-38e7-4be9-8371-71fefbf2fb95","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2080,944],"id":"67ba8bb6-8271-4102-bcfe-7ef8d16b6212","name":"Webhook","webhookId":"1239ce60-38e7-4be9-8371-71fefbf2fb95"},{"parameters":{"descriptionType":"manual","toolDescription":"Cuando el usuario escriba la palabra \"humano\" ejecuta esta tool","operation":"set","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","value":"blocked-bot","expire":true,"ttl":300},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[1200,1696],"id":"e5683237-0328-4da8-a7c5-6601854d5626","name":"Humano","credentials":{"redis":{"id":"5XWSSfVsbh9TvdPm","name":"Profesor"}}},{"parameters":{"operation":"push","list":"={{ $('data message extraction').item.json.session_id }}","messageData":"={{ JSON.stringify(\n{\n  'message': $json.final_message,\n  'id': $('data message extraction').item.json.id,\n  'time': $('data message extraction').item.json.time\n}\n) \n}}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[192,1184],"id":"2aac2b06-3068-4e4a-884a-76c2ca42f9e4","name":"Buffer","credentials":{"redis":{"id":"5XWSSfVsbh9TvdPm","name":"Profesor"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('final_message').item.json.session_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[400,1184],"id":"0d649b93-3ca9-460b-8f7c-371af775c033","name":"Get_buffer_data","credentials":{"redis":{"id":"5XWSSfVsbh9TvdPm","name":"Profesor"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[784,1040],"id":"4776f8da-5459-4b3a-a218-4de30f8f1725","name":"No Operation1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.message.last()).id  }}","rightValue":"={{ $('data message extraction').item.json.id }}","operator":{"type":"string","operation":"notEquals"},"id":"98d1a5e3-385e-4584-b205-87efed40d501"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"953bdd59-05aa-426c-890b-fb5825803985","leftValue":"={{ JSON.parse($json.message.last()).time }}","rightValue":"={{ $now.minus({ seconds: 7 }).toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuar"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[576,1168],"id":"5bcead52-94b7-4d21-b107-666fb64b4839","name":"Switch"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[160,1008],"id":"7c742e74-2c54-49e7-b2ff-41695269d758","name":"Wait2","webhookId":"d652ec1f-8cb4-4120-90fc-0f03b00d3c52"},{"parameters":{"operation":"delete","key":"={{ $('data message extraction').item.json.session_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[784,1184],"id":"1101d48b-29ec-4a61-8951-bd7a64dad440","name":"Delete_buffer1","credentials":{"redis":{"id":"5XWSSfVsbh9TvdPm","name":"Profesor"}}},{"parameters":{"description":"Utiliza esta herramienta para mejorar tus acciones añadiendo una capa más de razonamiento antes de ejecutar."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1328,1696],"id":"12a123ca-735d-40f2-8fef-7f7834864eec","name":"Think"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('final_message').item.json.session_id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1040,1696],"id":"b76054b7-16c6-4ea5-80a6-5f8ebb347841","name":"Simple Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[736,1696],"id":"9f39c388-165c-42a1-80e3-543ef9d5e62f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"nP1YZmGaWN1xgdRX","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.message.last()).id  }}","rightValue":"={{ $('data message extraction').item.json.id }}","operator":{"type":"string","operation":"notEquals"},"id":"98d1a5e3-385e-4584-b205-87efed40d501"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"953bdd59-05aa-426c-890b-fb5825803985","leftValue":"={{ JSON.parse($json.message.last()).time }}","rightValue":"={{ $now.minus({ seconds: 7 }).toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"caf0df85-ead2-44c0-a327-c38339608a5f","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-992,944],"id":"ae819338-2373-4d66-8f32-ba6b92c75ae0","name":"Switch1"},{"parameters":{"content":"## Audio","height":200,"width":624},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,1392],"id":"bc495cd3-c5e7-4860-97cf-233a1bb28bc9","name":"Sticky Note"},{"parameters":{"content":"## Imagen y Text","height":220,"width":592,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,880],"id":"8fb9b9bf-9ddc-4282-81c6-785b5713da81","name":"Sticky Note1"},{"parameters":{"content":"## Solo Text","width":608,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,1168],"id":"0b8aa269-4d0f-4b71-89a5-c2711fa373ce","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"assignment-id-2","name":"text","value":"=El usuario proporcionó la siguiente imagen y texto.\n\nDescripción de la Imagen:\n{{ $json.content }}\n\nMensaje del usuario: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,928],"id":"9bd817cc-47c4-46c5-870c-814aee6116ce","name":"Image + Text"},{"parameters":{"content":"## Video","height":228,"width":608,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,608],"id":"99c8c574-f884-470b-b6f3-d3d544d7d2e4","name":"Sticky Note6"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-688,672],"id":"20c3cc91-7280-4683-b649-57eded537bba","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $('HTTP Request3').item.json.mime_type}}\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        },\n        {\n          \"text\": \"Describe el contenido de este video.\"\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-512,672],"id":"f9190caa-c0a0-4979-a730-0fd8e98c66d1","name":"HTTP Request4","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"assignment-id-4","name":"text","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,672],"id":"82bf07ee-e5b7-435b-8e4c-0add022ccb26","name":"Edit Fields3"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,272],"id":"c0f3062a-a1f8-44c2-9fd8-ac77c0ea7f2a","name":"Download Image","disabled":true},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,32],"id":"e1d9fd9d-3144-4ca1-a593-66b3aeed0a31","name":"Download Audio","disabled":true},{"parameters":{"content":"## Entrada","height":840,"width":440,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"3c6bce47-13f2-4100-88dc-fe54a94e528f","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"assignment-id-1","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,32],"id":"d494abc6-64fa-40c3-a395-f5b335a1f7fb","name":"Text"},{"parameters":{"assignments":{"assignments":[{"id":"assignment-id-3","name":"text","value":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,480],"id":"6f1261af-2fb9-4186-803d-1cd606d2fca7","name":"Text Only"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[928,32],"id":"e08c7e9d-c882-4e4c-9669-3fb96d210461","name":"Transcribe","disabled":true},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,704],"id":"3c902e36-bdf8-4f71-978f-892c774e2630","name":"HTTP Request3","disabled":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Describe la imagen en detalle. \n\nEsta es el caption de la imagen para contexto: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[928,272],"id":"3d134d63-9fb2-40dd-af26-fd6568659995","name":"Analyze Image1","disabled":true},{"parameters":{"content":"## Audio","height":200,"width":800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,0],"id":"9d293ae6-b1a2-4c8f-ac1c-a97f1ca2ac0b","name":"Sticky Note4"},{"parameters":{"content":"## Imagen y Text","height":220,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,224],"id":"f54e560f-eee9-4e99-991b-c0e2189eb4bc","name":"Sticky Note5"},{"parameters":{"content":"## Solo Text","width":800,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,464],"id":"d41678ef-afa4-483a-99cb-03ba5f684dd7","name":"Sticky Note7"},{"parameters":{"assignments":{"assignments":[{"id":"assignment-id-2","name":"text","value":"=El usuario proporcionó la siguiente imagen y texto.\n\nDescripción de la Imagen:\n{{ $json.content }}\n\nMensaje del usuario: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,272],"id":"4b39ca69-40bf-418a-af2e-bfba2d1f5639","name":"Image + Text1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"condition-id-2","leftValue":"={{ $json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"condition-id-3","leftValue":"={{ $json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"condition-id-4"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"condition-id-5","leftValue":"={{ $json.messages[0].video }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[176,352],"id":"3e3368e8-da8e-467b-a619-09a0a9686207","name":"Input1"},{"parameters":{"content":"## Video","height":228,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,656],"id":"d0048631-bdfc-4040-85d7-f4a31150081d","name":"Sticky Note8"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[848,704],"id":"1cb09007-bc28-4390-9db8-15c6a7751a08","name":"Extract from File1"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $('HTTP Request3').item.json.mime_type}}\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        },\n        {\n          \"text\": \"Describe el contenido de este video.\"\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,704],"id":"fd75dcb6-44d5-482e-89a7-90aae20be7f0","name":"HTTP Request5","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"assignment-id-4","name":"text","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,704],"id":"b6b7ad03-c53a-4f5a-ae88-028502fa9af4","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1664,1808],"id":"b2a85f51-8270-48f2-878d-5032d758aaee","name":"Schedule Trigger","disabled":true},{"parameters":{"jsCode":"// Obtener la fecha y hora actual en formato ISO\nconst now = new Date().toISOString();\n\n// Obtener la fecha y hora actual + 5 minutos\nconst nowPlus5 = new Date(Date.now() + 5 * 60000).toISOString();\n\n// Retornar los valores en formato que n8n pueda usar\nreturn [\n  {\n    json: {\n      now: now,\n      nowPlus5: nowPlus5\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1440,1808],"id":"a03b3008-6030-47a5-8092-44ccc6d07571","name":"Code","disabled":true},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"db064f416880c116f5f7bba547c6b62f460208dd8c03a1ded288c9792ad48fc4@group.calendar.google.com","mode":"list","cachedResultName":"Recordatorios"},"eventId":"={{ $('Get many events').item.json.id }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-480,1792],"id":"457bcf95-d8c9-46a0-940d-eb90897ac30e","name":"Google Calendar1","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.summary }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"si"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7022b564-a53f-4019-9660-478b2f8bd6a1","leftValue":"={{ $json.summary }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"no"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1008,1808],"id":"286376be-5d33-4084-a8bb-bc6c51f395f8","name":"Switch2","disabled":true},{"parameters":{"sendTo":"alvaradojuanm@gmail.com","subject":"Recordatorio","message":"=🚨 RECUERDA {{ $json.summary.toUpperCase() }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-752,1792],"id":"72bc2a9d-d372-42bc-bc28-7ba61565395e","name":"Send a message","webhookId":"d127d5da-0afe-4c50-8e19-0a6b2edcdf97","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('final_message').item.json.session_id }}","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[896,1696],"id":"d4b9f97f-e720-4956-b9a3-7d8b3115c20f","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"2rWXL8WYRyYZbH6r","name":"Postgres account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"returnAll":true,"options":{"timeMin":"={{ $json.now }}","timeMax":"={{ $json.nowPlus5 }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-1216,1808],"id":"55785b3b-1855-42e1-a542-694cb0eb5d65","name":"Get many events","disabled":true},{"parameters":{"promptType":"define","text":"=Nombre del usuario al que te diriges: {{ $('Webhook').item.json.body.data.pushName }}\n\nContenido del mensaje del usuario: {{ $json.concat_message }}","options":{"systemMessage":"=# NOMBRE DEL ASISTENTE: Harry\n\n# 📌 Descripción General \n Eres **Harry** un tutor de inglés de **Openclick**! Profesor Experto en inglés americano o británico para enseñar desde el **nivel actual hasta experto.”**\n## INDICACIONES PRINCIPALES \n  \n1. Revisa siempre la memoria de la sesión antes de responder usando:  \n   **{{ $('final_message').item.json.session_id }}**  \n   - Si existe sesión previa → no te presentes con tu nombre nuevamente y continúa desde el último punto (nivel, tema, ejercicios).\n   - Si no existe sesión → inicia nueva y registra los datos del alumno (objetivos, nivel, progreso).  \n\n2. Pregunta al contacto cuál es su objetivo:  \n   - Iniciar desde cero (principiante).  \n   - Mejorar inglés intermedio.  \n   - Alcanzar nivel avanzado/expert (C1–C2).  \n   - Preparar exámenes oficiales (IELTS, TOEFL, Cambridge).  \n\n3. Identifica el nivel y adapta la explicación a ese marco (CEFR).  \n\n4. Explica con ejemplos claros, breves y prácticos, siempre en máximo **400 caracteres**.  \n\n5. Alterna inglés y español según el nivel del alumno:  \n   - **Principiantes**: más apoyo en español.  \n   - **Intermedio/avanzado**: usar inglés como lengua principal.  \n\n6. Propón mini-actividades: *role-play, preguntas de práctica, micro-quizzes, ejercicios de pronunciación.*  \n\n7. Refuerza con tips culturales, diferencias entre inglés americano y británico.  \n\n8. Responde siempre en **tono humano, cálido, respetuoso y profesional**.  \n\n9. No excedas **300 caracteres** por mensaje.  \n\n10. Fecha actual: **{{ $now.toFormat(\"dd-MM-yyyy hh:mm a ZZ\") }}**  \n---\n\n## 🎯 Reglas de Comportamiento  \n- En una nueva sesión: **preséntate con tu nombre y el rol que cumples**. \n- Valida el **ID del chat** para evitar presentarte de nuevo si ya interactuaste con el usuario.\n---\n\n## INDICACIONES ADICIONALES Y NOTAS\n- Usa emojis cuando aporten claridad o cercanía 🎯📚🎧.  \n- Siempre guarda y consulta la sesión del usuario:  \n  - **Clave:** {{ $('final_message').item.json.session_id }}  \n  - **Datos a registrar:** nivel, objetivos, últimos ejercicios, errores frecuentes.  \n- Al corregir, aplica feedback en tres pasos:  \n  1. Reconoce lo positivo.  \n  2. Señala el error.  \n  3. Explica cómo corregirlo.  \n- Integra contenidos progresivos (gramática, vocabulario, pronunciación, cultura).  \n- Personaliza según objetivos: conversación, viajes, negocios, exámenes.  \n- Motiva siempre con un **cierre positivo** en cada interacción.  \n- Coloca los ejemplos descritos con claridad y listados si es el caso.  \n\n---\n\n## LISTAS\n\n### OBJETIVOS_POR_NIVEL\n- **A1–A2 (Principiante):** presentarse, rutinas, vocabulario cotidiano, frases simples.  \n- **B1–B2 (Intermedio):** expresar opiniones, narrar, escribir emails y textos medios.  \n- **C1–C2 (Avanzado/Experto):** precisión lingüística, presentaciones académicas/profesionales, comprensión avanzada.  \n\n### COMPETENCIAS_DEL_TUTOR\n- 20 años de experiencia en enseñanza.  \n- Formación académica: Filología Inglesa y Máster en Enseñanza de Idiomas.  \n- Certificaciones: CELTA, DELTA, TEFL/TESOL.  \n- Preparación de exámenes (IELTS, TOEFL, Cambridge).  \n- Manejo de herramientas interactivas (Zoom, Moodle, Quizlet).  \n\n### METODOLOGIA\n- **Warm-up:** activar conocimiento previo.  \n- **Presentación:** clara de tema/estructura.  \n- **Práctica guiada:** ejercicios cortos.  \n- **Producción libre:** role-play, debate, writing.  \n- **Feedback y tarea final.**  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1040,1424],"id":"819e9396-81d1-4bb3-9599-6b749ca5394a","name":"Asistente Virtual"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Describe la imagen en detalle. \n\nEsta es el caption de la imagen para contexto: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-464,928],"id":"1e9fd478-bba4-4026-967e-3c8b1b267824","name":"Analyze Image","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-656,960],"id":"73fbe7cf-83d1-45f4-bfb1-c40592486a15","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"nP1YZmGaWN1xgdRX","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8b64fab-0278-4873-94b1-665efa5c4f76","leftValue":"={{ $json.session_id }}","rightValue":"584128499163","operator":{"type":"string","operation":"equals"}},{"id":"12b85279-d53f-4d20-8564-90c96b531bf5","leftValue":"={{ $json.session_id }}","rightValue":"584166341709","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1216,1440],"id":"b376ae23-7bbb-42f1-b8e4-450945445bd3","name":"Omitir"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-992,1536],"id":"12ac8619-5638-46a0-9f06-e7dc7f4955b5","name":"No Operation, do nothing"}],"connections":{"Convertir a audio/ogg1":{"main":[[{"node":"Transcribir Audio","type":"main","index":0}]]},"data message extraction":{"main":[[{"node":"If","type":"main","index":0}]]},"final_message_voice":{"main":[[{"node":"final_message","type":"main","index":0}]]},"final_message_text":{"main":[[{"node":"final_message","type":"main","index":0}]]},"final_message":{"main":[[{"node":"Buffer","type":"main","index":0}]]},"Un_solo_message":{"main":[[{"node":"Asistente Virtual","type":"main","index":0}]]},"If":{"main":[[{"node":"final_message_text","type":"main","index":0}],[{"node":"Convertir a audio/ogg1","type":"main","index":0}]]},"Transcribir Audio":{"main":[[{"node":"final_message_voice","type":"main","index":0}]]},"If3":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"data message extraction","type":"main","index":0}]]},"Bloquea al Agente":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Verificar palabra Clave":{"main":[[{"node":"Activar Bot","type":"main","index":0}],[{"node":"Bloquea al Agente","type":"main","index":0}]]},"Verificar quien Escribe":{"main":[[{"node":"Verificar palabra Clave","type":"main","index":0}],[{"node":"verificar bloqueo","type":"main","index":0}]]},"verificar bloqueo":{"main":[[{"node":"If3","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Verificar quien Escribe","type":"main","index":0}]]},"Humano":{"ai_tool":[[{"node":"Asistente Virtual","type":"ai_tool","index":0}]]},"Buffer":{"main":[[{"node":"Get_buffer_data","type":"main","index":0}]]},"Get_buffer_data":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Get_buffer_data","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation1","type":"main","index":0}],[{"node":"Delete_buffer1","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Delete_buffer1":{"main":[[{"node":"Un_solo_message","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Asistente Virtual","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Asistente Virtual","type":"ai_languageModel","index":0}]]},"Extract from File":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Analyze Image1","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"Text","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Analyze Image1":{"main":[[{"node":"Image + Text1","type":"main","index":0}]]},"Input1":{"main":[[{"node":"Download Audio","type":"main","index":0}],[{"node":"Download Image","type":"main","index":0}],[{"node":"Text Only","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Asistente Virtual":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"Image + Text","type":"main","index":0}]]},"Omitir":{"main":[[],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Asistente Virtual","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.dployxperts.com","user-agent":"axios/1.10.0","content-length":"1050","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"31.97.135.186","cf-ipcountry":"US","cf-ray":"9873aade782e3869-EWR","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"104.23.187.52","x-forwarded-host":"n8n.dployxperts.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"09d704c9b26e","x-real-ip":"104.23.187.52"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"OpenClick","data":{"key":{"remoteJid":"584166341709@s.whatsapp.net","fromMe":false,"id":"ACC75ABD03880B55E6AB35971F6D8649","senderLid":"222883099992068@lid"},"pushName":"Jhoan","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"recipientKeyHash":"YB6mZNE9Zi9AzQ==","recipientTimestamp":"1759148728"},"deviceListMetadataVersion":2,"messageSecret":"ONwkOnDIWTasG4GtGk2dFLzT7CGxnu44up65tuClZbk="},"conversation":"Hola"},"contextInfo":{"expiration":7776000,"ephemeralSettingTimestamp":"1715963357","disappearingMode":{"initiator":"CHANGED_IN_CHAT","trigger":"UNKNOWN","initiatedByMe":false}},"messageType":"conversation","messageTimestamp":1759234754,"instanceId":"1de7c940-3a3d-4fba-9e7d-7885bf7268de","source":"android"},"destination":"https://n8n.dployxperts.com/webhook/1239ce60-38e7-4be9-8371-71fefbf2fb95","date_time":"2025-09-30T09:19:14.237Z","sender":"584242060549@s.whatsapp.net","server_url":"https://evolution.dployxperts.com","apikey":"40B7D117A6F5-4E7C-8D67-F2B99672CCE2"},"webhookUrl":"https://n8n.dployxperts.com/webhook/1239ce60-38e7-4be9-8371-71fefbf2fb95","executionMode":"production"}}]},"versionId":"a5ce5f9a-6395-4140-8a1e-6d476957dfcb","triggerCount":1,"shared":[{"createdAt":"2025-09-28T03:31:02.178Z","updatedAt":"2025-09-28T03:31:02.178Z","role":"workflow:owner","workflowId":"aOl9u02ojJpvduEv","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}