caso-7-evaluacion-1-G98qx56DYZUye6aW.json
{"createdAt":"2025-10-04T18:18:01.802Z","updatedAt":"2025-10-04T22:19:39.898Z","id":"G98qx56DYZUye6aW","name":"Caso 7 Evaluacion 1","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1YwnjhSrmoaGzjcyP1C7oGYYQCG3etSfsy02532Hq1Q4","mode":"list","cachedResultName":"Simple Evaluation Test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YwnjhSrmoaGzjcyP1C7oGYYQCG3etSfsy02532Hq1Q4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Pagina 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YwnjhSrmoaGzjcyP1C7oGYYQCG3etSfsy02532Hq1Q4/edit#gid=0"}},"id":"22780f9e-13f3-456d-9c5e-65cba74c648c","name":"When fetching a dataset row","type":"n8n-nodes-base.evaluationTrigger","position":[432,544],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"BgAYVjcPJiIS0EUL","name":"Caso 6 carga masiva odoo"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"Eres un asistente útil.\n\nUsa la calculadora para operaciones o tareas matemáticas.\n\nResponde solo con el resultado.","returnIntermediateSteps":true}},"id":"8e5f86a4-75eb-4eaa-a1c5-3d772a068f00","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[848,624],"typeVersion":2.2},{"parameters":{},"id":"f64d8c51-0bba-4af6-9215-fac691b5b2ae","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","position":[1024,880],"typeVersion":1},{"parameters":{"options":{}},"id":"34454af4-4bf8-4f01-a5fc-ead383a33cbc","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[848,832],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"nP1YZmGaWN1xgdRX","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"id":"c909b2c0-a6f3-430c-890b-e5d808384bea","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1792,800],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"nP1YZmGaWN1xgdRX","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"id":"932c05a1-d041-46f6-9908-caa7f751796f","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[432,848],"typeVersion":1},{"parameters":{"operation":"checkIfEvaluating"},"id":"08627269-df4a-44e9-80a2-566006be0712","name":"Evaluation?","type":"n8n-nodes-base.evaluation","position":[1168,688],"typeVersion":4.7},{"parameters":{},"id":"07c2955e-bb88-4e85-85af-930f03981216","name":"Return chat response","type":"n8n-nodes-base.noOp","position":[1392,784],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"value":"1YwnjhSrmoaGzjcyP1C7oGYYQCG3etSfsy02532Hq1Q4","mode":"list","cachedResultName":"Simple Evaluation Test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YwnjhSrmoaGzjcyP1C7oGYYQCG3etSfsy02532Hq1Q4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Pagina 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YwnjhSrmoaGzjcyP1C7oGYYQCG3etSfsy02532Hq1Q4/edit#gid=0"},"outputs":{"values":[{"outputName":"Salida_Real","outputValue":"={{ $json.output }}"}]}},"id":"4f910377-a0ea-4f9e-a1ce-31b4c1cef790","name":"Set output Evaluation","type":"n8n-nodes-base.evaluation","position":[1552,592],"typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"BgAYVjcPJiIS0EUL","name":"Caso 6 carga masiva odoo"}}},{"parameters":{"assignments":{"assignments":[{"id":"f9cbadca-1b23-48f3-9362-8c83f6580912","name":"output","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"bc2b70a6-8761-4ded-8453-36d0f3661885","name":"Get output","type":"n8n-nodes-base.set","position":[1392,592],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"9bba92a2-259f-4b52-8d8c-33e0c8aadeae","name":"text","type":"string","value":"={{ $json.Entrada }}"}]},"options":{}},"id":"88732929-f06b-42ec-8e87-166f8074a802","name":"Get input","type":"n8n-nodes-base.set","position":[640,576],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"cac1815d-78eb-4df9-9ad0-e1926a3bafab","name":"text","type":"string","value":"=How much is 8 * 3?"}]},"options":{}},"id":"171ac411-e369-4e43-a8b5-f655fcd8bace","name":"Get manual input","type":"n8n-nodes-base.set","position":[640,848],"typeVersion":3.4},{"parameters":{"operation":"setMetrics","expectedAnswer":"={{ $('When fetching a dataset row').item.json.Salida }}","actualAnswer":"={{ $('Get output').item.json.output }}","prompt":"Usted es un evaluador experto en hechos que evalúa la precisión de las respuestas en comparación con la realidad establecida.\n\nEvalúe la exactitud fáctica de un resultado dado en comparación con la realidad proporcionada en una escala del 1 al 5. Utilice un razonamiento detallado para analizar a fondo todas las afirmaciones antes de determinar la puntuación final.\n\n# Criterios de Puntuación\n\n- 5: Muy similar: El resultado y la realidad son prácticamente idénticos, con diferencias mínimas e insignificantes.\n- 4: Algo similar: El resultado es en gran medida similar a la realidad, pero presenta pocas diferencias perceptibles.\n- 3: Moderadamente similar: Existen algunas diferencias evidentes, pero la esencia se refleja en el resultado.\n- 2: Ligeramente similar: El resultado solo refleja algunos elementos de la realidad y contiene varias diferencias.\n- 1: Nada similar: El resultado es significativamente diferente de la realidad, con pocos o ningún elemento coincidente.\n\n# Pasos de la Evaluación\n\n1. Identifique y enumere los elementos clave presentes tanto en el resultado como en la realidad. 2. Compare estos elementos clave para evaluar sus similitudes y diferencias, considerando tanto el contenido como la estructura.\n\n3. Analice el significado semántico que transmiten tanto el resultado como la verdad fundamental, anotando cualquier desviación significativa.\n\n4. Considere la precisión fáctica de detalles específicos, incluyendo nombres, fechas, números y relaciones.\n\n5. Evalúe si el resultado mantiene la integridad fáctica de la verdad fundamental, incluso si se formula de forma diferente.\n\n6. Determine el nivel general de similitud y precisión según los criterios definidos.\n\n# Formato de salida\n\nProporcionar:\n- Un análisis detallado de la comparación (razonamiento extendido)\n- Un resumen de una oración que destaque las diferencias clave (no las similitudes)\n- La puntuación final de similitud como un entero (1, 2, 3, 4 o 5)\n\nSiempre siga el formato JSON a continuación y no devuelva nada más:\n{\n\"extended_reasoning\": \"<análisis detallado paso a paso de la precisión fáctica y la similitud>\",\n\"reasoning_summary\": \"<resumen de una oración centrado en las diferencias clave>\",\n\"score\": <número: entero del 1 al 5>\n}\n# Ejemplos\n\n**Ejemplo 1:**\n\nEntrada:\n- Salida: \"El gato se sentó en la alfombra.\"\n- Verdad fundamental: \"El felino está sentado en la alfombra.\"\n\nResultado esperado:\n{\n\"extended_reasoning\": \"Necesito comparar 'El gato se sentó en la alfombra' con 'El felino está sentado en la alfombra'. Primero, permítanme identificar los elementos clave: ambas describen un animal ('cat' vs. 'feline') en una posición ('sat' vs. 'sitting') sobre una superficie ('mat' vs. 'rug'). El sujeto es semánticamente idéntico: 'cat' y 'feline' se refieren al mismo animal. La acción también es semánticamente equivalente: 'sat' y 'sitting' describen la misma posición, aunque una está en pasado y la otra en presente continuo. La ubicación difiere en la redacción específica ('mat' vs. 'rug'), pero ambas se refieren a revestimientos de suelo que cumplen la misma función. La estructura y el significado básicos de ambas oraciones se conservan, aunque utilizan vocabulario diferente y tiempos verbales ligeramente distintos. La información principal que se transmite es la misma, pero hay diferencias notables en la redacción. 3\n}\n\n**Ejemplo 2:**\n\nEntrada:\n- Salida: \"El veloz zorro marrón salta sobre el perro perezoso.\"\n- Verdad fundamental: \"Un veloz animal marrón salta sobre un canino dormido.\"\n\nResultado esperado:\n{\n\"extended_reasoning\": \"Necesito comparar 'El veloz zorro marrón salta sobre el perro perezoso' con 'Un veloz animal marrón salta sobre un canino dormido'. Empezando por los sujetos: \"zorro marrón veloz\" vs. \"animal marrón veloz\". Ambos describen la misma entidad (un zorro es un tipo de animal) con los mismos atributos (rápido/rápido y marrón). La acción se describe como \"salta\" vs. \"brinca\", que son verbos sinónimos que describen el mismo movimiento. El objeto en ambas oraciones es un perro, descrito como \"perezoso\" en una y \"durmiendo\" en la otra, que son conceptos relacionados (un perro dormido podría percibirse como perezoso). La estructura sigue el mismo patrón: sujeto + acción + sobre + objeto. Las oraciones transmiten la misma escena con elecciones de palabras ligeramente diferentes que mantienen el significado central. El nivel de especificidad difiere ligeramente (\"zorro\" vs. \"animal\", \"perro\" vs. \"canino\"), pero la información e imágenes subyacentes siguen siendo muy similares. especificidad ('zorro' vs. 'animal', 'perro' vs. 'canino').\",\n\"puntuación\": 4\n}\n\n# Notas\n\n- Céntrese principalmente en la precisión fáctica y la similitud semántica, no en el estilo de escritura ni en las diferencias de redacción.\n- Identifique las diferencias específicas en lugar de hacer evaluaciones generales.\n- Preste especial atención a las fechas, números, nombres, ubicaciones y relaciones causales, cuando las haya.\n- Considere la importancia de cada diferencia en el contexto de la información general.\n- Sea coherente en su enfoque de puntuación en las diferentes evaluaciones.","options":{"metricName":"Correctness"}},"id":"7d232a78-21cd-473a-82b5-8dcc883c7b3d","name":"Corectness","type":"n8n-nodes-base.evaluation","position":[1712,592],"typeVersion":4.7},{"parameters":{"documentId":{"__rl":true,"value":"1YwnjhSrmoaGzjcyP1C7oGYYQCG3etSfsy02532Hq1Q4","mode":"list","cachedResultName":"Simple Evaluation Test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YwnjhSrmoaGzjcyP1C7oGYYQCG3etSfsy02532Hq1Q4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Pagina 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YwnjhSrmoaGzjcyP1C7oGYYQCG3etSfsy02532Hq1Q4/edit#gid=0"},"outputs":{"values":[{"outputName":"Exactitud","outputValue":"={{ $json.Correctness }}"}]}},"id":"a1f6b120-ad00-48a8-938c-c137911c416b","name":"Set correctness","type":"n8n-nodes-base.evaluation","position":[2000,592],"typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"BgAYVjcPJiIS0EUL","name":"Caso 6 carga masiva odoo"}}},{"parameters":{"content":"","height":608,"width":1856,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[368,464],"id":"a9fa9820-18c5-49b3-aad9-882864813b0a","name":"Sticky Note1"}],"connections":{"AI Agent":{"main":[[{"node":"Evaluation?","type":"main","index":0}]]},"Get input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Corectness":{"main":[[{"node":"Set correctness","type":"main","index":0}]]},"Get output":{"main":[[{"node":"Set output Evaluation","type":"main","index":0}]]},"Evaluation?":{"main":[[{"node":"Get output","type":"main","index":0}],[{"node":"Return chat response","type":"main","index":0}]]},"Set correctness":{"main":[[]]},"Get manual input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Set output Evaluation":{"main":[[{"node":"Corectness","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Corectness","type":"ai_languageModel","index":0}]]},"When fetching a dataset row":{"main":[[{"node":"Get input","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get manual input","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"8227"},"pinData":{},"versionId":"1f4a8def-2ff8-494b-bbf7-32ab3b04a093","triggerCount":0,"shared":[{"createdAt":"2025-10-04T18:18:01.802Z","updatedAt":"2025-10-04T18:18:01.802Z","role":"workflow:owner","workflowId":"G98qx56DYZUye6aW","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}