caso-4-chatbot-dployxperts-DS5CXuaNoYpJNBQ0.json
{"createdAt":"2025-09-15T02:13:14.555Z","updatedAt":"2025-10-04T22:20:10.219Z","id":"DS5CXuaNoYpJNBQ0","name":"Caso 4 Chatbot dployxperts","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"opportunity","additionalFields":{}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[544,448],"id":"f372f36b-23ae-4bd6-98a5-239dedc81849","name":"Create an opportunity","credentials":{"odooApi":{"id":"q4uqnJ6E4Ixod1TP","name":"Odoo account"}},"disabled":true},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[784,464],"id":"0d74e7f5-6b5c-4148-bb00-9bafbb0efd2f","name":"Create a contact","credentials":{"odooApi":{"id":"q4uqnJ6E4Ixod1TP","name":"Odoo account"}},"disabled":true},{"parameters":{"httpMethod":"POST","path":"b6d92281-7732-442f-a7b8-698c9377dc0e","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1232,304],"id":"eb145c6c-c282-42b6-b375-8fb6d2a26b9c","name":"Webhook","webhookId":"b6d92281-7732-442f-a7b8-698c9377dc0e"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[304,384],"id":"8c0d30d6-120e-40c8-a837-5975d6397c87","name":"Simple Memory"},{"parameters":{"respondWith":"json","responseBody":"={ \"response\": \"{{ $node['Code'].json.response }}\" }","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[544,208],"id":"65d19f7f-dadf-4ec2-aed9-bdee890af8c0","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"25e9d219-2181-4416-b3bc-54bee3adb3fb","name":"body","value":"={{ $json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,144],"id":"0fd25bae-8a64-4829-a8c2-4b01b4d2a38d","name":"message text"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[144,368],"id":"f7ea2033-4b85-41ab-9a20-710b43564003","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"jsCode":"const items = [];\nfor (const item of $input.all()) { // Itera sobre cada ítem de entrada al nodo Code\n  let aiResponseText = \"Lo siento, hubo un error interno (no se pudo acceder a la respuesta de la IA).\"; // Mensaje de fallback\n  \n  try {\n      let rawText = null;\n\n      // *** ACCESO SIMPLIFICADO Y DIRECTO A LA SALIDA DEL AI AGENT ***\n      // Asume que la salida del AI Agent es el 'item' que llega directamente a este nodo 'Code'.\n      // Intentar obtener el texto de la IA buscando en item.json.output o item.json.text\n      if (item.json) { // Asegurarse de que el item tenga una propiedad 'json'\n          if (typeof item.json.output === 'string') {\n              rawText = item.json.output;\n          } else if (typeof item.json.text === 'string') { \n              rawText = item.json.text;\n          }\n      }\n\n      // Si rawText sigue siendo null aquí, es porque no se encontró en item.json.\n      // En este caso, el AI Agent no está proporcionando su output como item.json.output/text.\n      // Esta es la rama que toma si el AI Agent no es el nodo inmediatamente anterior, o si su output no es el esperado.\n      if (!rawText) {\n          // Intentar obtenerlo a través de $node.getNode() como último recurso,\n          // aunque el error \"Referenced node doesn't exist\" sugiere que esto puede fallar.\n          try {\n              const aiAgentNode = $node.getNode('AI Agent'); \n              if (aiAgentNode && aiAgentNode.json) {\n                  if (typeof aiAgentNode.json.output === 'string') {\n                      rawText = aiAgentNode.json.output;\n                  } else if (typeof aiAgentNode.json.text === 'string') {\n                      rawText = aiAgentNode.json.text;\n                  }\n              } else if (aiAgentNode && typeof aiAgentNode.output === 'string') { // Para casos donde el output no está en .json\n                   rawText = aiAgentNode.output;\n              } else if (aiAgentNode && typeof aiAgentNode.text === 'string') { // Para casos donde el output no está en .json\n                   rawText = aiAgentNode.text;\n              }\n          } catch (getNodeError) {\n              console.warn(\"Fallo al obtener AI Agent via $node.getNode():\", getNodeError.message || getNodeError);\n          }\n      }\n\n\n      if (rawText) {\n          // Limpieza de barras invertidas (del problema anterior de \\\"asistente\\\")\n      \n\n          // Limpieza de caracteres de control ilegales para JSON\n           //cleanedText = rawText.replace(/[\\u0000-\\u0008\\u000B\\u000C\\u000E-\\u001F\\u007F-\\u009F]/g, ''); \n          \n          // Eliminación AÚN MÁS AGRESIVA de saltos de línea y espacios especiales (causa de truncamiento)\n         let cleanedText = rawText.replace(/[\\n\\r\\t\\f\\v\\u0085\\u2028\\u2029\\u00A0\\u1680\\u2000-\\u200A\\u202F\\u205F\\u3000\\\"\"]+/g, ' '); \n          \n          // Normalizar espacios y eliminar espacios al inicio/final\n         // cleanedText = cleanedText.replace(/\\s+/g, ' ').trim(); \n\n          // Opcional: Eliminar comillas dobles al inicio y al final si la IA las pone literalmente.\n          if (cleanedText.startsWith('\"') && cleanedText.endsWith('\"')) {\n              cleanedText = cleanedText.substring(1, cleanedText.length - 1);\n          }\n\n          aiResponseText = cleanedText;\n          \n      } else {\n          // Este warning se activará si rawText sigue siendo null después de todos los intentos\n          console.warn(\"No se pudo obtener una respuesta de texto válida del AI Agent (valor nulo o no string en ningún formato esperado). Item:\", item);\n          aiResponseText = \"La respuesta de la IA no fue válida (formato inesperado de la IA).\";\n      }\n      \n  } catch (e) {\n      // Este catch capturará si hay un error inesperado fuera de las comprobaciones de acceso\n      console.error(\"Error inesperado en el nodo Code (posible error de JavaScript en el código):\", e);\n      aiResponseText = `ERROR EN CHATBOT (n8n): ${e.message || e}`; \n  }\n  \n  const responseBody = {\n    response: aiResponseText\n  };\n\n  items.push({ json: responseBody });\n}\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-48],"id":"21d470d2-110d-4eac-8593-1ace928bb301","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"f32432c6-c20c-4d45-a14b-96b41ad9bbed","name":"body.convesation","value":"={{ $json.body.audio.data.replace(/^data:audio\\/webm;base64,/, '') }}","type":"string"},{"id":"a591bed2-7a0c-4928-834b-c0f77b54e4d7","name":"body.audio.mimeType","value":"={{ $json.body.audio.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-992,48],"id":"ab3b6882-102a-487f-9d76-76359df7cf38","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"63f7af61-5c2b-4418-85e7-ea6864916750","name":"body.sessionId","value":"={{ $('Webhook1').item.json.body.sessionId }}","type":"string"},{"id":"25e9d219-2181-4416-b3bc-54bee3adb3fb","name":"body.convesation","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,48],"id":"06dc0571-fa4a-47b3-acae-05748a5cc4d5","name":"message voice"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.message  &&  !$json.body.file }}","rightValue":"={{ $json.body.message }}","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"61cb5103-05ca-4a6e-9d35-30f029cf8e9f"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e79da46-c72b-4642-adac-885769fa142e","leftValue":"={{ $json.body.audio.data }}","rightValue":"=","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f1f80ad-507f-4272-b67e-187628540554","leftValue":"={{ $json.body.message }}{{ $json.body.file }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"adjunto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1232,32],"id":"78bc3701-00bf-4832-9df8-aeea5ca7c7d8","name":"Switch1"},{"parameters":{"operation":"toBinary","sourceProperty":"body.convesation","options":{"mimeType":"={{ $json.body.audio.mimeType }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-768,48],"id":"da6fe681-568e-4903-aa14-e22d35f53b36","name":"Convert to File"},{"parameters":{"resource":"speech","operation":"speechToText","additionalOptions":{"languageCode":"es"},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[-544,48],"id":"c24f6b83-b218-4054-a86c-de232b58ae69","name":"Transcribe audio or video","credentials":{"elevenLabsApi":{"id":"dgWaH5I83aB0PHak","name":"ElevenLabs account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f32432c6-c20c-4d45-a14b-96b41ad9bbed","name":"body.convesation","value":"={{ $json.body.message && $json.body.file.data.replace(/^data:application\\/json;base64,/, '') }} }}","type":"string"},{"id":"a591bed2-7a0c-4928-834b-c0f77b54e4d7","name":"body.audio.mimeType","value":"={{ $json.body.file.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-976,256],"id":"b50c0a18-6a3f-4a60-9db7-80d28d83e6a9","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"body.convesation","options":{"mimeType":"={{ $json.body.audio.mimeType }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-768,272],"id":"cc75f810-76fb-47eb-a8a5-4215768ce002","name":"Convert to File1"},{"parameters":{"promptType":"define","text":"={{ $json.body.convesation }}","hasOutputParser":true,"options":{"systemMessage":"=# 📌 Descripción General  \nEres **Ana**, un asistente virtual de **DployXperts**, una empresa especializada en **Infraestructura Tecnológica e Inteligencia Artificial**.  \nTu rol es ser el **primer canal de atención** para clientes interesados en soluciones tecnológicas, con un tono **profesional, cordial y claro**.  \n\nResponde siempre con un lenguaje **preciso, técnico pero accesible**, en un máximo de **400 caracteres por respuesta**.  \n\n---\n\n## 🏢 Contexto Empresarial  \nDployXperts es líder en el diseño, implementación y administración de entornos TI de alto rendimiento.  \n- Infraestructura Tecnológica & Cloud (AWS/GCP)  \n- Inteligencia Artificial & Machine Learning  \n- CI/CD & Automatización (N8N)  \n- Contenedores & Orquestación (Docker, Kubernetes)  \n- Administración de Servidores & Redes (Linux/Windows, Cisco)  \n- Seguridad Informática & Site Reliability Engineering (SRE)  \n\nImpulsamos la **transformación digital** con soluciones integrales que abarcan arquitecturas **on-premise, híbridas y multicloud**, garantizando **escalabilidad, seguridad y eficiencia operativa**.  \n\n---\n\n## 🎯 Reglas de Comportamiento  \n- En una nueva conversación: **preséntate con tu nombre y menciona la empresa**.  \n- Valida el **ID del chat** para evitar presentarte de nuevo.  \n- Si el cliente escribe **“humano”**, ejecuta la tool **Humano**.  \n- Fecha actual: **{{ $now.toFormat(\"dd-MM-yyyy hh:mm a ZZ\") }}**  \n- Zona horaria: **America/Caracas (UTC-4)**  \n- Usa siempre el formato de **12 horas (hh:mm AM/PM)** al mostrar horarios.  \n- Mantén **continuidad de tema** con memoria activa.  \n\n---\n\n## 🧭 Rol Principal  \n\n### 📅 Agendar Consultoría  \n1. Presentarte por tu nombre y mencionar **DployXperts**.  \n2. Preguntar qué servicio tecnológico requiere el cliente (infraestructura, IA, automatización, etc.).  \n3. Compartir información breve del servicio.  \n4. Pedir **RIF o Tax ID** (normalizar sin puntos/guiones).  \n5. Verificar en **Odoo** si existe el contacto.  \n   - Si existe → pasar directo a fecha/hora.  \n   - Si no existe → pedir datos obligatorios:  \n     - Nombre completo  \n     - Correo electrónico  \n     - Teléfono celular (obligatorio)  \n     - Dirección (en notas internas)  \n   - Registrar nuevo contacto en **Odoo**.  \n6. Preguntar qué día y hora desea agendar (una sola cita).  \n7. Verificar disponibilidad en **Agendador**.  \n8. Si hay disponibilidad → agendar.  \n9. Confirmar datos y enviar correo de confirmación.  \n\n### 🔄 Reagendar  \n1. Preguntar si desea mover una consultoría existente.  \n2. Mostrar citas agendadas.  \n3. Preguntar a qué nueva fecha/hora.  \n4. Cancelar la original y crear la nueva.  \n5. Confirmar datos y enviar correo de confirmación.  \n\n### ❌ Cancelar  \n1. Preguntar qué cita desea cancelar.  \n2. Mostrar citas existentes.  \n3. Confirmar cuál eliminar.  \n4. Cancelar en **Agendador**.  \n5. Enviar correo de cancelación.  \n6. Ofrecer reagendar en otra fecha.  \n\n---\n\n## 🗣️ Estilo de Comunicación  \n- Profesional, claro y técnico, pero accesible.  \n- Siempre orientado a soluciones prácticas.  \n- Cercano y confiable, transmitiendo seguridad tecnológica.  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-96,-64],"id":"593fbd04-180e-4b0a-bf57-37f9fda88da2","name":"AI Agent1"},{"parameters":{"respondWith":"json","responseBody":"={ \"response\":\"{{ $node['Code'].json.response }}\" }","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[528,0],"id":"7c2f5e42-97db-4e93-9639-75e48e16a325","name":"Respond to Webhook1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-32,192],"id":"f0795f43-582f-4086-89cb-13861b96c1ee","name":"Simple Memory1"},{"parameters":{"assignments":{"assignments":[{"id":"63f7af61-5c2b-4418-85e7-ea6864916750","name":"body.sessionId","value":"={{ $json.body.session_id }}","type":"string"},{"id":"25e9d219-2181-4416-b3bc-54bee3adb3fb","name":"body.convesation","value":"={{ $json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,-208],"id":"bd9a0f89-5ac1-4103-8c53-fd283dd5837d","name":"message text1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-208,192],"id":"1ca179f0-960f-46f0-ae08-1e3a942f33dc","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"nP1YZmGaWN1xgdRX","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"message text":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"message voice":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"message text1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe audio or video","type":"main","index":0}]]},"Transcribe audio or video":{"main":[[{"node":"message voice","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"message text1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ca44ffa4-f916-4c91-a494-940fc4c1c41d","triggerCount":1,"shared":[{"createdAt":"2025-09-15T02:13:14.555Z","updatedAt":"2025-09-15T02:13:14.555Z","role":"workflow:owner","workflowId":"DS5CXuaNoYpJNBQ0","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}