caso-6-carga-masiva-en-odoo-FKugS6ZCyKjO75Rm.json
{"createdAt":"2025-10-04T02:49:20.753Z","updatedAt":"2025-10-04T22:19:52.464Z","id":"FKugS6ZCyKjO75Rm","name":"Caso 6 Carga masiva en Odoo","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-448,-32],"id":"c836ca2e-825e-498b-8da3-999922763ec5","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"12f3DuQemhHs8CVbcdl6rWKxStHKwYAKJ4Jlph1Nq8uU","mode":"list","cachedResultName":"Contactos_Data_Sintetica","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12f3DuQemhHs8CVbcdl6rWKxStHKwYAKJ4Jlph1Nq8uU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12f3DuQemhHs8CVbcdl6rWKxStHKwYAKJ4Jlph1Nq8uU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-768,-288],"id":"266ee308-bac8-4230-af5a-54297f34d891","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BgAYVjcPJiIS0EUL","name":"Caso 6 carga masiva odoo"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-560,-288],"id":"447e9b75-7d3b-4c77-a18a-bd6959c39b0f","name":"Loop Over Items"},{"parameters":{"contactName":"={{ $json.Nombre }}","additionalFields":{"email":"={{ $json.Email }}","comment":"=Direccion:{{ $json.Direccion }}","mobile":"={{ $json['Telefono Movil'] }}","phone":"={{ $json['Telefono local'] }}","vat":"={{ $json.Cedula }}"}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[-272,-272],"id":"6e3725ad-a778-43d7-8a3e-f1123759da68","name":"Create a contact","credentials":{"odooApi":{"id":"q4uqnJ6E4Ixod1TP","name":"Odoo account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-272,-432],"id":"5519e9ec-556c-45a4-ba88-698dec3246a9","name":"No Operation, do nothing"},{"parameters":{"documentId":{"__rl":true,"value":"1XFlJLBYENTjHGuNJTuXGlax6QCxefUySvhs3xBtoZ3o","mode":"list","cachedResultName":"Oportunidad_Data_Sintetica","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XFlJLBYENTjHGuNJTuXGlax6QCxefUySvhs3xBtoZ3o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XFlJLBYENTjHGuNJTuXGlax6QCxefUySvhs3xBtoZ3o/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[48,-64],"id":"65aa7506-8c2c-4e90-a121-64e8ba69ecbf","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BgAYVjcPJiIS0EUL","name":"Caso 6 carga masiva odoo"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[272,-48],"id":"82196965-e815-4d82-ac0f-4875346a1693","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[560,-192],"id":"de704590-f40f-408c-babb-11898e0e977e","name":"No Operation, do nothing1"},{"parameters":{"resource":"opportunity","opportunityName":"={{ $json.Nombre }}","additionalFields":{"email_from":"={{ $json.Email }}","expected_revenue":"={{ $json['Expected Revenue'] }}","description":"={{ $json['Internal Notes'] }}","phone":"={{ $json.Phone }}","priority":"2","probability":"={{ $json.Probability }}"}},"type":"n8n-nodes-base.odoo","typeVersion":1,"position":[560,0],"id":"a3596a70-02e4-463e-a133-dae9b241642e","name":"Create an opportunity","credentials":{"odooApi":{"id":"q4uqnJ6E4Ixod1TP","name":"Odoo account"}}},{"parameters":{"content":"## Carga Masiva Contactos ODOO\n","height":432,"width":816,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-864,-512],"id":"1e390a51-a311-4d4f-99ec-9af9dd411ded","name":"Sticky Note"},{"parameters":{"content":"## Carga Masiva Oportunidades ODOO\n","height":432,"width":784,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,-192],"id":"dec7b447-0ec5-4464-b4ce-b37049cfd770","name":"Sticky Note1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Create a contact","type":"main","index":0}]]},"Create a contact":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Create an opportunity","type":"main","index":0}]]},"Create an opportunity":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"01e96117-46fa-4e60-bfcd-c23531562157","triggerCount":0,"shared":[{"createdAt":"2025-10-04T02:49:20.753Z","updatedAt":"2025-10-04T02:49:20.753Z","role":"workflow:owner","workflowId":"FKugS6ZCyKjO75Rm","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}