chatwoot-+-evoapi-+-n8n-YgONHQY4GGM0BN10.json
{"createdAt":"2025-08-17T02:06:06.290Z","updatedAt":"2025-08-17T23:52:51.399Z","id":"YgONHQY4GGM0BN10","name":"chatwoot + evoapi + n8n","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-448,-192],"id":"eeed7cdc-877d-4843-9694-ed135c7b4586","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"r8djHEeAWWI0Jv49","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message_type }}","options":{"systemMessage":"=Eres un clasificador de mensajes. Tu objetivo es clasificar el siguiente mensaje en una única categoría: ventas, soporte ,atencion, reclamos.\n\nResponde únicamente con una sola palabra, en minúscula, sin signos de puntuación ni explicaciones:ventas, soporte , atencion, reclamos."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-384,-352],"id":"9ac68d2c-8b4b-4c03-ac9f-f7397395a769","name":"AI Agent"},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $('data message extraction').item.json.account_id }}/conversations/{{ $('data message extraction').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"labels","value":"={{ Array($json.output) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,-352],"id":"dc78e228-0ee3-4ed5-a651-3b441aad4ae5","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sesion_id }}","tableName":"chat_histories","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-160,-192],"id":"209d623c-8e3f-4c85-a5b5-d9386308f832","name":"Memory1","credentials":{"postgres":{"id":"2rWXL8WYRyYZbH6r","name":"Postgres account"}}},{"parameters":{"httpMethod":"POST","path":"b1d73012-7a8e-4e47-97de-f52e7a127612","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-832,-352],"id":"02e36390-e20f-4710-a229-a964f7a035e9","name":"Webhook","webhookId":"b1d73012-7a8e-4e47-97de-f52e7a127612","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"account_id","value":"={{ $json.body.account.id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message_type","value":"={{ $json.body.content }}","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"conversation_id","value":"={{ $json.body.conversation.id }}","type":"string"},{"id":"1a648edb-b1d8-4cd1-abab-601684f74b07","name":"sesion_id","value":"={{ $json.body.conversation.messages[0].sender.phone_number }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,-352],"id":"f37a76c2-7f34-48d1-8927-0cde8905fd52","name":"data message extraction"},{"parameters":{"httpMethod":"POST","path":"b1d73012-7a8e-4e47-97de-f52e7a127612","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1008,224],"id":"c2074dda-1e52-4623-92a3-e2b15300f04f","name":"Webhook1","webhookId":"b1d73012-7a8e-4e47-97de-f52e7a127612"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"{{ $json.body.event }}","rightValue":"=automation_event.conversation_created","operator":{"type":"string","operation":"equals"},"id":"2550db8b-9d1c-4a79-b9d4-4d29d415ee6c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Nueva Conversación"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7b2e7e3-259e-4623-b899-4f825f3690ba","leftValue":"={{ $json.body.event }}","rightValue":"=automation_event.message_created","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje Nuevo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"184d4914-dd32-4e5d-85f6-c8a0a5bdd8b5","leftValue":"={{ $json.body.event }}","rightValue":"automation_event.message_updated","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conversación"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-768,208],"id":"382a90e2-9fd2-4743-8e86-275caf7510ae","name":"Switch"},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $('Webhook').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook').item.json.body.messages[0].conversation_id }}/custom_attributes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"atendido_por\": \"Agente\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,112],"id":"207c367a-5510-414c-a5a0-70cf0db293c3","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3ff688f-6605-4f73-8598-23dfd44464ef","leftValue":"={{ $json.doby.meta.assignee.name }}","rightValue":"DployXperts-Bot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-608,432],"id":"4d79bc37-7cc3-45a0-ab71-fe23bbcbe9d3","name":"If"},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $('Webhook').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook').item.json.body.messages[0].conversation_id }}/custom_attributes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"atendido_por\": \"Agente\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,416],"id":"76c8719e-699f-4259-b038-0a7ece997dd4","name":"Controlar el Agente","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $('Webhook').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook').item.json.body.messages[0].conversation_id }}/custom_attributes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"atendido_por\": \"Humano\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-352,576],"id":"b922cf0d-621d-453b-8c69-9eb2762023af","name":"Controlar el Humano","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"message.id","value":"={{ $('Webhook').item.json.body.messages[0].id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message.contenido","value":"={{ $('Webhook').item.json.body.messages[0].content }}","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"message.date","value":"={{ $('Webhook').item.json.body.messages[0].created_at.toDateTime('s').toISO() }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"message.type","value":"={{ $('Webhook').item.json.body.messages[0].attachments[0]?.file_type ?? \"text\" }}","type":"string"},{"id":"cf8e5bf6-5c0e-4308-9ed4-a47fffadbb36","name":"message.url","value":"={{ $('Webhook').item.json.body.messages[0].attachments[0]?.data_url ?? \"\" }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"chat.id ","value":"={{ $('Webhook').item.json.body.id }}","type":"string"},{"id":"9825e735-d181-44c8-9dea-0e7723a5a19e","name":"account.id","value":"={{ $('Webhook').item.json.body.account_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,224],"id":"cf6a8ceb-fb7b-44de-90e2-d46b91a8ad83","name":"Parametrizacion"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"imageUrls":"={{ $json.message.url }}","options":{"maxTokens":200}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[400,432],"id":"fb2895a1-200e-474d-b723-eddf68d1bf38","name":"Analyze image","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"{{ $json.message.type }}","rightValue":"=audio","operator":{"type":"string","operation":"equals"},"id":"2550db8b-9d1c-4a79-b9d4-4d29d415ee6c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7b2e7e3-259e-4623-b899-4f825f3690ba","leftValue":"={{ $json.message.type }}","rightValue":"=text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"053756a0-531d-4cc1-b503-b242f40410bd","leftValue":"={{ $json.message.type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[16,208],"id":"a24d30d5-e612-41d9-bd2c-e6fdb66d2ea6","name":"Switch1"},{"parameters":{"url":"={{ $json.message.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,80],"id":"f1c1116e-4af8-45d8-a0c1-96b5a8bda34d","name":"Download Audio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[400,80],"id":"5e507825-40d2-454e-9483-d89563dc81e5","name":"Transcribe","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"message.id","value":"={{ $('Parametrizacion').item.json.message.id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message.contenido","value":"=Audio: \"{{ $json.text }}\"","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"message.date","value":"={{ $('Parametrizacion').item.json.message.date }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"message.type","value":"={{ $('Parametrizacion').item.json.message.type }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"chat.id ","value":"={{ $('Parametrizacion').item.json.chat.id }}","type":"string"},{"id":"9825e735-d181-44c8-9dea-0e7723a5a19e","name":"account.id","value":"={{ $('Parametrizacion').item.json.account.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,80],"id":"edfb4d75-4ba6-47eb-8f54-b486cb90aca4","name":"Transcripcion"},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"message.id","value":"={{ $('Parametrizacion').item.json.message.id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"=message.contenido","value":"=Imagen: \"{{ $json.content }}\"","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"message.date","value":"={{ $('Parametrizacion').item.json.message.date }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"message.type","value":"={{ $('Parametrizacion').item.json.message.type }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"chat.id ","value":"={{ $('Parametrizacion').item.json.chat.id }}","type":"string"},{"id":"9825e735-d181-44c8-9dea-0e7723a5a19e","name":"account.id","value":"={{ $('Parametrizacion').item.json.account.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,432],"id":"6fa7b6d6-8d35-4f42-b35b-199aaceb11a2","name":"Transcripcion1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[720,208],"id":"2df829a5-f5cc-40af-9c18-efe7582416a8","name":"Merge"},{"parameters":{"operation":"push","list":"={{ $('data message extraction').item.json.sender }}","messageData":"={{ JSON.stringify({\n  message: $json.final_message,\n  session_id: $('data message extraction').item.json.session_id,\n  date_time: $('data message extraction').item.json.date_time\n}) }}\n","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1152,-432],"id":"38f7a666-2266-4ca8-bdb9-bc1893fc6f77","name":"buffer","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('data message extraction').item.json.sender }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1456,-432],"id":"5bf40ec5-1e6b-4d78-895c-0b1cfc283c8f","name":"get_buffer_data","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.message.last()).session_id  }}","rightValue":"={{ $('data message extraction').item.json.session_id }}","operator":{"type":"string","operation":"notEquals"},"id":"a30f0c20-2d06-4917-93bf-2cb7c6ff983e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f188df3b-dea6-4ce2-a53e-ddc1b1f02e1d","leftValue":"={{ JSON.parse($json.message.last()).date_time  }}","rightValue":"={{ $now.minus(20,'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuar"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1600,-448],"id":"0cad61ff-b2ac-49c9-a5bf-8c30d606c2fb","name":"Switch2"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1616,-176],"id":"71cea0a0-bde1-4d22-80b1-0726ec8e8afc","name":"Wait","webhookId":"56271429-b6c3-493a-8bfe-f3a2be62c7a3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1328,-208],"id":"d21b3acf-cb19-490c-9377-a5e269ea1674","name":"No Operation, do nothing"},{"parameters":{"operation":"delete","key":"={{ $('data message extraction').item.json.sender }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1824,-432],"id":"b7cc9497-7c5f-4c12-9171-36437efbdcfd","name":"Delete_buffer","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fdaaa5c7-a1a8-4f0f-b775-dbb1df5f754e","name":"concat_message","value":"={{ $json.message.map(m=> JSON.parse(m).message).join('\\n') }}","type":"string"},{"id":"dbb5014c-ccc9-4aed-bdee-a2e90092c775","name":"session_id","value":"={{ $('data message extraction').item.json.sender }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2032,-432],"id":"764ed8af-cfe4-4aff-99d9-68f86ab3c1ed","name":"Un_solo_message"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,-432],"id":"408470e7-e17c-4233-8a04-36597df16819","name":"Wait1","webhookId":"dd4c5ad2-cf80-47d8-aad8-cd4e61cd7d24"},{"parameters":{"operation":"push","list":"={{ $('data message extraction').item.json.sender }}","messageData":"={{ JSON.stringify({\n  message: $json.final_message,\n  session_id: $('data message extraction').item.json.session_id,\n  date_time: $('data message extraction').item.json.date_time\n}) }}\n","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1088,224],"id":"2be147f2-bf4d-4186-8fd1-467ce67d81f4","name":"buffer1","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('data message extraction').item.json.sender }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1328,224],"id":"7f116509-e5f3-4257-bcdf-e25304aa993c","name":"get_buffer_data1","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.message.last()).session_id  }}","rightValue":"={{ $('data message extraction').item.json.session_id }}","operator":{"type":"string","operation":"notEquals"},"id":"a30f0c20-2d06-4917-93bf-2cb7c6ff983e"}],"combinator":"and"},"renameOutput":true,"outputKey":"No hacer NAda"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f188df3b-dea6-4ce2-a53e-ddc1b1f02e1d","leftValue":"={{ JSON.parse($json.message.last()).date_time  }}","rightValue":"={{ $now.minus(20,'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Seguir"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1584,208],"id":"de4a048a-1c18-4ef9-a4ed-26b543afa02b","name":"Switch3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1888,-16],"id":"4489119e-05fb-4459-9c9f-8a566732036a","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1888,368],"id":"22618ffb-85a9-4421-8158-b9e2f095b4b3","name":"Wait2","webhookId":"dd4c5ad2-cf80-47d8-aad8-cd4e61cd7d24"},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"message.id","value":"={{ $('Parametrizacion').item.json.message.id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message.contenido","value":"=Audio: \"{{ $json.text }}\"","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"message.date","value":"={{ $('Parametrizacion').item.json.message.date }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"message.type","value":"={{ $('Parametrizacion').item.json.message.type }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"chat.id ","value":"={{ $('Parametrizacion').item.json.chat.id }}","type":"string"},{"id":"9825e735-d181-44c8-9dea-0e7723a5a19e","name":"account.id","value":"={{ $('Parametrizacion').item.json.account.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1888,192],"id":"4e429310-1c94-4f46-891b-55c211cd999d","name":"Transcripcion2"},{"parameters":{"operation":"delete","key":"={{ $('data message extraction').item.json.sender }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2064,192],"id":"61d69804-2f15-4a97-995a-6af6c5ed9962","name":"Delete_buffer1","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $json['Mensaje-final']}}","options":{"systemMessage":"=#Rol\nEres el Asistente virtual de Serenity Spa.\n\n#Tarea\nTu trabajo es atender a los clientes de una manera amigable y profesional, ayudándolos a reservar servicios, proporcionar información y resolver sus consultas relacionadas con Serenity SPA.\n\n#Restricciones\n\nResponde brevemente las preguntas.\n\nSi el cliente realiza preguntas que no estén relacionadas con Serenity Spa, responde de manera cortés indicando que solo puedes ayudar con temas del spa. Ejemplo:\n\nCliente: ¿Qué tiempo hace hoy?\nAsistente: Lo siento, solo puedo ayudarte con consultas relacionadas con Serenity Spa. 🙂 ¿En qué servicio quieres que te asesore?\n\nEvita brindar respuestas generales o que no estén basadas en la información del contexto proporcionado. Mantén las respuestas dentro de los servicios ofrecidos por el spa.\n\nSi no tienes suficiente información para responder una consulta específica, indícalo cortésmente.\n\nEjemplo:\n\nCliente: ¿Cuál es la mejor técnica de meditación?\nAsistente: Lo siento, no tengo información sobre eso. Pero puedo ayudarte a programar una cita para una de nuestras terapias relajantes. 🙂\n\n#Contexto\nSerenity Spa ofrece servicios de relajación y bienestar, como masajes, tratamientos faciales, manicura, pedicura y terapias personalizadas. Además, contamos con paquetes promocionales en promociones.\n\nUbicación: Nos encontramos en el Centro Comercial La Odisea local 107 en Cali, Colombia.\nHorarios de Atención: De lunes a viernes de 8am hasta las 7pm.\n\n#Costos y Servicios\nSi preguntan por los costos, proporciona una guía general:\n\nMasajes: desde $50 hasta $150 según el tipo y la duración. (link para reservar masajes: http://google.com)\n\nTratamientos faciales: desde $40 hasta $120.\n\nManicura y pedicura: desde $20 hasta $60.\n\nPaquetes promocionales: varían según la temporada, entre $100 y $300.\n\n#Ejemplos\n\nCliente: Hola, quiero un masaje relajante.\nAsistente: ¡Claro que sí! 🙂 ¿Podrías indicarme tu nombre para continuar?\n\nCliente: Quiero un paquete promocional.\nAsistente: Perfecto. Tenemos las siguientes opciones disponibles: Paquete Zen ($120) y Paquete Premium ($250). ¿Cuál te interesa más?\n\n#Notas\n\nSi el cliente desea adquirir un servicio, no pidas datos, solo envíale el siguiente enlace para que separe su cita: https://google.com\n\nSOLO envía el enlace si estás seguro de que el cliente quiere agendar.\n\nPregunta si quiere agendar antes de enviar el enlace de reserva.\n\nSi te llega la descripción de una imagen, solo devuelve la misma descripción.\n\nSi el cliente quiere ser atendido por un humano, pasa usa la herramienta: \"Transfiere a un Humano\"."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2448,192],"id":"5a646c36-ea0b-43f2-8d15-8ebe1b02350c","name":"AI Agent1"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Recibe un texto y analiza su extensión. Si puede enviarse en una sola parte sin perder claridad, hazlo. Si es demasiado largo, divídelo en varias partes de aproximadamente 200 caracteres, asegurándote de que la división sea coherente y no corte frases o ideas a la mitad.  Si es una lista de elementos y puedes enviarla en 1 solo fragmento, hazlo, conserva los saltos de línea; si sobrepasas los 200 caracteres divídela también.  No forces una cantidad fija de partes; usa solo las necesarias.  Responde en formato JSON con la siguiente estructura exacta. No incluyas explicaciones adicionales, solo devuelve el bloque JSON válido:\n\n{\n  \"Partes\": [\n    \"Primera parte del mensaje\",\n    \"Segunda parte del mensaje (si es necesario)\",\n    \"Tercera parte del mensaje (si es necesario)\",\n    \"Cuarta parte del mensaje (si es necesario)\"\n  ]\n}\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2784,192],"id":"4c004c2f-21ce-49bf-af02-201e939ec271","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[2800,400],"id":"63f581ec-b1bb-43a1-b4e6-c6a1a191a9dc","name":"Groq Chat Model","credentials":{"groqApi":{"id":"FavnbvPqe2Y44zqR","name":"Groq account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2272,400],"id":"8aca9eee-6c6c-40eb-b226-3f5152b917d3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[2448,400],"id":"f3089a07-0208-4f6e-b504-9908acdb7fce","name":"Redis Chat Memory","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis account"}}},{"parameters":{"description":"Llama a esta tool cuando el usuario quiera hablar con un Humano","workflowId":{"__rl":true,"value":"YgONHQY4GGM0BN10","mode":"list","cachedResultName":"chatwoot + evoapi + n8n"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Conversation-ID":"={{ $('Merge').item.json.chat.id }}","ID-de-la-cuenta":"{{ $('Merge').item.json.account.id }}"},"matchingColumns":[],"schema":[{"id":"Conversation-ID","displayName":"Conversation-ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ID-de-la-cuenta","displayName":"ID-de-la-cuenta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2624,400],"id":"25936f24-df0f-41e4-8105-76741a6bb4ba","name":"Transfiere a un Humano"},{"parameters":{"jsonSchemaExample":"{\n  \"Partes\": [\n    \"Primera parte del mensaje\",\n    \"Segunda parte del mensaje (si es necesario)\",\n    \"Tercera parte del mensaje (si es necesario)\",\n    \"Cuarta parte del mensaje (si es necesario)\"\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2976,400],"id":"03f67a95-aa00-4e39-93fe-6f80a1a2650e","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"message.id","value":"={{ $('Parametrizacion').item.json.message.id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"=message.contenido","value":"=Imagen: \"{{ $json.content }}\"","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"message.date","value":"={{ $('Parametrizacion').item.json.message.date }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"message.type","value":"={{ $('Parametrizacion').item.json.message.type }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"chat.id ","value":"={{ $('Parametrizacion').item.json.chat.id }}","type":"string"},{"id":"9825e735-d181-44c8-9dea-0e7723a5a19e","name":"account.id","value":"={{ $('Parametrizacion').item.json.account.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3168,192],"id":"b5a11510-fb16-40cd-8186-3e2b135d5878","name":"Transcripcion3"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,208],"id":"70bfd8af-acc6-48a9-88c5-dc66429c92ac","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3344,192],"id":"ca592c66-4960-4292-acbe-aa056faa7aca","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3824,16],"id":"b65fcee8-b167-4782-9a10-bfb4b63b2142","name":"No Operation, do nothing2"},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $('Webhook').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook').item.json.body.messages[0].conversation_id }}/custom_attributes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"atendido_por\": \"Agente\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4000,208],"id":"ca2e4cac-d429-41dc-918f-bed9b5443945","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4192,208],"id":"f06d188c-026b-42a6-8e3a-e5c1b455c6be","name":"Wait3","webhookId":"56271429-b6c3-493a-8bfe-f3a2be62c7a3"},{"parameters":{"options":{}},"id":"de8b19d3-7e0c-4a4e-8487-95a5fe690a4b","name":"Separa el Mensaje","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3552,192]},{"parameters":{"workflowInputs":{"values":[{"name":"Conversation-ID","type":"number"},{"name":"ID-de-la-cuenta","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[1024,944],"id":"d13a14af-02bb-4a07-80b3-d35bdab00d1f","name":"Evoapi + Chatwoot + n8n"},{"parameters":{"content":"## Cambio Agente IA - Humano\n","height":624,"width":1968},"type":"n8n-nodes-base.stickyNote","position":[912,736],"typeVersion":1,"id":"7edf5b26-7737-4e91-bd72-03dce10e452e","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"5a0e2821-977d-482f-b679-9879d3c6d6b6","name":"Conversation-ID","value":"={{ $json['Conversation-ID'] }}","type":"string"},{"id":"607b1eef-8cac-4057-9f75-c432ea3a2f39","name":"ID-de-la-cuenta","value":"={{ $json['ID-de-la-cuenta'] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1264,944],"id":"cf8996e0-5202-4442-8ade-10cca3081a64","name":"Transcripcion4"},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $json['ID-de-la-cuenta'] }}/agents","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"atendido_por\": \"Agente\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,944],"id":"8f694bdb-31ac-460e-ab15-7bc75a6b43c2","name":"Controlar el Agente1","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"jsCode":"// Filtrar agentes que están online y que NO sean \"Agent-AI\"\nconst disponibles = items.filter(item =>\n  item.json.availability_status === \"online\" &&\n  item.json.name !== \"DployXperts-Bot\" // <--- Excluye a Agent-AI\n);\n\n// Si hay disponibles, elegimos uno al azar\nif (disponibles.length > 0) {\n  const elegido = disponibles[Math.floor(Math.random() * disponibles.length)];\n  return [elegido];\n} else {\n  // Si no hay ninguno disponible\n  return {\n    json: {\n      mensaje: \"No hay agentes disponibles en este momento.\"\n    }\n  };\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,944],"id":"4ca18809-05e3-4175-9a25-cb0ffbc3214b","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e10f82b-7e6f-4532-837f-e2056641c53e","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1888,944],"id":"029b9994-7a9a-4363-9af7-bb509a8a4d56","name":"If1"},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $('Normalizar').item.json['ID-de-la-cuenta'] }}/conversations/{{ $('Normalizar').item.json['Conversation-ID'] }}/assignments","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"assignee_id","value":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,1024],"id":"bd1abb0e-4d57-4876-ac5e-7edd3082608b","name":"Asigna un Agente al Azar","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"5a0e2821-977d-482f-b679-9879d3c6d6b6","name":"Conversation-ID","value":"={{ $json['Conversation-ID'] }}","type":"string"},{"id":"607b1eef-8cac-4057-9f75-c432ea3a2f39","name":"ID-de-la-cuenta","value":"={{ $json['ID-de-la-cuenta'] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,800],"id":"cc5fa045-1180-46f0-a0f3-0e0ec9d3240e","name":"responder no hay agentes"},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $('Normalizar').item.json['ID-de-la-cuenta'] }}/conversations/{{ $('Normalizar').item.json['Conversation-ID'] }}/custom_attributes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"atendido_por\": \"Humano\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2384,1024],"id":"cc8d5e92-9968-4999-b090-dd58541494dc","name":"Se desactiva el Agente IA","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"5a0e2821-977d-482f-b679-9879d3c6d6b6","name":"response","value":"=En un momento uno de nuestros agentes te atenderá","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2624,1024],"id":"619056d4-3cba-419e-a5b3-d8d6ff90764e","name":"Responde Un agente te Atendera"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"data message extraction","type":"main","index":0}]]},"data message extraction":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Parametrizacion","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Controlar el Agente","type":"main","index":0}],[{"node":"Controlar el Humano","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Parametrizacion","type":"main","index":0}]]},"Parametrizacion":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Download Audio","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}],[{"node":"Analyze image","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"Transcripcion","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Transcripcion1","type":"main","index":0}]]},"Transcripcion":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Transcripcion1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"buffer":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"get_buffer_data":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Delete_buffer","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"buffer","type":"main","index":0}]]},"Delete_buffer":{"main":[[{"node":"Un_solo_message","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"get_buffer_data","type":"main","index":0}]]},"Merge":{"main":[[{"node":"buffer1","type":"main","index":0}]]},"buffer1":{"main":[[{"node":"get_buffer_data1","type":"main","index":0}]]},"get_buffer_data1":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Transcripcion2","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"get_buffer_data1","type":"main","index":0}]]},"Transcripcion2":{"main":[[{"node":"Delete_buffer1","type":"main","index":0}]]},"Un_solo_message":{"main":[[]]},"AI Agent1":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Transfiere a un Humano":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Transcripcion3":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Separa el Mensaje":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Separa el Mensaje","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Separa el Mensaje","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Transcripcion3","type":"main","index":0}]]},"Delete_buffer1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Evoapi + Chatwoot + n8n":{"main":[[{"node":"Transcripcion4","type":"main","index":0}]]},"Transcripcion4":{"main":[[{"node":"Controlar el Agente1","type":"main","index":0}]]},"Controlar el Agente1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"responder no hay agentes","type":"main","index":0}],[{"node":"Asigna un Agente al Azar","type":"main","index":0}]]},"Asigna un Agente al Azar":{"main":[[{"node":"Se desactiva el Agente IA","type":"main","index":0}]]},"Se desactiva el Agente IA":{"main":[[{"node":"Responde Un agente te Atendera","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0888b7e7-8da4-4317-b652-107c57a608e0","triggerCount":1,"shared":[{"createdAt":"2025-08-17T02:06:06.290Z","updatedAt":"2025-08-17T02:06:06.290Z","role":"workflow:owner","workflowId":"YgONHQY4GGM0BN10","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}