citas-con-telegram-ECG0xeZPwLlkot1U.json
{"createdAt":"2025-08-18T21:21:22.738Z","updatedAt":"2025-08-18T21:21:22.738Z","id":"ECG0xeZPwLlkot1U","name":"Citas con Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"dec4f3f4-b920-4ee9-a106-c054d739c63d","options":{}},"name":"Telegram Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,160],"id":"758816c5-4c25-4cc9-b3b3-92925b339457","webhookId":"dec4f3f4-b920-4ee9-a106-c054d739c63d"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.text }}","operation":"contains","value2":"agendar"}]}},"name":"IF Agendar Cita","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,160],"id":"b06d9a00-afdb-47c8-b964-e28a31bb0447"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"¡Hola! Bienvenido al chatbot de ginecología. Para agendar una cita, por favor escribe 'agendar'.","additionalFields":{}},"name":"Responder Bienvenida","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[256,304],"id":"b5067ee5-2e64-49fd-b2c5-f652f0e73770","webhookId":"b42bcccd-6184-41de-9de0-458c6206c903"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Por favor, ingresa los siguientes datos: Nombre, Fecha (DD-MM-YYYY), Hora (HH:MM), Motivo.","additionalFields":{}},"name":"Solicitar Información","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[0,0],"id":"8aaf9067-8b16-4e56-ad49-ec6bac0cca49","webhookId":"6cd6b621-7e07-434c-a273-1f51a4da5117"},{"parameters":{"authentication":"oAuth2","operation":"append","sheetId":"1SqJoxeXfUPUx6f_SZzzoVKRDTTIgsJ6zGTT5RZyWZwo","options":{}},"name":"Guardar Cita en Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[208,0],"id":"3328bc3d-5756-4ce3-8337-ee0548df16f4"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Tu cita ha sido agendada con éxito. ¡Gracias!","additionalFields":{}},"name":"Confirmar Cita","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[400,0],"id":"d40372bc-8c95-4d31-8cc2-9100e36456e3","webhookId":"2f0b63c4-b2c9-4153-b1d2-11beb3e21f4d"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"No entendí tu solicitud. Por favor, intenta de nuevo.","additionalFields":{}},"name":"Responder Error","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[0,304],"id":"78435a9e-7270-46af-a891-8a384a12ba49","webhookId":"2cf3b6a6-678f-4a16-9846-e9e5d853cdae"}],"connections":{"Telegram Webhook":{"main":[[{"node":"IF Agendar Cita","type":"main","index":0}]]},"IF Agendar Cita":{"main":[[{"node":"Solicitar Información","type":"main","index":0}],[{"node":"Responder Error","type":"main","index":0}]]},"Solicitar Información":{"main":[[{"node":"Guardar Cita en Google Sheets","type":"main","index":0}]]},"Guardar Cita en Google Sheets":{"main":[[{"node":"Confirmar Cita","type":"main","index":0}]]},"Responder Error":{"main":[[{"node":"Responder Bienvenida","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e3e7899c-3d1e-4898-861a-4ebbab532432","triggerCount":0,"shared":[{"createdAt":"2025-08-18T21:21:22.738Z","updatedAt":"2025-08-18T21:21:22.738Z","role":"workflow:owner","workflowId":"ECG0xeZPwLlkot1U","projectId":"JP23SHf2OXqUP0Za"}],"tags":[]}