citas-clinicas-dGLn7UeTVPdebTQa.json
{"createdAt":"2025-07-16T18:57:03.073Z","updatedAt":"2025-07-16T18:57:03.073Z","id":"dGLn7UeTVPdebTQa","name":"Citas Clinicas","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[208,-480],"id":"f4acce44-3874-4aec-84ad-c6902f7717ba","name":"WhatsApp Trigger","webhookId":"0830cae8-c614-4764-a80f-d37bf475cc75"},{"parameters":{"promptType":"define","text":"={{ $('Redis1').item.json.messages.join(\", \") }}\n\n","options":{"systemMessage":"=Eres un asistente virtual llamado Sofia\n\nEstas hablando con:  {{ $('WhatsApp Trigger').first().json.contacts[0].profile.name }}\n\nLa fecha y hora actual es: {{ $now.format('yyyy-MM-dd  HH:mm') }}\n\nhorarios de atenci贸n:\n{{ $json.content }}\n\nHerramientas de gesti贸n de calendario\n\n- \"Cambiar evento\": Usa esta herramienta para cambiar de fecha un evento, se necesita la fecha actual del evento a cambiar y la fecha nueva, si no se tiene se pregunta al usuario.\n\n- \"Crear evento\": Usa esta herramienta para programar nuevas citas. \n\n- \"Cancelar evento\": Usa esta herramienta para cancelar una cita existente cuando el cliente lo solicite.\n\n- \"Disponibilidad\": Usa esta herramienta para obtener la disponibilidad de horario en un rango de horarios.\n\n\n\nReglas\n - Para cualquier uso de herramienta considera que el calendario esta en la zona horaria: {{ $now.toFormat(\"ZZ\") }}. \n\n- Busca el tipo de tratamiento dentro de la informaci贸n proporcianda y trata de ajustar el tiempo de la sesi贸n, si no lo encuentras asume que sera de una hora.\n\n- Asume siempre que la cita sera solo entre el cliente y la clinica. \n\n - Para generar la cita debes de tener nombre y mail.\n\n - Description: lo puedes asumir de la conversaci贸n.\n\n - Si no se especifica fecha/hora, pregunta al cliente por sus opciones preferidas.\n\n - Si el usuario no epecifica a帽o asume que es para el a帽o: {{ $now.format('yyyy') }}.\n\n - Si te hablan de la siguiente semana entoces calcula la fecha exacta:\n\nEjemplo: \nFecha actual 13-jun\nFecha solicitada: siguiente semana lunes\nOk ya he recervado para el dia 16 de jun\n\n - Asume que es para el mes: {{ $now.format('LLLL') }}. \n\n- Si te dan una fecha sin mes puedes en el pasado puedes asumir que es para el siguiente mes. \nEjemplo: \nFecha actual 13-jun\nFecha solicitada: Para el lunes 10\nTenemos dispoibilidad para Jul 10 me confimar si es correcta la fecha para agendarte la cita.\n\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2704,-672],"id":"d7646e07-036b-4d5d-8848-639339230e97","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2592,-320],"id":"1d7ecfcd-855b-420d-a972-67eaec100592","name":"Simple Memory"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,-608],"id":"ba0daa13-1520-484d-b79f-7d5ba571702f","name":"Download Image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"text":"=Describe la imagen en detalle. \n\nEsta es el caption de la imagen para contexto: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1072,-608],"id":"85b2fe4e-177a-4391-80f9-1b9345db8191","name":"Analyze Image"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,-848],"id":"61f04df4-3882-40ac-a433-2c2d23a19cae","name":"Download Audio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d1d759-f585-4791-a743-b9d72951e77c","leftValue":"={{ $('WhatsApp Trigger').first().json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3312,-672],"id":"928edbac-951d-48e3-a50a-7cf530ae431a","name":"If"},{"parameters":{"resource":"audio","input":"={{ $('AI Agent').item.json.output }}","voice":"shimmer","options":{"response_format":"opus"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3584,-768],"id":"93adccaf-443c-429a-a6c2-56ea1993ad58","name":"Generate Audio"},{"parameters":{"operation":"send","phoneNumberId":"phone_number_id_001","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}","messageType":"audio","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[3744,-768],"id":"4b3485d6-ce50-4647-a654-d22f21733871","name":"Respond with Audio","webhookId":"webhook_001"},{"parameters":{"operation":"send","phoneNumberId":"phone_number_id_001","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[3584,-544],"id":"011c93e4-d6f2-409e-994d-3e0df293702e","name":"Respond with Text","webhookId":"webhook_002"},{"parameters":{"content":"## Imagen y Text","height":220,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,-672],"id":"a27867eb-b539-4c04-8941-90866f7a5baf","name":"Sticky Note1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2528,-448],"id":"e4aa8977-d381-49c6-b1de-1065ddecce91","name":"OpenAI Chat Model"},{"parameters":{"content":"## Solo Text","width":800,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,-432],"id":"dcfbcd89-a112-4db0-ad4e-d791646ac749","name":"Sticky Note2"},{"parameters":{"content":"## Entrada","height":840,"width":440,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,-880],"id":"973c8437-d142-4e41-9741-6c2ee86545da","name":"Sticky Note3"},{"parameters":{"content":"## Respuesta","height":840,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3248,-880],"id":"8e43cec8-af2d-40c7-bbb2-f52906ef1fd1","name":"Sticky Note5"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[752,-848],"id":"a8778cb6-48ee-4c9e-91bd-9c6b853b62bf","name":"Audio URL","webhookId":"webhook_003"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').first().json.messages[0].image.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[752,-608],"id":"3c33db1f-41c0-4385-8389-87aa13c5a901","name":"Image URL","webhookId":"webhook_004"},{"parameters":{"assignments":{"assignments":[{"id":"219577d5-b028-48fc-90be-980f4171ab68","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,-848],"id":"5c3dfee0-90dd-446f-a896-3c80282fc4b5","name":"Text"},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"text","value":"=El usuario proporcion贸 la siguiente imagen y texto.\n\nDescripci贸n de la Imagen:\n{{ $json.content }}\n\nMensaje del usuario: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,-608],"id":"be06faaf-a53d-4d7d-ad9f-0797114ccacc","name":"Image + Text"},{"parameters":{"assignments":{"assignments":[{"id":"c05a7fbf-309a-407e-9fee-7e0b03f4a5c8","name":"text","value":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,-400],"id":"27e41704-1aa8-430e-83ce-b50960dd9614","name":"Text Only"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b64446-f1ea-4622-990c-22f3999a8269","leftValue":"={{ $json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"202af928-a324-411a-bf15-68a349e7bf9e","leftValue":"={{ $json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"08fd0c80-307e-4f45-b1de-35192ee4ec5e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a9ce4fd-4061-40ad-b6c4-3c3b5f2a8569","leftValue":"={{ $json.messages[0].video }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb0353ad-6c36-4d2a-9757-fcaa9a465d54","leftValue":"={{ $json.messages[0].button.payload }}","rightValue":"S铆, confirmo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Si"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3bcf7d35-ae97-4cc2-a305-2f7b7f6d33c1","leftValue":"={{ $json.messages[0].button.payload }}","rightValue":"No asistir茅, cancelar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[432,-544],"id":"5cc9fa62-6bb2-4358-b7fd-a2ae17b3dbea","name":"Input"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1072,-848],"id":"10337a65-b12d-4cfa-936d-6842cd3cf09e","name":"Transcribe"},{"parameters":{"content":"## Video","height":724,"width":848,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,-224],"id":"c420f130-3f5d-434b-b7f8-d6ce08329231","name":"Sticky Note6"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].video.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[672,-192],"id":"8ddab632-8cde-4e32-939f-6c30d8f60c05","name":"WhatsApp Business Cloud6","webhookId":"webhook_005"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,-192],"id":"1a086b32-4fe3-497d-b0bb-ddc942ee75b9","name":"HTTP Request3"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[992,-192],"id":"609c3b35-4237-49c1-9237-59513e478531","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $('HTTP Request3').item.json.mime_type}}\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        },\n        {\n          \"text\": \"Describe el contenido de este video.\"\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,-192],"id":"735bcde1-c2e5-43cb-a419-12d04f690986","name":"HTTP Request4","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"3024aa79-00dd-4f83-ac8e-f9d63a997fe3","name":"text","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1296,-192],"id":"7baf541f-ac05-4155-a321-5ec75ac747b0","name":"Edit Fields3"},{"parameters":{"content":"## Redis","height":840,"width":940},"type":"n8n-nodes-base.stickyNote","position":[1488,-880],"typeVersion":1,"id":"9aa687ed-f5a5-4ff0-b74a-7a183751f18f","name":"Sticky Note7"},{"parameters":{"operation":"push","list":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1536,-560],"id":"4c01ef8d-77d2-4a99-9425-b7490508aec7","name":"Redis"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1696,-560],"id":"46413f23-6dac-4a72-94fd-06e94f5aa61e","name":"Wait","webhookId":"39971456-2137-4d03-a25e-da1d369262b3"},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id + \"\" }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1856,-560],"id":"defebac1-c585-441c-abaa-7997ded2fba5","name":"Redis1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e79fa4f-6c7c-4f6d-8907-8a03f4c478fb","leftValue":"={{ $json.messages.last() }}","rightValue":"={{ $('Redis').item.json.text }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2016,-560],"id":"6cfaa00f-adef-444f-aa40-20ae1e223fd0","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2224,-464],"id":"7d463819-b296-4843-9272-b211b8be64fd","name":"No Operation, do nothing"},{"parameters":{"operation":"delete","key":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id + \"\" }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2224,-672],"id":"d74f07ff-f5bf-4d22-8ea9-0f67aa81812f","name":"Redis2"},{"parameters":{"description":"Usa esta herramienta si el usuario quiere cancelar una cita","workflowId":{"__rl":true,"value":"9IOfdiartnyONwwF","mode":"list","cachedResultName":"Cancelar evento"},"workflowInputs":{"mappingMode":"defineBelow","value":{"fecha y hora cancelar":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_y_hora_cancelar', ``, 'string') }}","telefono":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}"},"matchingColumns":[],"schema":[{"id":"fecha y hora cancelar","displayName":"fecha y hora cancelar","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2944,-288],"id":"4e942d4a-2601-4a90-a270-e36b2a73ae4f","name":"Cancelar evento"},{"parameters":{"description":"Usa esta herramienta si quieres crear un nuevo evento","workflowId":{"__rl":true,"value":"8jL6Ar13NwzfGPnq","mode":"list","cachedResultName":"crear evento"},"workflowInputs":{"mappingMode":"defineBelow","value":{"fecha y hora evento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_y_hora_evento', ``, 'string') }}","telefono":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","nombre":"={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', ``, 'string') }}","mail":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mail', `Correo del usuario`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"fecha y hora evento","displayName":"fecha y hora evento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mail","displayName":"mail","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2704,-240],"id":"226e98e4-29a3-42f0-a7a9-7eedafafbda7","name":"Crear evento"},{"parameters":{"description":"Usa esta esta herramienta para modificiar un evento en el calendario, se necesita fecha del evento, fecha nueva ","workflowId":{"__rl":true,"value":"tB6VtdHkBBNVhEeN","mode":"list","cachedResultName":"cambiar evento"},"workflowInputs":{"mappingMode":"defineBelow","value":{"fecha y hora actual":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_y_hora_actual', ``, 'string') }}","fecha y hora nueva":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_y_hora_nueva', ``, 'string') }}","telefono":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","nombre":"={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}"},"matchingColumns":[],"schema":[{"id":"fecha y hora actual","displayName":"fecha y hora actual","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"fecha y hora nueva","displayName":"fecha y hora nueva","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2832,-240],"id":"b02145a2-81f2-4570-8f1c-b6c26bdfb851","name":"Cambiar evento"},{"parameters":{"description":"Usa esta herramineta para revisar la disponibilidad en una fecha y horario","workflowId":{"__rl":true,"value":"4fetyX7QVtmj6hdU","mode":"list","cachedResultName":"Disponibilidad"},"workflowInputs":{"mappingMode":"defineBelow","value":{"fecha hora":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_hora', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"fecha hora","displayName":"fecha hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3056,-384],"id":"4f6ad7f1-1353-4389-8547-a7de9a02b11e","name":"Disponibilidad"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/generic_document_id_001/edit"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2512,-672],"id":"c0d5526b-12e1-4a1f-bc3a-a1fbbc46db98","name":"Horarios"},{"parameters":{"content":"## Agente","height":840,"width":740,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2464,-880],"id":"227877e7-cf69-4777-9b2e-bd5f4d92a5b9","name":"Sticky Note4"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"calendar_id_001","mode":"list","cachedResultName":"Steve | Automatizaci贸n IA"},"limit":10,"timeMax":"={{ $now.plus({ days: 1 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[672,96],"id":"580ca9a4-9746-419d-864b-b6dbdea34b55","name":"Google Calendar"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9165d069-d2f8-4402-bec1-b9f723a53df8","leftValue":"={{ $json.summary }}","rightValue":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[896,96],"id":"7d9bc408-a04e-4565-8eb7-e172069bc605","name":"Filter"},{"parameters":{"operation":"send","phoneNumberId":"phone_number_id_001","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"=Tu cita ha sido confirmada","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1376,96],"id":"d7d86e38-7374-4378-aed2-3789e2cc191e","name":"Respond with Text1","webhookId":"webhook_006"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"calendar_id_001","mode":"list","cachedResultName":"Steve | Automatizaci贸n IA"},"eventId":"={{ $json.id }}","updateFields":{"summary":"={{ '' + ' - ' + $json.summary.split(' - ').slice(1).join(' - ') }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1136,96],"id":"3c5cd0d0-95a0-4011-b8a6-c8905be4c06f","name":"Google Calendar3"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"calendar_id_001","mode":"list","cachedResultName":"Steve | Automatizaci贸n IA"},"limit":10,"timeMax":"={{ $now.plus({ days: 1 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[656,320],"id":"d5fd0869-4204-4d8c-8764-d6377bf820a9","name":"Google Calendar1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9165d069-d2f8-4402-bec1-b9f723a53df8","leftValue":"={{ $json.summary }}","rightValue":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[864,320],"id":"c5c34c9f-bb8c-428b-903d-6e3e57b1bced","name":"Filter1"},{"parameters":{"operation":"send","phoneNumberId":"phone_number_id_001","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"=Tu cita ha sido cancelada, Si gustas podemos revisar agenda para cambiar la cita. ","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1344,320],"id":"dff66b52-3ea5-454e-b0fd-9d78f843da6b","name":"Respond with Text2","webhookId":"webhook_007"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"calendar_id_001","mode":"list","cachedResultName":"Steve | Automatizaci贸n IA"},"eventId":"={{ $json.id }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1104,320],"id":"da05dfca-3daf-48c0-864f-cf731a87ce2a","name":"Google Calendar4"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1712,176],"id":"0b607fa4-b0ea-4310-bcfc-4e66980779a8","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/{{ $('Get fields').item.json.id_phone_meta }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"+{{ $json.telefono }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"confirmar\",\n    \"language\": {\n      \"code\": \"es_MX\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $json.nombre }}\",\n            \"parameter_name\": \"nombre\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $json.hora }}\",\n            \"parameter_name\": \"hora\"\n          }\n        ]\n      }\n    ]\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2624,80],"id":"f2b26eef-9a45-43f9-8d8d-f33d05688f66","name":"Send Template"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"780b4dbf-7fc4-43f4-8d31-044e118f1b71","leftValue":"={{ $json.telefono.isNumeric() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2384,176],"id":"7d520c66-db8e-4faa-b38c-3cbe365444b2","name":"has a phone"},{"parameters":{"assignments":{"assignments":[{"id":"f221d6ef-bc51-40ae-8fdb-66507d0edcb8","name":"Fecha","value":"={{ DateTime.fromISO($json.start.dateTime, { zone: $json.start.timeZone }).toFormat(\"dd/MM/yyyy\") }}","type":"string"},{"id":"dc5d8064-edda-4a78-9f80-119703c71a39","name":"hora","value":"={{ DateTime.fromISO($json.start.dateTime, { zone: $json.start.timeZone }).toFormat(\"HH:mm\") }}","type":"string"},{"id":"99c1559e-b209-4c5e-9bb2-367fcf6cacf9","name":"telefono","value":"={{ $json.summary.split(' - ')[1]?.trim() ?? \"\" }}","type":"string"},{"id":"07338f41-1d4e-466a-92cf-fea714359a5d","name":"nombre","value":"={{ $json.summary.split(\"-\").last().trim()  }}","type":"string"},{"id":"abfa3e2d-ceb7-4d27-92f5-030f9c14aff7","name":"id_phone_meta","value":"phone_number_id_001","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,176],"id":"515a3778-7e81-48fe-9e2a-3554fc7d36e2","name":"Get fields"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"calendar_id_001","mode":"list","cachedResultName":"Steve | Automatizaci贸n IA"},"timeMax":"={{ $now.plus({ hours: 24 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1936,176],"id":"8f52ddf2-908d-431a-8fdc-dfcbd18e2075","name":"Get Events"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2624,304],"id":"62794ac7-c302-4c57-b97a-3ecd83ac8117","name":"No Operation, do nothing1"},{"parameters":{"content":"## Redis","height":488,"width":1260},"type":"n8n-nodes-base.stickyNote","position":[1616,16],"typeVersion":1,"id":"7574b372-e741-46e2-9a94-d2a84e59b0b1","name":"Sticky Note"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Input","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Analyze Image","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"Image + Text","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"If":{"main":[[{"node":"Generate Audio","type":"main","index":0}],[{"node":"Respond with Text","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Respond with Audio","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Audio URL":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Image URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Text":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Image + Text":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Text Only":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Input":{"main":[[{"node":"Audio URL","type":"main","index":0}],[{"node":"Image URL","type":"main","index":0}],[{"node":"Text Only","type":"main","index":0}],[{"node":"WhatsApp Business Cloud6","type":"main","index":0}],[{"node":"Google Calendar","type":"main","index":0}],[{"node":"Google Calendar1","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"Text","type":"main","index":0}]]},"WhatsApp Business Cloud6":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis2","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Horarios","type":"main","index":0}]]},"Crear evento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cancelar evento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cambiar evento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Disponibilidad":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Horarios":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Google Calendar3","type":"main","index":0}]]},"Google Calendar3":{"main":[[{"node":"Respond with Text1","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Google Calendar4","type":"main","index":0}]]},"Google Calendar4":{"main":[[{"node":"Respond with Text2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Events","type":"main","index":0}]]},"has a phone":{"main":[[{"node":"Send Template","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Get fields":{"main":[[{"node":"has a phone","type":"main","index":0}]]},"Get Events":{"main":[[{"node":"Get fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"039728e3-6d7b-4afa-8cc7-2e10b9c86dd7","triggerCount":0,"shared":[{"createdAt":"2025-07-16T18:57:03.073Z","updatedAt":"2025-07-16T18:57:03.073Z","role":"workflow:owner","workflowId":"dGLn7UeTVPdebTQa","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}