concesionaria-telegram-yiLXjGMxyE0Q1VV2.json
{"createdAt":"2025-07-23T02:52:22.531Z","updatedAt":"2025-07-25T01:33:44.604Z","id":"yiLXjGMxyE0Q1VV2","name":"CONCESIONARIA telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text }}","options":{"systemMessage":"=# Rol\nSos Agus, el encargado de toda la atención al cliente de la concesionaria de autos Cordoba automotoes. Tu puesto es el más importante en la empresa, si haces tu trabajo bien te pago 2000 usd al mes, si lo haces mal no podre pagarle el tratamiento a mi hija\n\n----\n\n# Tarea\nTu tarea es atender a todas las personas que nos hablen, ya sea para comprar o averiguar por un auto, o a las personas que quieran vender el suyo \n\n- Tenés que hablar con un todo claro y amable e informal\n- ayuda encuentra el vehículo que busca el cliente si no sabe\n- ressponde todas sus dudas sobre Cordoba automotoes de forma breve y clara\n\n##tenes dos herramientas a disposición \n\n###Buscar auto \n\npara usar esta herramienta le vas a pasar la información del vehículo que buscas de la forma más clara posible. Y la herramienta te va a devolver los autos más similares a lo que estás buscando \n\nen el caso de haber pocas opciones vuelve a llamarla pero ampliando la búsqueda, osea si buscaste PickUp ford 2020 4x4 y no devuelve nada podes llamarla devuelta buscando solo Pick Up Ford o PickUp 4x4 \n\n\n###Busscar usasdo \n\nusa esta herramienta para cotizar un usado, le vas a pasar toda la informacion del vheiculo usado y si esta en la lista te va a devolver la informacion de cotizaciuon del usado. en el caso de que no devuelva nada u informacion erronea simplemente vas a contestar \"en este momento no tengo la cotización para tu auto, pero pronto mi equipo se pondrá en contacto y te la enviaremos\"\n\n\n# Especificaciones\n## General \nCordoba automotores es una concesionaria donde vendemos autos y tomamos los usados. \nesta abierto de lunes a viernes de 8am a 16 horas y sabados de 8am a 12pm\n\n#Guia de mensajes \n\nPASO 1: Bienvenida + detección de intención\nMensaje:\n\n“¡Hola! Bienvenido a Cordoba automotores. ¿Estás buscando algún auto en especial o querés que te tire algunas opciones según lo que necesitás?”\n\n\nPASO 2: ¿Qué quiere y para qué lo quiere?\nSi responde con algo como “estoy viendo”, “me gusta tal modelo”, “vi una S10 en la web”, se sigue con:\n\n“Buenísimo. ¿Lo estás buscando para uso personal, trabajo o familiar?”\n\n“¿Tenés alguna marca o modelo en la cabeza o estás abierto a sugerencias?”\n\nPASO 3: Preguntar por financiación (sin asustar)\nMomento ideal: cuando ya dijo qué modelo le interesa.\n\nPreguntas naturales:\n\n\"¿me podrias dar tu nombre y apellido?\"\n\n“¿Tenés pensado pagarlo al contado o estás buscando financiar una parte?”\n\n“¿Tenés algún monto de entrega en mente para arrancar?”\n\n“¿Hasta cuánto te gustaría pagar por mes, más o menos?”\n\nSi responde con dudas o no sabe:\n\n“Tranqui, te paso un par de opciones para que tengas una idea y vemos la que mejor te cierra.”\n\nPASO 4: Preguntar si tiene un usado para entregar\nMomento ideal: después de hablar de cómo lo va a pagar o si ya mostró interés real en un auto.\n\nPreguntas:\n\n“¿Tenés algún auto para entregar como parte de pago?”\n\nSi dice que sí:\n\n“Genial. ¿Qué auto es? Marca, modelo, año y cuántos km tiene.”\n\n“¿Lo tenés a tu nombre? ¿Tenés la cédula o la transferencia hecha?”\n\nUsas la herramienta Buscar usado y le decimos que ese es un precio estimativo pero puedo ser mayor si lo lleva a revisión \n\ny usas la herramienta Buscar auto para buscar las mejores opciones para el y se las postras de  manera resumida y con los datos más relevantes\n\nPASO 5: Le hacemos preguntas para ver que le parecio\n\ncual de estass opciones te gusnto mas? queres que busquemos otras?\n\nSi no estaba la opción que él buscaba hacemos otra búsqueda más ampliada\n\n\nPASO 6: si la persona se muestra interesada Agendamos una cita o visita al local\n\n“Dale, te armo un presupuesto con opciones y te paso todo bien claro.”\n\n“¿Te gustaría venir a verlo o preferís que charlemos por llamada así charlamos todo?”\n\nUsamos la herramienta *agendar cita* agendamos con su nombre, apellido y si es llamada o local\n\n\n\n## Lenguaje\n- Usá jerga argentina (ej: \"che\", \"sos\").\n- No uses signos de apertura (¿¡).\n\n# Notas\n- es importante que no le muestes opciones de autos diponibles hasta el paso 4 ya que primero lo queremos cualificar\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1616,-704],"id":"2b3e9ca9-5d05-4ea6-8c57-5eb3c2ce4d24","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1840,-368],"id":"5286027b-4567-4cbe-a827-596221a52082","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"name":"AUTOS_DISPONIBLES_CAG","description":"Usa esta herramienta para buscar autos disponibles, envíale toda la información de lo que buscas","workflowId":{"__rl":true,"value":"8VLYbKnSAYvy26Z6","mode":"list","cachedResultName":"My Sub-Workflow 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-1536,-384],"id":"e2806339-ce71-4f04-9808-58c638f5161e","name":"AUTOS DISPONIBLES CAG"},{"parameters":{"name":"AUTOS_USSADOS_RAG","description":"Llama esta herramienta para cotizar autos usados, envíale la información del auto a cotizar","workflowId":{"__rl":true,"value":"TqJNJtCP1MDhRKbx","mode":"list","cachedResultName":"My Sub-Workflow 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-1376,-368],"id":"a7db71a4-f174-40ac-abb1-9bee0b518651","name":"AUTOS USADOS CAG"},{"parameters":{"calendar":{"__rl":true,"value":"ba021d678ee68d75c492abfc7d7f4aa9f39409357c429b407ee59e0e8bcbc3a5@group.calendar.google.com","mode":"list","cachedResultName":"concecionaria"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Pedir el horario al usuario`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `siempre duran 1 hora`, 'string') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `breve descripcion del cliente, que busca si tiene para entragar, si va a financiar `, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `nombre y apelllido `, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-1200,-368],"id":"ae0b8aae-882e-443f-9b5c-760c5d4f434f","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"jz3W5goLN6nx92sV","name":"Google Calendar account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"241e2c8d-0348-471b-9b97-85856b60e39b","leftValue":"={{ $json.ID }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2288,-688],"id":"8e27a29b-1daf-44a2-8231-b9dc10c8abe1","name":"If1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1696,-368],"id":"6d36c0db-7b90-446a-8e25-c9990542de3f","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"2rWXL8WYRyYZbH6r","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"limit":6,"where":{"values":[{"column":"session_id","condition":"LIKE","value":"={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}"}]},"options":{"outputColumns":["message"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-928,-704],"id":"77bc842a-93e0-4218-af34-e68ae23fc307","name":"Postgres","credentials":{"postgres":{"id":"2rWXL8WYRyYZbH6r","name":"Postgres account"}}},{"parameters":{"jsCode":"const mensajes = items.map(item => {\n  return {\n    type: item.json.message.type,\n    content: item.json.message.content\n  };\n});\n\nreturn [\n  {\n    json: {\n      mensajes\n    }\n  }\n];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,-704],"id":"a142562b-ec74-4fc2-8b0d-308c0f33b4c9","name":"Code"},{"parameters":{"promptType":"define","text":"=# HISTORIAL DE MENSAJES\n\n{{ $json.mensajes.toJsonString() }}\n\n## 🧠 Rol\nSos el encargado de completar un CRM según lo que dicen el cliente y el vendedor.\n\n## 🛠️ Tarea\nLeé los mensajes y completá el CRM solo con los datos que menciona el cliente.\n\nPrimero tenés que **leer el CRM** y después **llenarlo**.  \nEjemplo: si el cliente dice *“me interesa la Toyota”* pero antes había dicho *“me interesa una Ford”*, leé el CRM y completá con ambas: Ford, Toyota.\n\n⚠️ **Importante:** el cliente **no puede bajar de estado**.  \nEs decir, **no puede pasar de caliente a intermedio o frío**, ni de intermedio a frío. Por eso es clave leer primero el estado actual antes de modificarlo.\n\n### Campos a completar (si el *human* lo menciona):\n- Nombre y apellido  \n- Auto que busca  \n- Auto que entrega (con toda la info posible)\n\n### Estado del cliente\nMarcá como:\n- Frío\n- Intermedio\n- Caliente\n\nUn cliente es **caliente** si:\n- Pide financiación concreta (cuotas, valor mensual)  \n- Pregunta por entrega inmediata, stock o disponibilidad  \n- Quiere agendar cita o ver el auto  \n- Da datos reales del usado para cotizar  \n- Pregunta por papeles o patentamiento  \n- O si, según tu criterio, muestra intención real de compra o mucha curiosidad\n\n⚠️ No marques como caliente solo porque menciona qué auto busca.\n\n🔍 Completá cada campo con la **máxima precisión posible**.\n\n---\n\n# HISTORIAL DE MENSAJES\n\n{{ $json.mensajes }}\n\n---\n\n✅ Si no tenés la información, **no llenes nada**.  \nCompletá **solo las casillas de las que tengas información.**\n\n📝 Devolvé únicamente la información que llenaste, o devolvé **0** si no llenaste nada.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-480,-672],"id":"e96dd2f5-6dfa-4f23-b63c-dc64af2ca2e7","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-512,-368],"id":"e5781e80-5c67-4e19-83f8-2477794e191a","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8","mode":"list","cachedResultName":"CRM CONSECIONARIA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $('Telegram Trigger').first().json.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-128,-384],"id":"e83ae946-b9e8-422a-88c2-0b9f018bc4ab","name":"Leer crm","credentials":{"googleSheetsOAuth2Api":{"id":"8zUn17HAvdcPCK4t","name":"Google Sheets account 3"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8","mode":"list","cachedResultName":"CRM CONSECIONARIA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Telegram Trigger').first().json.message.chat.id }}","NOMBRE":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NOMBRE', `NOMBRE`, 'string') }}","APELLIDO":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('APELLIDO', `APELLIDO`, 'string') }}","QUIERE":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('QUIERE', `AUTO QUE QUIERE`, 'string') }}","ENTREGA":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ENTREGA', `AUTO QUE QUIERE ENTREGAR`, 'string') }}","ESTADO":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ESTADO', `ESTADO DEL CLIENTE`, 'string') }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QUIERE","displayName":"QUIERE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENTREGA","displayName":"ENTREGA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ESTADO","displayName":"ESTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-304,-384],"id":"e7fea77b-861e-4ddf-ae59-543d52c43413","name":"llenar crm","credentials":{"googleSheetsOAuth2Api":{"id":"8zUn17HAvdcPCK4t","name":"Google Sheets account 3"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}\n","text":"={{ $json.message.content.mensaje1 }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-176,-128],"id":"c8f52558-0f8d-49a9-8ed7-76c62565456b","name":"Telegram","webhookId":"387bd818-3ccd-4255-acd0-0d194885de08","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content.cantidad_de_mensajes }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"b907679c-7f5f-4f6e-b8f5-7e41c90f9704"}],"combinator":"and"},"renameOutput":true,"outputKey":"1 msg"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51ac9eba-75f4-457f-a086-6cd4e3bcb1a1","leftValue":"={{ $json.message.content.cantidad_de_mensajes }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2 msg"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a888e835-07b4-4ee8-9b68-e46a97b82eec","leftValue":"={{ $json.message.content.cantidad_de_mensajes }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3 msg"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-512,80],"id":"109e5a0d-d605-47bb-a7f0-31566eb5193e","name":"Switch"},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $json.message.content.mensaje1 }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-176,80],"id":"09fa6dfd-bf9b-4932-90f6-fd03cc5151ca","name":"Telegram1","webhookId":"387bd818-3ccd-4255-acd0-0d194885de08","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $('Switch').item.json.message.content.mensaje2 }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[48,80],"id":"85ecc130-2708-4122-99c2-42535a7d546c","name":"Telegram2","webhookId":"387bd818-3ccd-4255-acd0-0d194885de08","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $json.message.content.mensaje1 }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-176,288],"id":"0df7fafa-6ca9-4667-8c83-e6eb7ef34740","name":"Telegram3","webhookId":"387bd818-3ccd-4255-acd0-0d194885de08","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $('Switch').item.json.message.content.mensaje2 }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[48,288],"id":"338b6709-53e2-4618-9aa4-6937fe9972ef","name":"Telegram4","webhookId":"387bd818-3ccd-4255-acd0-0d194885de08","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $('Switch').item.json.message.content.mensaje3 }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[272,288],"id":"fa354390-3d62-4057-8a75-f966e285dc25","name":"Telegram5","webhookId":"387bd818-3ccd-4255-acd0-0d194885de08","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-2720,-688],"id":"4ed82194-1a7f-4f67-9149-a7e2918a8b91","name":"Telegram Trigger","webhookId":"ac18b63f-07b2-4c3e-b755-f042fd6390d7"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8","mode":"list","cachedResultName":"CRM CONSECIONARIA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QUIERE","displayName":"QUIERE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENTREGA","displayName":"ENTREGA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ESTADO","displayName":"ESTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2176,-400],"id":"dc7c0221-3aba-40e5-a56b-ed5541e8e26c","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8zUn17HAvdcPCK4t","name":"Google Sheets account 3"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8","mode":"list","cachedResultName":"CRM CONSECIONARIA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $json.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2496,-688],"id":"19907552-4a28-4f06-8a3b-d30b7c35321f","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"8zUn17HAvdcPCK4t","name":"Google Sheets account 3"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"GPT-4O-MINI-2024-07-18"},"messages":{"values":[{"content":"=**Rol**  \nEres un especialista encargado de transformar consultas complejas en información claramente estructurada.\n\n---\n\n**Instrucción**  \nRecibirás un mensaje de una secretaria de clínica dental en formato Markdown (con sus respectivas secciones y backticks). Tu tarea es determinar si dicho mensaje debe dividirse en uno, dos o tres mensajes independientes para mejorar su claridad. \n\n---\n\n**Importante**  \n- El contenido y el formato (incluyendo los backticks) **ya vienen en Markdown** y **no debes modificarlos**.  \n- Debes conservar y trasladar íntegramente la estructura y el texto original, **sin cambiar ni un carácter**.  \n- Si decides fragmentar el mensaje, cada parte debe **mantener la porción exacta del Markdown original**.  \n\nEl resultado final deberá ser un objeto JSON que contenga:  \n  - `cantidad_de_mensajes`: 1, 2 o 3, según corresponda.  \n  - `mensaje1`, `mensaje2`, `mensaje3`: cada uno con la parte correspondiente **en el mismo formato Markdown recibido**, sin alteraciones. Solo incluir `mensaje2` o `mensaje3` si corresponden.\n\n---\n\n## Ejemplos de entrada y salida\n\n### Ejemplo 1 (2 mensajes)\n\n**Input (en Markdown)**\n\n```text\n```markdown\nAquí tienes los precios para los tratamientos de ortodoncia:\n\n- Consulta inicial para ortodoncia (brackets tradicionales): $8,000\n- Colocación de brackets metálicos: desde $90,000 por arcada\n- Consulta inicial para ortodoncia invisible (Invisalign): $12,000\n\nSi necesitas más información o agendar una cita, aquí estoy.\nswift\nCopiar\nEditar\n\n**Output (JSON)**\n\n```json\n{\n  \"cantidad_de_mensajes\": 2,\n  \"mensaje1\": \"Aquí tienes los precios para los tratamientos de ortodoncia:\\n\\n- Consulta inicial para ortodoncia (brackets tradicionales): $8,000\\n- Colocación de brackets metálicos: desde $90,000 por arcada\\n- Consulta inicial para ortodoncia invisible (Invisalign): $12,000\\n\",\n  \"mensaje2\": \"Si necesitas más información o agendar una cita, aquí estoy.\\n\"\n}\nObserva que en el output se mantuvo el texto original y su formato Markdown exacto.\n\nEjemplo 2 (1 mensaje)\nInput (en Markdown)\n\ntext\nCopiar\nEditar\n```markdown\n¿Tenés turnos disponibles esta semana?\njavascript\nCopiar\nEditar\n\n**Output (JSON)**\n\n```json\n{\n  \"cantidad_de_mensajes\": 1,\n  \"mensaje1\": \"¿Tenés turnos disponibles esta semana?\\n\"\n}\nAquí no se dividió, porque era un mensaje muy breve; se conserva tal cual.\n\n\n#Ejemplo 3\n\nInput (en Markdown)\n\ntext\nCopiar\nEditar\n```markdown\nLa clínica dental ofrece los siguientes servicios:\n\n1. Retiro de brackets: Extracción, limpieza post-tratamiento y contención - 1 h, $30,000.\n2. Caries (empaste simple): Tratamiento de caries y reconstrucción con resina - 45 min, $9,000.\n3. Implantes dentales: Reemplazo de piezas dentales con implantes de titanio - 2 h, desde $100,000.\n4. Extracción de muelas: Extracción simple o compleja según el caso - 1 h, desde $12,000.\n5. Atención a niños: Control, limpieza y educación para niños - 30 min, $6,000.\n6. Placa de bruxismo: Placa personalizada para dormir - 2 citas, $45,000.\n7. Control mensual de ortodoncia: Revisión y ajuste de brackets - 20-30 min, $6,000.\n8. Limpieza dental: Higiene bucal profesional con ultrasonido - 30 min, $7,000.\n9. Blanqueamiento dental: Tratamiento con gel y luz LED - 1 h, $22,000.\n10. Ortodoncia (Brackets tradicionales): Evaluación, instalación y seguimiento mensual - consulta inicial $8,000, colocación completa por arcada desde $90,000.\n11. Ortodoncia invisible (Invisalign): Tratamiento con alineadores transparentes - consulta inicial $12,000.\n\nSi deseas más información sobre algún servicio o si estás interesado en agendar una cita, ¡házmelo saber!\n\n**Output (JSON)**\n\n{\n  \"cantidad_de_mensajes\": 3,\n  \"mensaje1\": \"```markdown\\nLa clínica dental ofrece los siguientes servicios:\\n\\n1. Retiro de brackets: Extracción, limpieza post-tratamiento y contención - 1 h, $30,000.\\n2. Caries (empaste simple): Tratamiento de caries y reconstrucción con resina - 45 min, $9,000.\\n3. Implantes dentales: Reemplazo de piezas dentales con implantes de titanio - 2 h, desde $100,000.\\n4. Extracción de muelas: Extracción simple o compleja según el caso - 1 h, desde $12,000.\\n```\",\n  \n  \"mensaje2\": \"```markdown\\n5. Atención a niños: Control, limpieza y educación para niños - 30 min, $6,000.\\n6. Placa de bruxismo: Placa personalizada para dormir - 2 citas, $45,000.\\n7. Control mensual de ortodoncia: Revisión y ajuste de brackets - 20-30 min, $6,000.\\n8. Limpieza dental: Higiene bucal profesional con ultrasonido - 30 min, $7,000.\\n```\",\n\n  \"mensaje3\": \"```markdown\\n9. Blanqueamiento dental: Tratamiento con gel y luz LED - 1 h, $22,000.\\n10. Ortodoncia (Brackets tradicionales): Evaluación, instalación y seguimiento mensual - consulta inicial $8,000, colocación completa por arcada desde $90,000.\\n11. Ortodoncia invisible (Invisalign): Tratamiento con alineadores transparentes - consulta inicial $12,000.\\n\\nSi deseas más información sobre algún servicio o si estás interesado en agendar una cita, ¡házmelo saber!\\n```\"\n}\nPasos a seguir\nLee cuidadosamente el mensaje en Markdown que recibes.\n\nDecide si se necesita dividir ese mensaje en 1, 2 o 3 fragmentos para mayor claridad.\n\nNo modifiques el texto ni el formato (backticks, listas, títulos, etc.).\n\nDevuelve el resultado como un objeto JSON válido, usando las claves solicitadas.\n\nObjetivo Final\nOptimizar la claridad de la comunicación sin alterar el contenido ni el formato original en Markdown. Cuando sea preciso, divide el mensaje en uno, dos o tres fragmentos, retornándolos en un único objeto JSON.","role":"system"},{"content":"={{ $('AI Agent').first().json.output }}\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-864,80],"id":"a37d03f8-cf13-4f44-a6e5-9a9860e1c019","name":"Message a model","retryOnFail":true,"credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"AUTOS DISPONIBLES CAG":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AUTOS USADOS CAG":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If1":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Postgres":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Leer crm":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"llenar crm":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Telegram3":{"main":[[{"node":"Telegram4","type":"main","index":0}]]},"Telegram4":{"main":[[{"node":"Telegram5","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":222944273,"message":{"message_id":138,"from":{"id":1803148796,"is_bot":false,"first_name":"Joaquin","last_name":"Perotti","language_code":"es"},"chat":{"id":1803148796,"first_name":"Joaquin","last_name":"Perotti","type":"private"},"date":1744761278,"text":"lo quioero ir a ver, podra se mañana a las 3pm?"}}}]},"versionId":"75de4add-b707-4fbc-9a27-cd823073babf","triggerCount":0,"shared":[{"createdAt":"2025-07-23T02:52:22.531Z","updatedAt":"2025-07-23T02:52:22.531Z","role":"workflow:owner","workflowId":"yiLXjGMxyE0Q1VV2","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}