concesionaria-wpp-BhlYVX533Q82qRad.json
{"createdAt":"2025-07-16T22:47:10.692Z","updatedAt":"2025-07-17T14:12:21.064Z","id":"BhlYVX533Q82qRad","name":"CONCESIONARIA WPP","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"703eeceb-4960-41e3-b123-1c72bca460da","name":"chat_id","value":"={{ $json.body.conversation.messages[0].sender.identifier }}","type":"string"},{"id":"54c42682-3c54-431c-bdcf-ca9f0d59cccd","name":"converssation_ID","value":"={{ $json.body.conversation.messages[0].conversation_id }}","type":"string"},{"id":"41e33fda-252b-4432-98bd-02a60c96cd22","name":"mensaje","value":"={{ $json.body.conversation.messages[0].processed_message_content }}","type":"string"},{"id":"b1e7082d-b411-44bd-a1cb-2208d560f9d9","name":"phone_number","value":"={{ $json.body.conversation.messages[0].sender.phone_number }}","type":"string"},{"id":"91a0ef86-a85f-4f3c-bf88-e449eff53f88","name":"source_id","value":"={{ $json.body.conversation.contact_inbox.source_id }}","type":"string"},{"id":"ed8b9f5d-501d-4853-92da-41143d3af812","name":"inbox_id","value":"={{ $json.body.inbox.id }}","type":"string"},{"id":"632ee04e-a093-4107-932b-7237d94f419c","name":"acount_id","value":"={{ $json.body.account.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1296,-640],"id":"19b4fe1a-ce9d-43d3-836a-28104e9449e8","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.menssaje_final_cadena }}","options":{"systemMessage":"="}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[4080,400],"id":"619ec8c2-2df3-4b67-8056-5a9d122aae34","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3824,784],"id":"b829bdae-7a1e-4e20-8083-489b00a62af5","name":"OpenAI Chat Model"},{"parameters":{"httpMethod":"POST","path":"6858bb79-73bd-4648-a507-9cbb75c85f6d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[864,-544],"id":"6cec67d8-444a-414d-ba4d-2545cf51c9fb","name":"Webhook chatwoot","webhookId":"6858bb79-73bd-4648-a507-9cbb75c85f6d"},{"parameters":{"method":"POST","url":"=https://","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api_access_token"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Basic LLM Chain').first().json.output.mensaje1 }}"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5808,464],"id":"9e6c3e1c-ed7d-4939-99ba-ef9dce57b12d","name":"HTTP Request"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25b6e7ea-7a9c-4a8e-84cb-b3cf046693ba","leftValue":"={{ $('If').item.json.body.conversation.messages[0].attachments[0].file_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e844f3c-0a94-4731-986a-a67ed4375d73","leftValue":"={{ $json.body.conversation.messages[0].attachments[0].file_type }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1520,-640],"id":"e4f80f39-dff4-42ba-b440-8be797c9de7f","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2208bd76-eaf0-46d4-8fcb-92c0ef272bca","leftValue":"={{ $json.body.conversation.messages[0].sender_type }}","rightValue":"User","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1088,-544],"id":"0c8e2391-2d15-4150-ad97-b1fa20ddaccb","name":"If"},{"parameters":{"url":"={{ $('If').item.json.body.attachments[0].data_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,-752],"id":"6e1f46a3-59a7-4945-93cb-1595bcd971bb","name":"HTTP Request1"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1968,-752],"id":"e2e509c4-4fb0-49e1-ac8a-a83d91995b6c","name":"OpenAI1"},{"parameters":{"assignments":{"assignments":[{"id":"e355d5e7-626f-4054-a7bf-baea5ef3201e","name":"mensaje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2176,-752],"id":"d398c0a5-acbe-42a4-9771-4d3ab0cc1f05","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"e355d5e7-626f-4054-a7bf-baea5ef3201e","name":"mensaje","value":"={{ $('Webhook chatwoot').item.json.body.conversation.messages[0].content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2176,-544],"id":"83983c5c-9d15-4011-8b21-22d5f02158aa","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"9a0a4143-86d2-405b-8942-f9bf5c4f65d2","name":"mensaje_final","value":"={{ $json.mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2400,-640],"id":"4607460a-cd7d-4e50-a2a3-423ac1c435c0","name":"Edit Fields3"},{"parameters":{"operation":"push","list":"={{ $('Edit Fields').item.json.chat_id }}","messageData":"={{ $json.mensaje_final }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2624,-640],"id":"813bb83c-ef4c-456d-bbcd-f7d2d1706cce","name":"Redis"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2848,-640],"id":"57e120e9-adac-4fa9-8cd4-6eeaa12f2636","name":"Wait","webhookId":"49c8cf27-ecd0-4251-b676-0083a7ed1aed"},{"parameters":{"operation":"get","key":"={{ $('Switch').item.json.chat_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3056,-640],"id":"afb77c41-e7c9-4d5d-95ba-36786fd1aca4","name":"Redis1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc5cb4f8-04d8-4898-8548-580ceeaf05a9","leftValue":"={{ $json.propertyName.last()}}","rightValue":"={{ $('Edit Fields3').item.json.mensaje_final }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3280,-640],"id":"12ca69ab-f854-44c8-9321-0df28dc7ac9e","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"315775d8-db25-49b6-9dc8-002eb6ee818f","name":"menssaje_final_cadena","value":"={{ $('Redis1').item.json.propertyName.join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3504,-752],"id":"eff9d908-0341-44fc-b4d1-6aad444222ad","name":"Edit Fields4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3504,-544],"id":"12a4a58f-48b1-4c82-b5be-170ff44bd079","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1296,-448],"id":"f15fadd8-bf85-4a71-997c-a6ae1475a643","name":"No Operation, do nothing1"},{"parameters":{"operation":"delete","key":"={{ $('Switch').item.json.chat_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3728,-752],"id":"b3ce118e-c733-46a1-bbca-60237e5f37af","name":"Redis2"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"limit":7,"where":{"values":[{"column":"session_id","value":"={{ $('Switch').item.json.chat_id }}"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[5168,400],"id":"e277da05-4c8d-4390-ba1d-b1b0723449b8","name":"Postgres"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').first().json.chat_id }}","contextWindowLength":8},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3968,784],"id":"08df4026-0798-45e3-94df-414fe0b767fd","name":"Postgres Chat Memory"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[5552,400],"id":"5e1e5397-763c-47b4-b6f6-7be4e37648f9","name":"Limit"},{"parameters":{"promptType":"define","text":"=","options":{"systemMessage":"=\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[6800,-512],"id":"906b82c3-8c28-429a-a8fa-fe6d61e417ac","name":"AI Agent1","retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[6752,-224],"id":"0f8fd409-05c1-4522-93c3-a424ea779334","name":"OpenAI Chat Model1"},{"parameters":{"jsCode":"const mensajes = items\n  .slice() // copiamos el array para no mutar el original\n  .reverse() // invertimos el orden\n  .map(item => {\n    return {\n      type: item.json.message.type,\n      content: item.json.message.content\n    };\n  });\n\nreturn [\n  {\n    json: {\n      mensajes\n    }\n  }\n];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5344,400],"id":"d8d4572c-4f49-4b85-a6fa-cfe241355b3a","name":"Code"},{"parameters":{"operation":"delete","key":"5493385437684@s.whatsapp.net"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,0],"id":"b5d13c93-4f86-4055-8c1b-fbb340901f28","name":"Redis3"},{"parameters":{"documentId":{"__rl":true,"value":"1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8","mode":"list","cachedResultName":"CRM CONSECIONARIA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":551874822,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit#gid=551874822"},"filtersUI":{"values":[{"lookupColumn":"TEL","lookupValue":"={{ $('Edit Fields').first().json.phone_number.replace(\"+\",\"\") }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[5840,-704],"id":"c779b62f-e95d-4e50-b146-8a9531009d25","name":"Google Sheets","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d5a7a57-b0bb-4804-8ca5-593db50b93e9","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6144,-784],"id":"da130082-0410-4487-9a05-a2c166980afa","name":"If2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8","mode":"list","cachedResultName":"CRM CONSECIONARIA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":551874822,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit#gid=551874822"},"columns":{"mappingMode":"defineBelow","value":{"TEL":"={{ $('Edit Fields').first().json.phone_number.replace(\"+\",\"\") }}"},"matchingColumns":[],"schema":[{"id":"TEL","displayName":"TEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FECHA","displayName":"FECHA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AUTO DE INTERES","displayName":"AUTO DE INTERES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENTREGA","displayName":"ENTREGA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRESUPUESTO APROXIMADO","displayName":"PRESUPUESTO APROXIMADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FINANCIA","displayName":"FINANCIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEMPERATURA","displayName":"TEMPERATURA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[6480,-928],"id":"2bd4c62c-d27c-4966-b5f6-9605239b3592","name":"Google Sheets1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8","mode":"list","cachedResultName":"CRM CONSECIONARIA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":551874822,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit#gid=551874822"},"columns":{"mappingMode":"defineBelow","value":{"TEL":"={{ $('Edit Fields').first().json.phone_number.replace(\"+\",\"\") }}","NOMBRE":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NOMBRE', `nombre`, 'string') }}","FECHA":"={{ $now.format('yyyy-MM-dd') }}","AUTO DE INTERES":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('AUTO_DE_INTERES', `Auto de interés`, 'string') }}","ENTREGA":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ENTREGA', `Auto que entrega`, 'string') }}","PRESUPUESTO APROXIMADO":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('PRESUPUESTO_APROXIMADO', `presupuesto`, 'string') }}","FINANCIA":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('FINANCIA', `financiación`, 'string') }}","TEMPERATURA":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TEMPERATURA', `Temperatura:no le interesa, frio, tibio, caliente, compro`, 'string') }}"},"matchingColumns":["TEL"],"schema":[{"id":"TEL","displayName":"TEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FECHA","displayName":"FECHA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AUTO DE INTERES","displayName":"AUTO DE INTERES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENTREGA","displayName":"ENTREGA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRESUPUESTO APROXIMADO","displayName":"PRESUPUESTO APROXIMADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FINANCIA","displayName":"FINANCIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TEMPERATURA","displayName":"TEMPERATURA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[6976,-224],"id":"86d0ab2f-6fe0-4485-831e-e2631aab6223","name":"llenar CRM"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[6688,-928],"id":"5b6fb674-3b4b-4ead-9e50-566058d56e25","name":"Limit1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[6688,-736],"id":"fcbecb40-38eb-423e-942c-441e0ce7109b","name":"Limit2"},{"parameters":{"name":"Autos_disponibles","description":"Usa esta herramienta para buscar autos disponibles"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[4272,768],"id":"9b3dd7c4-53dd-4a7f-b14d-aa63ce95d87b","name":"Answer questions with a vector store"},{"parameters":{"tableName":{"__rl":true,"value":"autos_disponibles","mode":"list","cachedResultName":"autos_disponibles"},"options":{"queryName":"match_disponibles"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[4064,960],"id":"ff74b535-05c9-42de-8c1d-539bed42aa72","name":"Supabase Vector Store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[3984,1104],"id":"209cd728-82c3-442d-923f-bb6329d7d06a","name":"Embeddings OpenAI"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4432,960],"id":"f5387015-8d34-4c0e-b905-a26ca91c3743","name":"OpenAI Chat Model2"},{"parameters":{"promptType":"define","text":"={{ $json.output }}\n","hasOutputParser":true,"messages":{"messageValues":[{"message":"="}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[4608,400],"id":"aa0936fe-40e2-4977-ad97-2681a3a8b644","name":"Basic LLM Chain"},{"parameters":{"jsonSchemaExample":"{\n  \"cantidad_de_mensajes\": 2,\n  \"mensaje1\": \"Aquí tienes los precios para ortodoncia:\\n\\n- Consulta inicial: `$8,000`\\n- Brackets metálicos: desde `$90,000`\\n\\nAsí se ven los brackets estéticos que también ofrecemos:\",\n  \"mensaje2\": \"Si necesitas agendar cita, por favor responde a este mensaje con tus horarios disponibles. ¡Gracias!\",\n  \"mensaje3\": \"\",\n  \"fotos_mensaje1\": [\"https://ejemplo.com/foto_brackets_esteticos.jpg\"],\n  \"fotos_mensaje2\": [],\n  \"fotos_mensaje3\": []\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4912,608],"id":"0d642ad8-076f-4b8e-8024-67c21ec036c1","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4688,608],"id":"d5874f38-6ec2-4264-9be1-a0de845f44b0","name":"OpenAI Chat Model3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f33a1f55-e71b-4166-b25f-d4aac0ff1798","leftValue":"={{ $('Basic LLM Chain').first().json.output.fotos_mensaje1.join() }}","rightValue":".","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6032,464],"id":"66e8c6d5-6480-418b-bf39-214a2dea6ec0","name":"If3"},{"parameters":{"jsCode":"const output = $('Basic LLM Chain').first().json.output;\n\n// Aseguramos que fotos_mensaje1 sea un array válido\nconst fotos1 = Array.isArray(output.fotos_mensaje1) ? output.fotos_mensaje1 : [];\n\n// Si no hay fotos, devolvemos un aviso\nif (fotos1.length === 0) {\n  return [\n    {\n      json: {\n        mensaje: \"No se encontraron fotos en mensaje1\"\n      }\n    }\n  ];\n}\n\n// Devolvemos un ítem por cada foto\nreturn fotos1.map(link => ({\n  json: { Link: link }\n}));\n\n\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6256,352],"id":"7d7112c6-1442-4da6-9fe5-6262b8e7855a","name":"Code1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[6464,352],"id":"d0314152-883a-4668-a58c-7b3c126f78be","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"=https://","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"Name","value":"false"},{"name":"message_type","value":"outgoing"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"=data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7136,416],"id":"71206196-a55c-4575-a84a-aed094b856c7","name":"HTTP Request5"},{"parameters":{"url":"={{ $json.Link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6928,416],"id":"286d050b-d894-4656-b28c-0dbf98e4eb29","name":"HTTP Request6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4301d455-9a60-4fa5-aa48-99a6553b4871","leftValue":"={{ $('Basic LLM Chain').first().json.output.mensaje2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7328,256],"id":"bc8b974d-9565-4106-a504-ace700782b47","name":"If4"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[6992,272],"id":"b5e01c68-3935-4188-aa3e-948d123d7169","name":"Limit3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f33a1f55-e71b-4166-b25f-d4aac0ff1798","leftValue":"={{ $('Basic LLM Chain').first().json.output.fotos_mensaje2.join() }}","rightValue":".","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7808,240],"id":"89f538a8-be0f-445f-819c-0f8563fd232f","name":"If5"},{"parameters":{"jsCode":"const output = $('Basic LLM Chain').first().json.output;\n\n// Aseguramos que fotos_mensaje1 sea un array válido\nconst fotos1 = Array.isArray(output.fotos_mensaje2) ? output.fotos_mensaje2 : [];\n\n// Si no hay fotos, devolvemos un aviso\nif (fotos1.length === 0) {\n  return [\n    {\n      json: {\n        mensaje: \"No se encontraron fotos en mensaje1\"\n      }\n    }\n  ];\n}\n\n// Devolvemos un ítem por cada foto\nreturn fotos1.map(link => ({\n  json: { Link: link }\n}));\n\n\n\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8032,224],"id":"32729630-3523-4775-85f2-961aeea210e2","name":"Code2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[8208,224],"id":"374cf336-d43a-4b42-80f4-c782329c9f70","name":"Loop Over Items1"},{"parameters":{"method":"POST","url":"=https:/","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"Name","value":"false"},{"name":"message_type","value":"outgoing"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"=data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8864,272],"id":"96d9bbfb-b2f7-41f7-96cf-ddb243dcdb8f","name":"HTTP Request7"},{"parameters":{"url":"={{ $json.Link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8672,272],"id":"e315b915-69d4-4313-a957-ed4d25d83f05","name":"HTTP Request8"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[8592,96],"id":"76ed08a5-433e-47e6-b194-c54eb7abd34c","name":"Limit4"},{"parameters":{"method":"POST","url":"=https:/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"="},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7568,240],"id":"5c2efe2a-622c-4bf9-82d7-8bccf96a5dce","name":"HTTP Request9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4301d455-9a60-4fa5-aa48-99a6553b4871","leftValue":"={{ $('Basic LLM Chain').first().json.output.mensaje3 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9168,112],"id":"0cdab769-34ef-41fb-ade6-a1d037f4d6f0","name":"If6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f33a1f55-e71b-4166-b25f-d4aac0ff1798","leftValue":"={{ $('Basic LLM Chain').first().json.output.fotos_mensaje3.join() }}","rightValue":".","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9648,96],"id":"cf9e599a-5aea-4252-b881-ee77fbddce2e","name":"If7"},{"parameters":{"jsCode":"const output = $('Basic LLM Chain').first().json.output;\n\n// Aseguramos que fotos_mensaje1 sea un array válido\nconst fotos1 = Array.isArray(output.fotos_mensaje3) ? output.fotos_mensaje3 : [];\n\n// Si no hay fotos, devolvemos un aviso\nif (fotos1.length === 0) {\n  return [\n    {\n      json: {\n        mensaje: \"No se encontraron fotos en mensaje1\"\n      }\n    }\n  ];\n}\n\n// Devolvemos un ítem por cada foto\nreturn fotos1.map(link => ({\n  json: { Link: link }\n}));\n\n\n\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[9872,80],"id":"c4132510-40c6-4e3e-8ef7-5a668217667a","name":"Code3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[10048,80],"id":"86d6f3a6-a531-419b-8f0d-25e483e4518b","name":"Loop Over Items2"},{"parameters":{"method":"POST","url":"=https:/","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"Name","value":"false"},{"name":"message_type","value":"outgoing"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"=data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10704,144],"id":"048adebb-3cc8-4a41-9d4e-6fa6a4af3271","name":"HTTP Request10"},{"parameters":{"url":"={{ $json.Link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10512,144],"id":"4ef3d42c-d9ea-42c7-9676-44493c49a72c","name":"HTTP Request11"},{"parameters":{"method":"POST","url":"=https:/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Basic LLM Chain').first().json.output.mensaje3 }}"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9408,96],"id":"97ef2805-1028-4785-82c5-65716df20e09","name":"HTTP Request12"},{"parameters":{"content":"# RECOPILAMOS 1 o VARIOS MENSAJES\n","height":1040,"width":3020},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,-1008],"id":"3489472f-e9e3-4626-8331-bdf44a7f927f","name":"Sticky Note"},{"parameters":{"content":"# IA DA RESPUESTA Y USA HERRAMIENTAS\n","height":1220,"width":740,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3824,48],"id":"2c9d6c3c-35d2-40ff-9506-e19236aec6d3","name":"Sticky Note2"},{"parameters":{"content":"# LA IA DIVIDE LA RESPUESTA EN VARIOS MENSAJES Y FOTOS (SI HAY)\n","height":1220,"width":520,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4592,48],"id":"12ba8fd3-8847-45f2-9de2-401717eb102d","name":"Sticky Note3"},{"parameters":{"content":"# OBTENEMOS Y LISTAMOS LOS ULTIMOS MENSAJES\n","height":1220,"width":560,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5120,48],"id":"dff15ca1-116e-4544-a43a-5b13a1db1f29","name":"Sticky Note4"},{"parameters":{"content":"# LLENAMOS EL CRM Y CREAMOS UNA FILA SI NO EXISTE\n","height":1220,"width":2040},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5696,-1168],"id":"b7937b90-4eac-45b2-9219-d99db47404bd","name":"Sticky Note5"},{"parameters":{"content":"# ENVIAMOS VARIOS MENSAJES Y FOTOS\n","height":1220,"width":5380,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5696,64],"id":"b01bec21-64bd-41df-ac2b-33d0e16ca46f","name":"Sticky Note6"},{"parameters":{"documentId":{"__rl":true,"value":"1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8","mode":"list","cachedResultName":"CRM CONSECIONARIA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1234416365,"mode":"list","cachedResultName":"Hoja 3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit#gid=1234416365"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[4128,784],"id":"fff89676-5b47-4719-b33c-f0451c687774","name":"OPCIONES DE FINACIACION"}],"connections":{"AI Agent":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Webhook chatwoot":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Code","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Limit":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"Limit2","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"llenar CRM":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Limit1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"If4","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit3","type":"main","index":0}],[{"node":"HTTP Request6","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Limit3":{"main":[[{"node":"If4","type":"main","index":0}]]},"If5":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Limit4","type":"main","index":0}],[{"node":"HTTP Request8","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"If4":{"main":[[{"node":"HTTP Request9","type":"main","index":0}],[{"node":"If6","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"If5","type":"main","index":0}]]},"If6":{"main":[[{"node":"HTTP Request12","type":"main","index":0}]]},"If7":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"HTTP Request11","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"HTTP Request10","type":"main","index":0}]]},"HTTP Request12":{"main":[[{"node":"If7","type":"main","index":0}]]},"Limit4":{"main":[[{"node":"If6","type":"main","index":0}]]},"OPCIONES DE FINACIACION":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook chatwoot":[{"json":{"headers":{"host":"bascwebhook.basconiagenci.top","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89","content-length":"3231","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"bascwebhook.basconiagenci.top","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e03d4101f277","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"account":{"id":2,"name":"BASCO IA"},"additional_attributes":{},"content_attributes":{},"content_type":"text","content":"me encanta como seguimos","conversation":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":4,"contact_id":2,"inbox_id":1,"source_id":"a5b6e589-b223-46dc-be44-e2265474e247","created_at":"2025-04-24T22:26:31.825Z","updated_at":"2025-04-24T22:26:31.825Z","hmac_verified":false,"pubsub_token":"pKtpcnopmh2DDgXhwidjEMQu"},"id":2,"inbox_id":1,"messages":[{"id":227,"content":"me encanta como seguimos","account_id":2,"inbox_id":1,"conversation_id":2,"message_type":0,"created_at":1745964873,"updated_at":"2025-04-29T22:14:33.374Z","private":false,"status":"sent","source_id":"WAID:3FD8175C2C338F5EB6F4","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":2,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"me encanta como seguimos","sentiment":{},"conversation":{"assignee_id":2,"unread_count":10,"last_activity_at":1745964873,"contact_inbox":{"source_id":"a5b6e589-b223-46dc-be44-e2265474e247"}},"sender":{"additional_attributes":{"city":"","country":"","description":"","company_name":"","country_code":"","social_profiles":{"github":"","twitter":"","facebook":"","linkedin":"","instagram":""}},"custom_attributes":{"temperatura_cliente":"caliente"},"email":null,"id":2,"identifier":"5493385437684@s.whatsapp.net","name":"Joaquin Perotti","phone_number":"+5493385437684","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{"city":"","country":"","description":"","company_name":"","country_code":"","social_profiles":{"github":"","twitter":"","facebook":"","linkedin":"","instagram":""}},"custom_attributes":{"temperatura_cliente":"caliente"},"email":null,"id":2,"identifier":"5493385437684@s.whatsapp.net","name":"Joaquin Perotti","phone_number":"+5493385437684","thumbnail":"","blocked":false,"type":"contact"},"assignee":{"id":2,"name":"Joaquin Basconi","available_name":"Joaquin Basconi","avatar_url":"","type":"user","availability_status":null,"thumbnail":""},"team":null,"hmac_verified":false},"status":"open","custom_attributes":{"temperatura":"a","estado_del_bot":"Prendido"},"snoozed_until":null,"unread_count":10,"first_reply_created_at":"2025-04-25T13:28:12.435Z","priority":null,"waiting_since":1745964873,"agent_last_seen_at":1745963417,"contact_last_seen_at":1745964852,"last_activity_at":1745964873,"timestamp":1745964873,"created_at":1745533591,"updated_at":1745964873.395819},"created_at":"2025-04-29T22:14:33.374Z","id":227,"inbox":{"id":1,"name":"Cocesionaria Chatwoot"},"message_type":"incoming","private":false,"sender":{"account":{"id":2,"name":"BASCO IA"},"additional_attributes":{"city":"","country":"","description":"","company_name":"","country_code":"","social_profiles":{"github":"","twitter":"","facebook":"","linkedin":"","instagram":""}},"avatar":"","custom_attributes":{"temperatura_cliente":"caliente"},"email":null,"id":2,"identifier":"5493385437684@s.whatsapp.net","name":"Joaquin Perotti","phone_number":"+5493385437684","thumbnail":"","blocked":false},"source_id":"WAID:3FD8175C2C338F5EB6F4","event":"message_created"},"webhookUrl":"https://bascwebhook.basconiagenci.top/webhook/6858bb79-73bd-4648-a507-9cbb75c85f6d","executionMode":"production"}}]},"versionId":"95d3574d-3e2e-4fcf-b303-e65556b34b40","triggerCount":0,"shared":[{"createdAt":"2025-07-16T22:47:10.692Z","updatedAt":"2025-07-16T22:47:10.692Z","role":"workflow:owner","workflowId":"BhlYVX533Q82qRad","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}