export-sql-table-into-csv-file-SQlhw0KFIB44EtKJ.json
{"createdAt":"2025-09-28T04:22:33.970Z","updatedAt":"2025-09-28T04:22:33.970Z","id":"SQlhw0KFIB44EtKJ","name":"Export SQL table into CSV file","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"4e670880-61cf-4870-8d29-525f4e677162","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[368,240],"typeVersion":1},{"parameters":{"content":"## Save SQL table as a CSV file\n### You can send it via e-mail, upload to the file storage or download on your computer.\n### Just connect one or two extra n8n Nodes here!","height":280,"width":682},"id":"cd21e063-59fe-42a5-87c7-b4d63df2e2b7","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[912,128],"typeVersion":1},{"parameters":{"values":{"string":[{"name":"TableName","value":"SalesLT.ProductCategory"}]},"options":{}},"id":"f960451e-d04e-4023-aed2-e039898b7cab","name":"TableName","type":"n8n-nodes-base.set","position":[576,240],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM {{ $json[\"TableName\"] }}"},"id":"e2b4f557-663e-4b1c-b90e-9fde44dcd63a","name":"LoadMSSQLData","type":"n8n-nodes-base.microsoftSql","position":[752,240],"typeVersion":1},{"parameters":{"operation":"toFile","fileFormat":"csv","options":{"fileName":"={{ $('TableName').first().json.TableName }}.{{ $parameter[\"fileFormat\"] }}"}},"id":"cec2452f-e3e9-47ad-bcc6-4d411b1cd532","name":"SaveCSV","type":"n8n-nodes-base.spreadsheetFile","position":[1168,240],"typeVersion":1}],"connections":{"TableName":{"main":[[{"node":"LoadMSSQLData","type":"main","index":0}]]},"LoadMSSQLData":{"main":[[{"node":"SaveCSV","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"TableName","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"1914"},"pinData":{},"versionId":"2177ea79-1fb6-4015-8da6-34f7c8686411","triggerCount":0,"shared":[{"createdAt":"2025-09-28T04:22:33.970Z","updatedAt":"2025-09-28T04:22:33.970Z","role":"workflow:owner","workflowId":"SQlhw0KFIB44EtKJ","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}