flujos-LWwTxA4fRDKJun6I.json
{"createdAt":"2025-07-27T15:36:14.113Z","updatedAt":"2025-08-02T15:27:27.610Z","id":"LWwTxA4fRDKJun6I","name":"Flujos","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"hector","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[688,400],"id":"42a1ea09-3e35-45fd-8c5e-fc35c1d88927","name":"Webhook","webhookId":"6dff1e56-c180-4969-ae6a-e3f08cca3ed9"},{"parameters":{"promptType":"define","text":"=El mensaje del usuario: {{ $json.chat_input }}","options":{"systemMessage":"=*Eres mi asistente personal.\nTienes acceso a mi Google Calendar (zona horaria America/Mexico_City) y a una herramienta para enviar correos personalizados.\n\nPide al cliente su nombre, el servicio que desea y dos opciones de fecha / hora.\n\nRevisa el calendario y reserva la primera hora libre.\n\nConfirma la cita al cliente con un mensaje breve y cordial.\n\nEnvía inmediatamente un correo personalizado que incluya: nombre del cliente, servicio, fecha, hora y mi número de contacto.\n\nSi no hay espacio, sugiere los huecos disponibles más cercanos.\nResponde siempre con claridad, amabilidad y en español.*\n\nSIEMPRE UTILIZA LA HERRAMIENTA CONTACTOS,para buscar y encontrar los contactos como nombre y correos del usuario.\n\nSiempre mándame la liga del evento de google calendar además del resúmen de lo que acabas de hacer."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2464,384],"id":"0c81ea7f-ec9a-4943-a7b2-c8ad4968a683","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2384,592],"id":"33b4a30a-1a19-463e-a3fa-413b7b153b3f","name":"OpenAI Chat Model"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message_content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"6571be58-7ae0-4b3a-9c4d-706d062d2428"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98a252f3-df54-41c8-8d0f-705fee6eec87","leftValue":"={{ $json.message_content_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ebf44caf-794d-434c-be9b-88adfc2d34a0","leftValue":"={{ $json.message_content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1040,384],"id":"d366b4d2-dcb5-41cc-abb7-a6c55412969f","name":"Switch"},{"parameters":{"method":"POST","url":"={{ $('Normalizacion').item.json.instance_server_url }}/chat/getBase64FromMediaMessage/{{ $('Normalizacion').item.json.instance_name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normalizacion').item.json.instance_apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $('Normalizacion').item.json.message_id }}"},{"name":"convertToMp4","value":"={{ Boolean(false) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,192],"id":"fa6d0928-9904-4a33-b044-8e5e35883be2","name":"Get Audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1536,192],"id":"bc9eeb9a-5003-4487-bac0-90c668aba5d7","name":"Convertir Audio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1744,192],"id":"f1553d8b-0bbf-4375-b77d-7bfb76c6884a","name":"Transcribe a recording"},{"parameters":{"assignments":{"assignments":[{"id":"6e2644e1-fe2b-4523-b3bc-3db62622315c","name":"content","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1904,192],"id":"c5174619-7acd-4937-b215-5ed3754662f3","name":"Audio Content"},{"parameters":{"assignments":{"assignments":[{"id":"6e2644e1-fe2b-4523-b3bc-3db62622315c","name":"content","value":"=<imagen>\n{{ $json.content}}\n</imagen>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1904,384],"id":"f0acc991-9778-436f-b668-79d3e7117791","name":"Audio Content1"},{"parameters":{"method":"POST","url":"={{ $('Normalizacion').item.json.instance_server_url }}/chat/getBase64FromMediaMessage/{{ $('Normalizacion').item.json.instance_name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normalizacion').item.json.instance_apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $('Normalizacion').item.json.message_id }}"},{"name":"convertToMp4","value":"={{ Boolean(false) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,384],"id":"62a1c357-44ec-4a72-ada3-0231bb5f6a19","name":"Get Image"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1536,384],"id":"75526c9b-b4df-4a52-9e4a-238401d70242","name":"Convertir Imagen"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Describe la imagen","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1744,384],"id":"bb613226-1498-464a-a8f1-0b679670fd3d","name":"Describe imagen"},{"parameters":{"assignments":{"assignments":[{"id":"6070e65d-c2d1-475e-af7c-c8ff0a5b059a","name":"content","value":"={{ $json.message_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1904,560],"id":"3ae3655a-0b76-4fa1-9ebe-a2cf042fe348","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"d56cc938-d653-4611-96fd-86d5eb56bf9c","name":"chat_input","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2224,384],"id":"cc4fe42d-4250-4cdc-840d-0fe4d171bd2b","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"d9419665-41fc-43b9-aef7-d521a1ba2035","name":"instance_server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"c3cb8673-8006-4079-a304-c58ffc267226","name":"instance_name","value":"={{ $json.body.instance }}","type":"string"},{"id":"e462da04-7f8b-4fbe-aacd-7956666c2ede","name":"instance_apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"b06da722-eea2-4f28-a2d4-7bcc6592b952","name":"message_id","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"5ecbe629-f4d0-4bdf-8c78-903f311bc273","name":"message_chat_id_sender","value":"={{ $json.body.sender }}","type":"string"},{"id":"cbb05e7c-4912-4965-bcf4-cefd9418b39f","name":"message_content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'text': '' }}{{ $json.body.data.message.conversation ? 'text': '' }}{{ $json.body.data.message.audioMessage ? 'audio': '' }}{{ $json.body.data.message.imageMessage ? 'image': '' }}","type":"string"},{"id":"d6fa8877-dee6-468b-a51e-8fdc36dc190f","name":"message_content","value":"={{ $json.body.data.message.extendedTextMessage?.text || '' }} {{ $json.body.data.message.imageMessage?.caption || '' }} {{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"f122b51f-8a93-439e-85fb-c370e7f4f6b8","name":"message_timestamp","value":"={{ $json.body.date_time }}","type":"string"},{"id":"e10a7e61-cffe-44fb-9b13-e0c199ebd866","name":"user_name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"1c280646-7eb8-4118-9e8d-432f04a763b7","name":"user_number","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,400],"id":"af70c8c4-63ca-4ce3-9364-d06d6147ac23","name":"Normalizacion"},{"parameters":{"method":"POST","url":"={{ $('Normalizacion').item.json.instance_server_url }}/message/sendText/{{ $('Normalizacion').item.json.instance_name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normalizacion').item.json.instance_apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacion').item.json.user_number }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"delay","value":"={{ 1000 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,384],"id":"642180b0-6ce1-4f2f-a99c-60db285c57b9","name":"Mandar mensaje"},{"parameters":{"sessionIdType":"customKey","sessionKey":"= {{ $('Normalizacion').item.json.user_number }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2544,624],"id":"22005397-d056-44f8-adc8-e29f70e7eeb1","name":"Simple Memory"},{"parameters":{"calendar":{"__rl":true,"value":"rubininmb@gmail.com","mode":"list","cachedResultName":"rubininmb@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2256,784],"id":"44e23fcd-c1ee-47bc-a3e7-a30c6cea4ea1","name":"CREAR"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"rubininmb@gmail.com","mode":"list","cachedResultName":"rubininmb@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2448,832],"id":"4e435c43-204d-43a1-a008-99aedad35c4e","name":"DELETE"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"rubininmb@gmail.com","mode":"list","cachedResultName":"rubininmb@gmail.com"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2608,864],"id":"60564f0b-15b4-40a9-9031-1ababe6b7d0a","name":"OBTENER"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"rubininmb@gmail.com","mode":"list","cachedResultName":"rubininmb@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2784,832],"id":"c31d326d-04d9-4510-b6c4-2c4ddfd82b76","name":"REAGENDAR"},{"parameters":{"descriptionType":"manual","toolDescription":"Manda correos","sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2944,656],"id":"ea889d50-d469-47ea-8549-7c3a23a42e9b","name":"Send a message in Gmail","webhookId":"a38e831d-d83e-4590-8330-2bf5b07d107c"},{"parameters":{"descriptionType":"manual","toolDescription":"Información de contactos nomnbre y usuario","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1cUcIqgmy40RssqtRhHiDzafx3LJJWen3xUePgGuYTu0/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cUcIqgmy40RssqtRhHiDzafx3LJJWen3xUePgGuYTu0/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[2928,896],"id":"7049cdd4-cd75-4037-92d7-03f090178c96","name":"Get row(s) in sheet in Google Sheets"},{"parameters":{"descriptionType":"manual","toolDescription":"=Obten la información de las citas que hay para algún día y verificar que no se empalmen","operation":"getAll","calendar":{"__rl":true,"value":"391cc272be5989fd77b45438f2f61e9c754501eb5d1b3a4a76d57a9da3083918@group.calendar.google.com","mode":"list","cachedResultName":"BARBER"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-16,816],"id":"f0adb3c9-8527-4fb2-8d78-58810b0aacb9","name":"Obtener eventos"},{"parameters":{"descriptionType":"manual","toolDescription":"Crea nuevas citas para una barbería.","calendar":{"__rl":true,"value":"391cc272be5989fd77b45438f2f61e9c754501eb5d1b3a4a76d57a9da3083918@group.calendar.google.com","mode":"list","cachedResultName":"BARBER"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-240,816],"id":"611b1c24-823b-4ace-b246-cd4bdf1bf8fe","name":"Crear evento"},{"parameters":{"descriptionType":"manual","toolDescription":"=Elimina citas","operation":"delete","calendar":{"__rl":true,"value":"391cc272be5989fd77b45438f2f61e9c754501eb5d1b3a4a76d57a9da3083918@group.calendar.google.com","mode":"list","cachedResultName":"BARBER"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[144,816],"id":"92360b15-d6eb-4ce9-89c5-1d418cd7a4a4","name":"Eliminar eventos"},{"parameters":{"descriptionType":"manual","toolDescription":"Actualiza citas","operation":"update","calendar":{"__rl":true,"value":"391cc272be5989fd77b45438f2f61e9c754501eb5d1b3a4a76d57a9da3083918@group.calendar.google.com","mode":"list","cachedResultName":"BARBER"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[304,816],"id":"01a1d807-3acb-4ba4-bce9-cb9342fa769c","name":"Reagendar"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-96,640],"id":"182cf8b2-38c2-4f36-9187-85fd1850879f","name":"Postgres Chat Memory"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"17iqMobaQBz29tZ5hP5Q9ejzSJUfkov8lkjB245vpoZY","mode":"list","cachedResultName":"Citas barbería","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17iqMobaQBz29tZ5hP5Q9ejzSJUfkov8lkjB245vpoZY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17iqMobaQBz29tZ5hP5Q9ejzSJUfkov8lkjB245vpoZY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}","Servicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Servicio', ``, 'string') }}","Precio del servicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Precio_del_servicio', ``, 'string') }}","Día ":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('D_a_', ``, 'string') }}","Hora":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hora', ``, 'string') }}","Numero celular":"={{ $('Normalizacion1').item.json.user_number }}","ID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID__using_to_match_', ``, 'string') }}","Estatus":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estatus', ``, 'string') }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Servicio","displayName":"Servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Precio del servicio","displayName":"Precio del servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Día ","displayName":"Día ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Numero celular","displayName":"Numero celular","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-144,960],"id":"51fa1137-f4f1-4e63-9f6a-877bf0593441","name":"Append row in sheet in Google Sheets"},{"parameters":{"httpMethod":"POST","path":"hector","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1952,432],"id":"9c65682f-6d1c-4326-94c4-3de1030af39e","name":"Webhook1","webhookId":"6dff1e56-c180-4969-ae6a-e3f08cca3ed9"},{"parameters":{"promptType":"define","text":"=El mensaje del usuario: {{ $json.chat_input }}","options":{"systemMessage":"=Eres el recepcionista virtual de una barbería. Tu tarea es hablar de forma cálida y profesional con los clientes para agendar, reagendar o cancelar sus citas en Google Calendar, utilizando siempre las herramientas correspondientes. Además, registra absolutamente todas las acciones en Google Sheets, sin excepción.\n\nHora actual: {{ $now }}\n\nObjetivo:\n\nAsegúrate de:\n\nConfirmar la disponibilidad antes de agendar.\n\nNo empalmar nunca dos citas en el mismo horario.\n\nRegistrar cada cita, reagendo o cancelación como una NUEVA FILA en Google Sheets.\n\nUsar correctamente la herramienta de Eliminar evento cuando sea necesario.\n\nInstrucciones conversacionales:\n\nSaluda al usuario de forma amable y personalizada.\n\nSi es su primera vez, pregúntale su nombre (y guárdalo).\n\nSi ya ha agendado antes, usa su nombre y sugiérele repetir su último servicio, por ejemplo:\n“Hola [nombre], ¿te gustaría repetir el servicio de [último_servicio]?”\n\nServicios y precios:\n\nCorte para caballero: $350 MXN\nAfeitado tradicional: $250 MXN\nCorte y barba: $500 MXN\nTinte y arreglo de barba: $600 MXN\n\nPuedes describir brevemente cada uno si el cliente no está seguro de cuál elegir.\n\nProceso para agendar:\n\nPregunta qué día y a qué hora le gustaría asistir.\n\nUsa la herramienta Obtener eventos para revisar disponibilidad exacta en Google Calendar.\n\nSi el horario está ocupado, ofrece alternativas antes o después. Nunca confirmes sin revisar disponibilidad.\n\nSi el horario está libre:\n\nUsa la herramienta Crear evento.\n\nAgrega el nombre del cliente en la descripción del evento.\n\nConfirma con un mensaje como: “Listo. Agendé tu [servicio] para el [fecha] a las [hora]. Te esperamos en la barbería.”\n\nLuego, usa Google Sheets para registrar una nueva fila con:\n\nEstatus: \"agendado\"\n\nID del evento de Google Calendar (en la columna ID)\n\nNombre del cliente\n\nFecha del servicio en formato AAAA-MM-DD\n\nHora exacta del servicio en formato HH:mm:ss (24 horas, sin AM/PM), como string\n\nProceso para reagendar:\n\nUsa primero la herramienta Eliminar evento para cancelar la cita anterior.\n\nConfirma que se usó correctamente.\n\nAgenda una nueva cita usando Crear evento.\n\nEn Google Sheets:\n\nRegistra una nueva fila con:\n\nEstatus: \"eliminado\"\n\nMismo ID que la cita anterior\n\nMismo nombre del cliente\n\nFecha y hora de la cita cancelada (con el mismo formato)\n\nLuego, registra otra nueva fila con:\n\nEstatus: \"agendado\"\n\nNuevo ID del evento\n\nNueva fecha y hora\n\nNombre del cliente\n\nProceso para cancelar:\n\nUsa la herramienta Eliminar evento.\n\nNunca digas que has cancelado una cita sin ejecutar esta herramienta.\n\nConfirma con un mensaje como: “Tu cita ha sido cancelada. Si deseas reagendar, estaré aquí para ayudarte.”\n\nEn Google Sheets:\n\nRegistra una nueva fila con:\n\nEstatus: \"eliminado\"\n\nMismo ID del evento cancelado\n\nNombre del cliente\n\nFecha y hora de la cita cancelada (con el mismo formato)\n\nReglas clave:\n\nNunca agendes sin revisar disponibilidad.\n\nEvita empalmes. Solo agenda si el horario está completamente libre.\n\nSiempre registra en Google Sheets con una NUEVA FILA por cada acción.\n\nLos campos obligatorios en cada fila son:\n\nEstatus (\"agendado\", \"eliminado\", \"actualizado\")\n\nID del evento de Google Calendar\n\nNombre del cliente\n\nFecha del servicio (AAAA-MM-DD)\n\nHora del servicio (HH:mm:ss en formato 24h como string)\n\nEXTREMADAMENTE IMPORTANTE:\n\nSiempre utiliza la herramienta Eliminar evento cuando se cancele o reprograme una cita.\n\nSiempre registra cada acción como una nueva fila en Google Sheets. No actualices filas anteriores.\n\nSi no se registra en Google Sheets o no se ejecuta correctamente una herramienta, considera la tarea incompleta.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-176,416],"id":"01c8b68b-33bf-4b5e-a66e-15f5d0bb2f3f","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-256,640],"id":"6beebd98-2068-4a8f-b86b-0132b2dda376","name":"OpenAI Chat Model1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message_content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"6571be58-7ae0-4b3a-9c4d-706d062d2428"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98a252f3-df54-41c8-8d0f-705fee6eec87","leftValue":"={{ $json.message_content_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ebf44caf-794d-434c-be9b-88adfc2d34a0","leftValue":"={{ $json.message_content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1600,416],"id":"5923a06a-d05a-4305-be66-984bff9c942a","name":"Switch1"},{"parameters":{"method":"POST","url":"={{ $('Normalizacion1').item.json.instance_server_url }}/chat/getBase64FromMediaMessage/{{ $('Normalizacion1').item.json.instance_name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normalizacion1').item.json.instance_apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $('Normalizacion1').item.json.message_id }}"},{"name":"convertToMp4","value":"={{ Boolean(false) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,240],"id":"55a29012-279b-490a-813f-5c014f3350e1","name":"Get Audio1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1104,240],"id":"7aa186f8-d207-42be-b6ab-8eb8cab7b04e","name":"Convertir Audio1"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-896,240],"id":"09732fa0-fb1b-4811-bf75-52e72ddfd6bd","name":"Transcribe a recording1"},{"parameters":{"assignments":{"assignments":[{"id":"6e2644e1-fe2b-4523-b3bc-3db62622315c","name":"content","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,240],"id":"0e2c35cb-6fe8-4216-9110-9192397cc571","name":"Audio Content2"},{"parameters":{"assignments":{"assignments":[{"id":"6e2644e1-fe2b-4523-b3bc-3db62622315c","name":"content","value":"=<imagen>\n{{ $json.content}}\n</imagen>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,416],"id":"6dedbca7-46ba-4227-9fe1-43f6474de745","name":"Audio Content3"},{"parameters":{"method":"POST","url":"={{ $('Normalizacion1').item.json.instance_server_url }}/chat/getBase64FromMediaMessage/{{ $('Normalizacion1').item.json.instance_name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normalizacion1').item.json.instance_apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $('Normalizacion1').item.json.message_id }}"},{"name":"convertToMp4","value":"={{ Boolean(false) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,416],"id":"5e69bf44-fe49-4972-ba48-6c442cf2fae3","name":"Get Image1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1104,416],"id":"0b5738be-2f35-4582-af63-f3a8481387bf","name":"Convertir Imagen1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Describe la imagen","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-896,416],"id":"65965171-6202-4f16-8256-651a1d112b31","name":"Describe imagen1"},{"parameters":{"assignments":{"assignments":[{"id":"6070e65d-c2d1-475e-af7c-c8ff0a5b059a","name":"content","value":"={{ $json.message_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,592],"id":"983a254c-c37d-4fd1-8b47-69da5dd850e1","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"d56cc938-d653-4611-96fd-86d5eb56bf9c","name":"chat_input","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,416],"id":"fae2cb09-65e7-4084-8ce7-71e2207f522f","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"d9419665-41fc-43b9-aef7-d521a1ba2035","name":"instance_server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"c3cb8673-8006-4079-a304-c58ffc267226","name":"instance_name","value":"={{ $json.body.instance }}","type":"string"},{"id":"e462da04-7f8b-4fbe-aacd-7956666c2ede","name":"instance_apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"b06da722-eea2-4f28-a2d4-7bcc6592b952","name":"message_id","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"5ecbe629-f4d0-4bdf-8c78-903f311bc273","name":"message_chat_id_sender","value":"={{ $json.body.sender }}","type":"string"},{"id":"cbb05e7c-4912-4965-bcf4-cefd9418b39f","name":"message_content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'text': '' }}{{ $json.body.data.message.conversation ? 'text': '' }}{{ $json.body.data.message.audioMessage ? 'audio': '' }}{{ $json.body.data.message.imageMessage ? 'image': '' }}","type":"string"},{"id":"d6fa8877-dee6-468b-a51e-8fdc36dc190f","name":"message_content","value":"={{ $json.body.data.message.extendedTextMessage?.text || '' }} {{ $json.body.data.message.imageMessage?.caption || '' }} {{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"f122b51f-8a93-439e-85fb-c370e7f4f6b8","name":"message_timestamp","value":"={{ $json.body.date_time }}","type":"string"},{"id":"e10a7e61-cffe-44fb-9b13-e0c199ebd866","name":"user_name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"1c280646-7eb8-4118-9e8d-432f04a763b7","name":"user_number","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"a7341820-a177-4921-aee5-0fb72a40dcdf","name":"session_id","value":"={{ $json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1760,432],"id":"2e6f7891-c352-453f-9a15-912e5068658a","name":"Normalizacion1"},{"parameters":{"method":"POST","url":"={{ $('Normalizacion1').item.json.instance_server_url }}/message/sendText/{{ $('Normalizacion1').item.json.instance_name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normalizacion1').item.json.instance_apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacion1').item.json.user_number }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"delay","value":"={{ 1000 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,416],"id":"e912ebb6-4ca9-4f97-a6db-f27a14f04bc3","name":"Mandar mensaje1"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"17iqMobaQBz29tZ5hP5Q9ejzSJUfkov8lkjB245vpoZY","mode":"list","cachedResultName":"Citas barbería","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17iqMobaQBz29tZ5hP5Q9ejzSJUfkov8lkjB245vpoZY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17iqMobaQBz29tZ5hP5Q9ejzSJUfkov8lkjB245vpoZY/edit#gid=0"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-2144,1472],"id":"80ad09c9-f4bb-49e9-9afb-dd659e99c9dc","name":"Google Sheets Trigger"},{"parameters":{"jsCode":"return items.map(item => {\n  const rawDate = item.json[\"Día \"] || item.json[\"Día\"] || item.json[\"Fecha\"];\n  let rawTime = item.json[\"Hora\"] || \"00:00:00\";\n\n  if (typeof rawDate !== \"string\" || typeof rawTime !== \"string\") {\n    throw new Error(\"Los valores de fecha y hora deben estar en formato string tipo 'AAAA-MM-DD' y 'HH:MM:SS'\");\n  }\n\n  // Normaliza hora tipo \"9:00:00\" a \"09:00:00\"\n  const timeParts = rawTime.split(\":\");\n  if (timeParts.length < 2 || timeParts.length > 3) {\n    throw new Error(`Hora inválida: ${rawTime}. Debe estar en formato HH:MM o HH:MM:SS`);\n  }\n\n  // Asegura 3 partes (HH:MM:SS)\n  while (timeParts.length < 3) timeParts.push(\"00\");\n\n  const [hour, minute, second] = timeParts.map(part =>\n    part.length === 1 ? \"0\" + part : part\n  );\n\n  const [year, month, day] = rawDate.split(\"-\");\n  if (!year || !month || !day) {\n    throw new Error(`Fecha inválida: ${rawDate}. Debe estar en formato AAAA-MM-DD`);\n  }\n\n  const date = new Date(Date.UTC(\n    Number(year),\n    Number(month) - 1,\n    Number(day),\n    Number(hour),\n    Number(minute),\n    Number(second)\n  ));\n\n  if (isNaN(date.getTime())) {\n    throw new Error(`Fecha inválida: ${rawDate}T${rawTime}`);\n  }\n\n  item.json.fechaISO = date.toISOString();\n  item.json.fechaLegible = date.toLocaleString('es-MX', { timeZone: 'America/Mexico_City' });\n\n  const reminderDate = new Date(date.getTime() - 60 * 60 * 1000);\n  item.json.recordatorioISO = reminderDate.toISOString();\n  item.json.recordatorioLegible = reminderDate.toLocaleString('es-MX', { timeZone: 'America/Mexico_City' });\n\n  return item;\n});\nv\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1904,1504],"id":"2c094d96-b8ea-43ea-a8c4-461892cccd92","name":"Code"},{"parameters":{"method":"POST","url":"https://makewhatsapp-evolution-api.1takfl.easypanel.host/message/sendText/hector\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"DC64CCC7469D-4E50-BF80-3A2AE8436DE0"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Google Sheets Trigger').item.json['Numero celular'] }}"},{"name":"text","value":"=Hola! {{ $('Google Sheets Trigger').item.json.Nombre }}\nRecuerda que tu cita es dentro de una hora\nCualquier imprevisto o duda te pido que lo comuniques conmigo, nos vemos pronto"},{"name":"delay","value":"={{ 1000 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,1168],"id":"ceef8546-4a47-4a1d-a234-016b24b5df1e","name":"MANDAR RECORDATORIO"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      executionId: $execution.id\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1056,1168],"id":"3254d407-02e7-4ff9-a065-458a4f19b7b2","name":"Code1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"17iqMobaQBz29tZ5hP5Q9ejzSJUfkov8lkjB245vpoZY","mode":"list","cachedResultName":"Citas barbería","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17iqMobaQBz29tZ5hP5Q9ejzSJUfkov8lkjB245vpoZY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17iqMobaQBz29tZ5hP5Q9ejzSJUfkov8lkjB245vpoZY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Execution ID":"={{ $json.executionId }}","ID":"={{ $('Google Sheets Trigger').item.json.ID }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Servicio","displayName":"Servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Precio del servicio","displayName":"Precio del servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Día ","displayName":"Día ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Numero celular","displayName":"Numero celular","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Execution ID","displayName":"Execution ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-848,1168],"id":"6430a739-3ffd-432d-8af1-b173c536f5d3","name":"Append or update row in sheet"},{"parameters":{"resume":"specificTime","dateTime":"={{ $('Code').item.json.recordatorioISO }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-656,1168],"id":"a06fabbb-59e4-4f55-9648-a625712b5408","name":"Wait","webhookId":"d3819dc0-5754-4ff4-98cb-ac11b26eb5ab"},{"parameters":{"resource":"execution","operation":"delete","executionId":"={{ $json['Execution ID'] }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-768,1584],"id":"04c03117-2e97-4422-bfb6-99adf0a00573","name":"QUITAR RECORDATORIO"},{"parameters":{"documentId":{"__rl":true,"value":"17iqMobaQBz29tZ5hP5Q9ejzSJUfkov8lkjB245vpoZY","mode":"list","cachedResultName":"Citas barbería","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17iqMobaQBz29tZ5hP5Q9ejzSJUfkov8lkjB245vpoZY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17iqMobaQBz29tZ5hP5Q9ejzSJUfkov8lkjB245vpoZY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $('Google Sheets Trigger').item.json.ID }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1008,1584],"id":"96c61587-60b8-4ccd-9c97-9dcb81664973","name":"OBTENER INFO DE CITA ELIMINADA"},{"parameters":{"method":"POST","url":"https://makewhatsapp-evolution-api.1takfl.easypanel.host/message/sendText/hector\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"DC64CCC7469D-4E50-BF80-3A2AE8436DE0"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5215520894522@s.whatsapp.net"},{"name":"text","value":"=Nueva cita agendada:\nCliente: {{ $json.Nombre }}\nServicio: {{ $json.Servicio }}\nPrecio: {{ $json['Precio del servicio'] }}\nHora y dia de la cita: {{ $json.fechaLegible }}"},{"name":"delay","value":"={{ 1000 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1680,1504],"id":"1624a99f-1bec-4538-8ae5-127a4b934952","name":"Mandar mensaje2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Code').item.json.Estatus }}","rightValue":"agendado","operator":{"type":"string","operation":"equals"},"id":"0a06b0e6-720a-41b3-9810-40ec1737ba60"}],"combinator":"and"},"renameOutput":true,"outputKey":"Agendado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02d80855-4ce5-4536-b6aa-7e92575a2b94","leftValue":"={{ $('Code').item.json.Estatus }}","rightValue":"eliminado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Eliminado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1456,1504],"id":"be3c00ce-1c85-46be-b363-1c3e30f1671c","name":"Switch2"},{"parameters":{"description":"Llama esta herramienta cunando quieras hacer una cotizacion","workflowId":{"__rl":true,"value":"dO4yKMcPZiLTED5e","mode":"list","cachedResultName":"COTIZADOR PDF -"},"workflowInputs":{"mappingMode":"defineBelow","value":{"apikey":"={{ $('Normalizacion2').item.json.instance_apikey }}","instancia":"={{ $('Normalizacion2').item.json.instance_name }}","url_message":"={{ $('Normalizacion2').item.json.instance_server_url }}","content":"={{ $('Normalizacion2').item.json.message_content }}","numero":"={{ $('Normalizacion2').item.json.user_number }}"},"matchingColumns":[],"schema":[{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_message","displayName":"url_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2688,1664],"id":"b55df61d-c18e-40a2-98d4-ec612d4e0089","name":"COTIZADOR"},{"parameters":{"httpMethod":"POST","path":"numero","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[608,1456],"id":"becefc9b-bc77-4e0d-8e59-c43b47e7e5d9","name":"Webhook2","webhookId":"6dff1e56-c180-4969-ae6a-e3f08cca3ed9"},{"parameters":{"promptType":"define","text":"=El mensaje del usuario: {{ $json.chat_input }}","options":{"systemMessage":"=Eres el asistente personal de hector rubin, la idea es ayudarlo con lo que necesite\n\nNo mandes nada adicional, solamente di que ya genereaste la cotizacion y que si necesita algo mas aqui estas para ayudarlo\n\nUtiliza la herramienta 'cotizacion' para generar la cotizacion en pdf"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2432,1376],"id":"9aa1918b-345d-460e-aa6d-9621a22aafb2","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2352,1584],"id":"2703a119-d3fd-49ea-aeb8-c447a7638b0a","name":"OpenAI Chat Model2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"= {{ $('Normalizacion2').item.json.user_number }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2528,1584],"id":"14e090f7-6e1e-4b3a-8a0a-294038e948c1","name":"Simple Memory1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message_content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"6571be58-7ae0-4b3a-9c4d-706d062d2428"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98a252f3-df54-41c8-8d0f-705fee6eec87","leftValue":"={{ $json.message_content_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ebf44caf-794d-434c-be9b-88adfc2d34a0","leftValue":"={{ $json.message_content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1008,1376],"id":"7b12ca46-103f-4f5e-bc1a-6eb836cc7ad9","name":"Switch3"},{"parameters":{"method":"POST","url":"={{ $('Normalizacion2').item.json.instance_server_url }}/chat/getBase64FromMediaMessage/{{ $('Normalizacion2').item.json.instance_name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normalizacion2').item.json.instance_apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $('Normalizacion2').item.json.message_id }}"},{"name":"convertToMp4","value":"={{ Boolean(false) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,1184],"id":"45463a52-e468-4548-95ea-a8cb30f15e3d","name":"Get Audio2"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1504,1184],"id":"caeca787-9781-4585-ab75-d1e76c45c7e2","name":"Convertir Audio2"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1712,1184],"id":"cbc57e81-7244-4776-b3e5-856e917dca04","name":"Transcribe a recording2"},{"parameters":{"assignments":{"assignments":[{"id":"6e2644e1-fe2b-4523-b3bc-3db62622315c","name":"content","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,1184],"id":"9ad0f07a-f379-4f56-a17c-e9cc4d8cb93f","name":"Audio Content4"},{"parameters":{"assignments":{"assignments":[{"id":"6e2644e1-fe2b-4523-b3bc-3db62622315c","name":"content","value":"=<imagen>\n{{ $json.content}}\n</imagen>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,1376],"id":"28ede980-1b1f-4b1d-ad9e-b5ed8ef4e96b","name":"Audio Content5"},{"parameters":{"method":"POST","url":"={{ $('Normalizacion2').item.json.instance_server_url }}/chat/getBase64FromMediaMessage/{{ $('Normalizacion2').item.json.instance_name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normalizacion2').item.json.instance_apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $('Normalizacion2').item.json.message_id }}"},{"name":"convertToMp4","value":"={{ Boolean(false) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,1376],"id":"0f32e203-8b49-479e-bc9f-17bd99508236","name":"Get Image2"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1504,1376],"id":"525245b3-3a4e-4b7e-9689-9a5a74c058b6","name":"Convertir Imagen2"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Describe la imagen","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1712,1376],"id":"01f6261f-7ab0-4ea9-892f-0b77d5e1773c","name":"Describe imagen2"},{"parameters":{"assignments":{"assignments":[{"id":"6070e65d-c2d1-475e-af7c-c8ff0a5b059a","name":"content","value":"={{ $json.message_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,1552],"id":"24aee11a-2660-4efe-9bf7-08d9b2747af7","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"d56cc938-d653-4611-96fd-86d5eb56bf9c","name":"chat_input","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2192,1376],"id":"c06f83cb-e50b-4a14-982e-81276bcf9166","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"d9419665-41fc-43b9-aef7-d521a1ba2035","name":"instance_server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"c3cb8673-8006-4079-a304-c58ffc267226","name":"instance_name","value":"={{ $json.body.instance }}","type":"string"},{"id":"e462da04-7f8b-4fbe-aacd-7956666c2ede","name":"instance_apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"b06da722-eea2-4f28-a2d4-7bcc6592b952","name":"message_id","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"5ecbe629-f4d0-4bdf-8c78-903f311bc273","name":"message_chat_id_sender","value":"={{ $json.body.sender }}","type":"string"},{"id":"cbb05e7c-4912-4965-bcf4-cefd9418b39f","name":"message_content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'text': '' }}{{ $json.body.data.message.conversation ? 'text': '' }}{{ $json.body.data.message.audioMessage ? 'audio': '' }}{{ $json.body.data.message.imageMessage ? 'image': '' }}","type":"string"},{"id":"d6fa8877-dee6-468b-a51e-8fdc36dc190f","name":"message_content","value":"={{ $json.body.data.message.extendedTextMessage?.text || '' }} {{ $json.body.data.message.imageMessage?.caption || '' }} {{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"f122b51f-8a93-439e-85fb-c370e7f4f6b8","name":"message_timestamp","value":"={{ $json.body.date_time }}","type":"string"},{"id":"e10a7e61-cffe-44fb-9b13-e0c199ebd866","name":"user_name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"1c280646-7eb8-4118-9e8d-432f04a763b7","name":"user_number","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,1392],"id":"5da3a5a6-6099-4bf7-93d9-1608a7ea4e6d","name":"Normalizacion2"},{"parameters":{"method":"POST","url":"={{ $('Normalizacion2').item.json.instance_server_url }}/message/sendText/{{ $('Normalizacion2').item.json.instance_name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Normalizacion2').item.json.instance_apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalizacion2').item.json.user_number }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"delay","value":"={{ 1000 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2736,1376],"id":"2b3872a9-145d-41de-aaba-ada03a73fade","name":"Mandar mensaje3"},{"parameters":{"assignments":{"assignments":[{"id":"b267d56d-2acf-4056-879a-f912f573f90b","name":"numero_bot","value":"={{ $json.body.sender }}","type":"string"},{"id":"f8bcefc8-2aa6-4f58-8631-f7ecd4c1159c","name":"numero_usuario","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"c4941bb3-4d73-4fbd-87bf-ee94552bc4be","name":"nombre_usuario","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"55340e3e-af82-4555-a80e-662fedbe6b0f","name":"url_instancia","value":"={{ $json.body.server_url }}","type":"string"},{"id":"3061e106-8682-44a9-a271-9d16027f1b22","name":"nombre_instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"8672085c-3744-45c7-a634-be720eaf714b","name":"apikey_instancia","value":"={{ $json.body.apikey }}","type":"string"},{"id":"3ccbf1ca-a678-492b-bf17-dda9bca6effa","name":"id_mensaje","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"be2dc337-61d1-4565-9d40-d65287b0c055","name":"hora","value":"={{ $json.body.date_time }}","type":"string"},{"id":"6fcb0ad8-345a-40fa-a828-aaa08c5293c1","name":"mensaje_usuario","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"e6907641-23de-427f-be15-d0a49ff295e2","name":"tipo_mensaje","value":"={{ $json.body.data.message.audioMessage ? 'audio': '' }}{{ $json.body.data.message.conversation ? 'text': '' }}{{ $json.body.data.message.imageMessage ? 'image': '' }}{{ $json.body.data.message.extendedTextMessage ? 'text': '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2176,2032],"id":"7bf369ff-bc97-41ff-933e-c9554648f3b9","name":"INFORMACION IMPORTANTE"},{"parameters":{"method":"POST","url":"={{ $('INFORMACION IMPORTANTE').item.json.url_instancia }}/chat/getBase64FromMediaMessage/{{ $('INFORMACION IMPORTANTE').item.json.nombre_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey_instancia }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json.id_mensaje }}"},{"name":"convertToMp4","value":"={{ Boolean(false) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1568,1952],"id":"0fe459b9-bc3f-496b-a247-d2eb7cba8874","name":"DESACARGAR AUDIO"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1344,1952],"id":"ed0229a6-93c5-4fb7-a4ef-1ba80b98b776","name":"Convert to File"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1344,2112],"id":"4f6b1e89-4611-47b3-ad78-19f6b7ac00d8","name":"Convert to File1"},{"parameters":{"method":"POST","url":"={{ $('INFORMACION IMPORTANTE').item.json.url_instancia }}/chat/getBase64FromMediaMessage/{{ $('INFORMACION IMPORTANTE').item.json.nombre_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apikey_instancia }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json.id_mensaje }}"},{"name":"convertToMp4","value":"={{ Boolean(false) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1568,2112],"id":"988f3f54-ec86-4d58-97ec-ab1a7d0851eb","name":"DESCARGAR IMAGEN"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Analiza la imagen","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1120,2112],"id":"2a66d514-b892-415e-bbcd-224b25ce90a1","name":"Analyze image"},{"parameters":{"httpMethod":"POST","path":"agenteIA","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2400,2032],"id":"2f359537-8795-4934-89d1-62cc35d4794b","name":"Webhook3","webhookId":"b2dfd48d-8aca-4038-bc92-cfac21864d54"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79542dfa-dce8-4b4e-b6cd-b07b05b8e6fe","leftValue":"={{ $json.tipo_mensaje }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2745cae-a1c3-4e30-94e7-c4276ffef1f7","leftValue":"={{ $json.tipo_mensaje }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c4c50249-8443-47ae-a08a-2e312978236a","leftValue":"={{ $json.tipo_mensaje }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1968,2016],"id":"e0b76292-c35f-4082-b1cf-dd9dfe472e4e","name":"Switch4"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1120,1952],"id":"e440f97a-b578-4ba6-a91e-7ee29f5fa889","name":"Transcribe a recording3"},{"parameters":{"assignments":{"assignments":[{"id":"3e7b3ef6-c1b5-4d28-941a-38fda08e1419","name":"mensaje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,1952],"id":"f668233f-dcff-4bff-ba48-ad276a595959","name":"Edit Fields6"},{"parameters":{"assignments":{"assignments":[{"id":"3e7b3ef6-c1b5-4d28-941a-38fda08e1419","name":"mensaje","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,2112],"id":"eec5bf96-c401-4b00-acce-0e4deee74599","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"89809067-991f-49e8-9254-bf6f825af4bc","name":"mensaje","value":"={{ $json.mensaje_usuario }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,2272],"id":"0f07c0a3-83e4-4b9a-8eb4-25700a4dab96","name":"Edit Fields8"},{"parameters":{"promptType":"define","text":"={{ $json.mensaje }}","options":{"systemMessage":"Eres el asistente personal de hector rubin"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-576,2112],"id":"85a12398-5f00-4324-9f5d-208ec91522ac","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-656,2352],"id":"83e01874-453c-4212-9e41-b7242654945b","name":"OpenAI Chat Model3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('INFORMACION IMPORTANTE').item.json.id_mensaje }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-496,2336],"id":"de20406a-e633-4e92-9f91-9a004cf11148","name":"Simple Memory2"},{"parameters":{"method":"POST","url":"={{ $('INFORMACION IMPORTANTE').item.json.url_instancia }}/message/sendText/{{ $('INFORMACION IMPORTANTE').item.json.nombre_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('INFORMACION IMPORTANTE').item.json.apikey_instancia }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('INFORMACION IMPORTANTE').item.json.numero_usuario }}"},{"name":"text","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,2112],"id":"8d604fdd-7457-4c33-aa98-4187676a4c9f","name":"Mandar mensaje4"},{"parameters":{"workflowInputs":{"values":[{"name":"content"},{"name":"url_message"},{"name":"apikey"},{"name":"instancia"},{"name":"numero"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[288,2096],"id":"cc62e063-5ad1-42aa-8613-5c1c688c4812","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"37179be1-323e-4993-bdfd-fadda947812a","name":"url","value":"={{ $json.url_message }}","type":"string"},{"id":"13db33a2-b837-449e-92af-f0401148ae97","name":"apikey","value":"={{ $json.apikey }}","type":"string"},{"id":"4ac1cf3e-b32e-4e2d-80c0-dd3f83b70913","name":"number","value":"={{ $json.numero }}","type":"string"},{"id":"dc4f8678-55c9-4b8a-84f9-915458b239c1","name":"content","value":"={{ $json.content }}","type":"string"},{"id":"f03cd035-37a7-42fd-9bd1-da5a9827e95e","name":"instancia","value":"={{ $json.instancia }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,2096],"id":"3aa21ed1-03fb-4d44-b7de-b9dfd9cebb26","name":"normalizacion"},{"parameters":{"modelId":{"__rl":true,"value":"o4-mini","mode":"list","cachedResultName":"O4-MINI"},"messages":{"values":[{"content":"={{ $json.content }}"},{"content":"=Eres un asistente de facturación, para una empresa de automatizaciones con inteligenica artifical en mexico. \n\nLee el texto entre <<< y >>>, extrae los datos solicitados y responde **solo** con un objeto JSON plano, sin texto extra ni campos adicionales.\n\nEstructura exacta que debes devolver:\n\n{\n  \"invoice_title\": \"\",\n  \"client_name\": \"\",\n  \"invoice_date\": \"\",          // YYYY-MM-DD\n  \"services\": [\n    { \"name\": \"\", \"description\": \"\", \"price\": 0 }\n  ],\n  \"deliverables\": [ \"\" ],\n  \"delivery_time\": \"\",\n  \"subtotal\": 0,\n  \"tax_rate\": 0,\n  \"tax_amount\": 0,\n  \"total\": 0,\n  \"clientId\": \"\",\n  \"_filename\": \"\"\n}\n\nReglas estrictas:\n1. Devuelve **solo** ese JSON (sin arrays contenedores, sin índices, sin mensajes).\n2. Si algún dato falta, de acuerdo el contexto genéralo.\n3. Los números van como números, no como cadenas.\n4. La fecha debe cumplir el formato YYYY-MM-DD.\n5. El tax rate siempre será 16%\n","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[736,2096],"id":"c1d7bd1e-371a-4fb4-b0dc-aa553ff0adb3","name":"Message a model"},{"parameters":{"method":"POST","url":"https://api.pdfmonkey.io/api/v1/documents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer shPPxncyLzzND7W9z9Jp"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"document\": {\n    \"document_template_id\": \"EE1C9B03-1912-44E7-8B8B-27412F4B17B5\",\n    \"status\": \"pending\",\n    \"payload\": {\n      \"invoice_title\": \"{{ $json.invoice_title }}\",\n      \"client_name\": \"{{ $json.client_name }}\",\n      \"invoice_date\": \"2025-06-26\",\n      \"services\": {{ JSON.stringify($json.services) }},\n      \"deliverables\": \"{{ $json.deliverables[0] }}\",\n      \"delivery_time\": \"{{ $json.delivery_time }}\",\n      \"subtotal\": \"{{ $json.subtotal }}\",\n      \"tax_rate\": \"{{ $json.tax_rate }}\",\n      \"tax_amount\": \"{{ $json.tax_amount }}\",\n      \"total\": \"{{ $json.total }}\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,2096],"id":"84529a1f-1423-4caf-90e0-ea300f6d7be8","name":"GENERAR DOCUMENTO"},{"parameters":{"url":"=https://api.pdfmonkey.io/api/v1/documents/{{ $('GENERAR DOCUMENTO').item.json.document.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer shPPxncyLzzND7W9z9Jp"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,2096],"id":"8acc9f6d-c0d4-4247-be18-254a1b95e1e0","name":"DESCARGAR DOCUMENTO"},{"parameters":{"url":"={{ $json.document.download_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1936,2096],"id":"6107ac12-d2d8-4494-bc26-4bbb07f93b22","name":"DESCARAR BINARIO"},{"parameters":{"name":"={{ $json.document.id }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16VoJjTBT3OrwQpPEJs-kdGc7OZe57FLg","mode":"list","cachedResultName":"Cotizaciones PDF","cachedResultUrl":"https://drive.google.com/drive/folders/16VoJjTBT3OrwQpPEJs-kdGc7OZe57FLg"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2160,2096],"id":"5245c262-91af-4598-b153-d94ce140fb2d","name":"Upload file"},{"parameters":{"url":"={{ $('DESCARGAR DOCUMENTO').item.json.document.download_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2368,2096],"id":"00dd0dbb-9589-4d79-a830-f7f5d195aa65","name":"DESCARAR BINARIO1"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2576,2096],"id":"c1a88bd5-ba4c-4cfc-bcd5-7f2e80aaad13","name":"Extract from File"},{"parameters":{"method":"POST","url":"={{ $('normalizacion').item.json.url }}/message/sendMedia/{{ $('normalizacion').item.json.instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('normalizacion').item.json.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('normalizacion').item.json.number }}"},{"name":"mediatype","value":"document"},{"name":"fileName","value":"Cotizacion.pdf"},{"name":"caption","value":"Aqui tienes tu cotizacion "},{"name":"media","value":"={{ $json.data }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,2096],"id":"7d8387b7-0cc1-4b88-a87b-426cb7eefa1a","name":"MANDAR IMAGEN WH"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"/* Paso 1: toma el bloque con los datos */\nconst content = item.json.message?.content;\n\n/* Paso 2: si llega como string, haz JSON.parse,\n            si ya es objeto, úsalo tal cual */\nconst data = (typeof content === 'string')\n  ? JSON.parse(content)\n  : content;\n\n/* Paso 3: devuelve como nuevo item.\n   Function Item lo envuelve en {json: …} automáticamente */\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,2096],"id":"1de05cb0-7a3b-4760-8dcb-3158ed6a3c79","name":"Code2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1536,1888],"id":"1bbece8c-6496-4242-aee7-f9ea35cbb5fa","name":"Wait1","webhookId":"813d884e-3a2c-4596-89ee-96597f39d917"}],"connections":{"Webhook":{"main":[[{"node":"Normalizacion","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Mandar mensaje","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Get Audio","type":"main","index":0}],[{"node":"Get Image","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Get Audio":{"main":[[{"node":"Convertir Audio","type":"main","index":0}]]},"Convertir Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Audio Content","type":"main","index":0}]]},"Audio Content":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Audio Content1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get Image":{"main":[[{"node":"Convertir Imagen","type":"main","index":0}]]},"Convertir Imagen":{"main":[[{"node":"Describe imagen","type":"main","index":0}]]},"Describe imagen":{"main":[[{"node":"Audio Content1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Normalizacion":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"CREAR":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"DELETE":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OBTENER":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"REAGENDAR":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Obtener eventos":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Crear evento":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Eliminar eventos":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Reagendar":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Append row in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Webhook1":{"main":[[{"node":"Normalizacion1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Mandar mensaje1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Switch1":{"main":[[{"node":"Get Audio1","type":"main","index":0}],[{"node":"Get Image1","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Get Audio1":{"main":[[{"node":"Convertir Audio1","type":"main","index":0}]]},"Convertir Audio1":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"Audio Content2","type":"main","index":0}]]},"Audio Content2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Audio Content3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Get Image1":{"main":[[{"node":"Convertir Imagen1","type":"main","index":0}]]},"Convertir Imagen1":{"main":[[{"node":"Describe imagen1","type":"main","index":0}]]},"Describe imagen1":{"main":[[{"node":"Audio Content3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Normalizacion1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Mandar mensaje2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"MANDAR RECORDATORIO","type":"main","index":0}]]},"OBTENER INFO DE CITA ELIMINADA":{"main":[[{"node":"QUITAR RECORDATORIO","type":"main","index":0}]]},"Mandar mensaje2":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"OBTENER INFO DE CITA ELIMINADA","type":"main","index":0}]]},"COTIZADOR":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Webhook2":{"main":[[{"node":"Normalizacion2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Mandar mensaje3","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Switch3":{"main":[[{"node":"Get Audio2","type":"main","index":0}],[{"node":"Get Image2","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Get Audio2":{"main":[[{"node":"Convertir Audio2","type":"main","index":0}]]},"Convertir Audio2":{"main":[[{"node":"Transcribe a recording2","type":"main","index":0}]]},"Transcribe a recording2":{"main":[[{"node":"Audio Content4","type":"main","index":0}]]},"Audio Content4":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Audio Content5":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Get Image2":{"main":[[{"node":"Convertir Imagen2","type":"main","index":0}]]},"Convertir Imagen2":{"main":[[{"node":"Describe imagen2","type":"main","index":0}]]},"Describe imagen2":{"main":[[{"node":"Audio Content5","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Normalizacion2":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"INFORMACION IMPORTANTE":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"DESACARGAR AUDIO":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording3","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"DESCARGAR IMAGEN":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Webhook3":{"main":[[{"node":"INFORMACION IMPORTANTE","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Edit Fields8","type":"main","index":0}],[{"node":"DESACARGAR AUDIO","type":"main","index":0}],[{"node":"DESCARGAR IMAGEN","type":"main","index":0}]]},"Transcribe a recording3":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Mandar mensaje4","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"normalizacion","type":"main","index":0}]]},"normalizacion":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code2","type":"main","index":0}]]},"GENERAR DOCUMENTO":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"DESCARGAR DOCUMENTO":{"main":[[{"node":"DESCARAR BINARIO","type":"main","index":0}]]},"DESCARAR BINARIO":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"DESCARAR BINARIO1","type":"main","index":0}]]},"DESCARAR BINARIO1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"MANDAR IMAGEN WH","type":"main","index":0}]]},"Code2":{"main":[[{"node":"GENERAR DOCUMENTO","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"DESCARGAR DOCUMENTO","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"appn8n-n8n.1takfl.easypanel.host","user-agent":"axios/1.7.9","content-length":"917","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"appn8n-n8n.1takfl.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"160e8b7bc846","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"hector","data":{"key":{"remoteJid":"5215640036624@s.whatsapp.net","fromMe":false,"id":"3A03F11FF60DADBC8CE2"},"pushName":"Héctor Rubín","status":"DELIVERY_ACK","message":{"conversation":"hector rubin","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"M6mBTOJUJKp4RA==","senderTimestamp":"1750722050","recipientKeyHash":"rwUkCiKlb4wfBw==","recipientTimestamp":"1750991656"},"deviceListMetadataVersion":2,"messageSecret":"hZBCVhx6cTlrIDNIF8P9OdAi7WOGiJeuqhMn9n+7j2Q="}},"messageType":"conversation","messageTimestamp":1752202289,"instanceId":"7c0a716d-7d31-4b25-95b3-ae193f4d68a2","source":"ios"},"destination":"https://appn8n-n8n.1takfl.easypanel.host/webhook/hector","date_time":"2025-07-10T23:51:29.881Z","sender":"5215522194289@s.whatsapp.net","server_url":"https://makewhatsapp-evolution-api.1takfl.easypanel.host","apikey":"DC64CCC7469D-4E50-BF80-3A2AE8436DE0"},"webhookUrl":"https://appn8n-n8n.1takfl.easypanel.host/webhook/hector","executionMode":"production"}}],"Webhook1":[{"json":{"headers":{"host":"appn8n-n8n.1takfl.easypanel.host","user-agent":"axios/1.7.9","content-length":"932","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"appn8n-n8n.1takfl.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"160e8b7bc846","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"hector","data":{"key":{"remoteJid":"5215640036624@s.whatsapp.net","fromMe":false,"id":"3A379508179D225EC0E7"},"pushName":"Héctor Rubín","status":"DELIVERY_ACK","message":{"conversation":"no voy a poder ir a la cita","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"M6mBTOJUJKp4RA==","senderTimestamp":"1750722050","recipientKeyHash":"rwUkCiKlb4wfBw==","recipientTimestamp":"1750991656"},"deviceListMetadataVersion":2,"messageSecret":"75m/dKDwJP3O4tBLs/LDaasVopyay06JkdqeWeSLcvk="}},"messageType":"conversation","messageTimestamp":1751815399,"instanceId":"7c0a716d-7d31-4b25-95b3-ae193f4d68a2","source":"ios"},"destination":"https://appn8n-n8n.1takfl.easypanel.host/webhook/hector","date_time":"2025-07-06T12:23:19.670Z","sender":"5215522194289@s.whatsapp.net","server_url":"https://makewhatsapp-evolution-api.1takfl.easypanel.host","apikey":"DC64CCC7469D-4E50-BF80-3A2AE8436DE0"},"webhookUrl":"https://appn8n-n8n.1takfl.easypanel.host/webhook/hector","executionMode":"production"}}],"Google Sheets Trigger":[{"json":{"ID":"tv16mbj01s08a09mv9q6ai6tgs","Estatus":"eliminado","Nombre":"Cliente","Servicio":"Corte para caballero","Precio del servicio":"350 MXN","Día ":"2025-07-12","Hora":"14:00:00","Numero celular":"5215522194289@s.whatsapp.net","Execution ID":""}}],"Webhook2":[{"json":{"headers":{"host":"appn8n-n8n.1takfl.easypanel.host","user-agent":"axios/1.7.9","content-length":"920","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"appn8n-n8n.1takfl.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"160e8b7bc846","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"hector","data":{"key":{"remoteJid":"5215640036624@s.whatsapp.net","fromMe":false,"id":"3A193346BE4DE836F3D4"},"pushName":"Héctor Rubín","status":"DELIVERY_ACK","message":{"conversation":"hola como estas","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"M6mBTOJUJKp4RA==","senderTimestamp":"1750722050","recipientKeyHash":"rwUkCiKlb4wfBw==","recipientTimestamp":"1750991656"},"deviceListMetadataVersion":2,"messageSecret":"uwXeQaCcMRLuj3br5auWXQ5h5JKBeoWDYXup2KuUe24="}},"messageType":"conversation","messageTimestamp":1751507377,"instanceId":"7c0a716d-7d31-4b25-95b3-ae193f4d68a2","source":"ios"},"destination":"https://appn8n-n8n.1takfl.easypanel.host/webhook/numero","date_time":"2025-07-02T22:49:37.832Z","sender":"5215522194289@s.whatsapp.net","server_url":"https://makewhatsapp-evolution-api.1takfl.easypanel.host","apikey":"DC64CCC7469D-4E50-BF80-3A2AE8436DE0"},"webhookUrl":"https://appn8n-n8n.1takfl.easypanel.host/webhook/numero","executionMode":"production"}}],"Webhook3":[{"json":{"headers":{"host":"appn8n-n8n.1takfl.easypanel.host","user-agent":"axios/1.7.9","content-length":"3622","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"appn8n-n8n.1takfl.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"4f7c0c3b2acd","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"prueba1","data":{"key":{"remoteJid":"5215640036624@s.whatsapp.net","fromMe":false,"id":"3A629E4FA67290621239"},"pushName":"Héctor Rubín","status":"DELIVERY_ACK","message":{"imageMessage":{"url":"https://mmg.whatsapp.net/v/t62.7118-24/23842847_1238356111067694_686532201444729395_n.enc?ccb=11-4&oh=01_Q5Aa1wF_e7O5dJfrSKCo-v9HqPQepRETQ_paT-MUME3HoNcGOw&oe=688A9FAA&_nc_sid=5e03e0&mms3=true","mimetype":"image/jpeg","caption":"Interpreta la siguiente imagen","fileSha256":"9hvMAUs6ZkFWk3/bMg/Sj1peXi2RHHebXSBdtSXQv9c=","fileLength":"138387","height":720,"width":1280,"mediaKey":"T0WhWmDed/HfY9v34wWCyjEppr57cLyoPajAyDnQJ6c=","fileEncSha256":"Dnl3rhv/fUiaTj3cpTN8EYML+esP0FPOaQiQYLA8Sa8=","directPath":"/v/t62.7118-24/23842847_1238356111067694_686532201444729395_n.enc?ccb=11-4&oh=01_Q5Aa1wF_e7O5dJfrSKCo-v9HqPQepRETQ_paT-MUME3HoNcGOw&oe=688A9FAA&_nc_sid=5e03e0","mediaKeyTimestamp":"1751326428","jpegThumbnail":"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABsSFBcUERsXFhceHBsgKEIrKCUlKFE6PTBCYFVlZF9VXVtqeJmBanGQc1tdhbWGkJ6jq62rZ4C8ybqmx5moq6T/2wBDARweHigjKE4rK06kbl1upKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKSkpKT/wgARCABIAEgDASIAAhEBAxEB/8QAGgAAAwEBAQEAAAAAAAAAAAAAAAMEBQIBBv/EABkBAAMBAQEAAAAAAAAAAAAAAAABAwIEBf/aAAwDAQACEAMQAAAAzVfVxzrk/RfOa1JJdBSJq0OTBQF8WjLLpzdbjU3Pxqu5r59vboZ8OyLmjrzPR3XqJ1NxjfdHhzRUqj5fgkWLDQ96vX5V7YOQZytYlrU8/ndHRsp4C/agAFXAjjgAWBnH/8QAHxEAAgICAwADAAAAAAAAAAAAAAECERIhAxMxECBh/9oACAECAQE/AMxNFmSMkfpqht4tHXJytjjy8eooWxoca2N2rFJrwSS8+KMJx8Opy23X1cU/T//EAB0RAAICAgMBAAAAAAAAAAAAAAECABEDIRIxQSD/2gAIAQMBAT8ACXGU38V5CTeoRu4WA7lgxiBPbjOQsccl5+xcjqKBhJPcU0bjFWHUGLIh1HSzbmj8sisbM//EACsQAAIBAwQBBAEDBQAAAAAAAAECAwAEEQUSITFBExQiUWFCcYEVMjOhsf/aAAgBAQABPwCOAsWLIQp6psKoG3J+6s7721wh3fHoj7qyYEzSk5XsfirTWJn1TY/+Bm2rV7f3E161rZBQUGSxpb+7SwnaR4zInRWtP1C8lDvJMjAISAO6ttbklspg7ATpyp+6jhj9EjAOantIkjI2CjpksxZo8ADrPmo1ni0qRNuZCMYFHSL2O1jkBDbTuCjumtLu2n93FHu9RcMp8VDp87RXD7ApcYCA1p8EsaPG9sqHYRv8mjpDHTd+Nsqsf5FWkEsIJZux1U63EhLliVJxipJLmGVIwxwx4BqOCWFt5ZiR3+KSVkeM5yj9/ir5We2dY22sejUEbw6hHHHMzsOZDnitQunmdmR8Ihxwe6vJGezhiRvlJUtxtBcjcMdCrO6BRw67ecgGrO2S5n906k7Tx9VHgl+QQ1EDaV+jmpi0toVRtrkYyatNKuIpi/r8E/I/dS6XasCBOFYmlsnSaOQMHijHintZIgwilxz+qs+jvLvvc8cdCtO1WaM+ls3IDUNwH3EKwZuhRedW+Q4P4pCJCF3cDlqkklu5DHDwi04KMVbsVDcPC25T/FXNxF1OrKw8jzRPuJdsakLnirHTxGoB/cmrOJV3MB5xRAPYzVwAkMzKADWlzLHMVbjd5q+DC5bcMZ6o5HYIq5smn+OwfvVppixSbu8U+I48DusTIq7M888eTXu5VfDp1wVHdKWmLhsBXHFN8JCAeQahv43UJcpux01X11bzRBIky3g4ovtTgcngVkRpz3/2pW2pub+4/wCqUhYwfAFG7t8gkjJ4ziokCu59TKHqpLa0B2kNlv1V/T4i3xuBisW9lGzoPUdfJ6oSFmycA+PoUZk34D73HZ8CpJUkZVDZGck/dXl49rCAGDZHIP1VlcpfIHlg27eiKhmtbfKlsZOealmSWUOjDaPH3W6LOQVznj81IYpozEzBcnuv//4AAwD/2Q==","contextInfo":{},"firstScanSidecar":"bL8L1u3JH41m5g==","firstScanLength":11658,"scansSidecar":"bL8L1u3JH41m5jVEkNrCZCyRkrPzxAow/e4Q0wFzKBaafrGnSIlMZA==","scanLengths":[11658,56682,26931,43114],"midQualityFileSha256":"unI3scRck9rjCeqwaCmvGMdZwoeN3TaY+n9bghGciEQ="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"M6mBTOJUJKp4RA==","senderTimestamp":"1750722050","recipientKeyHash":"iHzca422cJ3Fgg==","recipientTimestamp":"1750991656"},"deviceListMetadataVersion":2,"messageSecret":"NYVfDKRMgB2hXWOT4FiGBUNnxsxhCX+Kdb6VfZdLazk="}},"contextInfo":{},"messageType":"imageMessage","messageTimestamp":1751326435,"instanceId":"f0ae529e-0ac6-4317-8f58-7a8cdcd2ee57","source":"ios"},"destination":"https://appn8n-n8n.1takfl.easypanel.host/webhook/agenteIA","date_time":"2025-06-30T20:33:55.467Z","sender":"5215522194289@s.whatsapp.net","server_url":"https://makewhatsapp-evolution-api.1takfl.easypanel.host","apikey":"30DEFDEECB4C-4C11-AD91-34FCB5CDDB5D"},"webhookUrl":"https://appn8n-n8n.1takfl.easypanel.host/webhook/agenteIA","executionMode":"production"}}],"When Executed by Another Workflow":[{"json":{"content":"  quiero que sea de una pagina web de 5000","url_message":"https://makewhatsapp-evolution-api.1takfl.easypanel.host","apikey":"DC64CCC7469D-4E50-BF80-3A2AE8436DE0","instancia":"hector","numero":"5215640036624@s.whatsapp.net"}}]},"versionId":"e643f1ba-6b9f-48db-881d-c107588dc5b6","triggerCount":0,"shared":[{"createdAt":"2025-07-27T15:36:14.113Z","updatedAt":"2025-07-27T15:36:14.113Z","role":"workflow:owner","workflowId":"LWwTxA4fRDKJun6I","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}