generador-de-hojas-de-horas-con-ia-que-integra-gmail,-calendario-y-github-en-hojas-de-cálculo-de-google-m8cH2PIAvH4VjVkz.json
{"createdAt":"2025-07-18T03:50:38.430Z","updatedAt":"2025-07-18T04:06:17.211Z","id":"m8cH2PIAvH4VjVkz","name":"Generador de hojas de horas con IA que integra Gmail, Calendario y GitHub en Hojas de Cálculo de Google","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"list","value":""},"returnAll":true,"options":{"timeMin":"={{$today.minus(1).startOf('day').toISO()}}","timeMax":"={{$today.minus(1).endOf('day').toISO()}}"}},"id":"d3ad9729-1444-4227-b37e-b232546347de","name":"Get Today's Calendar Events","type":"n8n-nodes-base.googleCalendar","position":[1360,560],"typeVersion":1,"credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"receivedAfter":"={{ $now.minus(1).startOf('day').toISO() }}","sender":"={{ $json.myEmail }}"}},"id":"cd793b22-bd54-430e-aa78-7a7e1f066f96","name":"Get Today's Emails","type":"n8n-nodes-base.gmail","position":[1360,304],"webhookId":"0611a0b0-9e31-497f-98a9-7609c2287db1","typeVersion":2,"credentials":{"gmailOAuth2":{"id":"Pgqkyd8w5QCACq2o","name":"Gmail account"}}},{"parameters":{"resource":"repository","operation":"getPullRequests","owner":{"__rl":true,"mode":"name","value":"={{ $('Set Variables').item.json.github_handle }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repositoriesToTrack }}"},"returnAll":true,"getRepositoryPullRequestsFilters":{}},"id":"8bdb5e00-ce98-4c75-94e4-d1c9f341a826","name":"Get GitHub PRs","type":"n8n-nodes-base.github","position":[1248,1232],"webhookId":"0ec33ec2-fbb5-4b63-afd2-7227a8dba1c4","typeVersion":1,"credentials":{"githubApi":{"id":"gdxt1oYsp7B9s9bD","name":"GitHub account"}}},{"parameters":{"jsCode":"// Get all data from different sources\nconst allInputs = $input.all();\nconst calendarEvents = allInputs.find(b => b.json.calendarEvents)?.json.calendarEvents || [];\nconst emails = allInputs.find(b => b.json.emails)?.json.emails || [];\nconst commits = allInputs.find(b => b.json.commits)?.json.commits || [];\nconst prs = allInputs.find(b => b.json.prs)?.json.prs || [];\n\n// Format calendar events\nconst confirmed = calendarEvents.filter(e => e.status === 'confirmed');\n\nconst calendarSummary = confirmed.map(event => ({\n  time: event.start?.dateTime || 'No time',\n  title: event.summary || 'No title',\n  attendees: event.attendees?.length || 0,\n  description: event.description || 'No description',\n  duration: DateTime.fromISO(event.end.dateTime).diff(DateTime.fromISO(event.start.dateTime), 'hours').hours\n}));\n\n// Format emails (filter out unimportant ones)\nconst importantEmails = emails\n  .filter(email => \n    email.From && \n    !email.From.toLowerCase().includes('noreply') && \n    !email.Subject?.toLowerCase().includes('newsletter')\n  )\n  .slice(0, 20)\n  .map(email => ({\n    from: email.From,\n    subject: email.Subject || 'No subject',\n    snippet: email.snippet?.substring(0, 100) || ''\n  }));\n\nconst commitArray = Array.isArray(commits) ? commits : [commits];\nconst prsArray = Array.isArray(prs) ? prs : [prs];\n// Format GitHub activity\nconst githubActivity = {\n  commits: commitArray.map(commit => ({\n    message: commit.commit?.message || 'No message'\n  })) || [],\n  pullRequests: prsArray.map(pr => ({\n    title: pr.title,\n    repo: pr.head.repo?.name || 'Unknown repo',\n    state: pr.state\n  })) || []\n};\n\n// Create summary object\nconst summary = {\n  date: $('Set Variables').first().json.today,\n  calendar: {\n    totalEvents: calendarSummary.length,\n    events: calendarSummary\n  },\n  emails: {\n    totalReceived: emails.length,\n    important: importantEmails\n  },\n  github: githubActivity\n};\n\nreturn [{ json: summary }];"},"id":"201ef564-57e6-4fde-8251-459c56ef05d0","name":"Format All Data","type":"n8n-nodes-base.code","position":[2256,784],"typeVersion":1},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a professional timesheet creator.\n\nINPUT you receive: a single JSON object that contains:\n  • calendar.events          (array)\n  • emails.important         (array)\n  • github.commits           (array)\n  • github.pullRequests      (array)\n\nTASK\n1. Walk through every element in those arrays.\n2. For each element create an object that has **exactly**:\n     - \"type\"        : CALENDAR_EVENT | EMAIL | COMMIT | PR\n     - \"description\" : ≤120 chars, no commas, no line-breaks\n3. Put all objects in one JSON **array**.\n4. RETURN  that array. No wrapper object, no markdown. Try to create a nice description for each event","role":"system"},{"content":"=Below is today’s raw data in one JSON object.\n\n{{ JSON.stringify($json, null, 2) }}\n"}]},"jsonOutput":true,"options":{}},"id":"9a9385f0-ca86-457f-b599-713a809aa423","name":"Generate Journal Summary","type":"@n8n/n8n-nodes-langchain.openAi","position":[2480,784],"typeVersion":1,"credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"emails","options":{}},"id":"34e60115-851c-4055-b1bc-3bba3076fefe","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[1632,304],"typeVersion":1},{"parameters":{"numberInputs":4},"id":"a1dbd248-1cd5-4fec-8198-52573fbe50ed","name":"Merge","type":"n8n-nodes-base.merge","position":[2032,768],"typeVersion":3.2},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"calendarEvents","options":{}},"id":"53ab1990-ddeb-410f-8cd4-675ed88387a9","name":"Aggregate1","type":"n8n-nodes-base.aggregate","position":[1632,560],"typeVersion":1},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"prs","options":{}},"id":"7cc275df-68ac-4a9e-ae02-eb617b85f4cf","name":"Aggregate2","type":"n8n-nodes-base.aggregate","position":[1728,1248],"typeVersion":1},{"parameters":{},"id":"0faf1f55-23d3-4d33-a142-d1c87d85e9f1","name":"Daily at 7PM","type":"n8n-nodes-base.cron","position":[672,688],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"4fa5acaa-f81f-4ecc-88cb-ac8b56324cf5","name":"today_date","type":"string","value":"={{ $now.format('yyyy-MM-dd') }}"},{"id":"390ed3dd-2205-49eb-8b06-69d3affe98bd","name":"github_handle","type":"string","value":"luka-zivkovic"},{"id":"841cc4c8-f47d-4eea-8f23-62e5e7f0f0dc","name":"repositoriesToTrack","type":"array","value":"={{ ['techPoweredGrowth', 'tech-learn'] }}"},{"id":"df6011d8-70b8-4942-ad38-385d6c459c84","name":"myEmail","type":"string","value":""}]},"options":{}},"id":"7ee78807-a5df-493c-8419-3e9ef8688954","name":"Set Variables","type":"n8n-nodes-base.set","position":[928,688],"typeVersion":3.4},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"commits","options":{}},"id":"c6471886-5bce-43ae-9af7-89db8983706c","name":"Aggregate3","type":"n8n-nodes-base.aggregate","position":[1760,864],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"46c73ee1-9ff2-4318-bad4-5e8cdb3703ff","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.author.login }}","rightValue":"={{ $('Set Variables').item.json.github_handle }}"}]},"options":{}},"id":"469e916d-b567-4314-9f3d-ddebdac1a7c6","name":"If Authors Commit","type":"n8n-nodes-base.if","position":[1536,880],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"204dc12c-e6ec-472a-b84b-d88afb571e93","operator":{"type":"dateTime","operation":"exists","singleValue":true},"leftValue":"={{ $json.closed_at?.toDateTime().format('yyyy-MM-dd') }}","rightValue":""},{"id":"4495a061-a8cd-42e7-81fb-bef628667058","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.closed_at?.toDateTime().format('yyyy-MM-dd') }}","rightValue":"={{ $('Set Variables').item.json.today_date }}"}]},"options":{}},"id":"2e566c1b-1a75-4302-b6f1-bd48d1ea6f26","name":"If it's closed today","type":"n8n-nodes-base.if","position":[1456,1360],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"46c73ee1-9ff2-4318-bad4-5e8cdb3703ff","operator":{"type":"dateTime","operation":"equals"},"leftValue":"={{ $json.created_at.toDateTime().format('yyyy-MM-dd') }}","rightValue":"={{ $('Set Variables').item.json.today_date }}"},{"id":"13335ba1-acc1-4f12-8654-326d09553187","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.user.login }}","rightValue":"={{ $('Set Variables').item.json.github_handle }}"}]},"options":{}},"id":"c4dafdca-e764-412a-9d3c-9b8653c3fb13","name":"If it's created today","type":"n8n-nodes-base.if","position":[1456,1104],"typeVersion":2.2},{"parameters":{"fieldToSplitOut":"message.content.events","options":{}},"id":"ce041632-5c3e-4f15-b772-cde890181ab7","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[2848,784],"typeVersion":1},{"parameters":{"content":"## 📊 Flujo de trabajo del seguimiento de actividad diaria\n\n**Resumen:** Este flujo de trabajo recopila automáticamente tus actividades diarias de múltiples fuentes y crea una hoja de horas completa en Hojas de Cálculo de Google.\n\n**Características clave:**\n- 📧 Rastrea correos electrónicos importantes (filtra boletines informativos y mensajes sin respuesta)\n- 📅 Registra eventos del calendario con duración y asistentes\n- 💻 Registra confirmaciones y solicitudes de extracción de GitHub\n- 🤖 Utiliza IA para generar descripciones concisas de las actividades\n- 📝 Crea automáticamente hojas mensuales y organiza las entradas\n\n**Configuración:** Actualiza el nodo **Establecer variables** con:\n- Nombre de usuario de GitHub\n- Dirección de correo electrónico\n- Nombres de los repositorios para el seguimiento","height":380,"width":640,"color":5},"id":"61d7bb88-1ad8-48d7-ae56-953123ccd501","name":"Workflow Overview","type":"n8n-nodes-base.stickyNote","position":[368,240],"typeVersion":1},{"parameters":{"content":"## 🔄 Centro de Recopilación de Datos\n\n**Fuentes:**\n- **Gmail:** Obtiene correos electrónicos de hoy (filtrados por remitente)\n- **Google Calendar:** Obtiene eventos confirmados de ayer\n- **API de GitHub:** Obtiene confirmaciones mediante una llamada a la API personalizada\n- **Nodo de GitHub:** Obtiene todos los PR del repositorio especificado\n\n**Nota:** Los eventos del calendario usan la fecha de ayer (`$today.minus(1)`). Ajústala si es necesario para tu zona horaria","height":312,"width":480,"color":3},"id":"ddefaf28-97c9-493b-8762-0d67e8adb345","name":"Data Collection","type":"n8n-nodes-base.stickyNote","position":[1296,-48],"typeVersion":1},{"parameters":{"content":" ## 🔍 Filtrado de actividad de GitHub\n\n**Filtro de commits:**\n- Solo incluye commits del usuario configurado\n- Recupera commits de ayer (UTC)\n\n**Filtros de PR:**\n1. **Creadas hoy:** PR nuevas abiertas por el usuario\n2. **Cerradas hoy:** PR fusionadas/cerradas\n\n**Propósito:** Garantiza que solo se registre la actividad relevante de GitHub en la hoja de horas","height":340,"width":580,"color":6},"id":"011634e4-2d08-40ac-9545-12b06a370e79","name":"GitHub Filtering","type":"n8n-nodes-base.stickyNote","position":[1216,1520],"typeVersion":1},{"parameters":{"content":"## 📋 Gestión de hojas\n\n**Creación mensual de hojas:**\n- Crea automáticamente una hoja nueva cada mes\n- Nombra las hojas con el nombre del mes (p. ej., \"enero\")\n- Comprueba si la hoja ya existe para evitar duplicados\n\n**Configuración de la fila del encabezado:**\n- Crea una fila vacía con las columnas Fecha, Tipo y Descripción\n- Solo se ejecuta en la primera ejecución del mes","height":280,"width":420,"color":2},"id":"c02e7286-fe56-4719-84ae-d75591814c67","name":"Sheet Management","type":"n8n-nodes-base.stickyNote","position":[208,944],"typeVersion":1},{"parameters":{"content":"## 🔀 Agregación de Datos\n\n**Propósito:** Combina varios elementos en un único objeto de datos\n\n**Nodos de Agregación:**\n- **Correos electrónicos → emails[]**\n- **Eventos del Calendario → calendarEvents[]**\n- **Confirmaciones → commits[]**\n- **Solicitudes de Extracción → prs[]**\n\n**Nodo de Fusión:** Combina todos los datos agregados en una sola carga útil para el procesamiento de IA","height":320,"width":620,"color":7},"id":"d24c8f38-772f-47c7-8be5-62b0bf3bb45b","name":"Data Aggregation","type":"n8n-nodes-base.stickyNote","position":[1968,384],"typeVersion":1},{"parameters":{"content":" ## 💾 Resultado final\n\n**Nodo de Hojas de cálculo de Google 2:**\n- Agrega cada actividad a la hoja del mes actual\n- Datos generados por IA de Maps:\n- **Tipo:** CALENDAR_EVENT | EMAIL | COMMIT | PR\n- **Descripción:** Resumen conciso de la actividad\n- **Fecha:** Fecha de hoy (formato AAAA-MM-DD)\n\n**Resultado:** ¡Hoja de horas limpia y organizada, lista para revisar!","height":280,"width":420},"id":"5c550d91-2e03-40a7-848b-f1a84e6a335a","name":"Final Output","type":"n8n-nodes-base.stickyNote","position":[2800,432],"typeVersion":1},{"parameters":{"content":"## 🤖 Procesamiento y resumen de IA\n\n**Propósito:** Transformar datos de actividad sin procesar en entradas estructuradas de la hoja de horas\n\n**Proceso:**\n1. El nodo **Formatear todos los datos** consolida los datos de todas las fuentes\n2. **OpenAI GPT-4o-mini** genera descripciones concisas (≤120 caracteres)\n3. El nodo **Dividir** separa eventos individuales para su inserción en la hoja de horas\n\n**Resultado:** Entradas limpias y categorizadas, listas para Hojas de Cálculo de Google","height":360,"width":540,"color":4},"id":"9c66ce99-54b4-43c1-bd72-c03b583355f1","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2352,1024],"typeVersion":1},{"parameters":{"fieldToSplitOut":"repositoriesToTrack","options":{}},"id":"bf6a9ad5-11b6-46f5-b4e1-8f7cbed04c56","name":"Split Out1","type":"n8n-nodes-base.splitOut","position":[1200,880],"typeVersion":1},{"parameters":{"url":"=https://api.github.com/repos/{{ $('Set Variables').item.json.github_handle }}/{{ $json.repositoriesToTrack }}/commits?since={{ $now.minus(1).startOf('day').toUTC().toISO() }}\n  &until={{ $now.minus(1).endOf('day').toUTC().toISO() }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"17c57291-2bbc-4fbb-b2c3-2c7352c379f2","name":"Get Commits From Github","type":"n8n-nodes-base.httpRequest","position":[1360,880],"typeVersion":4.2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"name","value":"={{ $now.format('MMMM') }}"},"columns":{"value":{"Date":"={{ $now.format('yyyy-MM-dd') }}","Type":"={{ $json.type }}","Description":"={{ $json.description }}"},"schema":[{"id":"Date","type":"string","display":true,"required":false,"displayName":"Date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Type","type":"string","display":true,"required":false,"displayName":"Type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Description","type":"string","display":true,"required":false,"displayName":"Description","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"df7ad87d-f6e1-4d26-8551-c503271dbb3a","name":"Insert Sheets Entry","type":"n8n-nodes-base.googleSheets","position":[3072,784],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"6ZsfAjFlddP24YPd","name":"Google Sheets account"}}},{"parameters":{"operation":"create","documentId":{"__rl":true,"mode":"list","value":""},"title":"={{ $now.format('MMMM') }}","options":{}},"id":"122a1907-1eb5-48c2-9fb7-4d004f41c74a","name":"Create Sheet If It Doesn't Exist","type":"n8n-nodes-base.googleSheets","position":[80,1312],"typeVersion":4.6,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"6ZsfAjFlddP24YPd","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b177902a-8b12-4147-afe2-babd21126e4a","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.title }}","rightValue":""}]},"options":{}},"id":"a172be21-11f1-48a5-bf6c-2989d3888771","name":"If it didn't exist","type":"n8n-nodes-base.if","position":[288,1312],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"2e5a5c68-ec1c-4307-b7ab-4db2d0a510d7","name":"Date","type":"string","value":""},{"id":"18823857-3297-4349-87df-42c364680f70","name":"Type","type":"string","value":""},{"id":"1806a29c-c5d8-4e6f-ace9-dc2750b4b88c","name":"Description","type":"string","value":""}]},"options":{}},"id":"9d96d32c-75db-4712-8e8f-8806cb43830b","name":"Init Sheet Headers","type":"n8n-nodes-base.set","position":[512,1312],"typeVersion":3.4},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Create Sheet If It Doesn't Exist').item.json.title }}"},"columns":{"value":{},"schema":[{"id":"Date","type":"string","display":true,"removed":false,"required":false,"displayName":"Date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Type","type":"string","display":true,"removed":false,"required":false,"displayName":"Type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Description","type":"string","display":true,"removed":false,"required":false,"displayName":"Description","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"autoMapInputData","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"242351ee-c830-4253-8b4f-37d2c7494018","name":"init Sheet Columns","type":"n8n-nodes-base.googleSheets","position":[736,1312],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"6ZsfAjFlddP24YPd","name":"Google Sheets account"}}},{"parameters":{"fieldToSplitOut":"repositoriesToTrack","options":{}},"id":"ce14b4e3-3796-4d03-93fe-8cc2a6199955","name":"Split Out2","type":"n8n-nodes-base.splitOut","position":[992,1152],"typeVersion":1}],"connections":{"Merge":{"main":[[{"node":"Format All Data","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Insert Sheets Entry","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Aggregate2":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Aggregate3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Split Out1":{"main":[[{"node":"Get Commits From Github","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Get GitHub PRs","type":"main","index":0}]]},"Daily at 7PM":{"main":[[{"node":"Set Variables","type":"main","index":0}]]},"Set Variables":{"main":[[{"node":"Get Today's Emails","type":"main","index":0},{"node":"Get Today's Calendar Events","type":"main","index":0},{"node":"Create Sheet If It Doesn't Exist","type":"main","index":0},{"node":"Split Out1","type":"main","index":0},{"node":"Split Out2","type":"main","index":0}]]},"Get GitHub PRs":{"main":[[{"node":"If it's created today","type":"main","index":0},{"node":"If it's closed today","type":"main","index":0}]]},"Format All Data":{"main":[[{"node":"Generate Journal Summary","type":"main","index":0}]]},"If Authors Commit":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Get Today's Emails":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"If it didn't exist":{"main":[[{"node":"Init Sheet Headers","type":"main","index":0}],[]]},"Init Sheet Headers":{"main":[[{"node":"init Sheet Columns","type":"main","index":0}]]},"init Sheet Columns":{"main":[[]]},"If it's closed today":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"If it's created today":{"main":[[{"node":"Aggregate2","type":"main","index":0}],[]]},"Get Commits From Github":{"main":[[{"node":"If Authors Commit","type":"main","index":0}]]},"Generate Journal Summary":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Get Today's Calendar Events":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Create Sheet If It Doesn't Exist":{"main":[[{"node":"If it didn't exist","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"5396","templateCredsSetupCompleted":true},"pinData":{},"versionId":"face1ec8-86de-4d1a-83fa-1e9bdb015ba2","triggerCount":0,"shared":[{"createdAt":"2025-07-18T03:50:38.430Z","updatedAt":"2025-07-18T03:50:38.430Z","role":"workflow:owner","workflowId":"m8cH2PIAvH4VjVkz","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}