invento-5FZqNzNScY9ZbjyJ.json
{"createdAt":"2025-08-18T02:19:34.372Z","updatedAt":"2025-10-03T00:28:31.113Z","id":"5FZqNzNScY9ZbjyJ","name":"Invento","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2176,336],"id":"c6eb915b-5b49-4d37-aa1d-6f04a4e18416","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"r8djHEeAWWI0Jv49","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Nombre del usuario al que te diriges: {{ $('Webhook').item.json.body.data.pushName }}\n\nContenido del mensaje del usuario: {{ $json.concat_message }}","options":{"systemMessage":"=# Descripción General:\nEres un asistente virtual amigable y cordial tu nombre es  \"Ana\". Tu función es ayudar respondiendo únicamente preguntas e inquietudes. Siempre debes responder con un tono humano, cálido, respetuoso y claro, como si fueras una persona muy atenta.\n\nCuando inicies una conversación nueva con un usuario, comienza presentándote con tu nombre. \n\nvalida el id del chat para garantizar que no vuelvas a presentarte con tu nombre si ya has interactuado con el usuario. \n\nEn todo momento usa un lenguaje profesional, cordial y accesible.\n\nCuando el usuario escriba la palabra \"humano\" ejecuta la tool \"Humano\".\n\nVerifica tu memoria para mantener la continuidad del tema.\n\nDebes responder en un contexto de 400 caracteres como máximo."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[2224,64],"id":"43db83c4-d722-4fa1-9c4d-cb0b0e824bd7","name":"AI Agent"},{"parameters":{"method":"POST","url":"=https://evolution.dployxperts.com/message/sendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"odnDxZwWPEwo1vjKStths8X7MqNMyIa1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('data message extraction').item.json.session_id }}\n"},{"name":"text","value":"={{ $json.output }}   "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2544,64],"id":"c196267c-4962-400d-bb3d-bd5d49db31cf","name":"HTTP Request"},{"parameters":{"operation":"toBinary","sourceProperty":"voice_message","options":{"mimeType":"=audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[336,288],"id":"3d3b9da4-dafa-4864-a2ff-744529c4624e","name":"Convertir a audio/ogg1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.session_id }}","tableName":"chat_histories","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2320,336],"id":"908cf057-a712-4d5c-8f19-45c386e4924f","name":"Memory1","credentials":{"postgres":{"id":"2rWXL8WYRyYZbH6r","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"sender","value":"={{ $('Verificar quien Escribe').item.json.body.data.key.senderLid }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message_type","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"text_message","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"voice_message","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"5a9a7ae9-ce91-4634-ad5c-fb0d446aabac","name":"session_id","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"cf8e5bf6-5c0e-4308-9ed4-a47fffadbb36","name":"date_time","value":"={{ $('Webhook').item.json.body.date_time }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"name","value":"={{ $('Webhook').item.json.body.data.pushName }}\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,256],"id":"609b41fc-1c61-4ea2-964b-705981b5c33d","name":"data message extraction"},{"parameters":{"assignments":{"assignments":[{"id":"a386845c-a9a6-4cad-b816-5e8fd5a49779","name":"final_message_voice","value":"={{ $json.text }}","type":"string"},{"id":"fa5968d2-69af-4068-b921-05e39a112aa9","name":"session_id","value":"={{ $('data message extraction').item.json.session_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,288],"id":"53748e40-87bf-4198-a203-65e7582bd5fe","name":"final_message_voice"},{"parameters":{"assignments":{"assignments":[{"id":"5231578b-a0b5-4dfc-962c-35efbc97ce15","name":"final_message_text","value":"={{ $json.text_message }}","type":"string"},{"id":"dab6d3ca-8bf8-4c25-9c08-6c0fc5f9ebcf","name":"session_id","value":"={{ $('data message extraction').item.json.session_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,48],"id":"e9746c8c-04d1-4e9c-b6af-99edd4b1e3a4","name":"final_message_text"},{"parameters":{"assignments":{"assignments":[{"id":"5231578b-a0b5-4dfc-962c-35efbc97ce15","name":"final_message","value":"={{ $json.final_message_text }} {{ $json.final_message_voice }}","type":"string"},{"id":"dab6d3ca-8bf8-4c25-9c08-6c0fc5f9ebcf","name":"session_id","value":"={{ $('data message extraction').item.json.session_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,48],"id":"bd9a57ce-6ca5-4ee1-9810-cbd56235174d","name":"final_message"},{"parameters":{"operation":"push","list":"={{ $('data message extraction').item.json.sender }}","messageData":"={{ JSON.stringify({\n  message: $json.final_message,\n  session_id: $('data message extraction').item.json.session_id,\n  date_time: $('data message extraction').item.json.date_time\n}) }}\n","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1280,48],"id":"40c9fb57-e088-484b-a9a9-d31559852e7b","name":"buffer","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('data message extraction').item.json.sender }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1584,48],"id":"8237ebef-fea5-46c1-b2e7-210bd81318a8","name":"get_buffer_data","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.message.last()).session_id  }}","rightValue":"={{ $('data message extraction').item.json.session_id }}","operator":{"type":"string","operation":"notEquals"},"id":"a30f0c20-2d06-4917-93bf-2cb7c6ff983e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f188df3b-dea6-4ce2-a53e-ddc1b1f02e1d","leftValue":"={{ JSON.parse($json.message.last()).date_time  }}","rightValue":"={{ $now.minus(20,'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuar"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1728,32],"id":"41a1bbf3-2517-42a8-952a-103527f7cbd1","name":"Switch2"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1744,304],"id":"4554b834-c7a1-4b6c-99a9-af35c7643132","name":"Wait","webhookId":"56271429-b6c3-493a-8bfe-f3a2be62c7a3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1456,272],"id":"5f3db379-e4f8-46b1-a452-c80ff0a7acad","name":"No Operation, do nothing"},{"parameters":{"operation":"delete","key":"={{ $('data message extraction').item.json.sender }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1952,48],"id":"ca8cbfc6-d306-44af-9d3b-345acd12ac06","name":"Delete_buffer","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"assignments":{"assignments":[{"id":"fdaaa5c7-a1a8-4f0f-b775-dbb1df5f754e","name":"concat_message","value":"={{ $json.message.map(m=> JSON.parse(m).message).join('\\n') }}","type":"string"},{"id":"dbb5014c-ccc9-4aed-bdee-a2e90092c775","name":"session_id","value":"={{ $('data message extraction').item.json.sender }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,352],"id":"e122efe4-d53d-4f8b-81c0-cf7012752880","name":"Un_solo_message"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a6a2789-9ff6-4ab3-95da-65c7f99af9ef","leftValue":"={{ $json.message_type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":"={{ false }}","options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,64],"id":"ab38b2d4-3727-4b64-9d01-a59440456268","name":"If"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1424,48],"id":"eb456e1a-c829-4341-9c3b-17c433baa041","name":"Wait1","webhookId":"dd4c5ad2-cf80-47d8-aad8-cd4e61cd7d24"},{"parameters":{"sseEndpoint":"https://n8n.dployxperts.com/mcp/27dd4208-4407-4413-a270-1302d812e60e/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[2960,320],"id":"9f451e47-42da-4765-b0ff-57a8884b9b39","name":"MCP Gmail","disabled":true},{"parameters":{"sseEndpoint":"https://n8n.dployxperts.com/mcp/336d6b12-6aaf-4ebc-bd5b-c682313cd94f/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[2672,320],"id":"7b134983-4723-4a77-9596-6d1bc5f04760","name":"MCP Calendario","disabled":true},{"parameters":{"sseEndpoint":"https://n8n.dployxperts.com/mcp/33322373-5080-4e97-b468-f0f40f6686d9/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[2816,320],"id":"5cd4adec-4de7-4700-97f4-695760ddf82a","name":"MCP Contactos","disabled":true},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[608,288],"id":"f2cf6772-e3be-426d-9b70-a9edd3eee4d5","name":"Transcribir Audio","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-32,-48],"id":"3cf6e697-6abd-4796-a0d8-fb786f4c0c6a","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"064bc845-5c7d-4c02-9d20-57d780823da9","leftValue":"={{ $json['bot-state'] }}","rightValue":"blocked-bot","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-176,400],"id":"80acfddf-5ce9-4fcd-aeb3-57d747ec4c78","name":"If3"},{"parameters":{"operation":"delete","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-368,-64],"id":"b69c79b2-6df8-4f98-8d40-df1c228781b9","name":"Activar Bot","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"operation":"set","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","value":"blocked-bot","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-368,160],"id":"836aeee4-42a8-4779-9471-89f409bc3bee","name":"Bloquea al Agente","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b226403-e859-4d73-b14a-5cdc22e85e3c","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":".","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-704,64],"id":"8c4062b1-e349-49ed-b847-d7b091de37dc","name":"Verificar palabra Clave"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8b64fab-0278-4873-94b1-665efa5c4f76","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-912,192],"id":"c9e5cd94-4903-45a4-8c25-89ce89238d72","name":"Verificar quien Escribe"},{"parameters":{"operation":"get","propertyName":"bot-state","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-384,400],"id":"460d88aa-17ef-4536-b6c2-8b050af57b33","name":"verificar bloqueo","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"httpMethod":"POST","path":"7a2c2a2a-8f5d-4a77-b916-5fa8d2174815","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1248,192],"id":"ac45d3a8-e363-447f-83ae-473957d43008","name":"Webhook","webhookId":"7a2c2a2a-8f5d-4a77-b916-5fa8d2174815","disabled":true},{"parameters":{"descriptionType":"manual","toolDescription":"Cuando el usuario escriba la palabra \"humano\" ejecuta esta tool","operation":"set","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","value":"blocked-bot","expire":true,"ttl":300},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[2464,336],"id":"01e83215-e3f5-4015-b3fe-cb4756a10c4c","name":"Humano","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"httpMethod":"POST","path":"b1d73012-7a8e-4e47-97de-f52e7a127612","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2048,1056],"id":"d86ea9fe-0425-4772-8f2d-e5e9780e61f1","name":"Webhook1","webhookId":"b1d73012-7a8e-4e47-97de-f52e7a127612","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"{{ $json.body.event }}","rightValue":"=automation_event.conversation_created","operator":{"type":"string","operation":"equals"},"id":"2550db8b-9d1c-4a79-b9d4-4d29d415ee6c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Nueva Conversación"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7b2e7e3-259e-4623-b899-4f825f3690ba","leftValue":"={{ $json.body.event }}","rightValue":"=automation_event.message_created","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje Nuevo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"184d4914-dd32-4e5d-85f6-c8a0a5bdd8b5","leftValue":"={{ $json.body.event }}","rightValue":"automation_event.message_updated","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conversación"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1808,1040],"id":"06940226-ad59-46fe-bef7-786ef2091c57","name":"Switch"},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $('Webhook').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook').item.json.body.messages[0].conversation_id }}/custom_attributes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"atendido_por\": \"Agente\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,944],"id":"917081f0-9ddf-4cd5-994b-cf972b4cefda","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $('Webhook').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook').item.json.body.messages[0].conversation_id }}/custom_attributes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"atendido_por\": \"Agente\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1392,1248],"id":"25bb6691-caa3-4d58-9271-c3afc6a16e69","name":"Controlar el Agente","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $('Webhook').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook').item.json.body.messages[0].conversation_id }}/custom_attributes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"atendido_por\": \"Humano\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1392,1408],"id":"fe397988-00c9-4d1e-81c6-c7e3b3a05ef0","name":"Controlar el Humano","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"message.id","value":"={{ $('Webhook').item.json.body.messages[0].id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message.contenido","value":"={{ $('Webhook').item.json.body.messages[0].content }}","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"message.date","value":"={{ $('Webhook').item.json.body.messages[0].created_at.toDateTime('s').toISO() }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"message.type","value":"={{ $('Webhook').item.json.body.messages[0].attachments[0]?.file_type ?? \"text\" }}","type":"string"},{"id":"cf8e5bf6-5c0e-4308-9ed4-a47fffadbb36","name":"message.url","value":"={{ $('Webhook').item.json.body.messages[0].attachments[0]?.data_url ?? \"\" }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"chat.id ","value":"={{ $('Webhook').item.json.body.id }}","type":"string"},{"id":"9825e735-d181-44c8-9dea-0e7723a5a19e","name":"account.id","value":"={{ $('Webhook').item.json.body.account_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,1056],"id":"e65707a2-57b0-4471-b297-5cea4a207292","name":"Parametrizacion"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"imageUrls":"={{ $json.message.url }}","options":{"maxTokens":200}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-640,1264],"id":"f7cf183e-3f9a-4bd3-ac27-37702fb3779d","name":"Analyze image","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"{{ $json.message.type }}","rightValue":"=audio","operator":{"type":"string","operation":"equals"},"id":"2550db8b-9d1c-4a79-b9d4-4d29d415ee6c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7b2e7e3-259e-4623-b899-4f825f3690ba","leftValue":"={{ $json.message.type }}","rightValue":"=text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"053756a0-531d-4cc1-b503-b242f40410bd","leftValue":"={{ $json.message.type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1024,1040],"id":"1ff91cbe-661b-4cf4-819f-98440e07a6be","name":"Switch1"},{"parameters":{"url":"={{ $json.message.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,912],"id":"82541bdc-319b-43e4-a06f-904597249829","name":"Download Audio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-640,912],"id":"cf8ce42c-c9d8-4c36-a6ac-6a76eced799e","name":"Transcribe","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"message.id","value":"={{ $('Parametrizacion').item.json.message.id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message.contenido","value":"=Audio: \"{{ $json.text }}\"","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"message.date","value":"={{ $('Parametrizacion').item.json.message.date }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"message.type","value":"={{ $('Parametrizacion').item.json.message.type }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"chat.id ","value":"={{ $('Parametrizacion').item.json.chat.id }}","type":"string"},{"id":"9825e735-d181-44c8-9dea-0e7723a5a19e","name":"account.id","value":"={{ $('Parametrizacion').item.json.account.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,912],"id":"82334167-46e8-44a4-9e63-aa54dbb43674","name":"Transcripcion"},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"message.id","value":"={{ $('Parametrizacion').item.json.message.id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"=message.contenido","value":"=Imagen: \"{{ $json.content }}\"","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"message.date","value":"={{ $('Parametrizacion').item.json.message.date }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"message.type","value":"={{ $('Parametrizacion').item.json.message.type }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"chat.id ","value":"={{ $('Parametrizacion').item.json.chat.id }}","type":"string"},{"id":"9825e735-d181-44c8-9dea-0e7723a5a19e","name":"account.id","value":"={{ $('Parametrizacion').item.json.account.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,1264],"id":"bab0d251-b82d-424a-a10b-6390d7bf9a6e","name":"Transcripcion1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-288,1072],"id":"ab8d1db8-e599-4f9d-9c57-50c21cb40fea","name":"Merge"},{"parameters":{"operation":"push","list":"={{ $('data message extraction').item.json.sender }}","messageData":"={{ JSON.stringify({\n  message: $json.final_message,\n  session_id: $('data message extraction').item.json.session_id,\n  date_time: $('data message extraction').item.json.date_time\n}) }}\n","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[448,1088],"id":"5ce6e833-5922-492d-9085-a8f30ad6e539","name":"buffer1","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('data message extraction').item.json.sender }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[688,1088],"id":"dcaec781-ee3a-493e-b4d6-7dafa5527e3c","name":"get_buffer_data1","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.message.last()).session_id  }}","rightValue":"={{ $('data message extraction').item.json.session_id }}","operator":{"type":"string","operation":"notEquals"},"id":"a30f0c20-2d06-4917-93bf-2cb7c6ff983e"}],"combinator":"and"},"renameOutput":true,"outputKey":"No hacer NAda"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f188df3b-dea6-4ce2-a53e-ddc1b1f02e1d","leftValue":"={{ JSON.parse($json.message.last()).date_time  }}","rightValue":"={{ $now.minus(20,'seconds').toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Seguir"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[944,1072],"id":"82c01c81-fdf0-4c4e-823b-7c4e4a24f878","name":"Switch3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,1232],"id":"4c0578f3-4828-40ec-aa2e-9803a61bf89a","name":"Wait2","webhookId":"dd4c5ad2-cf80-47d8-aad8-cd4e61cd7d24"},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"message.id","value":"={{ $('Parametrizacion').item.json.message.id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message.contenido","value":"=Audio: \"{{ $json.text }}\"","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"message.date","value":"={{ $('Parametrizacion').item.json.message.date }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"message.type","value":"={{ $('Parametrizacion').item.json.message.type }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"chat.id ","value":"={{ $('Parametrizacion').item.json.chat.id }}","type":"string"},{"id":"9825e735-d181-44c8-9dea-0e7723a5a19e","name":"account.id","value":"={{ $('Parametrizacion').item.json.account.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1248,1056],"id":"fce44c44-49d2-4e92-8b88-5f18368fba39","name":"Transcripcion2"},{"parameters":{"promptType":"define","text":"={{ $json['Mensaje-final']}}","options":{"systemMessage":"=#Rol\nEres el Asistente virtual de Serenity Spa.\n\n#Tarea\nTu trabajo es atender a los clientes de una manera amigable y profesional, ayudándolos a reservar servicios, proporcionar información y resolver sus consultas relacionadas con Serenity SPA.\n\n#Restricciones\n\nResponde brevemente las preguntas.\n\nSi el cliente realiza preguntas que no estén relacionadas con Serenity Spa, responde de manera cortés indicando que solo puedes ayudar con temas del spa. Ejemplo:\n\nCliente: ¿Qué tiempo hace hoy?\nAsistente: Lo siento, solo puedo ayudarte con consultas relacionadas con Serenity Spa. 🙂 ¿En qué servicio quieres que te asesore?\n\nEvita brindar respuestas generales o que no estén basadas en la información del contexto proporcionado. Mantén las respuestas dentro de los servicios ofrecidos por el spa.\n\nSi no tienes suficiente información para responder una consulta específica, indícalo cortésmente.\n\nEjemplo:\n\nCliente: ¿Cuál es la mejor técnica de meditación?\nAsistente: Lo siento, no tengo información sobre eso. Pero puedo ayudarte a programar una cita para una de nuestras terapias relajantes. 🙂\n\n#Contexto\nSerenity Spa ofrece servicios de relajación y bienestar, como masajes, tratamientos faciales, manicura, pedicura y terapias personalizadas. Además, contamos con paquetes promocionales en promociones.\n\nUbicación: Nos encontramos en el Centro Comercial La Odisea local 107 en Cali, Colombia.\nHorarios de Atención: De lunes a viernes de 8am hasta las 7pm.\n\n#Costos y Servicios\nSi preguntan por los costos, proporciona una guía general:\n\nMasajes: desde $50 hasta $150 según el tipo y la duración. (link para reservar masajes: http://google.com)\n\nTratamientos faciales: desde $40 hasta $120.\n\nManicura y pedicura: desde $20 hasta $60.\n\nPaquetes promocionales: varían según la temporada, entre $100 y $300.\n\n#Ejemplos\n\nCliente: Hola, quiero un masaje relajante.\nAsistente: ¡Claro que sí! 🙂 ¿Podrías indicarme tu nombre para continuar?\n\nCliente: Quiero un paquete promocional.\nAsistente: Perfecto. Tenemos las siguientes opciones disponibles: Paquete Zen ($120) y Paquete Premium ($250). ¿Cuál te interesa más?\n\n#Notas\n\nSi el cliente desea adquirir un servicio, no pidas datos, solo envíale el siguiente enlace para que separe su cita: https://google.com\n\nSOLO envía el enlace si estás seguro de que el cliente quiere agendar.\n\nPregunta si quiere agendar antes de enviar el enlace de reserva.\n\nSi te llega la descripción de una imagen, solo devuelve la misma descripción.\n\nSi el cliente quiere ser atendido por un humano, pasa usa la herramienta: \"Transfiere a un Humano\"."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1808,1056],"id":"c016db8f-69c3-4e4a-bcdf-139444eb4cbe","name":"AI Agent1"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Recibe un texto y analiza su extensión. Si puede enviarse en una sola parte sin perder claridad, hazlo. Si es demasiado largo, divídelo en varias partes de aproximadamente 200 caracteres, asegurándote de que la división sea coherente y no corte frases o ideas a la mitad.  Si es una lista de elementos y puedes enviarla en 1 solo fragmento, hazlo, conserva los saltos de línea; si sobrepasas los 200 caracteres divídela también.  No forces una cantidad fija de partes; usa solo las necesarias.  Responde en formato JSON con la siguiente estructura exacta. No incluyas explicaciones adicionales, solo devuelve el bloque JSON válido:\n\n{\n  \"Partes\": [\n    \"Primera parte del mensaje\",\n    \"Segunda parte del mensaje (si es necesario)\",\n    \"Tercera parte del mensaje (si es necesario)\",\n    \"Cuarta parte del mensaje (si es necesario)\"\n  ]\n}\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2144,1056],"id":"0543c2f0-84a8-4580-bb48-00eca2cfe440","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[2160,1264],"id":"7ec0a25f-ada4-40c3-aa92-3e24219ba137","name":"Groq Chat Model","credentials":{"groqApi":{"id":"FavnbvPqe2Y44zqR","name":"Groq account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1632,1264],"id":"f8f5b74e-1bcb-4c80-bd3e-e89d4e340622","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1808,1264],"id":"afdfb51b-b98b-479d-88ab-6a3bb913efbc","name":"Redis Chat Memory","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"description":"Llama a esta tool cuando el usuario quiera hablar con un Humano","workflowId":{"__rl":true,"value":"YgONHQY4GGM0BN10","mode":"list","cachedResultName":"chatwoot + evoapi + n8n"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Conversation-ID":"={{ $('Merge').item.json.chat.id }}","ID-de-la-cuenta":"{{ $('Merge').item.json.account.id }}"},"matchingColumns":[],"schema":[{"id":"Conversation-ID","displayName":"Conversation-ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ID-de-la-cuenta","displayName":"ID-de-la-cuenta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1984,1264],"id":"234571bc-52af-4b1e-999f-39f7d74726df","name":"Transfiere a un Humano"},{"parameters":{"jsonSchemaExample":"{\n  \"Partes\": [\n    \"Primera parte del mensaje\",\n    \"Segunda parte del mensaje (si es necesario)\",\n    \"Tercera parte del mensaje (si es necesario)\",\n    \"Cuarta parte del mensaje (si es necesario)\"\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2336,1264],"id":"839264e5-6f9b-4387-b52a-2c7308b0dd75","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"message.id","value":"={{ $('Parametrizacion').item.json.message.id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"=message.contenido","value":"=Imagen: \"{{ $json.content }}\"","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"message.date","value":"={{ $('Parametrizacion').item.json.message.date }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"message.type","value":"={{ $('Parametrizacion').item.json.message.type }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"chat.id ","value":"={{ $('Parametrizacion').item.json.chat.id }}","type":"string"},{"id":"9825e735-d181-44c8-9dea-0e7723a5a19e","name":"account.id","value":"={{ $('Parametrizacion').item.json.account.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2528,1056],"id":"9427cf2d-2d3e-463d-b0bf-4f551ee7d8cc","name":"Transcripcion3"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3168,1072],"id":"ffd21c24-bd71-4f4f-b0cb-b78fd8205236","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2704,1056],"id":"20f65428-e13b-4269-8d76-ce0224b2c273","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3184,880],"id":"b62b7950-64bf-4bd3-8dfe-63f0a6feb8fe","name":"No Operation, do nothing2"},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $('Webhook').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook').item.json.body.messages[0].conversation_id }}/custom_attributes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"atendido_por\": \"Agente\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3360,1072],"id":"af96c43d-9fe2-4206-a0b3-badc6c760fe7","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3552,1072],"id":"84cde985-02e9-4a6b-96d5-d1d30399a8fe","name":"Wait3","webhookId":"56271429-b6c3-493a-8bfe-f3a2be62c7a3"},{"parameters":{"options":{}},"id":"f5eda044-aaac-47ba-b3cc-16411507c7d4","name":"Separa el Mensaje","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2912,1056]},{"parameters":{"workflowInputs":{"values":[{"name":"Conversation-ID","type":"number"},{"name":"ID-de-la-cuenta","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,1808],"id":"01adc2b5-2f69-4bcc-a46a-8b4c8e5d4bda","name":"Evoapi + Chatwoot + n8n"},{"parameters":{"content":"## Cambio Agente IA - Humano\n","height":624,"width":1968},"type":"n8n-nodes-base.stickyNote","position":[272,1600],"typeVersion":1,"id":"37d530b6-8c61-4859-85f9-2cd39acf013a","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"5a0e2821-977d-482f-b679-9879d3c6d6b6","name":"Conversation-ID","value":"={{ $json['Conversation-ID'] }}","type":"string"},{"id":"607b1eef-8cac-4057-9f75-c432ea3a2f39","name":"ID-de-la-cuenta","value":"={{ $json['ID-de-la-cuenta'] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,1808],"id":"55de78c1-8488-4df1-a0d5-c0e3fb940665","name":"Transcripcion4"},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $json['ID-de-la-cuenta'] }}/agents","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"atendido_por\": \"Agente\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,1808],"id":"ae6ab33b-9555-414a-a3ac-379f1bedd583","name":"Controlar el Agente1","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"jsCode":"// Filtrar agentes que están online y que NO sean \"Agent-AI\"\nconst disponibles = items.filter(item =>\n  item.json.availability_status === \"online\" &&\n  item.json.name !== \"DployXperts-Bot\" // <--- Excluye a Agent-AI\n);\n\n// Si hay disponibles, elegimos uno al azar\nif (disponibles.length > 0) {\n  const elegido = disponibles[Math.floor(Math.random() * disponibles.length)];\n  return [elegido];\n} else {\n  // Si no hay ninguno disponible\n  return {\n    json: {\n      mensaje: \"No hay agentes disponibles en este momento.\"\n    }\n  };\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,1808],"id":"79bfb276-11e6-4ac3-9b42-e8fb0d456268","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e10f82b-7e6f-4532-837f-e2056641c53e","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,1808],"id":"4c3d9256-b667-48e8-bd6c-6665a1ff2005","name":"If1"},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $('Normalizar').item.json['ID-de-la-cuenta'] }}/conversations/{{ $('Normalizar').item.json['Conversation-ID'] }}/assignments","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"assignee_id","value":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,1888],"id":"981c4f65-f765-48cf-b5e3-65276b23445b","name":"Asigna un Agente al Azar","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"5a0e2821-977d-482f-b679-9879d3c6d6b6","name":"Conversation-ID","value":"={{ $json['Conversation-ID'] }}","type":"string"},{"id":"607b1eef-8cac-4057-9f75-c432ea3a2f39","name":"ID-de-la-cuenta","value":"={{ $json['ID-de-la-cuenta'] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,1664],"id":"1de4d9c3-e9de-481e-81db-6709a1a18288","name":"responder no hay agentes"},{"parameters":{"method":"POST","url":"=https://chatwoot.dployxperts.com/api/v1/accounts/{{ $('Normalizar').item.json['ID-de-la-cuenta'] }}/conversations/{{ $('Normalizar').item.json['Conversation-ID'] }}/custom_attributes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"atendido_por\": \"Humano\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,1888],"id":"35705116-cc74-4acf-8cb9-f72b26d03545","name":"Se desactiva el Agente IA","credentials":{"httpHeaderAuth":{"id":"GyDX2rYTbnSRnTol","name":"Header Auth account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"5a0e2821-977d-482f-b679-9879d3c6d6b6","name":"response","value":"=En un momento uno de nuestros agentes te atenderá","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1984,1888],"id":"927c24ee-651d-4dcf-9d6d-24be08f7081f","name":"Responde Un agente te Atendera"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3ff688f-6605-4f73-8598-23dfd44464ef","leftValue":"={{ $json.doby.meta.assignee.name }}","rightValue":"DployXperts-Bot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1648,1264],"id":"88d298df-4aa0-4eb2-9ac1-e8ba962a77de","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1248,848],"id":"9bcfd0c1-11d8-471e-8eac-c4802b783751","name":"No Operation, do nothing3"},{"parameters":{"httpMethod":"POST","path":"7a2c2a2a-8f5d-4a77-b916-5fa8d2174815","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[32,1088],"id":"0a722c26-1702-4b30-ba6f-c8322d0aa722","name":"Webhook3","webhookId":"7a2c2a2a-8f5d-4a77-b916-5fa8d2174815"},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"message.id","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message.contenido","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"message.date","value":"={{ $json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"message.chat.id","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"9fbaba91-c78c-4de2-aeb5-8b09a2f3fa3a","name":"message.instance","value":"={{ $json.body.instance }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,1088],"id":"9dfe1c5e-d407-43de-8ae9-7a9472542155","name":"Parametrizacion1"},{"parameters":{"operation":"delete","key":"={{ $('data message extraction').item.json.sender }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1424,1056],"id":"45dd6800-8596-41fd-9ffb-bfd3d6445507","name":"Borrar los mensajes enviados","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Convertir a audio/ogg1":{"main":[[{"node":"Transcribir Audio","type":"main","index":0}]]},"Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"data message extraction":{"main":[[{"node":"If","type":"main","index":0}]]},"final_message_voice":{"main":[[{"node":"final_message","type":"main","index":0}]]},"final_message_text":{"main":[[{"node":"final_message","type":"main","index":0}]]},"final_message":{"main":[[{"node":"buffer","type":"main","index":0}]]},"buffer":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"get_buffer_data":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Delete_buffer","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"buffer","type":"main","index":0}]]},"Delete_buffer":{"main":[[{"node":"Un_solo_message","type":"main","index":0}]]},"Un_solo_message":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"final_message_text","type":"main","index":0}],[{"node":"Convertir a audio/ogg1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"get_buffer_data","type":"main","index":0}]]},"MCP Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP Calendario":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP Contactos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Transcribir Audio":{"main":[[{"node":"final_message_voice","type":"main","index":0}]]},"If3":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"data message extraction","type":"main","index":0}]]},"Bloquea al Agente":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Verificar palabra Clave":{"main":[[{"node":"Activar Bot","type":"main","index":0}],[{"node":"Bloquea al Agente","type":"main","index":0}]]},"Verificar quien Escribe":{"main":[[{"node":"Verificar palabra Clave","type":"main","index":0}],[{"node":"verificar bloqueo","type":"main","index":0}]]},"verificar bloqueo":{"main":[[{"node":"If3","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Verificar quien Escribe","type":"main","index":0}]]},"Humano":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Webhook1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Parametrizacion","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Parametrizacion","type":"main","index":0}]]},"Parametrizacion":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Transcripcion1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Download Audio","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}],[{"node":"Analyze image","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"Transcripcion","type":"main","index":0}]]},"Transcripcion":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Transcripcion1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[]]},"buffer1":{"main":[[{"node":"get_buffer_data1","type":"main","index":0}]]},"get_buffer_data1":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"Transcripcion2","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"get_buffer_data1","type":"main","index":0}]]},"Transcripcion2":{"main":[[{"node":"Borrar los mensajes enviados","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Transcripcion3","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Transfiere a un Humano":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Transcripcion3":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Separa el Mensaje","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Separa el Mensaje","type":"main","index":0}]]},"Separa el Mensaje":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Evoapi + Chatwoot + n8n":{"main":[[{"node":"Transcripcion4","type":"main","index":0}]]},"Transcripcion4":{"main":[[{"node":"Controlar el Agente1","type":"main","index":0}]]},"Controlar el Agente1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"responder no hay agentes","type":"main","index":0}],[{"node":"Asigna un Agente al Azar","type":"main","index":0}]]},"Asigna un Agente al Azar":{"main":[[{"node":"Se desactiva el Agente IA","type":"main","index":0}]]},"Se desactiva el Agente IA":{"main":[[{"node":"Responde Un agente te Atendera","type":"main","index":0}]]},"If2":{"main":[[{"node":"Controlar el Agente","type":"main","index":0}],[{"node":"Controlar el Humano","type":"main","index":0}]]},"Webhook3":{"main":[[{"node":"Parametrizacion1","type":"main","index":0}]]},"Parametrizacion1":{"main":[[{"node":"buffer1","type":"main","index":0}]]},"Borrar los mensajes enviados":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f9058814-6bc0-438c-92d1-884ab2b101ed","triggerCount":0,"shared":[{"createdAt":"2025-08-18T02:19:34.372Z","updatedAt":"2025-08-18T02:19:34.372Z","role":"workflow:owner","workflowId":"5FZqNzNScY9ZbjyJ","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}