invento-tFC7Pqitk76KloDb.json
{"createdAt":"2025-10-06T02:23:40.392Z","updatedAt":"2025-10-06T02:23:40.392Z","id":"tFC7Pqitk76KloDb","name":"Invento","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-368,352],"id":"4505e133-be5b-433e-a636-e22c5ae79f64","name":"4o mini"},{"parameters":{"promptType":"define","text":"=Here is the topic to write a blog about: {{ $json.chatInput }}","options":{"systemMessage":"# Overview\nYou are an expert outline writer. Your job is to generate a structured outline for a blog post with section titles and key points."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-688,96],"id":"e98328f8-e7fb-4d42-b4af-85fe598f9008","name":"Outline Writer"},{"parameters":{"promptType":"define","text":"=Here is the outline: \n\n{{ $json.output }}","options":{"systemMessage":"=# Overview\nYou are an expert blog evaluator. Revise this outline and ensure it covers the following key criteria: \n(1) Engaging Introduction \n(2) Clear Section Breakdown\n(3) Logical Flow\n(4) Conclusion with Key Takeaways\n\n## Output\nOnly output the revised outline."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-368,96],"id":"236a32bc-be94-482f-bfef-9a0904df40e4","name":"Outline Evaluation"},{"parameters":{"promptType":"define","text":"=Here if the revised outline: {{ $json.output }}","options":{"systemMessage":"=# Overview\nYou are an expert blog writer. Generate a detailed blog post using the outline with well-structured paragraphs and engaging content."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-32,96],"id":"eabf079e-0fa5-4793-a2ba-413cad6f8138","name":"Blog Writer"},{"parameters":{"operation":"update","simple":false,"actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[320,96],"id":"83725d17-9b4b-4384-af91-a7ae0e577430","name":"Post to Docs"},{"parameters":{"model":"deepseek-reasoner","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[160,352],"id":"81fb66d6-127f-4fb5-b461-04e491186bf4","name":"DeepSeek R1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-880,96],"id":"4bfc77f4-3399-4773-a167-bc5e081a8c39","name":"When chat message received","webhookId":"8b5d17e6-9356-437e-a97a-4f4027e6451d"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-688,352],"id":"6d4409ae-94c2-4bde-8785-514f8fbc20e7","name":"2.0 Flash"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[16,352],"id":"52f8624a-08ee-4745-b1ec-6af95c58a7f6","name":"Claude 3.5"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"labelIds":[]},"options":{}},"id":"bbfa67df-dddf-484e-940a-8d12a6a0a1e7","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[976,528]},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"577ed04f-e04f-4168-b8bf-cffa35234363","name":"High Priority","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1168,-208],"webhookId":"c2817f4a-2f52-4ae7-8cd0-16ee702b7c22"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"ab77a0c3-9b12-405f-970d-a4f4a1c39d9e","name":"Customer Support","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1168,0],"webhookId":"00c21fcb-fdf2-47d1-96fd-f61c83181bab"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"706ff953-c151-4602-97ce-18e695f04c05","name":"Promotion","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1168,240],"webhookId":"1e06eea2-bead-419e-b14c-c2ccabfa736a"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"c149c155-1fdf-4b01-af5a-3c97955afd61","name":"Finance/Billing","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1168,448],"webhookId":"f3181ea4-b320-4e02-8518-47911e4978ac"},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"High Priority","description":"Emails requiring immediate attention or action, typically from key stakeholders, clients, or decision-makers. These emails often contain time-sensitive requests, deadlines, or escalated issues. Keywords: urgent, ASAP, immediate, deadline, action required, high priority"},{"category":"Customer Support","description":"Emails related to ongoing communication with current clients or customers, including service requests, feedback, support tickets, and inquiries. Keywords: request, inquiry, support, question, follow-up, feedback"},{"category":"Promotions","description":"Emails related to marketing campaigns, promotional offers, newsletters, or business updates from partners. Typically these emails contain content aimed at engaging your audience or updating on promotions. Keywords: newsletter, promotion, offer, sale, campaign, marketing, launch"},{"category":"Finance/Billing","description":" Description: Emails related to financial matters, such as invoices, billing statements, payment reminders, or expense reports. Anything involving transactions or accounting should fall under this label.  Keywords: invoice, payment, billing, receipt, financial, expense, account"}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"46388b1c-2ac9-41e7-9166-efd58c1ab761","name":"Email Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[768,128]},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nHere is the Email: \n{{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are an agent in charge of high priority emails. Your job is to summarize incoming emails and escalate them to the human.\n\n## Tools\nTelegram - Use this tool to escalate to a human. Send over the summary of the email."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1392,-208],"id":"f3ea2026-cdda-4354-ab58-cba46045ac02","name":"High Priority Agent"},{"parameters":{"text":"=Urgent Email: \n{{ $fromAI(\"summary\") }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[1808,64],"id":"d0c51e81-9ae7-4194-8f3b-610f274091f3","name":"Telegram","webhookId":"4a005847-6ed4-48c6-99bd-d09e9d7271af"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are a customer support representitive named Kelly. Your job is to respond to customer inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Kelly from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1392,0],"id":"f51ec947-e60f-47e7-b29d-045bed90e2e2","name":"Customer Support Agent"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are in charge of promotional opportunities. Your job is to respond to inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Meredith from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1392,240],"id":"360a982f-a416-4a91-8e7a-23976579005e","name":"Promotion Agent"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are in charge of finacnes. Your job is to respond to inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Angela from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1392,448],"id":"7e7e22ee-738f-491d-b596-230b316191aa","name":"Finance Agent"},{"parameters":{"resource":"draft","subject":"={{ $fromAI(\"subject\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"threadId":"={{ $('Gmail Trigger').item.json.threadId }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1808,320],"id":"6fbd54a9-75a3-4d94-9c69-26b563e5baa2","name":"Email Draft","webhookId":"5d8537bc-efa2-4889-82bb-cc44dc383ace"},{"parameters":{"options":{}},"id":"e31cc667-56eb-4069-8e89-1a7dfa07aa4a","name":"4o mini1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[800,432]},{"parameters":{"options":{"systemMessage":"Analyze the emotional tone of the incoming text. Categorize it as positive, negative, neutral, or mixed. Provide a brief explanation."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-592,592],"id":"9979ce0c-c9a3-43bf-a0e7-8a63febe378b","name":"Emotion Agent"},{"parameters":{"options":{"systemMessage":"Analyze the intent behind this text. Classify it as informational, persuasive, aggressive, or neutral. Provide reasoning."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-592,832],"id":"76538a45-e803-4091-b3b3-d7946ea4429f","name":"Intent Agent"},{"parameters":{"options":{"systemMessage":"Analyze this text for potential biases. Identify if it exhibits political, gender, racial, or other biases. Suggest ways to make it more neutral."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-592,1104],"id":"200bdd17-7368-4173-b60c-e5a5eee5e130","name":"Bias Agent"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-48,784],"id":"d7114b81-3dfa-4c8b-88dc-ed54a13fa3a2","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[176,832],"id":"de807c05-1e24-4951-bfcd-8b018d8fe420","name":"Merge1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[336,832],"id":"e873623d-72cd-4181-92de-7d4193e5d943","name":"Aggregate"},{"parameters":{"promptType":"define","text":"=Here is the analysis: \n\n{{ $json.output }}","options":{"systemMessage":"Merge the incoming emotional tone, intent, and bias analysis into a structured report. Ensure it is clear, concise, and actionable."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[496,832],"id":"62e65124-8077-4fc7-9074-1e9a94c256e6","name":"Final Agent"},{"parameters":{"operation":"update","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[816,832],"id":"ed4f7f3b-deb0-4e06-a574-76f777c38aff","name":"Write to Docs"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[480,1072],"id":"77eb1ff1-1bf6-4d60-8ff3-43bfead62c33","name":"4o_mini"},{"parameters":{"model":"deepseek-reasoner","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-1056,1488],"id":"b98b5668-a736-43da-9672-9386e576452f","name":"DeepSeek R"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-928,880],"id":"842943c1-ae84-460b-aeaa-e7525c07284f","name":"4o mini2"},{"parameters":{"options":{"systemMessage":"=# Overview\nYou are an expert biography writer. You will receive information about a person, and your job is to create an entire profile using the information they give you. You are allowed to be creative."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1088,880],"id":"a03a03d3-0bf6-4c9c-bb34-f685b1b83039","name":"Biography Agent"},{"parameters":{"promptType":"define","text":"=Here is the biography:\n{{ $json.bio }}","options":{"systemMessage":"=## Overview\nYou are an expert biography evaluator. Your job is to provide feedback on the biography.\n\n## Criteria\n- Make sure the biography includes a quote from the person. This could be their favorite saying or a piece of advice. It is essential that every biography has a quote.\n- Make sure the biography is light and humorous.\n- Make sure the biography has NO emojis.\n\n## Output\nYou only need to output feedback. If the biography is finished and all the criteria are met, simply output \"Finished\"."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1664,880],"id":"31bde4cd-819e-44be-966e-425619e96012","name":"Evaluator Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d931f3d-b391-4be9-a50a-cc4a73c31b71","leftValue":"={{ $json.output }}","rightValue":"Finished","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2032,880],"id":"967eda2d-946e-4636-8131-40e351ffb014","name":"Evaluate"},{"parameters":{"promptType":"define","text":"=Biography: {{ $('Set Bio').item.json.bio }}\n\nFeedback: {{ $('Evaluator Agent').item.json.output }}","options":{"systemMessage":"=# Overview\nYou are an expert biography revisor. Your job is to take the biography and optimize it based on the feedback."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2352,960],"id":"af39443c-113e-45fc-92d9-bc52631067a4","name":"Optimizer Agent"},{"parameters":{"operation":"update","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Set Bio').item.json.bio }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2432,736],"id":"afefa9fe-bc74-4641-a6de-fb98d84b624d","name":"Push to Docs"},{"parameters":{"assignments":{"assignments":[{"id":"adf17d4d-a89e-4f97-9d31-5e74834428fc","name":"bio","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,880],"id":"b7d7d374-7ad6-4da2-95d6-0202f45731af","name":"Set Bio"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1728,1216],"id":"7da627c1-329d-446c-9592-f38c3728b1c8","name":"4o mini3"},{"parameters":{"model":"deepseek-reasoner","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[1888,1216],"id":"860d13a5-8fe3-4bee-9f79-92fca5150a0e","name":"DeepSeek R2"}],"connections":{"4o mini":{"ai_languageModel":[[{"node":"Outline Evaluation","type":"ai_languageModel","index":0}]]},"Outline Writer":{"main":[[{"node":"Outline Evaluation","type":"main","index":0}]]},"Outline Evaluation":{"main":[[{"node":"Blog Writer","type":"main","index":0}]]},"Blog Writer":{"main":[[{"node":"Post to Docs","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Outline Writer","type":"main","index":0}]]},"2.0 Flash":{"ai_languageModel":[[{"node":"Outline Writer","type":"ai_languageModel","index":0}]]},"Claude 3.5":{"ai_languageModel":[[{"node":"Blog Writer","type":"ai_languageModel","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Email Classifier","type":"main","index":0}]]},"High Priority":{"main":[[{"node":"High Priority Agent","type":"main","index":0}]]},"Customer Support":{"main":[[{"node":"Customer Support Agent","type":"main","index":0}]]},"Promotion":{"main":[[{"node":"Promotion Agent","type":"main","index":0}]]},"Finance/Billing":{"main":[[{"node":"Finance Agent","type":"main","index":0}]]},"Email Classifier":{"main":[[{"node":"High Priority","type":"main","index":0}],[{"node":"Customer Support","type":"main","index":0}],[{"node":"Promotion","type":"main","index":0}],[{"node":"Finance/Billing","type":"main","index":0}]]},"Telegram":{"ai_tool":[[{"node":"High Priority Agent","type":"ai_tool","index":0}]]},"Email Draft":{"ai_tool":[[{"node":"Customer Support Agent","type":"ai_tool","index":0},{"node":"Finance Agent","type":"ai_tool","index":0},{"node":"Promotion Agent","type":"ai_tool","index":0}]]},"4o mini1":{"ai_languageModel":[[{"node":"Email Classifier","type":"ai_languageModel","index":0},{"node":"High Priority Agent","type":"ai_languageModel","index":0},{"node":"Customer Support Agent","type":"ai_languageModel","index":0},{"node":"Promotion Agent","type":"ai_languageModel","index":0},{"node":"Finance Agent","type":"ai_languageModel","index":0}]]},"Emotion Agent":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Intent Agent":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Bias Agent":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Final Agent","type":"main","index":0}]]},"Final Agent":{"main":[[{"node":"Write to Docs","type":"main","index":0}]]},"4o_mini":{"ai_languageModel":[[{"node":"Final Agent","type":"ai_languageModel","index":0}]]},"4o mini2":{"ai_languageModel":[[{"node":"Intent Agent","type":"ai_languageModel","index":0},{"node":"Emotion Agent","type":"ai_languageModel","index":0},{"node":"Bias Agent","type":"ai_languageModel","index":0}]]},"Biography Agent":{"main":[[{"node":"Set Bio","type":"main","index":0}]]},"Evaluator Agent":{"main":[[{"node":"Evaluate","type":"main","index":0}]]},"Evaluate":{"main":[[{"node":"Push to Docs","type":"main","index":0}],[{"node":"Optimizer Agent","type":"main","index":0}]]},"Optimizer Agent":{"main":[[{"node":"Set Bio","type":"main","index":0}]]},"Set Bio":{"main":[[{"node":"Evaluator Agent","type":"main","index":0}]]},"4o mini3":{"ai_languageModel":[[{"node":"Biography Agent","type":"ai_languageModel","index":0},{"node":"Evaluator Agent","type":"ai_languageModel","index":0},{"node":"Optimizer Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6a3160f7-6d66-4701-b2f1-de6ef606dffc","triggerCount":0,"shared":[{"createdAt":"2025-10-06T02:23:40.392Z","updatedAt":"2025-10-06T02:23:40.392Z","role":"workflow:owner","workflowId":"tFC7Pqitk76KloDb","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}