mejora-de-whatsapp-01-0LVD6g9PN0wGfCwE.json
{"createdAt":"2025-07-16T18:34:50.843Z","updatedAt":"2025-08-18T04:23:09.839Z","id":"0LVD6g9PN0wGfCwE","name":"Mejora de whatsApp 01","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-704,64],"id":"2bc73c28-8147-4f53-92fb-38e4a3f0e476","name":"WhatsApp Trigger","webhookId":"d3978cae-2aca-4553-8ac7-ab89068deabc"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=Eres un asistente virtual llamado Sofia\n\nEstas hablando con:  {{ $('WhatsApp Trigger').first().json.contacts[0].profile.name }}\n\nLa fecha y hora actual es: {{ $now }}\n\n\n🏡 1. Casa en Lomas del Sur (Tlajomulco de Zúñiga, Jalisco)\n\n    Precio estimado: Desde $1,320,000 MXN\n\n    Características:\n\n        3 recámaras (1 en planta baja, 2 en planta alta)\n\n        1.5 baños\n\n        Cocina integral recién instalada\n\n        Closet en recámara principal\n\n        Patio con área de lavado\n\n        Cochera para un auto (opción a dos compactos)\n\n    Ubicación: Colonia Lomas del Sur, Tlajomulco de Zúñiga, Jalisco\n\n    Referencia:\n    Inmuebles24\n    Trovit+3Mitula Casas+3Inmuebles24+3\n    colinasdelnorte.com.gt+5Inmuebles24+5Inmuebles24+5\n    Mitula Casas+1Trovit+1\n    Casas y Terrenos+9Casas y Terrenos+9Casas y Terrenos+9\n\n🏘️ 2. Residencia en San Ángel (Álvaro Obregón, Ciudad de México)\n\n    Precio estimado: Desde $29,800,000 MXN\n\n    Características:\n\n        4 recámaras\n\n        Estilo colonial, diseño del arquitecto René Capdevielle\n\n        Distribuida en 2 niveles\n\n        Sala con piso de duela y detalles de cantera\n\n        Chimenea y jardín\n\n        Ubicada cerca de importantes avenidas como Periférico, Revolución y Altavista\n\n    Referencia:\n    Inmuebles24\n    Trovit+8Inmuebles24+8zrygbienesraices.com+8\n    ArchDaily Brasil+4Inmuebles24+4Vivanuncios+4\n\n🌳 3. Casa ecológica en Valle Verde (Celaya, Guanajuato)\n\n    Precio estimado: Desde $1,100,000 MXN\n\n    Características:\n\n        1 recámara\n\n        Paneles solares y calentador solar\n\n        Construcción ecológica\n\n    Referencia:\n    Mitula Casas\n    Lamudi+53Mitula Casas+53Lamudi+53\n    Facebook+35Mitula Casas+35Lamudi+35\n\n🏙 4. Loft en Santa Fe (Cuajimalpa de Morelos, Ciudad de México)\n\n    Precio estimado: Desde $2,450,000 MXN\n\n    Características:\n\n        1 recámara\n\n        Vista panorámica\n\n        Amenidades: gimnasio, alberca, terraza, seguridad 24/7\n\n        Ubicado en desarrollos como High Park y Vitant Santa Fe\n\n    Referencia:\n    Mitula Casas\n    Mitula Casas+3Inmuebles24+3Lamudi+3\n    Vivanuncios+1Trovit+1\n\n🏠 5. Casa en Colinas del Norte (Ciudad Juárez, Chihuahua)\n\n    Precio estimado: Desde $1,650,000 MXN\n\n    Características:\n\n        3 recámaras\n\n        Terraza\n\n        Diseño moderno"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[608,-32],"id":"51998c26-1699-4a47-a5ae-8f22c682da9e","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').first().json.messages[0].from }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[768,176],"id":"9119086b-6339-4d6a-9174-eecf8120588f","name":"Simple Memory"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,-32],"id":"68c994dd-fdd5-4177-ae86-f4857c21ef68","name":"Download Image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Describe la imagen en detalle. \n\nEsta es el caption de la imagen para contexto: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[128,-32],"id":"81f3ca03-f562-4823-8b70-54e0ea6e782b","name":"Analyze Image","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,-272],"id":"28785d9d-1c2f-49f4-aedc-050089491431","name":"Download Audio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d1d759-f585-4791-a743-b9d72951e77c","leftValue":"={{ $('WhatsApp Trigger').first().json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[992,-32],"id":"3f9947de-bae5-47f9-80ec-4ca47c9b2f9a","name":"If"},{"parameters":{"resource":"audio","input":"={{ $('AI Agent').item.json.output }}","voice":"shimmer","options":{"response_format":"opus"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1232,96],"id":"2eafe333-a712-4346-bb7a-0b2ed6d31e26","name":"Generate Audio","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"operation":"send","phoneNumberId":"571511242723511","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}","messageType":"audio","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1392,96],"id":"912cb317-b94c-4bb2-be24-6910348d48a5","name":"Respond with Audio","webhookId":"d18b2c98-84e4-43cf-a532-0c47d5161684"},{"parameters":{"operation":"send","phoneNumberId":"571511242723511","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1232,-112],"id":"36265e6b-1645-4c6c-9f22-d26f65af316b","name":"Respond with Text","webhookId":"23834751-5066-48ba-8e19-549680df2b27"},{"parameters":{"content":"## Audio","height":200,"width":800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,-304],"id":"ae87fb89-93c5-4dd6-8bef-3cba9fdde43b","name":"Sticky Note"},{"parameters":{"content":"## Imagen y Text","height":220,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,-96],"id":"61849217-15a3-4553-9277-32dfcba62b26","name":"Sticky Note1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[608,176],"id":"4d5c9c9b-bda9-4196-94b5-072155cebe8f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"content":"## Solo Text","width":800,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,160],"id":"3431cea3-2914-4af5-904c-804c19026106","name":"Sticky Note2"},{"parameters":{"content":"## Entrada","height":840,"width":400,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-768,-304],"id":"f063716f-7c45-4b6e-bd8f-2754e1bc9a1f","name":"Sticky Note3"},{"parameters":{"content":"## Agente","height":840,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,-304],"id":"6130f4af-33aa-4a41-83ff-59767a37e285","name":"Sticky Note4"},{"parameters":{"content":"## Respuesta","height":840,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[944,-304],"id":"1d07693f-ed67-4e52-8bf4-1794ac800520","name":"Sticky Note5"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-208,-272],"id":"9edcb2a5-1acf-4f97-9e0d-224347c163d9","name":"Audio URL","webhookId":"87caa300-7204-47b5-959a-94f4a8fbf8cf"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').first().json.messages[0].image.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-208,-32],"id":"c2e5ef47-cd46-45b7-bd84-eb1556e93680","name":"Image URL","webhookId":"280bd5de-32d7-4d8f-93d2-e91e3b0bc161"},{"parameters":{"assignments":{"assignments":[{"id":"219577d5-b028-48fc-90be-980f4171ab68","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,-272],"id":"15ef8978-db8e-441a-917c-a85f97667200","name":"Text"},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"text","value":"=El usuario proporcionó la siguiente imagen y texto.\n\nDescripción de la Imagen:\n{{ $json.content }}\n\nMensaje del usuario: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,-32],"id":"214f25fe-afd9-4fb7-94f4-06b5db007524","name":"Image + Text"},{"parameters":{"assignments":{"assignments":[{"id":"c05a7fbf-309a-407e-9fee-7e0b03f4a5c8","name":"text","value":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,176],"id":"c04bab9e-b352-45cb-859f-36f02deca7e9","name":"Text Only"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b64446-f1ea-4622-990c-22f3999a8269","leftValue":"={{ $json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"202af928-a324-411a-bf15-68a349e7bf9e","leftValue":"={{ $json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"08fd0c80-307e-4f45-b1de-35192ee4ec5e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a9ce4fd-4061-40ad-b6c4-3c3b5f2a8569","leftValue":"={{ $json.messages[0].video }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Video"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-528,32],"id":"1369da85-5410-4cc1-aab9-37e103d0d336","name":"Input"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[128,-272],"id":"f6eb2699-53f8-4fcb-b604-ff2fc1753e86","name":"Transcribe","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"content":"## Video","height":180,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,352],"id":"4864dc74-b441-4892-935b-0eeb90c1af0a","name":"Sticky Note6"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].video.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-288,400],"id":"86163310-a91b-4a79-b626-004f0112060b","name":"WhatsApp Business Cloud6","webhookId":"84f006b6-8941-45e2-aea1-362a861f5975"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-128,400],"id":"5caaacbf-9c56-41c4-98d5-330f6a004d88","name":"HTTP Request3"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[48,400],"id":"d1e8d621-a7a2-43bf-b591-f29cdd62e090","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $('HTTP Request3').item.json.mime_type}}\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        },\n        {\n          \"text\": \"Describe el contenido de este video.\"\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,400],"id":"17989433-fb71-4c45-a792-4adde1f3901b","name":"HTTP Request4"},{"parameters":{"assignments":{"assignments":[{"id":"3024aa79-00dd-4f83-ac8e-f9d63a997fe3","name":"text","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,400],"id":"1f431133-8422-481c-9e96-45d8fcd5682f","name":"Edit Fields3"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Input","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Analyze Image","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"Image + Text","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"If":{"main":[[{"node":"Respond with Text","type":"main","index":0}],[{"node":"Generate Audio","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Respond with Audio","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Audio URL":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Image URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Text":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Image + Text":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Text Only":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Input":{"main":[[{"node":"Audio URL","type":"main","index":0}],[{"node":"Image URL","type":"main","index":0}],[{"node":"Text Only","type":"main","index":0}],[{"node":"WhatsApp Business Cloud6","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"Text","type":"main","index":0}]]},"WhatsApp Business Cloud6":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"da5aeb9c-399e-4c93-aaf3-dd4625e7bf6a","triggerCount":0,"shared":[{"createdAt":"2025-07-16T18:34:50.843Z","updatedAt":"2025-07-16T18:34:50.843Z","role":"workflow:owner","workflowId":"0LVD6g9PN0wGfCwE","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}