multimodal-whatsapp-se7U4opE9EVleDVx.json
{"createdAt":"2025-07-16T18:35:43.623Z","updatedAt":"2025-07-25T01:38:36.142Z","id":"se7U4opE9EVleDVx","name":"Multimodal whatsApp","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[64,368],"id":"60c50672-109d-45bd-bdad-cfab5c4b7a4c","name":"WhatsApp Trigger","webhookId":"7f6fc62a-69a8-4fc1-97b1-29c1d71c6964"},{"parameters":{"promptType":"define","text":"={{ $('Redis1').item.json.messages.join(\", \") }}","options":{"systemMessage":"=Eres un asistente virtual llamado Sofia\n\nEstas hablando con:  {{ $('WhatsApp Trigger').first().json.contacts[0].profile.name }}\n\nLa fecha y hora actual es: {{ $now }}\n\n\n🏡 1. Casa en Lomas del Sur (Tlajomulco de Zúñiga, Jalisco)\n\n    Precio estimado: Desde $1,320,000 MXN\n\n    Características:\n\n        3 recámaras (1 en planta baja, 2 en planta alta)\n\n        1.5 baños\n\n        Cocina integral recién instalada\n\n        Closet en recámara principal\n\n        Patio con área de lavado\n\n        Cochera para un auto (opción a dos compactos)\n\n    Ubicación: Colonia Lomas del Sur, Tlajomulco de Zúñiga, Jalisco\n\n    Referencia:\n    Inmuebles24\n    Trovit+3Mitula Casas+3Inmuebles24+3\n    colinasdelnorte.com.gt+5Inmuebles24+5Inmuebles24+5\n    Mitula Casas+1Trovit+1\n    Casas y Terrenos+9Casas y Terrenos+9Casas y Terrenos+9\n\n🏘️ 2. Residencia en San Ángel (Álvaro Obregón, Ciudad de México)\n\n    Precio estimado: Desde $29,800,000 MXN\n\n    Características:\n\n        4 recámaras\n\n        Estilo colonial, diseño del arquitecto René Capdevielle\n\n        Distribuida en 2 niveles\n\n        Sala con piso de duela y detalles de cantera\n\n        Chimenea y jardín\n\n        Ubicada cerca de importantes avenidas como Periférico, Revolución y Altavista\n\n    Referencia:\n    Inmuebles24\n    Trovit+8Inmuebles24+8zrygbienesraices.com+8\n    ArchDaily Brasil+4Inmuebles24+4Vivanuncios+4\n\n🌳 3. Casa ecológica en Valle Verde (Celaya, Guanajuato)\n\n    Precio estimado: Desde $1,100,000 MXN\n\n    Características:\n\n        1 recámara\n\n        Paneles solares y calentador solar\n\n        Construcción ecológica\n\n    Referencia:\n    Mitula Casas\n    Lamudi+53Mitula Casas+53Lamudi+53\n    Facebook+35Mitula Casas+35Lamudi+35\n\n🏙 4. Loft en Santa Fe (Cuajimalpa de Morelos, Ciudad de México)\n\n    Precio estimado: Desde $2,450,000 MXN\n\n    Características:\n\n        1 recámara\n\n        Vista panorámica\n\n        Amenidades: gimnasio, alberca, terraza, seguridad 24/7\n\n        Ubicado en desarrollos como High Park y Vitant Santa Fe\n\n    Referencia:\n    Mitula Casas\n    Mitula Casas+3Inmuebles24+3Lamudi+3\n    Vivanuncios+1Trovit+1\n\n🏠 5. Casa en Colinas del Norte (Ciudad Juárez, Chihuahua)\n\n    Precio estimado: Desde $1,650,000 MXN\n\n    Características:\n\n        3 recámaras\n\n        Terraza\n\n        Diseño moderno"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2288,288],"id":"da5ff2db-8317-4385-85f5-980eb5a06c4a","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').first().json.messages[0].from }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2400,480],"id":"2e703bb8-0b4e-4a8b-825a-8c879dd2ffa8","name":"Simple Memory"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,288],"id":"61f8e2e2-7647-4679-a047-08ba2ad7f6d1","name":"Download Image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Describe la imagen en detalle. \n\nEsta es el caption de la imagen para contexto: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,288],"id":"0bd2bcf3-984e-4cb1-bcf5-2c6806be9f6c","name":"Analyze Image"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,48],"id":"01f163bf-7b3a-4e42-903e-9254d8eedb5a","name":"Download Audio"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d1d759-f585-4791-a743-b9d72951e77c","leftValue":"={{ $('WhatsApp Trigger').first().json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2672,288],"id":"f658eb27-fec0-4b37-bd3b-2ad2ab522a0d","name":"If"},{"parameters":{"resource":"audio","input":"={{ $('AI Agent').item.json.output }}","voice":"shimmer","options":{"response_format":"opus"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2944,192],"id":"1a61780c-ed4e-40f9-93d8-2bc5396fe1c3","name":"Generate Audio"},{"parameters":{"operation":"send","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}","messageType":"audio","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[3104,192],"id":"2f5e0148-486f-41f2-8f80-37df28c35a79","name":"Respond with Audio","webhookId":"1c1f9660-0196-4026-9fe6-fc4016183f84"},{"parameters":{"operation":"send","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2944,400],"id":"5227a280-c913-49b7-8ce8-3f97d64844c4","name":"Respond with Text","webhookId":"78d4b39b-986b-4a79-9c49-5a6b8768fc2c"},{"parameters":{"content":"## Audio","height":200,"width":800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,0],"id":"536e0237-ec09-4094-9644-d5d12fc07f6f","name":"Sticky Note"},{"parameters":{"content":"## Imagen y Text","height":220,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,224],"id":"05698dc1-ee38-4c94-a65f-92bc019a4903","name":"Sticky Note1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2288,480],"id":"4e110c44-3dfa-435a-ad6b-ecf9c2861ae2","name":"OpenAI Chat Model"},{"parameters":{"content":"## Solo Text","width":800,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,464],"id":"dcd95cb8-2d29-4c95-b000-7d0ef9f5fbee","name":"Sticky Note2"},{"parameters":{"content":"## Entrada","height":840,"width":400,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"1f859d54-fdfb-4ad3-a168-3a0b267453b5","name":"Sticky Note3"},{"parameters":{"content":"## Agente","height":840,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2224,0],"id":"edc2ddf0-d30c-4a3e-ab1f-bda8318a7696","name":"Sticky Note4"},{"parameters":{"content":"## Respuesta","height":840,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2624,0],"id":"140bed75-5301-4fc5-add8-53b2a0c027a8","name":"Sticky Note5"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[560,48],"id":"68d41332-f1f9-4299-98eb-7fa3803505f9","name":"Audio URL","webhookId":"a09769d3-2a27-4225-82e0-dfeee3ef5612"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').first().json.messages[0].image.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[560,288],"id":"921497ef-f5df-4079-a909-adf15532fd9a","name":"Image URL","webhookId":"1cc242d0-9158-4550-8707-9c19069b557d"},{"parameters":{"assignments":{"assignments":[{"id":"219577d5-b028-48fc-90be-980f4171ab68","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,48],"id":"e2a2a187-f2c4-4a60-a00e-cccc877ef512","name":"Text"},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"text","value":"=El usuario proporcionó la siguiente imagen y texto.\n\nDescripción de la Imagen:\n{{ $json.content }}\n\nMensaje del usuario: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,288],"id":"f6866136-6ce4-45bb-9a27-27c16b9118d4","name":"Image + Text"},{"parameters":{"assignments":{"assignments":[{"id":"c05a7fbf-309a-407e-9fee-7e0b03f4a5c8","name":"text","value":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,480],"id":"07540632-7d25-49a6-bf7b-edc393332415","name":"Text Only"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b64446-f1ea-4622-990c-22f3999a8269","leftValue":"={{ $json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"202af928-a324-411a-bf15-68a349e7bf9e","leftValue":"={{ $json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"08fd0c80-307e-4f45-b1de-35192ee4ec5e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a9ce4fd-4061-40ad-b6c4-3c3b5f2a8569","leftValue":"={{ $json.messages[0].video }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[240,352],"id":"1a96855f-28f3-4fca-b426-1158d54ab45f","name":"Input"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,48],"id":"0e197606-1143-4864-807e-85028bf5817d","name":"Transcribe"},{"parameters":{"content":"## Video","height":244,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,640],"id":"a02039ee-3298-499b-b105-21bf33021684","name":"Sticky Note6"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].video.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[464,704],"id":"f8d7344e-9346-4ecd-bb41-d35cec25426b","name":"WhatsApp Business Cloud6","webhookId":"a4fa1521-6736-4929-a681-533162ed3a8b"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,704],"id":"55d5f05d-41d3-4bc3-9eee-8a4cc9a65106","name":"HTTP Request3"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[800,704],"id":"a3f2fd74-8858-4ece-98b1-a34f90ea6627","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $('HTTP Request3').item.json.mime_type}}\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        },\n        {\n          \"text\": \"Describe el contenido de este video.\"\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,704],"id":"41b32ed1-dae3-4dc7-b55b-de396bc7a404","name":"HTTP Request4"},{"parameters":{"assignments":{"assignments":[{"id":"3024aa79-00dd-4f83-ac8e-f9d63a997fe3","name":"text","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,704],"id":"98c42622-4df0-47dc-8453-c03db96f33cc","name":"Edit Fields3"},{"parameters":{"content":"## Redis","height":840,"width":880},"type":"n8n-nodes-base.stickyNote","position":[1312,0],"typeVersion":1,"id":"4398e153-0cf3-42b3-a4b4-36ec3a0243c2","name":"Sticky Note7"},{"parameters":{"operation":"push","list":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,304],"id":"4611664a-a3ff-4ec2-a8be-7616b5b47c3a","name":"Redis"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1504,304],"id":"c6a269fb-fff4-41d5-bceb-c78d76802de6","name":"Wait","webhookId":"02f8c683-d9fd-417f-80ba-8707a89cf0c2"},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id + \"\" }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1664,304],"id":"55df6ff6-088e-48a4-830a-18ee2be17dca","name":"Redis1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e79fa4f-6c7c-4f6d-8907-8a03f4c478fb","leftValue":"={{ $json.messages.last() }}","rightValue":"={{ $('Redis').item.json.text }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1824,304],"id":"15529346-3c1d-4907-91c1-094d01af0bb3","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2048,400],"id":"7caa6f85-149b-4a2e-8722-383254af7ee1","name":"No Operation, do nothing"},{"parameters":{"operation":"delete","key":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id + \"\" }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2048,208],"id":"0b7b0d72-3ab4-460b-9c9b-3bc8d2aefe2f","name":"Redis2"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Input","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Analyze Image","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"Image + Text","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"If":{"main":[[{"node":"Generate Audio","type":"main","index":0}],[{"node":"Respond with Text","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Respond with Audio","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Audio URL":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Image URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Text":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Image + Text":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Text Only":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Input":{"main":[[{"node":"Audio URL","type":"main","index":0}],[{"node":"Image URL","type":"main","index":0}],[{"node":"Text Only","type":"main","index":0}],[{"node":"WhatsApp Business Cloud6","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"Text","type":"main","index":0}]]},"WhatsApp Business Cloud6":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis2","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6e33df96-9efd-4899-a750-c7386e83b230","triggerCount":0,"shared":[{"createdAt":"2025-07-16T18:35:43.623Z","updatedAt":"2025-07-16T18:35:43.623Z","role":"workflow:owner","workflowId":"se7U4opE9EVleDVx","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}