multimodal-telegram-WMvsgfSVwYgOJGjD.json
{"createdAt":"2025-07-25T01:39:04.723Z","updatedAt":"2025-08-09T05:52:32.675Z","id":"WMvsgfSVwYgOJGjD","name":"Multimodal telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[32,576],"id":"92be2beb-eee8-4b6f-8c80-264e9f70922f","name":"WhatsApp Trigger","webhookId":"7f6fc62a-69a8-4fc1-97b1-29c1d71c6964"},{"parameters":{"promptType":"define","text":"={{ $('Redis1').item.json.messages.join(\", \") }}","options":{"systemMessage":"=Eres un asistente virtual llamado Sofia\n\nEstas hablando con:  {{ $('WhatsApp Trigger').first().json.contacts[0].profile.name }}\n\nLa fecha y hora actual es: {{ $now }}\n\n\n🏡 1. Casa en Lomas del Sur (Tlajomulco de Zúñiga, Jalisco)\n\n    Precio estimado: Desde $1,320,000 MXN\n\n    Características:\n\n        3 recámaras (1 en planta baja, 2 en planta alta)\n\n        1.5 baños\n\n        Cocina integral recién instalada\n\n        Closet en recámara principal\n\n        Patio con área de lavado\n\n        Cochera para un auto (opción a dos compactos)\n\n    Ubicación: Colonia Lomas del Sur, Tlajomulco de Zúñiga, Jalisco\n\n    Referencia:\n    Inmuebles24\n    Trovit+3Mitula Casas+3Inmuebles24+3\n    colinasdelnorte.com.gt+5Inmuebles24+5Inmuebles24+5\n    Mitula Casas+1Trovit+1\n    Casas y Terrenos+9Casas y Terrenos+9Casas y Terrenos+9\n\n🏘️ 2. Residencia en San Ángel (Álvaro Obregón, Ciudad de México)\n\n    Precio estimado: Desde $29,800,000 MXN\n\n    Características:\n\n        4 recámaras\n\n        Estilo colonial, diseño del arquitecto René Capdevielle\n\n        Distribuida en 2 niveles\n\n        Sala con piso de duela y detalles de cantera\n\n        Chimenea y jardín\n\n        Ubicada cerca de importantes avenidas como Periférico, Revolución y Altavista\n\n    Referencia:\n    Inmuebles24\n    Trovit+8Inmuebles24+8zrygbienesraices.com+8\n    ArchDaily Brasil+4Inmuebles24+4Vivanuncios+4\n\n🌳 3. Casa ecológica en Valle Verde (Celaya, Guanajuato)\n\n    Precio estimado: Desde $1,100,000 MXN\n\n    Características:\n\n        1 recámara\n\n        Paneles solares y calentador solar\n\n        Construcción ecológica\n\n    Referencia:\n    Mitula Casas\n    Lamudi+53Mitula Casas+53Lamudi+53\n    Facebook+35Mitula Casas+35Lamudi+35\n\n🏙 4. Loft en Santa Fe (Cuajimalpa de Morelos, Ciudad de México)\n\n    Precio estimado: Desde $2,450,000 MXN\n\n    Características:\n\n        1 recámara\n\n        Vista panorámica\n\n        Amenidades: gimnasio, alberca, terraza, seguridad 24/7\n\n        Ubicado en desarrollos como High Park y Vitant Santa Fe\n\n    Referencia:\n    Mitula Casas\n    Mitula Casas+3Inmuebles24+3Lamudi+3\n    Vivanuncios+1Trovit+1\n\n🏠 5. Casa en Colinas del Norte (Ciudad Juárez, Chihuahua)\n\n    Precio estimado: Desde $1,650,000 MXN\n\n    Características:\n\n        3 recámaras\n\n        Terraza\n\n        Diseño moderno"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2288,288],"id":"148adb14-524a-4b28-ba58-ff5025d0f2db","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').first().json.messages[0].from }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2400,480],"id":"0c3df8e6-9589-472b-a4ee-79c42d0377b3","name":"Simple Memory"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,288],"id":"c67223a1-bd05-4b8d-b74f-4b419e36624f","name":"Download Image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Describe la imagen en detalle. \n\nEsta es el caption de la imagen para contexto: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,288],"id":"21a9355d-6de9-472d-9895-e6f22d7eadbe","name":"Analyze Image","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d1d759-f585-4791-a743-b9d72951e77c","leftValue":"={{ $('WhatsApp Trigger').first().json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2672,288],"id":"967a0ace-4dd0-44b5-b587-8c94af9446d8","name":"If"},{"parameters":{"resource":"audio","input":"={{ $('AI Agent').item.json.output }}","voice":"shimmer","options":{"response_format":"opus"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2944,192],"id":"2342685a-e7ee-48ff-a249-31646a9becfc","name":"Generate Audio"},{"parameters":{"operation":"send","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}","messageType":"audio","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2944,32],"id":"41de1dcb-0a01-4b8f-a9ab-3ac2b5833e9d","name":"Respond with Audio","webhookId":"1c1f9660-0196-4026-9fe6-fc4016183f84"},{"parameters":{"operation":"send","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2928,576],"id":"1a33b5e4-98d1-4dca-b7d8-acc1523d28a1","name":"Respond with Text","webhookId":"78d4b39b-986b-4a79-9c49-5a6b8768fc2c"},{"parameters":{"content":"## Audio","height":200,"width":800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,0],"id":"8ae0e50f-d2e6-4a2f-aff1-bcc20216136b","name":"Sticky Note"},{"parameters":{"content":"## Imagen y Text","height":220,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,224],"id":"31d9aeb1-3f5f-4ccc-8e4f-4f206414cb2b","name":"Sticky Note1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2288,480],"id":"8a2a6563-a52c-4220-8dbb-969aca1e3e8b","name":"OpenAI Chat Model"},{"parameters":{"content":"## Solo Text","width":800,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,464],"id":"31871bdc-6f58-4dbb-90ed-4a5c294fbfe9","name":"Sticky Note2"},{"parameters":{"content":"## Entrada","height":840,"width":400,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"ef439936-167c-4699-a3de-9dc705ae5263","name":"Sticky Note3"},{"parameters":{"content":"## Agente","height":840,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2224,0],"id":"f15f7dd6-f3cb-47ab-86ca-b391e9d87b80","name":"Sticky Note4"},{"parameters":{"content":"## Respuesta","height":840,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2624,0],"id":"5c0e73d0-70c1-471b-a157-1bae4d3d6dfd","name":"Sticky Note5"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').first().json.messages[0].image.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[560,288],"id":"62b2544f-ecab-4dfb-881f-c08c21600e28","name":"Image URL","webhookId":"1cc242d0-9158-4550-8707-9c19069b557d"},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"text","value":"=El usuario proporcionó la siguiente imagen y texto.\n\nDescripción de la Imagen:\n{{ $json.content }}\n\nMensaje del usuario: \n{{ $('WhatsApp Trigger').first().json.messages[0].image.caption || \"Sin caption\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,288],"id":"ddede86a-8918-45ab-bd2d-5f8e68c65bf5","name":"Image + Text"},{"parameters":{"assignments":{"assignments":[{"id":"c05a7fbf-309a-407e-9fee-7e0b03f4a5c8","name":"text","value":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,480],"id":"11a240ad-476c-4442-a704-ba81d0770d52","name":"Text Only"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b64446-f1ea-4622-990c-22f3999a8269","leftValue":"={{ $json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"202af928-a324-411a-bf15-68a349e7bf9e","leftValue":"={{ $json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"08fd0c80-307e-4f45-b1de-35192ee4ec5e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a9ce4fd-4061-40ad-b6c4-3c3b5f2a8569","leftValue":"={{ $json.messages[0].video }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[240,352],"id":"07377ba7-8339-41dd-8627-30170ef2803f","name":"Input"},{"parameters":{"content":"## Video","height":244,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,640],"id":"e519f2ba-0436-4d73-9658-4b93220c2f6c","name":"Sticky Note6"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].video.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[464,704],"id":"10552f82-c8fc-4437-9694-02808f0305e5","name":"WhatsApp Business Cloud6","webhookId":"a4fa1521-6736-4929-a681-533162ed3a8b"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,704],"id":"cd99203a-6b65-4e20-a3d7-26064b9b4a21","name":"HTTP Request3"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[800,704],"id":"1c158d25-fcb9-4046-b121-3280c59c5361","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $('HTTP Request3').item.json.mime_type}}\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        },\n        {\n          \"text\": \"Describe el contenido de este video.\"\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,704],"id":"416c748b-36b7-46b3-a84b-4cea24c35e8a","name":"HTTP Request4","credentials":{"googlePalmApi":{"id":"nP1YZmGaWN1xgdRX","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3024aa79-00dd-4f83-ac8e-f9d63a997fe3","name":"text","value":"={{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,704],"id":"94477d04-b328-4528-957f-ce4a2a02c033","name":"Edit Fields3"},{"parameters":{"content":"## Redis","height":840,"width":880},"type":"n8n-nodes-base.stickyNote","position":[1312,0],"typeVersion":1,"id":"e0a4632f-68c3-4f8e-9ecc-7647f9016d9d","name":"Sticky Note7"},{"parameters":{"operation":"push","list":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,304],"id":"d889aac0-726b-42d9-a65a-8fcc7cbf1ebd","name":"Redis"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1504,304],"id":"001bbd13-795f-47f9-9200-275867466dea","name":"Wait","webhookId":"02f8c683-d9fd-417f-80ba-8707a89cf0c2"},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id + \"\" }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1664,304],"id":"02cd640b-5ac2-432d-a93d-c21ff974c7d5","name":"Redis1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e79fa4f-6c7c-4f6d-8907-8a03f4c478fb","leftValue":"={{ $json.messages.last() }}","rightValue":"={{ $('Redis').item.json.text }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1824,304],"id":"912da523-339a-468c-8e4c-8830299faae6","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2048,400],"id":"06e2db24-97c1-411f-bd86-a32e93793d15","name":"No Operation, do nothing"},{"parameters":{"operation":"delete","key":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id + \"\" }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2048,208],"id":"85a81d54-0452-45fc-945d-a178ebd9f42c","name":"Redis2"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[32,384],"id":"93ed15d6-5519-4149-9bc7-7068cdf171b0","name":"Telegram Trigger","webhookId":"4ae065d8-77b0-4453-b811-cf44d043fb7a","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2960,400],"id":"973e6879-e164-4c59-b0bb-18a1207691f6","name":"Telegram","webhookId":"264a0957-a9b2-4dcc-a842-de31460d2572","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1184,1136],"id":"1a538fab-7402-4ae1-bae2-a418be0728f5","name":"Telegram1","webhookId":"7e3a3e5a-fd66-4ffc-a117-67af18c4ec52","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3168,192],"id":"4d4b26d4-1523-4bc6-97f8-fdc6f9b1a9de","name":"Telegram2","webhookId":"264a0957-a9b2-4dcc-a842-de31460d2572","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[752,48],"id":"d5a04c29-dbc9-495b-99cb-63e4d03ad6ab","name":"OpenAI","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"120dd6f6-c43e-46e0-9595-3ddf7c30eb02","name":"Mensasje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,48],"id":"dcf06cbb-f33d-4c1e-92f5-33f9f1243c08","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[544,48],"id":"5c085a62-4904-4496-8991-29cf5fbd5f3c","name":"Telegram3","webhookId":"7e3a3e5a-fd66-4ffc-a117-67af18c4ec52","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}}],"connections":{"WhatsApp Trigger":{"main":[[]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Download Image":{"main":[[{"node":"Analyze Image","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"Image + Text","type":"main","index":0}]]},"If":{"main":[[{"node":"Generate Audio","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Image URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Image + Text":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Text Only":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Input":{"main":[[{"node":"Telegram3","type":"main","index":0}],[],[{"node":"Text Only","type":"main","index":0}],[{"node":"WhatsApp Business Cloud6","type":"main","index":0}]]},"WhatsApp Business Cloud6":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis2","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Input","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Telegram3":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fc5d21d1-c5b4-4215-955d-b6ff364bd751","triggerCount":0,"shared":[{"createdAt":"2025-07-25T01:39:04.723Z","updatedAt":"2025-07-25T01:39:04.723Z","role":"workflow:owner","workflowId":"WMvsgfSVwYgOJGjD","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}