my-workflow-11-OUgLdtu3ReunKFrY.json
{"createdAt":"2025-08-18T02:52:42.144Z","updatedAt":"2025-08-18T04:16:48.285Z","id":"OUgLdtu3ReunKFrY","name":"My workflow 11","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"push","list":"={{ 'buffer:' + ( $('Parametrizacion1').item.json.message.chat.id || '' ).split('@')[0] }}\n","messageData":"={{ JSON.stringify({\n  message: $('Parametrizacion1').item.json.message.contenido,\n  date_time: $('Parametrizacion1').item.json.message.date,\n  chat_id: ( $('Parametrizacion1').item.json.message.chat.id || '' ).split('@')[0],\n  message_id: $('Parametrizacion1').item.json.message.id,\n  instance: $('Parametrizacion1').item.json.instance,\n  name: $('Parametrizacion1').item.json.Name\n}) }}\n","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-272,16],"id":"3e6e9e1b-e4f8-4ff7-991a-a22434e7721a","name":"buffer1","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{ 'batch:' + (($json.message?.chat_id || $json.chat?.id || '').split('@')[0]) }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-32,16],"id":"2df8daef-8789-4481-87ef-0a5636b657da","name":"get_buffer_data1","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.session_id || '' }}","rightValue":"={{ $('Webhook3').item.json.body.session_id || '' }}","operator":{"type":"string","operation":"notEquals"},"id":"a30f0c20-2d06-4917-93bf-2cb7c6ff983e"}],"combinator":"and"},"renameOutput":true,"outputKey":"No hacer Nada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f188df3b-dea6-4ce2-a53e-ddc1b1f02e1d","leftValue":"={{ $json.message.date_time.toDateTime() }}","rightValue":"={{ $now.minus(20, 'seconds') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Seguir"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26ccc69b-54d0-4ff6-930b-efedc7e6542a","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Esperar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[176,0],"id":"1a184225-4814-47cb-ad68-2b3c0041763e","name":"Switch3"},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"message.id","value":"={{ $json.message.message_id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message.contenido","value":"=Audio: \"{{ $json.message.message }}\"","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"message.date","value":"={{ $json.message.date_time }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"message.type","value":"={{ \"text\" }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"chat.id ","value":"={{ $json.message.chat_id }}","type":"string"},{"id":"9825e735-d181-44c8-9dea-0e7723a5a19e","name":"account.id","value":"={{ $('Webhook3').item.json.body.account_id || $json.account_id || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,-16],"id":"0c152562-23c3-4318-92f9-b17eb6d48a75","name":"Transcripcion2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[528,-224],"id":"4903b776-8fb3-47c8-a8bb-33cae0177cad","name":"No Operation, do nothing3"},{"parameters":{"httpMethod":"POST","path":"7a2c2a2a-8f5d-4a77-b916-5fa8d2174815","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-688,16],"id":"5c7a9869-4a7b-4b2f-a886-776630749a43","name":"Webhook3","webhookId":"7a2c2a2a-8f5d-4a77-b916-5fa8d2174815"},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"message.id","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message.contenido","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"message.date","value":"={{ $json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"message.chat.id","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"9fbaba91-c78c-4de2-aeb5-8b09a2f3fa3a","name":"message.instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"6b6337b8-3f90-4317-ba0a-1b30bf1bbc52","name":"Name","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,16],"id":"c2442ddf-4088-464c-ace9-b601b3e50b7b","name":"Parametrizacion1"},{"parameters":{"operation":"delete","key":"={{ $json.chat['id '] }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[704,-16],"id":"0b2a17e4-410d-4f7f-b165-bcef5a980ece","name":"Borrar los mensajes enviados","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[528,160],"id":"818010ac-9beb-4bce-b40b-999765453c76","name":"Esperar","webhookId":"dd4c5ad2-cf80-47d8-aad8-cd4e61cd7d24"}],"connections":{"buffer1":{"main":[[{"node":"get_buffer_data1","type":"main","index":0}]]},"get_buffer_data1":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"Transcripcion2","type":"main","index":0}],[{"node":"Esperar","type":"main","index":0}]]},"Transcripcion2":{"main":[[{"node":"Borrar los mensajes enviados","type":"main","index":0}]]},"Webhook3":{"main":[[{"node":"Parametrizacion1","type":"main","index":0}]]},"Parametrizacion1":{"main":[[{"node":"buffer1","type":"main","index":0}]]},"Esperar":{"main":[[{"node":"get_buffer_data1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook3":[{"json":{"headers":{"host":"n8n.dployxperts.com","user-agent":"axios/1.10.0","content-length":"1137","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"31.97.135.186","cf-ipcountry":"US","cf-ray":"970e1fb25d7fbe82-EWR","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","x-forwarded-for":"104.23.190.29","x-forwarded-host":"n8n.dployxperts.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"09d704c9b26e","x-real-ip":"104.23.190.29"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"DployXperts","data":{"key":{"remoteJid":"584128499163@s.whatsapp.net","fromMe":false,"id":"3EB04E93B0F04C41D4B26C","senderLid":"263878579613915@lid"},"pushName":"Juan Alvarado","status":"DELIVERY_ACK","message":{"conversation":"hola","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"Dp8FcqYIcnVPwQ==","senderTimestamp":"1755477601","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"5KBXzYbFZ47FwQ==","recipientTimestamp":"1755389827"},"deviceListMetadataVersion":2,"messageSecret":"bw9HVZCl0eRQDjOHpaid91+H5a0DhFChx2dNEpSCzwE=","limitSharingV2":{"sharingLimited":true,"trigger":"CHAT_SETTING","limitSharingSettingTimestamp":"1754366851879","initiatedByMe":false}}},"messageType":"conversation","messageTimestamp":1755485637,"instanceId":"33d2e56f-75a8-46d9-89e0-fd7feac283a5","source":"web"},"destination":"https://n8n.dployxperts.com/webhook-test/7a2c2a2a-8f5d-4a77-b916-5fa8d2174815","date_time":"2025-08-17T23:53:57.451Z","sender":"584242849028@s.whatsapp.net","server_url":"https://evolution.dployxperts.com","apikey":"8210DE90CEAE-4EB6-BDF7-FACF2C761197"},"webhookUrl":"https://n8n.dployxperts.com/webhook-test/7a2c2a2a-8f5d-4a77-b916-5fa8d2174815","executionMode":"test"}}]},"versionId":"61a8f529-516e-4a1f-b834-9471499a8ed2","triggerCount":0,"shared":[{"createdAt":"2025-08-18T02:52:42.144Z","updatedAt":"2025-08-18T02:52:42.144Z","role":"workflow:owner","workflowId":"OUgLdtu3ReunKFrY","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}