my-workflow-9-kQ24npugUFn3sIKk.json
{"createdAt":"2025-08-09T06:11:43.240Z","updatedAt":"2025-08-09T06:12:09.441Z","id":"kQ24npugUFn3sIKk","name":"My workflow 9","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Descripcion General:\nEres un asistente personal, tu tarea es llamar a la herramienta adecuada en función de la consulta del usuario.\n\n\n# Herramientas:\n\"MCP Gmail\": usa esta herramienta para enviar, responder, eliminar, y obtener correos.\n\"MCP Calendario\": usa esta herramienta para crear, eliminar, obtener y actualizar eventos en el calendario.\n\"MCP Contactos\": usa esta herramienta para obtener, añadir, actualizar y eliminar un contacto.\n\n# Reglas:\nSi el usuario pide enviar un correo y no especifica la dirección del destinatario pero sí que te da un nombre, tienes que usar primero la herramienta \"MCP Contactos\" para obtener la dirección de correo del contacto especificado y después usar la herramienta \"MCP Gmail\" para enviar el correo. Si no existe el contacto, solicita al usuario la dirección de correo para añadirlo.\n\n## Ejemplo 1:\n\nEntrada: Envía un email a josema@gmail.com con el asunto \"Reunion\" y el contenido \"Estás disponible mañana a las 10 ?\"\n\nAcción: Usa la herramienta \"MCP Gmail\" para enviar el email a josema@gmail.com.\n\nSalida: Se ha enviado el correo a josema@gmail.com con el asunto \"Reunion\" y el contenido \"Estás disponible mañana a las 10 ?\"\n\n\n## Ejemplo 2:\n\nEntrada: Agenda una reunión con josema@gmail.com con el título \"Reunión\" y la descripción \"Reunión de Ventas\"\n\nAcción: Usa la herramienta \"MCP Calendario\" para crear un evento con josema@gmail.com.\n\nSalida: Se ha agendado una reunión con josema@gmail.com.\n\n\n## Ejemplo 3:\n\nEntrada: Añade el contacto Josema con el correo josema@gmail.com\n\nAcción: Usa la herramienta \"MCP Contactos\" para añadir información que te de el usuario\n\nSalida: Se ha añadido la información correctamente.\n\n\n\n\n# Recordatorios\n- La fecha y hora actual es: **{{ $now }}**.  \n- Nunca te inventes información, solo selecciona la herramienta adecuada para realizar la acción."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[624,-48],"id":"cad1731b-4401-479a-9939-6b72eb9816e1","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[624,288],"id":"11d3579d-89b9-4faa-9d39-b505e025301a","name":"Simple Memory"},{"parameters":{"sseEndpoint":"https://n8n.dployxperts.com/mcp-test/27dd4208-4407-4413-a270-1302d812e60e/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[768,288],"id":"0673027c-e7cf-4d90-93f6-adc0e901f9c8","name":"MCP Gmail"},{"parameters":{"sseEndpoint":"https://n8n.dployxperts.com/mcp-test/dde3c86b-fc11-4a83-88d3-95be7124ae23/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[928,288],"id":"7f6a8e6c-6126-48b7-a67c-69a4f219c3ea","name":"MCP Calendario"},{"parameters":{"sseEndpoint":"https://n8n.dployxperts.com/mcp-test/33322373-5080-4e97-b468-f0f40f6686d9/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1072,288],"id":"c3c4810d-2d1a-4834-8d59-e56470d3ab97","name":"MCP Contactos"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-240,-16],"id":"49b4164c-bc60-4d16-bf54-e8dedede9dda","name":"Telegram Trigger","webhookId":"c7f168fc-7798-468a-8807-3773b81bd03a","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"0ef7181d-c151-4d40-a341-b0002fc82518"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16af8e01-a416-45b8-8358-30e9243ca95f","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-32,-16],"id":"8db8319d-8b97-432c-b68d-81c6a9160874","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"9cd54906-fbfa-4578-a57c-e7cc41daae92","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,96],"id":"04ef5189-b2f0-4b65-b22c-692b0c3533eb","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[160,-160],"id":"6f116520-6888-45b4-9dc7-c73e8d856c70","name":"Descargar Audio","webhookId":"9054ba64-7bff-4b8c-9668-15c5b1dfd944","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[384,-160],"id":"2ced0d28-7cc3-4591-ac48-2f0dad7a3487","name":"Transcribir","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[976,-48],"id":"39b04acc-a11a-4a94-ad98-ba21b25e0e3d","name":"Telegram","webhookId":"ea339aa9-3b14-4d01-b99f-3021daca9474","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[464,288],"id":"d1149511-1626-4918-bddd-7161e265bcf7","name":"OpenAI 4.1 mini","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"path":"27dd4208-4407-4413-a270-1302d812e60e"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[1424,448],"id":"1f809576-8204-49b0-83f8-dec91de84b91","name":"MCP Server Trigger","webhookId":"27dd4208-4407-4413-a270-1302d812e60e"},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `El destinatario del email.`, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1248,880],"id":"0caab985-c92d-4973-85c2-df4e303e2072","name":"Enviar Email","webhookId":"99d0f5d6-6176-4147-a68e-611eec371a9e"},{"parameters":{"operation":"reply","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1408,880],"id":"eceaf1c0-d0c7-4878-97b9-08bd24a22d5f","name":"Responder Email","webhookId":"6479e218-e946-4598-a93e-86d0bbcfc79f"},{"parameters":{"resource":"draft","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1552,880],"id":"0adb79aa-93d9-410e-a588-062984656839","name":"Crear Borrador","webhookId":"19623e00-6c13-426e-9f75-47eb4570e82b"},{"parameters":{"operation":"getAll","limit":20,"filters":{"receivedAfter":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}","receivedBefore":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}","sender":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1728,880],"id":"37a0e78c-0ad9-4c74-83fc-35fc5f921c7e","name":"Obtener Emails","webhookId":"7c23354e-d786-4c2e-b6c7-68b313aff9a8"},{"parameters":{"operation":"delete","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1936,880],"id":"7fdab8bc-61e0-4d09-acc2-d559bfae1a44","name":"Eliminar Email","webhookId":"c671bf92-f648-47b4-b056-54bd71667fe1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1s1FrNJ2zP_zAI8X6k0ZIJJxzj2nLFXA7WvoNUNQQ4qw","mode":"list","cachedResultName":"","cachedResultUrl":""},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":""},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}","Correo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Correo', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[528,880],"id":"1ad7bebc-c9d7-4118-97d6-c1cca95ee60f","name":"AddContactos"},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1s1FrNJ2zP_zAI8X6k0ZIJJxzj2nLFXA7WvoNUNQQ4qw","mode":"list","cachedResultName":"","cachedResultUrl":""},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":""},"startIndex":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Row_Number', ``, 'number') }}","numberToDelete":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[848,912],"id":"8d0a77eb-94f4-4c9d-920c-6229ede77286","name":"EliminarContacto"},{"parameters":{"documentId":{"__rl":true,"value":"1s1FrNJ2zP_zAI8X6k0ZIJJxzj2nLFXA7WvoNUNQQ4qw","mode":"list","cachedResultName":"","cachedResultUrl":""},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":""},"filtersUI":{"values":[{"lookupColumn":"Nombre","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"},{"lookupColumn":"Correo","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[368,880],"id":"1d6bee53-4aa0-427a-84b8-61d0582440f9","name":"ObtenerContactos"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1s1FrNJ2zP_zAI8X6k0ZIJJxzj2nLFXA7WvoNUNQQ4qw","mode":"list","cachedResultName":"","cachedResultUrl":""},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uasrJ9h9RaygRvBcJkY8SXmluDwRnRa-ImG0M_VRgOc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre__using_to_match_', ``, 'string') }}","Correo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Correo', ``, 'string') }}"},"matchingColumns":["Nombre"],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[688,880],"id":"d79122d1-d883-4ecb-81d7-bdcbb4bb9e7a","name":"ActualizarContacto"},{"parameters":{"documentId":{"__rl":true,"value":"1s1FrNJ2zP_zAI8X6k0ZIJJxzj2nLFXA7WvoNUNQQ4qw","mode":"list","cachedResultName":"","cachedResultUrl":""},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":""},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1024,864],"id":"1f3c81cf-5776-449f-ad08-7f5dad8cbd54","name":"ObtenerTodosContactos"},{"parameters":{"path":"33322373-5080-4e97-b468-f0f40f6686d9"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[496,560],"id":"c12c7b40-23c4-4f24-be1d-2e982a3f1c6c","name":"MCP Server Trigger1","webhookId":"33322373-5080-4e97-b468-f0f40f6686d9"},{"parameters":{"calendar":{"__rl":true,"value":"josefernanlab@gmail.com","mode":"list","cachedResultName":"josefernanlab@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Fecha y hora de inicio de la reunión.`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Fecha y hora de fin de la reunión.`, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', `Participante de la reunión. Si viene vacío, no lo añadas.`, 'string') }}"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Descripción de la reunión.`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Título de la reunión`, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-400,848],"id":"16a95b49-0d3d-45ff-a83a-21c0272df0e2","name":"Crear evento"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"josefernanlab@gmail.com","mode":"list","cachedResultName":"josefernanlab@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-192,848],"id":"b5bd31b9-6387-4f93-83f9-40e2f66f88ef","name":"Eliminar Evento"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"josefernanlab@gmail.com","mode":"list","cachedResultName":"josefernanlab@gmail.com"},"limit":10,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{"timeZone":{"__rl":true,"value":"Europe/Madrid","mode":"list","cachedResultName":"Europe/Madrid"}}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-16,848],"id":"bca7a431-ee4b-4f8c-9358-1f0593cdf2b2","name":"Obtener Eventos"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"josefernanlab@gmail.com","mode":"list","cachedResultName":"josefernanlab@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"attendeesUi":{"values":{"mode":"replace","attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"]}},"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[176,880],"id":"01dc5112-0652-4fd2-a9bf-0a7a684847f6","name":"Actualizar Evento"},{"parameters":{"path":"dde3c86b-fc11-4a83-88d3-95be7124ae23"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[-224,528],"id":"1bd56766-6b3c-4b4e-88aa-dda1518a2fa9","name":"MCP Server Trigger2","webhookId":"dde3c86b-fc11-4a83-88d3-95be7124ae23"}],"connections":{"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"MCP Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP Calendario":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP Contactos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Descargar Audio","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Transcribir","type":"main","index":0}]]},"Transcribir":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"OpenAI 4.1 mini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Enviar Email":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Responder Email":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Crear Borrador":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Obtener Emails":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Eliminar Email":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"ObtenerContactos":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"AddContactos":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"ActualizarContacto":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"EliminarContacto":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"ObtenerTodosContactos":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"Crear evento":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Eliminar Evento":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Obtener Eventos":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Actualizar Evento":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5970d1bd-0e3c-41e1-a0ec-19ea7e453c70","triggerCount":0,"shared":[{"createdAt":"2025-08-09T06:11:43.240Z","updatedAt":"2025-08-09T06:11:43.240Z","role":"workflow:owner","workflowId":"kQ24npugUFn3sIKk","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}