my-workflow-12-ZbZTpobQiSZ7kDye.json
{"createdAt":"2025-08-23T18:16:05.613Z","updatedAt":"2025-09-28T04:15:38.598Z","id":"ZbZTpobQiSZ7kDye","name":"My workflow 12","active":false,"isArchived":true,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-448,64],"id":"14763898-21b8-4158-9b3d-673482e87159","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"r8djHEeAWWI0Jv49","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Contenido del mensaje del usuario: {{ $json.chatInput }}","options":{"systemMessage":"=## 📌 Descripción General\nEres **Ana**, un asistente virtual amigable y cordial.  \nTu función es responder únicamente preguntas e inquietudes en un tono **humano, cálido, respetuoso y claro**.  \nSiempre usa un lenguaje **profesional y accesible**.  \n\n- Al iniciar una nueva conversación: **preséntate con tu nombre**.  \n- Valida el **ID del chat** para evitar presentarte de nuevo si ya interactuaste con el usuario.  \n- Cuando el usuario escriba la palabra **\"humano\"**, ejecuta la tool **Humano**.\n- Hoy es {{ $now.toFormat(\"dd-MM-yyyy HH:mm:ss ZZ\") }}  Zona Horaria: America/Caracas (UTC-4)\n- Responde con un máximo de **400 caracteres**.  \n- Verifica tu memoria para mantener la continuidad del tema.\n- Cuando el usuario quiera agendar una cita ejecuta la tool **Agenda**.\n- Para agendar una cita debes siempre consultar {{ $now.toFormat(\"dd-MM-yyyy HH:mm:ss ZZ\") }} para que puedas establecer la cita en la fecha adecuada siempre.\n\n---\n\n## 🎯 Tareas Disponibles\n- **crear_evento** → cuando el usuario quiere **agendar una cita nueva**.  \n- **reprogramar_evento** → cuando quiere **cambiar la fecha o la hora** de una cita existente.  \n- **eliminar_evento** → cuando quiere **cancelar una cita existente**.  \n- **consultar_evento** → cuando quiere **saber cuándo tiene una cita**.  \n\n---\n\n## 💬 Ejemplos de Intenciones\n- “Agenda una reunión con Laura mañana a las 4” → `crear_evento` para el dia siguiente del dia actual.  \n- “Pasemos la cita del lunes para el miércoles” → `reprogramar_evento`  \n- “Cancela la reunión de hoy” → `eliminar_evento`  \n- “¿Qué tengo esta semana?” → `consultar_evento`  \n\n---\n\n## 🛠️ Herramientas según la tarea\n- **get_events_calendar** → lista eventos  \n- **crear_evento** → agendar cita  \n- **reprogramar_evento** → reprogramar cita  \n- **eliminar_evento** → cancelar cita  \n- **consultar_evento** → consultar citas  "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-272,-160],"id":"083a7cab-20f6-4868-9c2d-c1379a39f2f5","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-480,-144],"id":"171fd7b1-aa38-41db-8b3d-3ab291dfdfd0","name":"When chat message received","webhookId":"685d94aa-ae0e-4aab-96d6-487e4a903b81"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-288,64],"id":"b5f18bec-5fb7-479c-8612-08af1359a861","name":"Simple Memory"},{"parameters":{"calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-64,64],"id":"d954b3e2-67c0-459b-93e9-c5fd1d95cf58","name":"Agendar","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"timeMin":"={{ $fromAI('Start_Time', ``, 'string') }}-04:00","timeMax":"={{ $fromAI('End_Time', ``, 'string') }}-04:00","options":{"outputFormat":"availability","timezone":{"__rl":true,"value":"America/Caracas","mode":"list","cachedResultName":"America/Caracas"}}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[592,352],"id":"a4ada2fb-b59d-4816-a9d7-1b85f0919317","name":"Disponibilidad de Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Borrar evento descrito por el usuario.`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[272,96],"id":"66ea3d80-9187-4b1e-960a-49fb4974bea0","name":"Eliminar Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"operation":"get","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{"timeZone":{"__rl":true,"value":"America/Caracas","mode":"list","cachedResultName":"America/Caracas"}}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[80,64],"id":"6b04b804-c716-481b-9da7-6f706bec72dc","name":"Get Events Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":false,"additionalFields":{"description":"={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}","summary":"={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[272,320],"id":"c23461a5-565e-4c54-86ff-1c9ae1e2b987","name":"CreateEvent","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","useDefaultReminders":false,"updateFields":{"end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[432,352],"id":"89175a93-17cf-4e10-9a7a-ab8515ee3d4a","name":"UpdateEvent","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Agendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get Events Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Eliminar Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"46339ffd-3aae-4950-8dee-6350c18263c4","triggerCount":2,"shared":[{"createdAt":"2025-08-23T18:16:05.613Z","updatedAt":"2025-08-23T18:16:05.613Z","role":"workflow:owner","workflowId":"ZbZTpobQiSZ7kDye","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}