odoo-2.0-4RywEnYeR65vK8zU.json
{"createdAt":"2025-07-15T13:38:45.080Z","updatedAt":"2025-10-02T13:16:08.559Z","id":"4RywEnYeR65vK8zU","name":"Odoo 2.0","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.body.convesation }}","hasOutputParser":true,"options":{"systemMessage":"=Eres un asistente y tu nombre es Maty"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[592,-608],"id":"a5814cb5-ffeb-4cec-9504-825a609b5fa3","name":"AI Agent"},{"parameters":{"respondWith":"json","responseBody":"={ \"response\": \"{{ $node['Code'].json.response }}\" }","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1216,-608],"id":"88942ed9-9b97-49ab-a7a0-8560a7f9b31e","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[752,-384],"id":"89a1725c-30c6-4901-8e74-0b35447c0a2d","name":"Simple Memory"},{"parameters":{"jsCode":"const items = [];\nfor (const item of $input.all()) { // Itera sobre cada ítem de entrada al nodo Code\n  let aiResponseText = \"Lo siento, hubo un error interno (no se pudo acceder a la respuesta de la IA).\"; // Mensaje de fallback\n  \n  try {\n      let rawText = null;\n\n      // *** ACCESO SIMPLIFICADO Y DIRECTO A LA SALIDA DEL AI AGENT ***\n      // Asume que la salida del AI Agent es el 'item' que llega directamente a este nodo 'Code'.\n      // Intentar obtener el texto de la IA buscando en item.json.output o item.json.text\n      if (item.json) { // Asegurarse de que el item tenga una propiedad 'json'\n          if (typeof item.json.output === 'string') {\n              rawText = item.json.output;\n          } else if (typeof item.json.text === 'string') { \n              rawText = item.json.text;\n          }\n      }\n\n      // Si rawText sigue siendo null aquí, es porque no se encontró en item.json.\n      // En este caso, el AI Agent no está proporcionando su output como item.json.output/text.\n      // Esta es la rama que toma si el AI Agent no es el nodo inmediatamente anterior, o si su output no es el esperado.\n      if (!rawText) {\n          // Intentar obtenerlo a través de $node.getNode() como último recurso,\n          // aunque el error \"Referenced node doesn't exist\" sugiere que esto puede fallar.\n          try {\n              const aiAgentNode = $node.getNode('AI Agent'); \n              if (aiAgentNode && aiAgentNode.json) {\n                  if (typeof aiAgentNode.json.output === 'string') {\n                      rawText = aiAgentNode.json.output;\n                  } else if (typeof aiAgentNode.json.text === 'string') {\n                      rawText = aiAgentNode.json.text;\n                  }\n              } else if (aiAgentNode && typeof aiAgentNode.output === 'string') { // Para casos donde el output no está en .json\n                   rawText = aiAgentNode.output;\n              } else if (aiAgentNode && typeof aiAgentNode.text === 'string') { // Para casos donde el output no está en .json\n                   rawText = aiAgentNode.text;\n              }\n          } catch (getNodeError) {\n              console.warn(\"Fallo al obtener AI Agent via $node.getNode():\", getNodeError.message || getNodeError);\n          }\n      }\n\n\n      if (rawText) {\n          // Limpieza de barras invertidas (del problema anterior de \\\"asistente\\\")\n      \n\n          // Limpieza de caracteres de control ilegales para JSON\n           //cleanedText = rawText.replace(/[\\u0000-\\u0008\\u000B\\u000C\\u000E-\\u001F\\u007F-\\u009F]/g, ''); \n          \n          // Eliminación AÚN MÁS AGRESIVA de saltos de línea y espacios especiales (causa de truncamiento)\n         let cleanedText = rawText.replace(/[\\n\\r\\t\\f\\v\\u0085\\u2028\\u2029\\u00A0\\u1680\\u2000-\\u200A\\u202F\\u205F\\u3000\\\"\"]+/g, ' '); \n          \n          // Normalizar espacios y eliminar espacios al inicio/final\n         // cleanedText = cleanedText.replace(/\\s+/g, ' ').trim(); \n\n          // Opcional: Eliminar comillas dobles al inicio y al final si la IA las pone literalmente.\n          if (cleanedText.startsWith('\"') && cleanedText.endsWith('\"')) {\n              cleanedText = cleanedText.substring(1, cleanedText.length - 1);\n          }\n\n          aiResponseText = cleanedText;\n          \n      } else {\n          // Este warning se activará si rawText sigue siendo null después de todos los intentos\n          console.warn(\"No se pudo obtener una respuesta de texto válida del AI Agent (valor nulo o no string en ningún formato esperado). Item:\", item);\n          aiResponseText = \"La respuesta de la IA no fue válida (formato inesperado de la IA).\";\n      }\n      \n  } catch (e) {\n      // Este catch capturará si hay un error inesperado fuera de las comprobaciones de acceso\n      console.error(\"Error inesperado en el nodo Code (posible error de JavaScript en el código):\", e);\n      aiResponseText = `ERROR EN CHATBOT (n8n): ${e.message || e}`; \n  }\n  \n  const responseBody = {\n    response: aiResponseText\n  };\n\n  items.push({ json: responseBody });\n}\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,-608],"id":"0accdf8a-0d75-463c-a817-a37cc04622bc","name":"Code"},{"parameters":{"httpMethod":"POST","path":"fff5809a-2905-43d3-a7ca-1b931a40a23f","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-784,-688],"id":"4f93acf7-387e-43c2-8594-32d2f0297d16","name":"Webhook","webhookId":"fff5809a-2905-43d3-a7ca-1b931a40a23f"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[624,-384],"id":"e9b5b86d-b034-405e-bb77-ab0f1b245342","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"r8djHEeAWWI0Jv49","name":"OpenAi account"}}},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-896,-1024],"id":"d499b1da-507c-4fd6-adda-e4e9e345af70","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"f32432c6-c20c-4d45-a14b-96b41ad9bbed","name":"body.convesation","value":"={{ $json.body.audio.data.replace(/^data:audio\\/webm;base64,/, '') }}","type":"string"},{"id":"a591bed2-7a0c-4928-834b-c0f77b54e4d7","name":"body.audio.mimeType","value":"={{ $json.body.audio.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,-512],"id":"410db2a1-63fa-4eb4-9dcf-89a6d5ab888d","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"63f7af61-5c2b-4418-85e7-ea6864916750","name":"body.sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"25e9d219-2181-4416-b3bc-54bee3adb3fb","name":"body.convesation","value":"={{ $json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,-784],"id":"7d4e3550-fd7e-4a56-b06a-20d0d7466b59","name":"message text"},{"parameters":{"assignments":{"assignments":[{"id":"63f7af61-5c2b-4418-85e7-ea6864916750","name":"body.sessionId","value":"={{ $('Webhook').item.json.body.sessionId }}","type":"string"},{"id":"25e9d219-2181-4416-b3bc-54bee3adb3fb","name":"body.convesation","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,-512],"id":"80140cbe-ed58-4161-98be-10f09a69a294","name":"message voice"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.message  &&  !$json.body.file }}","rightValue":"={{ $json.body.message }}","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"61cb5103-05ca-4a6e-9d35-30f029cf8e9f"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e79da46-c72b-4642-adac-885769fa142e","leftValue":"={{ $json.body.audio.data }}","rightValue":"=","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f1f80ad-507f-4272-b67e-187628540554","leftValue":"={{ $json.body.message }}{{ $json.body.file }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"adjunto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-544,-528],"id":"2c01ceb4-a47c-4877-9d5b-43fb8dd05a47","name":"Switch1"},{"parameters":{"operation":"toBinary","sourceProperty":"body.convesation","options":{"mimeType":"={{ $json.body.audio.mimeType }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-80,-512],"id":"202bf1ff-9d4d-4d99-aade-507d710fcecf","name":"Convert to File"},{"parameters":{"resource":"speech","operation":"speechToText","additionalOptions":{"languageCode":"es"},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[144,-512],"id":"7c3d88e2-dd0f-4e17-8014-a83b6f9e4ae4","name":"Transcribe audio or video","credentials":{"elevenLabsApi":{"id":"dgWaH5I83aB0PHak","name":"ElevenLabs account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f32432c6-c20c-4d45-a14b-96b41ad9bbed","name":"body.convesation","value":"={{ $json.body.message && $json.body.file.data.replace(/^data:application\\/json;base64,/, '') }} }}","type":"string"},{"id":"a591bed2-7a0c-4928-834b-c0f77b54e4d7","name":"body.audio.mimeType","value":"={{ $json.body.file.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,-304],"id":"13c44e77-20b1-442b-9890-794cea7be0ae","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"body.convesation","options":{"mimeType":"={{ $json.body.audio.mimeType }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-80,-288],"id":"5f330f20-de16-4117-9e6d-f4366a76a746","name":"Convert to File1"}],"connections":{"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Transcribe a recording":{"main":[[]]},"message text":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"message voice":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"message text","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe audio or video","type":"main","index":0}]]},"Transcribe audio or video":{"main":[[{"node":"message voice","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"49189d50-e0b4-44e1-8fe6-03c1c616f2bb","triggerCount":1,"shared":[{"createdAt":"2025-07-15T13:38:45.080Z","updatedAt":"2025-07-15T13:38:45.080Z","role":"workflow:owner","workflowId":"4RywEnYeR65vK8zU","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}