prueba_citas_telegram-WCBqyzG6t8ea5Skl.json
{"createdAt":"2025-08-18T21:21:55.305Z","updatedAt":"2025-08-18T21:21:55.305Z","id":"WCBqyzG6t8ea5Skl","name":"Prueba_citas_telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"PUT","path":"7730f9b6-ed90-4c97-ae16-49af901f3a2d","options":{}},"name":"Telegram Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"id":"12570979-42ae-4e9b-a5b0-b8fbbf70bc07","webhookId":"7730f9b6-ed90-4c97-ae16-49af901f3a2d"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.text }}","operation":"contains","value2":"agendar"}]}},"name":"IF Agendar Cita","type":"n8n-nodes-base.if","typeVersion":1,"position":[528,160],"id":"8880c259-6f60-4c54-b049-da2382516c58"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"hola","additionalFields":{}},"name":"Responder Bienvenida","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[256,192],"id":"9d9059db-7684-4a41-819e-233a0aa6b752","webhookId":"a0794117-8a37-426e-81d3-577ffb8e0bf3"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Por favor, ingresa los siguientes datos: Nombre, Fecha (DD-MM-YYYY), Hora (HH:MM), Motivo.","additionalFields":{}},"name":"Solicitar Información","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[736,0],"id":"8916bd32-18d2-4fa4-9e56-87089abfda9b","webhookId":"3f74f410-033d-4e40-8a4b-379aa37e39a4"},{"parameters":{"authentication":"oAuth2","operation":"append","sheetId":"1kgfKmb52VbK1CB0I4cDSnQUQCZJQ6xofY-NbWfnwfuw","options":{}},"name":"Guardar Cita en Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[944,0],"id":"1472c6cb-a516-47f7-b67b-5f6e7ed9321b"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Tu cita ha sido agendada con éxito. ¡Gracias!","additionalFields":{}},"name":"Confirmar Cita","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1136,0],"id":"821c355b-57cc-43d8-8240-4f25270a6b25","webhookId":"7fac9c1c-7a8d-4d4b-905b-450d569b0a64"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"No entendí tu solicitud. Por favor, intenta de nuevo.","additionalFields":{}},"name":"Responder Error","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[736,304],"id":"efed0e1c-78b8-4fce-b7f8-02776e5fbd6c","webhookId":"77317a55-90c6-4af1-8481-870e8835b5e6"}],"connections":{"IF Agendar Cita":{"main":[[{"node":"Solicitar Información","type":"main","index":0}],[{"node":"Responder Error","type":"main","index":0}]]},"Solicitar Información":{"main":[[{"node":"Guardar Cita en Google Sheets","type":"main","index":0}]]},"Guardar Cita en Google Sheets":{"main":[[{"node":"Confirmar Cita","type":"main","index":0}]]},"Responder Bienvenida":{"main":[[{"node":"IF Agendar Cita","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"796bf71f-434c-4368-8c66-c7726adf4bf5","triggerCount":0,"shared":[{"createdAt":"2025-08-18T21:21:55.305Z","updatedAt":"2025-08-18T21:21:55.305Z","role":"workflow:owner","workflowId":"WCBqyzG6t8ea5Skl","projectId":"JP23SHf2OXqUP0Za"}],"tags":[]}