pruebas-Eonl3fucSisdHKA9.json
{"createdAt":"2025-08-21T17:29:37.849Z","updatedAt":"2025-10-04T01:59:29.641Z","id":"Eonl3fucSisdHKA9","name":"pruebas","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2208,-208],"id":"3bff6296-463f-4464-9a62-3b1ef09a881e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"r8djHEeAWWI0Jv49","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Nombre del usuario al que te diriges: {{ $('Webhook').item.json.body.data.pushName }}\n\nContenido del mensaje del usuario: {{ $json.concat_message }}","options":{"systemMessage":"=## 📌 Descripción General\nEres **Ana**, un asistente virtual amigable y cordial.  \nTu función es responder únicamente preguntas e inquietudes en un tono **humano, cálido, respetuoso y claro**.  \nSiempre usa un lenguaje **profesional y accesible**.  \n\n- Al iniciar una nueva conversación: **preséntate con tu nombre**.  \n- Valida el **ID del chat** para evitar presentarte de nuevo si ya interactuaste con el usuario.  \n- Cuando el usuario escriba la palabra **\"humano\"**, ejecuta la tool **Humano**.\n- Hoy es {{ $now }} Zona Horaria: America/Caracas (UTC-4)\n- Responde con un máximo de **400 caracteres**.  \n- Verifica tu memoria para mantener la continuidad del tema.  \n\n---\n\n## 🎯 Tareas Disponibles\n- **crear_evento** → cuando el usuario quiere **agendar una cita nueva**.  \n- **reprogramar_evento** → cuando quiere **cambiar la fecha o la hora** de una cita existente.  \n- **eliminar_evento** → cuando quiere **cancelar una cita existente**.  \n- **consultar_evento** → cuando quiere **saber cuándo tiene una cita**.  \n\n---\n\n## 💬 Ejemplos de Intenciones\n- “Agenda una reunión con Laura mañana a las 4” → `crear_evento`  \n- “Pasemos la cita del lunes para el miércoles” → `reprogramar_evento`  \n- “Cancela la reunión de hoy” → `eliminar_evento`  \n- “¿Qué tengo esta semana?” → `consultar_evento`  \n\n---\n\n## 🛠️ Herramientas según la tarea\n- **crear_evento** → agendar cita  \n- **reprogramar_evento** → reprogramar cita  \n- **eliminar_evento** → cancelar cita  \n- **consultar_evento** → consultar citas  "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[2256,-480],"id":"639ef850-baa5-4490-a712-ed0809d6a9c6","name":"AI Agent"},{"parameters":{"method":"POST","url":"=https://evolution.dployxperts.com/message/sendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"odnDxZwWPEwo1vjKStths8X7MqNMyIa1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('data message extraction').item.json.session_id }}\n"},{"name":"text","value":"={{ $json.output }}   "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1696,624],"id":"fb2c322b-5153-431b-8dd0-bc249f5b1a7c","name":"HTTP Request"},{"parameters":{"operation":"toBinary","sourceProperty":"voice_message","options":{"mimeType":"=audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[352,656],"id":"80249353-752c-4df1-8f0b-f8914e59f24b","name":"Convertir a audio/ogg1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('final_message').item.json.session_id }}","tableName":"chat_histories","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2352,-208],"id":"0498d410-4509-49a7-bfc4-9793ebc71e3b","name":"Memory1","credentials":{"postgres":{"id":"2rWXL8WYRyYZbH6r","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4da0c911-2775-4c65-b050-bbe819fa4db4","name":"sender","value":"={{ $('Verificar quien Escribe').item.json.body.data.key.senderLid }}","type":"string"},{"id":"43fdfc41-155a-4318-b06b-5089f5377513","name":"message_type","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"4ef29d6d-9a23-4aab-b777-ac4f2d9861cb","name":"text_message","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"81ae8ddc-f3d4-4f7b-b5d6-4bfebd02adbd","name":"voice_message","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"5a9a7ae9-ce91-4634-ad5c-fb0d446aabac","name":"session_id","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}","type":"string"},{"id":"cf8e5bf6-5c0e-4308-9ed4-a47fffadbb36","name":"date_time","value":"={{ $('Webhook').item.json.body.date_time }}","type":"string"},{"id":"2acddf8f-dca4-410f-b444-5e8d922a9fcf","name":"name","value":"={{ $('Webhook').item.json.body.data.pushName }}\n\n","type":"string"},{"id":"48766a3a-0864-4a7f-baa7-d56f14a60ec8","name":"id","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"bed0dc41-5873-49f6-b6f7-d8f7860b245b","name":"time","value":"={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s').toLocal() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,544],"id":"3c358a7e-ff41-43be-8094-0a3b67fa6cd5","name":"data message extraction"},{"parameters":{"assignments":{"assignments":[{"id":"a386845c-a9a6-4cad-b816-5e8fd5a49779","name":"final_message_voice","value":"={{ $json.text }}","type":"string"},{"id":"fa5968d2-69af-4068-b921-05e39a112aa9","name":"session_id","value":"={{ $('data message extraction').item.json.session_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,656],"id":"3920b058-4f5e-47fd-90cc-bb282a0bdf50","name":"final_message_voice"},{"parameters":{"assignments":{"assignments":[{"id":"5231578b-a0b5-4dfc-962c-35efbc97ce15","name":"final_message_text","value":"={{ $json.text_message }}","type":"string"},{"id":"dab6d3ca-8bf8-4c25-9c08-6c0fc5f9ebcf","name":"session_id","value":"={{ $('data message extraction').item.json.session_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,416],"id":"56bb23f3-72b3-49e5-aa08-a2fe300d40e5","name":"final_message_text"},{"parameters":{"assignments":{"assignments":[{"id":"5231578b-a0b5-4dfc-962c-35efbc97ce15","name":"final_message","value":"={{ $json.final_message_text }} {{ $json.final_message_voice }}","type":"string"},{"id":"dab6d3ca-8bf8-4c25-9c08-6c0fc5f9ebcf","name":"session_id","value":"={{ $('data message extraction').item.json.session_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,-256],"id":"0fe0073c-81d3-4d33-a6af-d1bb7b54fc29","name":"final_message"},{"parameters":{"assignments":{"assignments":[{"id":"fdaaa5c7-a1a8-4f0f-b775-dbb1df5f754e","name":"concat_message","value":"={{ $json.message.map(m => JSON.parse(m).message).join('\\n') }}","type":"string"},{"id":"dbb5014c-ccc9-4aed-bdee-a2e90092c775","name":"session_id","value":"={{ $('data message extraction').item.json.sender }}","type":"string"},{"id":"cb83d288-5aac-4b3a-915e-b843da9b4ad1","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,-480],"id":"3383fc80-7d8b-460d-9091-af45927848c0","name":"Un_solo_message"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a6a2789-9ff6-4ab3-95da-65c7f99af9ef","leftValue":"={{ $json.message_type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":"={{ false }}","options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[336,432],"id":"d1c972a2-cf55-4539-b535-50a4c8b8d529","name":"If"},{"parameters":{"sseEndpoint":"https://n8n.dployxperts.com/mcp/336d6b12-6aaf-4ebc-bd5b-c682313cd94f/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[3872,672],"id":"306f09cc-e13b-472d-b5bb-6adc7311179f","name":"MCP Calendario","disabled":true},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[576,656],"id":"89ed421c-2f30-41df-bb93-0d0b81320517","name":"Transcribir Audio","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-160,-576],"id":"5b9e55ef-fb96-4abb-8f0f-89454e346b17","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"064bc845-5c7d-4c02-9d20-57d780823da9","leftValue":"={{ $json['bot-state'] }}","rightValue":"blocked-bot","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-384,-208],"id":"302006ef-d628-4f15-92e3-c4e41c06e42b","name":"If3"},{"parameters":{"operation":"delete","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-384,-576],"id":"43c6c9bd-c27e-4080-ad48-46e608c94174","name":"Activar Bot","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"operation":"set","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","value":"blocked-bot","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-384,-400],"id":"2b9d7113-0173-48c3-a341-a338d25ea57f","name":"Bloquea al Agente","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b226403-e859-4d73-b14a-5cdc22e85e3c","leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":".","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-576,-496],"id":"ad63cf34-bb06-4461-98be-abb5ecad2da6","name":"Verificar palabra Clave"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8b64fab-0278-4873-94b1-665efa5c4f76","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,-336],"id":"6dc5c0be-d189-40f3-808b-74cc4732b52f","name":"Verificar quien Escribe"},{"parameters":{"operation":"get","propertyName":"bot-state","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-576,-208],"id":"a2f71279-3a26-43b4-a55d-9b108cc2f6ea","name":"verificar bloqueo","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"httpMethod":"POST","path":"7a2c2a2a-8f5d-4a77-b916-5fa8d2174815","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,576],"id":"823bb02a-affc-4bff-a371-0963f8a1582e","name":"Webhook","webhookId":"7a2c2a2a-8f5d-4a77-b916-5fa8d2174815"},{"parameters":{"descriptionType":"manual","toolDescription":"Cuando el usuario escriba la palabra \"humano\" ejecuta esta tool","operation":"set","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","value":"blocked-bot","expire":true,"ttl":300},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[2496,-208],"id":"543a423f-b20b-47a1-80cb-33529b000e5d","name":"Humano","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"operation":"push","list":"={{ $('data message extraction').item.json.session_id }}","messageData":"={{ JSON.stringify(\n{\n  'message': $json.final_message,\n  'id': $('data message extraction').item.json.id,\n  'time': $('data message extraction').item.json.time\n}\n) \n}}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1184,-480],"id":"439af4c4-d66e-4697-82f0-7345ebe53502","name":"Buffer","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('final_message').item.json.session_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1392,-480],"id":"259155d2-570c-45f7-9663-214faf01cb2d","name":"Get_buffer_data","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1776,-640],"id":"a13b4004-874c-4ebc-b517-a7ee238016a9","name":"No Operation1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.message.last()).id  }}","rightValue":"={{ $('data message extraction').item.json.id }}","operator":{"type":"string","operation":"notEquals"},"id":"98d1a5e3-385e-4584-b205-87efed40d501"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"953bdd59-05aa-426c-890b-fb5825803985","leftValue":"={{ JSON.parse($json.message.last()).time }}","rightValue":"={{ $now.minus({ seconds: 7 }).toLocal() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuar"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1568,-496],"id":"cd4c88cb-3335-401e-a8c1-b3b60954c59c","name":"Switch"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1568,-224],"id":"020da068-3b26-4211-87e6-ed0da19d2450","name":"Wait2","webhookId":"56271429-b6c3-493a-8bfe-f3a2be62c7a3"},{"parameters":{"operation":"delete","key":"={{ $('data message extraction').item.json.session_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1776,-480],"id":"30ea9ea4-1726-4d76-96e5-b66ab300cd71","name":"Delete_buffer1","credentials":{"redis":{"id":"HOpDdDxz9vXXBHie","name":"Redis Estandar"}}},{"parameters":{"path":"336d6b12-6aaf-4ebc-bd5b-c682313cd94f"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[2224,464],"id":"403ef844-ca5a-4cbc-8adc-7526ce4f3dd6","name":"MCP Server Calendario","webhookId":"336d6b12-6aaf-4ebc-bd5b-c682313cd94f","disabled":true},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"josemafe7@gmail.com","mode":"list","cachedResultName":"josemafe7@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"attendeesUi":{"values":{"mode":"replace","attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"]}},"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2320,688],"id":"7c598add-a899-438d-82a3-1472d6968dd3","name":"Actualizar Evento","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}},"disabled":true},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"josemafe7@gmail.com","mode":"list","cachedResultName":"josemafe7@gmail.com"},"limit":10,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{"timeZone":{"__rl":true,"value":"Europe/Madrid","mode":"list","cachedResultName":"Europe/Madrid"}}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2176,672],"id":"a7448804-ae8f-4609-aa9b-fd4b529ff291","name":"Obtener Eventos","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}},"disabled":true},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"josemafe7@gmail.com","mode":"list","cachedResultName":"josemafe7@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2048,672],"id":"f1e5904d-45d4-4ebc-a19f-ece2d43ca7c3","name":"Eliminar Evento","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}},"disabled":true},{"parameters":{"descriptionType":"manual","toolDescription":"Usa esta herramienta cuando el usurio quiera crear una nueva cita.","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Fecha y hora de inicio de la reunión.`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Fecha y hora de fin de la reunión.`, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","additionalFields":{"attendees":[],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2784,-128],"id":"b51b2be5-d471-4cb3-82ad-c7f579abda8d","name":"Agendar_cita","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Usa esta herramienta cuando el usuario quiera mover una cita a otro dia u hora.","operation":"update","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2928,-128],"id":"881b9ec5-b64c-4ac9-89dc-0bd27b0c2b06","name":"reprogramar_citas","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Usa esta herramienta si el usuario quiere eliminar una cita existente.","operation":"delete","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"eventId":"={{ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[3072,-128],"id":"888c060e-e72d-4c65-b38e-532f9dc3ecf9","name":"Cancelar_cita","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Usa esta herramienta si el usurio quiere saber cuando tiene una cita.","operation":"getAll","calendar":{"__rl":true,"value":"alvaradojuanm@gmail.com","mode":"list","cachedResultName":"juan alvarado"},"limit":10,"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2640,-128],"id":"2304f21c-db77-4801-aa1d-b4acc1a54b04","name":"consultar_citas","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const items = [];\nfor (const item of $input.all()) { // Itera sobre cada ítem de entrada al nodo Code\n  let aiResponseText = \"Lo siento, hubo un error interno (no se pudo acceder a la respuesta de la IA).\"; // Mensaje de fallback\n  \n  try {\n      let rawText = null;\n\n      // *** ACCESO SIMPLIFICADO Y DIRECTO A LA SALIDA DEL AI AGENT ***\n      // Asume que la salida del AI Agent es el 'item' que llega directamente a este nodo 'Code'.\n      // Intentar obtener el texto de la IA buscando en item.json.output o item.json.text\n      if (item.json) { // Asegurarse de que el item tenga una propiedad 'json'\n          if (typeof item.json.output === 'string') {\n              rawText = item.json.output;\n          } else if (typeof item.json.text === 'string') { \n              rawText = item.json.text;\n          }\n      }\n\n      // Si rawText sigue siendo null aquí, es porque no se encontró en item.json.\n      // En este caso, el AI Agent no está proporcionando su output como item.json.output/text.\n      // Esta es la rama que toma si el AI Agent no es el nodo inmediatamente anterior, o si su output no es el esperado.\n      if (!rawText) {\n          // Intentar obtenerlo a través de $node.getNode() como último recurso,\n          // aunque el error \"Referenced node doesn't exist\" sugiere que esto puede fallar.\n          try {\n              const aiAgentNode = $node.getNode('AI Agent'); \n              if (aiAgentNode && aiAgentNode.json) {\n                  if (typeof aiAgentNode.json.output === 'string') {\n                      rawText = aiAgentNode.json.output;\n                  } else if (typeof aiAgentNode.json.text === 'string') {\n                      rawText = aiAgentNode.json.text;\n                  }\n              } else if (aiAgentNode && typeof aiAgentNode.output === 'string') { // Para casos donde el output no está en .json\n                   rawText = aiAgentNode.output;\n              } else if (aiAgentNode && typeof aiAgentNode.text === 'string') { // Para casos donde el output no está en .json\n                   rawText = aiAgentNode.text;\n              }\n          } catch (getNodeError) {\n              console.warn(\"Fallo al obtener AI Agent via $node.getNode():\", getNodeError.message || getNodeError);\n          }\n      }\n\n\n      if (rawText) {\n          // Limpieza de barras invertidas (del problema anterior de \\\"asistente\\\")\n      \n\n          // Limpieza de caracteres de control ilegales para JSON\n           //cleanedText = rawText.replace(/[\\u0000-\\u0008\\u000B\\u000C\\u000E-\\u001F\\u007F-\\u009F]/g, ''); \n          \n          // Eliminación AÚN MÁS AGRESIVA de saltos de línea y espacios especiales (causa de truncamiento)\n         let cleanedText = rawText.replace(/[\\n\\r\\t\\f\\v\\u0085\\u2028\\u2029\\u00A0\\u1680\\u2000-\\u200A\\u202F\\u205F\\u3000\\\"\"]+/g, ' '); \n          \n          // Normalizar espacios y eliminar espacios al inicio/final\n         // cleanedText = cleanedText.replace(/\\s+/g, ' ').trim(); \n\n          // Opcional: Eliminar comillas dobles al inicio y al final si la IA las pone literalmente.\n          if (cleanedText.startsWith('\"') && cleanedText.endsWith('\"')) {\n              cleanedText = cleanedText.substring(1, cleanedText.length - 1);\n          }\n\n          aiResponseText = cleanedText;\n          \n      } else {\n          // Este warning se activará si rawText sigue siendo null después de todos los intentos\n          console.warn(\"No se pudo obtener una respuesta de texto válida del AI Agent (valor nulo o no string en ningún formato esperado). Item:\", item);\n          aiResponseText = \"La respuesta de la IA no fue válida (formato inesperado de la IA).\";\n      }\n      \n  } catch (e) {\n      // Este catch capturará si hay un error inesperado fuera de las comprobaciones de acceso\n      console.error(\"Error inesperado en el nodo Code (posible error de JavaScript en el código):\", e);\n      aiResponseText = `ERROR EN CHATBOT (n8n): ${e.message || e}`; \n  }\n  \n  const responseBody = {\n    response: aiResponseText\n  };\n\n  items.push({ json: responseBody });\n}\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2656,-480],"id":"0fb89c35-bb24-46b2-b9b0-59b1b6da5406","name":"Code"},{"parameters":{"respondWith":"json","responseBody":"={ \"response\": \"{{ $node['Code1'].json.response }}\" }","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2912,-480],"id":"13125a2e-7163-42b9-9a2b-78dbf7ac000c","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1296,624],"id":"310a22c8-3d6a-46e9-b41c-c32ad1ada42c","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1168,624],"id":"e93a4fe2-ef56-44e7-a8b4-4dd8213bf791","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"r8djHEeAWWI0Jv49","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f32432c6-c20c-4d45-a14b-96b41ad9bbed","name":"body.convesation","value":"={{ $json.body.audio.data.replace(/^data:audio\\/webm;base64,/, '') }}","type":"string"},{"id":"a591bed2-7a0c-4928-834b-c0f77b54e4d7","name":"body.audio.mimeType","value":"={{ $json.body.audio.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,-224],"id":"866c2b80-5587-4b75-869c-3ee014c61f00","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"63f7af61-5c2b-4418-85e7-ea6864916750","name":"body.sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"25e9d219-2181-4416-b3bc-54bee3adb3fb","name":"body.convesation","value":"={{ $json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,-496],"id":"a7c15c0c-0ccb-4168-9f9a-8d25f064c256","name":"message text"},{"parameters":{"assignments":{"assignments":[{"id":"63f7af61-5c2b-4418-85e7-ea6864916750","name":"body.sessionId","value":"={{ $('Webhook1').item.json.body.sessionId }}","type":"string"},{"id":"25e9d219-2181-4416-b3bc-54bee3adb3fb","name":"body.convesation","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,-224],"id":"ca82937a-0915-495c-a183-e14c6b687024","name":"message voice"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.message  &&  !$json.body.file }}","rightValue":"={{ $json.body.message }}","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"61cb5103-05ca-4a6e-9d35-30f029cf8e9f"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e79da46-c72b-4642-adac-885769fa142e","leftValue":"={{ $json.body.audio.data }}","rightValue":"=","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f1f80ad-507f-4272-b67e-187628540554","leftValue":"={{ $json.body.message }}{{ $json.body.file }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"adjunto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-112,-240],"id":"0eceba1a-a1d9-4973-8af0-92d9de149526","name":"Switch1"},{"parameters":{"operation":"toBinary","sourceProperty":"body.convesation","options":{"mimeType":"={{ $json.body.audio.mimeType }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[352,-224],"id":"04cbcda4-0ffe-448d-84b9-ad4d5dbb304d","name":"Convert to File"},{"parameters":{"resource":"speech","operation":"speechToText","additionalOptions":{"languageCode":"es"},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[576,-224],"id":"d8e8b940-c075-46b2-b003-76ee9778b0b3","name":"Transcribe audio or video","credentials":{"elevenLabsApi":{"id":"dgWaH5I83aB0PHak","name":"ElevenLabs account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f32432c6-c20c-4d45-a14b-96b41ad9bbed","name":"body.convesation","value":"={{ $json.body.message && $json.body.file.data.replace(/^data:application\\/json;base64,/, '') }} }}","type":"string"},{"id":"a591bed2-7a0c-4928-834b-c0f77b54e4d7","name":"body.audio.mimeType","value":"={{ $json.body.file.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,-16],"id":"314c8c8d-d0d3-4393-8a6a-bf35312b9dde","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"body.convesation","options":{"mimeType":"={{ $json.body.audio.mimeType }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[352,0],"id":"9ca3f235-9b47-49cf-a5ea-0b3e4cf63c92","name":"Convert to File1"},{"parameters":{"promptType":"define","text":"={{ $json.body.convesation }}","hasOutputParser":true,"options":{"systemMessage":"=Eres un asistente y tu nombre es Maty"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1136,400],"id":"63e82d4d-8661-425e-a678-df4e8ed659a2","name":"AI Agent1"},{"parameters":{"jsCode":"const items = [];\nfor (const item of $input.all()) { // Itera sobre cada ítem de entrada al nodo Code\n  let aiResponseText = \"Lo siento, hubo un error interno (no se pudo acceder a la respuesta de la IA).\"; // Mensaje de fallback\n  \n  try {\n      let rawText = null;\n\n      // *** ACCESO SIMPLIFICADO Y DIRECTO A LA SALIDA DEL AI AGENT ***\n      // Asume que la salida del AI Agent es el 'item' que llega directamente a este nodo 'Code'.\n      // Intentar obtener el texto de la IA buscando en item.json.output o item.json.text\n      if (item.json) { // Asegurarse de que el item tenga una propiedad 'json'\n          if (typeof item.json.output === 'string') {\n              rawText = item.json.output;\n          } else if (typeof item.json.text === 'string') { \n              rawText = item.json.text;\n          }\n      }\n\n      // Si rawText sigue siendo null aquí, es porque no se encontró en item.json.\n      // En este caso, el AI Agent no está proporcionando su output como item.json.output/text.\n      // Esta es la rama que toma si el AI Agent no es el nodo inmediatamente anterior, o si su output no es el esperado.\n      if (!rawText) {\n          // Intentar obtenerlo a través de $node.getNode() como último recurso,\n          // aunque el error \"Referenced node doesn't exist\" sugiere que esto puede fallar.\n          try {\n              const aiAgentNode = $node.getNode('AI Agent'); \n              if (aiAgentNode && aiAgentNode.json) {\n                  if (typeof aiAgentNode.json.output === 'string') {\n                      rawText = aiAgentNode.json.output;\n                  } else if (typeof aiAgentNode.json.text === 'string') {\n                      rawText = aiAgentNode.json.text;\n                  }\n              } else if (aiAgentNode && typeof aiAgentNode.output === 'string') { // Para casos donde el output no está en .json\n                   rawText = aiAgentNode.output;\n              } else if (aiAgentNode && typeof aiAgentNode.text === 'string') { // Para casos donde el output no está en .json\n                   rawText = aiAgentNode.text;\n              }\n          } catch (getNodeError) {\n              console.warn(\"Fallo al obtener AI Agent via $node.getNode():\", getNodeError.message || getNodeError);\n          }\n      }\n\n\n      if (rawText) {\n          // Limpieza de barras invertidas (del problema anterior de \\\"asistente\\\")\n      \n\n          // Limpieza de caracteres de control ilegales para JSON\n           //cleanedText = rawText.replace(/[\\u0000-\\u0008\\u000B\\u000C\\u000E-\\u001F\\u007F-\\u009F]/g, ''); \n          \n          // Eliminación AÚN MÁS AGRESIVA de saltos de línea y espacios especiales (causa de truncamiento)\n         let cleanedText = rawText.replace(/[\\n\\r\\t\\f\\v\\u0085\\u2028\\u2029\\u00A0\\u1680\\u2000-\\u200A\\u202F\\u205F\\u3000\\\"\"]+/g, ' '); \n          \n          // Normalizar espacios y eliminar espacios al inicio/final\n         // cleanedText = cleanedText.replace(/\\s+/g, ' ').trim(); \n\n          // Opcional: Eliminar comillas dobles al inicio y al final si la IA las pone literalmente.\n          if (cleanedText.startsWith('\"') && cleanedText.endsWith('\"')) {\n              cleanedText = cleanedText.substring(1, cleanedText.length - 1);\n          }\n\n          aiResponseText = cleanedText;\n          \n      } else {\n          // Este warning se activará si rawText sigue siendo null después de todos los intentos\n          console.warn(\"No se pudo obtener una respuesta de texto válida del AI Agent (valor nulo o no string en ningún formato esperado). Item:\", item);\n          aiResponseText = \"La respuesta de la IA no fue válida (formato inesperado de la IA).\";\n      }\n      \n  } catch (e) {\n      // Este catch capturará si hay un error inesperado fuera de las comprobaciones de acceso\n      console.error(\"Error inesperado en el nodo Code (posible error de JavaScript en el código):\", e);\n      aiResponseText = `ERROR EN CHATBOT (n8n): ${e.message || e}`; \n  }\n  \n  const responseBody = {\n    response: aiResponseText\n  };\n\n  items.push({ json: responseBody });\n}\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,400],"id":"335bb6dc-860c-42af-9622-2d2bfdfa80b3","name":"Code1"},{"parameters":{"httpMethod":"POST","path":"fff5809a-2905-43d3-a7ca-1b931a40a23f","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-560,32],"id":"56ba747a-90ad-4e5d-ac43-4b7c8445be2e","name":"Webhook1","webhookId":"fff5809a-2905-43d3-a7ca-1b931a40a23f"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Convertir a audio/ogg1":{"main":[[{"node":"Transcribir Audio","type":"main","index":0}]]},"Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"data message extraction":{"main":[[]]},"final_message_voice":{"main":[[]]},"final_message_text":{"main":[[]]},"final_message":{"main":[[{"node":"Buffer","type":"main","index":0}]]},"Un_solo_message":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"final_message_text","type":"main","index":0}],[{"node":"Convertir a audio/ogg1","type":"main","index":0}]]},"Transcribir Audio":{"main":[[{"node":"final_message_voice","type":"main","index":0}]]},"If3":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"Bloquea al Agente":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Verificar palabra Clave":{"main":[[{"node":"Activar Bot","type":"main","index":0}],[{"node":"Bloquea al Agente","type":"main","index":0}]]},"Verificar quien Escribe":{"main":[[{"node":"Verificar palabra Clave","type":"main","index":0}],[{"node":"verificar bloqueo","type":"main","index":0}]]},"verificar bloqueo":{"main":[[{"node":"If3","type":"main","index":0}]]},"Webhook":{"main":[[]]},"Humano":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Buffer":{"main":[[{"node":"Get_buffer_data","type":"main","index":0}]]},"Get_buffer_data":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation1","type":"main","index":0}],[{"node":"Delete_buffer1","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Get_buffer_data","type":"main","index":0}]]},"Delete_buffer1":{"main":[[{"node":"Un_solo_message","type":"main","index":0}]]},"Obtener Eventos":{"ai_tool":[[{"node":"MCP Server Calendario","type":"ai_tool","index":0}]]},"Agendar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"reprogramar_citas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cancelar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_citas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"message text":{"main":[[{"node":"final_message","type":"main","index":0}]]},"message voice":{"main":[[{"node":"final_message","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"message text","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe audio or video","type":"main","index":0}]]},"Transcribe audio or video":{"main":[[{"node":"message voice","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[]]},"Webhook1":{"main":[[{"node":"Verificar quien Escribe","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d81cdb9f-797f-4c0a-8ac7-7c98ae9adfb5","triggerCount":0,"shared":[{"createdAt":"2025-08-21T17:29:37.849Z","updatedAt":"2025-08-21T17:29:37.849Z","role":"workflow:owner","workflowId":"Eonl3fucSisdHKA9","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}