telegram-E7ELp12GkfgAXljF.json
{"createdAt":"2025-06-29T14:38:16.689Z","updatedAt":"2025-07-17T03:14:04.276Z","id":"E7ELp12GkfgAXljF","name":"telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Descripcion General:\nEres un asistente personal llamado ANA, tu tarea es llamar a la herramienta adecuada en función de la consulta del usuario.\n\n\n# Solo utiliza las Herramientas unicamente:\n\"MCP Gmail\": usa esta herramienta para enviar, responder, eliminar, y obtener email.\n\"MCP Calendario\": usa esta herramienta para crear, eliminar, obtener y actualizar eventos en el calendario.\n\"MCP Contactos\": usa esta herramienta para obtener, añadir, actualizar y eliminar un contacto.\n\n# Reglas:\nSi el usuario pide enviar un email y no especifica la dirección del destinatario pero sí que te da un nombre, tienes que usar primero la herramienta \"MCP Contactos\" para obtener la dirección de correo del contacto especificado y después usar la herramienta \"MCP Gmail\" para enviar el correo. Si no existe el contacto, solicita al usuario la dirección de correo para añadirlo.\n\n## Ejemplo 1:\n\nEntrada: Envía un email a alvaradojuanm@gmail.com con el asunto \"Reunion\" y el contenido \"Estás disponible mañana a las 10 ?\".\n\nAcción: Usa la herramienta \"MCP Gmail\" para enviar el email a alvaradojuanm@gmail.com.\n\nSalida: Se ha enviado el correo a alvaradojuanm@gmail.com con el asunto \"Reunion\" y el contenido \"Estás disponible mañana a las 10 ?\".\n\n## Ejemplo 2:\n\nEntrada: Agenda una reunión con alvaradojuanm@gmail.com con el título \"Reunión\" y la descripción \"Reunión de Ventas\".\n\nAcción: Usa la herramienta \"MCP Calendario\" para crear un evento con alvaradojuanm@gmail.com.\n\nSalida: Se ha agendado una reunión con josema@gmail.com.\n\n## Ejemplo 3:\n\nEntrada: Añade el contacto Juan con el correo alvaradojuanm@gmail.com.\n\nAcción: Usa la herramienta \"MCP Contactos\" para añadir información que te de el usuario.\n\nSalida: Se ha añadido la información correctamente.\n\n# Recordatorios.\n- La fecha y hora actual es: **{{ $now }}**.  \n- Nunca te inventes información, solo selecciona la herramienta adecuada para realizar la acción."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1536,-80],"id":"30b127bb-64c2-46c2-80bc-b41d4e827b34","name":"AI Agent","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger1').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[704,48],"id":"9e2a996d-6e2c-4784-8e65-999a343f80e6","name":"Simple Memory"},{"parameters":{"sseEndpoint":"https://n8n.dployxperts.com/mcp/27dd4208-4407-4413-a270-1302d812e60e/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1232,128],"id":"f6505e92-5839-4c61-b3b4-735d63f7a498","name":"MCP Gmail","disabled":true},{"parameters":{"sseEndpoint":"https://n8n.dployxperts.com/mcp/336d6b12-6aaf-4ebc-bd5b-c682313cd94f/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[944,128],"id":"ee4d46d8-c1f5-467d-827a-ace23d3c968b","name":"MCP Calendario","disabled":true},{"parameters":{"sseEndpoint":"https://n8n.dployxperts.com/mcp/33322373-5080-4e97-b468-f0f40f6686d9/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1088,128],"id":"a43020e3-17c9-4647-9a15-9a5deb990be7","name":"MCP Contactos","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"0ef7181d-c151-4d40-a341-b0002fc82518"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16af8e01-a416-45b8-8358-30e9243ca95f","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-176,-160],"id":"e5635ef3-aadb-4aa6-859b-04ebf8c6f323","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"9cd54906-fbfa-4578-a57c-e7cc41daae92","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-80],"id":"1c49a5bb-ce13-4aad-96bd-13fe11bcf846","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[64,-288],"id":"38fc0c10-e155-40f1-89b8-45e574ec00ba","name":"Descargar Audio","webhookId":"9054ba64-7bff-4b8c-9668-15c5b1dfd944","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[272,-288],"id":"62af0daf-173c-493f-b1f5-42d002dfc499","name":"Transcribir","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1152,-224],"id":"c2ad2930-4ff8-47da-ba9c-07bccbbe6059","name":"Telegram","webhookId":"ea339aa9-3b14-4d01-b99f-3021daca9474","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-160,64],"id":"8d6647a0-a04f-4864-8324-90c8bf9b0eb4","name":"Telegram Trigger1","webhookId":"c7f168fc-7798-468a-8807-3773b81bd03a","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"path":"336d6b12-6aaf-4ebc-bd5b-c682313cd94f"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[-224,320],"id":"ea5a7bf1-4107-441e-af38-13e5349dce59","name":"MCP Server Trigger","webhookId":"336d6b12-6aaf-4ebc-bd5b-c682313cd94f","disabled":true},{"parameters":{"calendar":{"__rl":true,"value":"josemafe7@gmail.com","mode":"list","cachedResultName":"josemafe7@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Fecha y hora de inicio de la reunión.`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Fecha y hora de fin de la reunión.`, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', `Participante de la reunión`, 'string') }}"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Descripción de la reunión.`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Título de la reunión`, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-448,560],"id":"ad4e9600-0a14-4118-92a7-f229e290e1b5","name":"Crear evento","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"josemafe7@gmail.com","mode":"list","cachedResultName":"josemafe7@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-240,560],"id":"c39c3f59-3542-42f3-94f1-1bf7f2769734","name":"Eliminar Evento","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"josemafe7@gmail.com","mode":"list","cachedResultName":"josemafe7@gmail.com"},"limit":10,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{"timeZone":{"__rl":true,"value":"Europe/Madrid","mode":"list","cachedResultName":"Europe/Madrid"}}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-64,560],"id":"f9f53f1d-bdde-4905-a915-956525c92bfc","name":"Obtener Eventos","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"josemafe7@gmail.com","mode":"list","cachedResultName":"josemafe7@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"attendeesUi":{"values":{"mode":"replace","attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"]}},"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[112,560],"id":"b928c57d-5311-4536-be50-aa79010e9f4b","name":"Actualizar Evento","credentials":{"googleCalendarOAuth2Api":{"id":"lvFyNalzsogup4Bc","name":"Google Calendar account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g","mode":"list","cachedResultName":"Base de datos contactos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}","Correo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Correo', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[448,560],"id":"9e07d1e7-a65b-447d-9cb8-0e8e70940104","name":"AddContactos","credentials":{"googleSheetsOAuth2Api":{"id":"6ZsfAjFlddP24YPd","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g","mode":"list","cachedResultName":"Base de datos contactos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit#gid=0"},"startIndex":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Row_Number', ``, 'number') }}","numberToDelete":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[768,592],"id":"9b6052b9-305a-43b5-92bf-bda7ad80e447","name":"EliminarContacto","credentials":{"googleSheetsOAuth2Api":{"id":"6ZsfAjFlddP24YPd","name":"Google Sheets account"}},"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g","mode":"list","cachedResultName":"Base de datos contactos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"nombre","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"},{"lookupColumn":"email","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[288,560],"id":"8d822aeb-6f7a-4bd0-a03c-26d9a1383e10","name":"ObtenerContactos","credentials":{"googleSheetsOAuth2Api":{"id":"6ZsfAjFlddP24YPd","name":"Google Sheets account"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1s1FrNJ2zP_zAI8X6k0ZIJJxzj2nLFXA7WvoNUNQQ4qw","mode":"list","cachedResultName":"Base de datos contactos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1s1FrNJ2zP_zAI8X6k0ZIJJxzj2nLFXA7WvoNUNQQ4qw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uasrJ9h9RaygRvBcJkY8SXmluDwRnRa-ImG0M_VRgOc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre__using_to_match_', ``, 'string') }}","Correo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Correo', ``, 'string') }}"},"matchingColumns":["Nombre"],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[608,560],"id":"e20c191b-7dfe-48f4-a383-da3107eb82f5","name":"ActualizarContacto","credentials":{"googleSheetsOAuth2Api":{"id":"6ZsfAjFlddP24YPd","name":"Google Sheets account"}},"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g","mode":"list","cachedResultName":"Base de datos contactos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TAz2UoGFmaJAjnedqHz6WD7VPjLwJ8JtpglzSfgxH9g/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[928,592],"id":"33133a76-1d72-4c36-9fa6-02e815162642","name":"ObtenerTodosContactos","credentials":{"googleSheetsOAuth2Api":{"id":"6ZsfAjFlddP24YPd","name":"Google Sheets account"}},"disabled":true},{"parameters":{"path":"33322373-5080-4e97-b468-f0f40f6686d9"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[448,320],"id":"b26bf09a-c8b0-41cc-a18a-c7010b18d690","name":"MCP Server Trigger1","webhookId":"33322373-5080-4e97-b468-f0f40f6686d9","disabled":true},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `El destinatario del email.`, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1088,592],"id":"c5a440f3-e42b-4f7c-9c43-b67542a56b84","name":"Enviar Email","webhookId":"99d0f5d6-6176-4147-a68e-611eec371a9e","credentials":{"gmailOAuth2":{"id":"Pgqkyd8w5QCACq2o","name":"Gmail account"}}},{"parameters":{"operation":"reply","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1248,592],"id":"be27b5fa-f6bd-4876-af24-be640d34d56d","name":"Responder Email","webhookId":"6479e218-e946-4598-a93e-86d0bbcfc79f","credentials":{"gmailOAuth2":{"id":"Pgqkyd8w5QCACq2o","name":"Gmail account"}},"disabled":true},{"parameters":{"resource":"draft","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1392,592],"id":"d96d7abd-44a0-4c6b-9448-203998904c48","name":"Crear Borrador","webhookId":"19623e00-6c13-426e-9f75-47eb4570e82b","credentials":{"gmailOAuth2":{"id":"Pgqkyd8w5QCACq2o","name":"Gmail account"}},"disabled":true},{"parameters":{"operation":"getAll","limit":20,"filters":{"receivedAfter":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}","receivedBefore":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}","sender":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1568,592],"id":"51262686-80a4-403f-be1b-165fbe82c208","name":"Obtener Emails","webhookId":"7c23354e-d786-4c2e-b6c7-68b313aff9a8","credentials":{"gmailOAuth2":{"id":"Pgqkyd8w5QCACq2o","name":"Gmail account"}},"disabled":true},{"parameters":{"operation":"delete","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1712,592],"id":"7d3c35c7-e9b3-4e95-a03e-4eecb1550b31","name":"Eliminar Email","webhookId":"c671bf92-f648-47b4-b056-54bd71667fe1","credentials":{"gmailOAuth2":{"id":"Pgqkyd8w5QCACq2o","name":"Gmail account"}},"disabled":true},{"parameters":{"path":"27dd4208-4407-4413-a270-1302d812e60e"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[1232,304],"id":"8d43fe95-7f45-4e35-9dc8-2db66ee2e954","name":"MCP Server Trigger2","webhookId":"27dd4208-4407-4413-a270-1302d812e60e","disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[512,48],"id":"f472fde1-6097-4786-b1ee-25fbf6d4e283","name":"OpenAI 4.o mini","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Descripcion General:\nEres un asistente personal llamado ANA."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[672,-256],"id":"5a8be39c-d159-4b63-bd79-9839e0aef2e3","name":"AI Agent1"}],"connections":{"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"MCP Gmail":{"ai_tool":[[]]},"MCP Calendario":{"ai_tool":[[]]},"MCP Contactos":{"ai_tool":[[]]},"Switch":{"main":[[{"node":"Descargar Audio","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Transcribir","type":"main","index":0}]]},"Transcribir":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"Telegram Trigger1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Crear evento":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Eliminar Evento":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Obtener Eventos":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Actualizar Evento":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"ObtenerContactos":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"AddContactos":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"ActualizarContacto":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"EliminarContacto":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"ObtenerTodosContactos":{"ai_tool":[[{"node":"MCP Server Trigger1","type":"ai_tool","index":0}]]},"Enviar Email":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Responder Email":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Crear Borrador":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Obtener Emails":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"Eliminar Email":{"ai_tool":[[{"node":"MCP Server Trigger2","type":"ai_tool","index":0}]]},"OpenAI 4.o mini":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4c4ac83e-f8bb-4c41-bac7-44dfb866049c","triggerCount":1,"shared":[{"createdAt":"2025-06-29T14:38:16.689Z","updatedAt":"2025-06-29T14:38:16.689Z","role":"workflow:owner","workflowId":"E7ELp12GkfgAXljF","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}