telegram-+-rag-+pro-y6jKvawmJzx0Ga1G.json
{"createdAt":"2025-07-05T17:47:24.221Z","updatedAt":"2025-10-04T02:14:26.593Z","id":"y6jKvawmJzx0Ga1G","name":"Telegram + RAG +Pro","active":false,"isArchived":false,"nodes":[{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"# Rol\n1. Eres una asistente de IA llamada ANA, una persona servicial que proporciona información sobre la Ley Orgánica del Trabajo y los Trabajadores Venezolanos de forma natural y conversacional. Considérate un colega amable: con conocimiento y a la vez accesible.\n\n2. Al iniciar un nuevo chat, debes presentarte, por ejemplo: Soy ANA, tu asistente de IA. Estoy aquí para ayudarte con información sobre la Ley Orgánica del Trabajo y cualquier otra pregunta que tengas. ¿En qué más puedo ayudarte hoy?\n\n# Herramientas\n\n1. Usa la herramienta \"RAG\" para responder preguntas sobre la Ley Orgánica del Trabajo y los Trabajadores Venezolanos.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1056,-80],"id":"fa85e4c3-3c1b-4198-b806-4957461e217c","name":"AI Agent"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Set File Type&ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb719689-6fb4-4f3b-9ee5-fde5e01f1957","leftValue":"={{ $('Set File Type&ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"doc"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b85f433f-c3a9-4e96-931c-b47a37548003","leftValue":"={{ $('Set File Type&ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CSV"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c266b6b-a6da-4ca1-b72d-1e25b63a000e","leftValue":"={{ $('Set File Type&ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLSX"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[656,800],"id":"2c4df23b-6ca9-459b-b74b-a440c0e9cba9","name":"Switch"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1120,1136],"id":"2465e3f8-b83a-4011-900a-9d4f259b628b","name":"Aggregate"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1296,1136],"id":"95ec5a50-373e-467a-a981-71ebaf907325","name":"Summarize"},{"parameters":{"operation":"text","options":{"keepSource":"binary"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1120,960],"id":"96127892-9341-4dfd-b55b-bf96de00151f","name":"Extract from doc"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1120,784],"id":"5a10ade6-0cc3-4819-89bb-cb0a84e27211","name":"Extract from CSV"},{"parameters":{"operation":"pdf","options":{"keepSource":"binary","maxPages":500}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1120,608],"id":"03290d7f-6e6a-425e-a41b-ad14d00330c1","name":"Extract from PDF","alwaysOutputData":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[928,1136],"id":"221b5198-3e1f-4dc6-91f8-d9897f405a47","name":"Extract from XLSX"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1ruQDLvPlqQH5ID4QEp6_aOtB8qi150Li","mode":"list","cachedResultName":"zdocumentos5","cachedResultUrl":"https://drive.google.com/drive/folders/1ruQDLvPlqQH5ID4QEp6_aOtB8qi150Li"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[96,1072],"id":"fb5f350c-e4f2-4c93-820d-163f67ba542e","name":"File Created","credentials":{"googleDriveOAuth2Api":{"id":"doYyFV1Iu9X73lIc","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1ruQDLvPlqQH5ID4QEp6_aOtB8qi150Li","mode":"list","cachedResultName":"zdocumentos5","cachedResultUrl":"https://drive.google.com/drive/folders/1ruQDLvPlqQH5ID4QEp6_aOtB8qi150Li"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[80,848],"id":"3bf7b334-72ad-4789-9295-0764a80876c6","name":"File Updated","credentials":{"googleDriveOAuth2Api":{"id":"doYyFV1Iu9X73lIc","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File Type&ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[352,992],"id":"f98a637c-39d7-4f42-9756-3a885569931a","name":"Download New File","credentials":{"googleDriveOAuth2Api":{"id":"doYyFV1Iu9X73lIc","name":"Google Drive account"}}},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[336,624],"id":"2e7d10ab-6483-44b0-92e0-cf36414b3552","name":"Delete Old File Version","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"gxuoz36U9VS8VSPT","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6df1e25e-690d-4658-b46b-9b9dbb388c80","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"a9a3dcb9-3641-4ee2-93de-957dffa574bc","name":"file_type","value":"={{ $json.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,624],"id":"db76bf3a-882a-43b8-bfe0-c8884b3e7b39","name":"Set File Type&ID"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1696,832],"id":"dd30ed1a-1bdf-45f7-b497-4051388f97f5","name":"Default Data Loader"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[304,-80],"id":"d6e28ec5-5e8d-46f0-b8f7-b306cf993999","name":"Descargar Audio","webhookId":"9054ba64-7bff-4b8c-9668-15c5b1dfd944","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[480,-80],"id":"2a5c5ce9-7549-4db3-842d-3a0b048987c2","name":"Transcribir","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"0ef7181d-c151-4d40-a341-b0002fc82518"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16af8e01-a416-45b8-8358-30e9243ca95f","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[0,-16],"id":"7968537e-ffbb-447b-a07e-b34d93cc75c1","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"9cd54906-fbfa-4578-a57c-e7cc41daae92","name":"text","value":"={{ $json.message.text }}","type":"string"},{"id":"33daf4fe-1326-44ea-bcff-f34e7787e494","name":"message.chat.id","value":"={{ $json.message.chat.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,128],"id":"d6a88681-b7d5-4885-a854-bff9ee1f5fb9","name":"Edit Fields1"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[224,272],"id":"b4a7b6a1-067f-42ca-80c3-9307dc855258","name":"Telegram Trigger","webhookId":"c7f168fc-7798-468a-8807-3773b81bd03a","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9cd54906-fbfa-4578-a57c-e7cc41daae92","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"33daf4fe-1326-44ea-bcff-f34e7787e494","name":"message.chat.id","value":"={{ $('Telegram Trigger').item.json.message.from.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-80],"id":"d4edf950-1dec-4693-9af2-cf0e9e412316","name":"Edit Fields2"},{"parameters":{"chunkOverlap":20},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[1856,1008],"id":"6e6aa96e-756b-4cf8-97bf-c1a5842864c8","name":"Token Splitter1"},{"parameters":{"content":"","height":720,"width":944},"type":"n8n-nodes-base.stickyNote","position":[-112,-208],"typeVersion":1,"id":"7c02cfae-c7db-42f6-92ce-5c314bf9a316","name":"Sticky Note"},{"parameters":{"content":"","height":720,"width":960},"type":"n8n-nodes-base.stickyNote","position":[864,-208],"typeVersion":1,"id":"54b56010-0ecc-4f16-b78b-219d3245bee5","name":"Sticky Note1"},{"parameters":{"content":"","height":736,"width":688},"type":"n8n-nodes-base.stickyNote","position":[-112,560],"typeVersion":1,"id":"38b7d5f5-f87b-4b8e-ae96-fb7f1ef6fe74","name":"Sticky Note2"},{"parameters":{"content":"","height":736},"type":"n8n-nodes-base.stickyNote","position":[592,560],"typeVersion":1,"id":"58ee3156-2a42-4f5e-9079-9803f0f5f6a5","name":"Sticky Note3"},{"parameters":{"content":"","height":736,"width":592},"type":"n8n-nodes-base.stickyNote","position":[864,560],"typeVersion":1,"id":"74da76f7-1156-4977-a256-064ebcd794f8","name":"Sticky Note4"},{"parameters":{"content":"","height":736,"width":528},"type":"n8n-nodes-base.stickyNote","position":[1472,560],"typeVersion":1,"id":"6cca5dbc-8b35-4ba8-880b-66775a46fa42","name":"Sticky Note5"},{"parameters":{"content":"","height":256,"width":320,"color":6},"type":"n8n-nodes-base.stickyNote","position":[64,224],"typeVersion":1,"id":"39fb5786-c3e9-4b5b-8bdd-fe8ff8a06e20","name":"Sticky Note6"},{"parameters":{"content":"","height":272,"width":288,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1520,-192],"typeVersion":1,"id":"2bf3a1ec-e1f6-4b77-88b2-a99d333a90f6","name":"Sticky Note7"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"embeddingBatchSize":50,"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1584,640],"id":"416b9681-9dfd-434d-80b6-7d200cfb8a5e","name":"Base de Datos Vectorial","credentials":{"supabaseApi":{"id":"gxuoz36U9VS8VSPT","name":"Supabase account"}}},{"parameters":{"name":"RAG","description":"Usa esta Herramienta llamada \"RAG\" para responder preguntas Ley Orgánica del Trabajo, los Trabajadores y las Trabajadoras (Gaceta Oficial N° 6.076 Extraordinario del 7 de mayo de 2012","topK":10},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1440,160],"id":"0aea042f-4530-4b9d-877b-58feacd4f646","name":"RAG"},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1200,336],"id":"f051f82b-be17-4738-b3a3-f6f0285bcdc0","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"gxuoz36U9VS8VSPT","name":"Supabase account"}}},{"parameters":{"description":"=Utiliza esta herramienta para pensar y usa la  la herramienta \"RAG\" tu primera opcion para responder preguntas sobre la Ley Orgánica del Trabajo y los Trabajadores Venezolanos."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1248,144],"id":"a0ff5bb3-73b3-40e5-b646-806007363c61","name":"pensamiento"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}","tableName":"chat_histories","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1072,176],"id":"f1d06075-f3bd-4c8d-a832-97edaa88c1e1","name":"Memory","credentials":{"postgres":{"id":"2rWXL8WYRyYZbH6r","name":"Postgres account"}}},{"parameters":{"options":{"dimensions":1536,"batchSize":100,"stripNewLines":false}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1008,368],"id":"ba9e1a86-1018-4378-a463-f8e0dc0b22ea","name":"Embeddings 1","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"options":{"dimensions":1536,"batchSize":100,"stripNewLines":false}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1568,1008],"id":"9606f856-05a8-4671-b3bb-f5fd7cd15a03","name":"Embeddings 2","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"responseFormat":"text","temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[944,176],"id":"019bbc6b-990c-4308-ad8a-ebceb9324041","name":"Chat Model ","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"responseFormat":"text","temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1616,336],"id":"27f06070-4a5e-49bd-bdcb-9dcf05f4cdec","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1616,-128],"id":"27426351-2674-42fa-81c2-7cae71e8a4f9","name":"Send a text message","webhookId":"ea339aa9-3b14-4d01-b99f-3021daca9474","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[512,304],"id":"0902a6eb-201c-42a7-b1cc-3491aa173956","name":"Create an assistant","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}},"disabled":true}],"connections":{"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"Extract from doc","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract from XLSX","type":"main","index":0}],[{"node":"Extract from doc","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Base de Datos Vectorial","type":"main","index":0}]]},"Extract from doc":{"main":[[{"node":"Base de Datos Vectorial","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Base de Datos Vectorial","type":"main","index":0}]]},"Extract from PDF":{"main":[[{"node":"Base de Datos Vectorial","type":"main","index":0}]]},"Extract from XLSX":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File Type&ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File Type&ID","type":"main","index":0}]]},"Download New File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Delete Old File Version":{"main":[[{"node":"Download New File","type":"main","index":0}]]},"Set File Type&ID":{"main":[[{"node":"Delete Old File Version","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Base de Datos Vectorial","type":"ai_document","index":0}]]},"Descargar Audio":{"main":[[{"node":"Transcribir","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Descargar Audio","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Transcribir":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Token Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"RAG":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"RAG","type":"ai_vectorStore","index":0}]]},"pensamiento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings 1":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Embeddings 2":{"ai_embedding":[[{"node":"Base de Datos Vectorial","type":"ai_embedding","index":0}]]},"Chat Model ":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"54a7f9dd-adf0-458f-ab61-4a5a8512d91b","triggerCount":0,"shared":[{"createdAt":"2025-07-05T17:47:24.221Z","updatedAt":"2025-07-05T17:47:24.221Z","role":"workflow:owner","workflowId":"y6jKvawmJzx0Ga1G","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}