telegram-+-rag-+pro-uOzLO8ZrEenf1qZJ.json
{"createdAt":"2025-07-16T23:34:39.139Z","updatedAt":"2025-07-20T23:20:44.003Z","id":"uOzLO8ZrEenf1qZJ","name":"Telegram + RAG +Pro","active":false,"isArchived":false,"nodes":[{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"# Rol\n1. Eres una asistente de IA llamada ANA, una persona servicial que proporciona información sobre la Ley Orgánica del Trabajo y los Trabajadores Venezolanos de forma natural y conversacional. Considérate un colega amable: con conocimiento y a la vez accesible.\n\n2. Al iniciar un nuevo chat, debes presentarte, por ejemplo: Soy ANA, tu asistente de IA. Estoy aquí para ayudarte con información sobre la Ley Orgánica del Trabajo y cualquier otra pregunta que tengas. ¿En qué más puedo ayudarte hoy?\n\n# Herramientas\n\n1. Usa la herramienta \"RAG\" para responder preguntas sobre la Ley Orgánica del Trabajo y los Trabajadores Venezolanos.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1296,-48],"id":"cf03ab70-e5c0-41e0-96e8-0add5a4321c8","name":"AI Agent"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Set File Type&ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb719689-6fb4-4f3b-9ee5-fde5e01f1957","leftValue":"={{ $('Set File Type&ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"doc"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b85f433f-c3a9-4e96-931c-b47a37548003","leftValue":"={{ $('Set File Type&ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CSV"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c266b6b-a6da-4ca1-b72d-1e25b63a000e","leftValue":"={{ $('Set File Type&ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLSX"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[896,832],"id":"a68afc1e-efb7-47fa-9879-65fab2ae5f36","name":"Switch"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1360,1168],"id":"4e39feab-7f7f-4901-9ec7-cb0dc028d527","name":"Aggregate"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1536,1168],"id":"126be540-dd50-422e-938a-e854fea15654","name":"Summarize"},{"parameters":{"operation":"text","options":{"keepSource":"binary"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1360,992],"id":"ca71c13a-3c1e-48be-bbd5-1905e03ee156","name":"Extract from doc"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1360,816],"id":"eab711c8-cb36-493b-ac9c-54f288dc70fc","name":"Extract from CSV"},{"parameters":{"operation":"pdf","options":{"keepSource":"binary","maxPages":500}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1360,640],"id":"22db4955-0e39-4189-8456-16df6c0d17f5","name":"Extract from PDF","alwaysOutputData":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1168,1168],"id":"b7342f4a-3a55-4cf2-be9a-fde2f8b1df1e","name":"Extract from XLSX"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1ruQDLvPlqQH5ID4QEp6_aOtB8qi150Li","mode":"list","cachedResultName":"zdocumentos5","cachedResultUrl":"https://drive.google.com/drive/folders/1ruQDLvPlqQH5ID4QEp6_aOtB8qi150Li"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[336,1104],"id":"b9d29fbf-8f62-4cff-9d90-053de0bf05af","name":"File Created","credentials":{"googleDriveOAuth2Api":{"id":"doYyFV1Iu9X73lIc","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1ruQDLvPlqQH5ID4QEp6_aOtB8qi150Li","mode":"list","cachedResultName":"zdocumentos5","cachedResultUrl":"https://drive.google.com/drive/folders/1ruQDLvPlqQH5ID4QEp6_aOtB8qi150Li"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[320,880],"id":"2e51c9f3-26e4-462f-9cdb-f91c48659ba0","name":"File Updated","credentials":{"googleDriveOAuth2Api":{"id":"doYyFV1Iu9X73lIc","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File Type&ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[592,1024],"id":"0771d958-c2ec-48ad-8dfe-670c92e8efc7","name":"Download New File","credentials":{"googleDriveOAuth2Api":{"id":"doYyFV1Iu9X73lIc","name":"Google Drive account"}}},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[576,656],"id":"86b70270-27c1-4c15-8415-58187c230d24","name":"Delete Old File Version","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"gxuoz36U9VS8VSPT","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6df1e25e-690d-4658-b46b-9b9dbb388c80","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"a9a3dcb9-3641-4ee2-93de-957dffa574bc","name":"file_type","value":"={{ $json.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,656],"id":"fc752f4a-5e16-4204-89a6-a6bc7ea08f47","name":"Set File Type&ID"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1936,864],"id":"4db94b3a-3664-445b-bae1-dd9be0bd6e05","name":"Default Data Loader"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[544,-48],"id":"a1a428f3-04e4-4a82-87e2-36ab1700c490","name":"Descargar Audio","webhookId":"9054ba64-7bff-4b8c-9668-15c5b1dfd944","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[720,-48],"id":"5a3e9a01-535d-430e-b051-ec718bf9eb96","name":"Transcribir","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"0ef7181d-c151-4d40-a341-b0002fc82518"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16af8e01-a416-45b8-8358-30e9243ca95f","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[240,16],"id":"3095a24b-9f51-4adb-88e3-8322a2bdeb5d","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"9cd54906-fbfa-4578-a57c-e7cc41daae92","name":"text","value":"={{ $json.message.text }}","type":"string"},{"id":"33daf4fe-1326-44ea-bcff-f34e7787e494","name":"message.chat.id","value":"={{ $json.message.chat.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,160],"id":"fb2a70af-a8d5-4903-bfa5-8f0baf4218fd","name":"Edit Fields1"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[400,304],"id":"07c5a183-ff16-4556-8651-ae151117fb2c","name":"Telegram Trigger","webhookId":"c7f168fc-7798-468a-8807-3773b81bd03a","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9cd54906-fbfa-4578-a57c-e7cc41daae92","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"33daf4fe-1326-44ea-bcff-f34e7787e494","name":"message.chat.id","value":"={{ $('Telegram Trigger').item.json.message.from.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,-48],"id":"10f4a412-476f-4737-b23e-de87f8626c60","name":"Edit Fields2"},{"parameters":{"chunkOverlap":20},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[2064,1136],"id":"68f0ebaf-dede-4240-9ff1-e8ded6ecc05b","name":"Token Splitter1"},{"parameters":{"content":"","height":720,"width":944},"type":"n8n-nodes-base.stickyNote","position":[128,-176],"typeVersion":1,"id":"31aaaba2-d116-432b-8dbc-fd74b20fe040","name":"Sticky Note"},{"parameters":{"content":"","height":720,"width":960},"type":"n8n-nodes-base.stickyNote","position":[1104,-176],"typeVersion":1,"id":"2152665a-2ead-4e68-b48f-b307da3b3345","name":"Sticky Note1"},{"parameters":{"content":"","height":736,"width":688},"type":"n8n-nodes-base.stickyNote","position":[128,592],"typeVersion":1,"id":"1aacb423-fc77-4a3c-82fe-96dcabcf71a2","name":"Sticky Note2"},{"parameters":{"content":"","height":736},"type":"n8n-nodes-base.stickyNote","position":[832,592],"typeVersion":1,"id":"7a55e6f2-6e07-4b3a-b929-31b61176734d","name":"Sticky Note3"},{"parameters":{"content":"","height":736,"width":592},"type":"n8n-nodes-base.stickyNote","position":[1104,592],"typeVersion":1,"id":"00c616c9-48d5-4444-b32c-c8b7c59cf271","name":"Sticky Note4"},{"parameters":{"content":"","height":736,"width":528},"type":"n8n-nodes-base.stickyNote","position":[1712,592],"typeVersion":1,"id":"df607e22-f434-47e3-9947-9d77b251c657","name":"Sticky Note5"},{"parameters":{"content":"","height":256,"width":320,"color":6},"type":"n8n-nodes-base.stickyNote","position":[304,256],"typeVersion":1,"id":"9a8043e8-62d6-42fa-bb4c-5b78f790e1f8","name":"Sticky Note6"},{"parameters":{"content":"","height":272,"width":288,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1760,-160],"typeVersion":1,"id":"eff0c8b1-0cd9-4bd0-b8b3-d650e132ecc0","name":"Sticky Note7"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"embeddingBatchSize":50,"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1824,672],"id":"89010353-971b-418d-9b41-5507039c0826","name":"Base de Datos Vectorial","credentials":{"supabaseApi":{"id":"gxuoz36U9VS8VSPT","name":"Supabase account"}}},{"parameters":{"name":"RAG","description":"Usa esta Herramienta llamada \"RAG\" para responder preguntas Ley Orgánica del Trabajo, los Trabajadores y las Trabajadoras (Gaceta Oficial N° 6.076 Extraordinario del 7 de mayo de 2012","topK":10},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1680,192],"id":"8053fed4-faa8-4f14-94ef-dac441cf6af4","name":"RAG"},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1440,368],"id":"3a799907-eb46-4f0f-8ee0-450bfcd34400","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"gxuoz36U9VS8VSPT","name":"Supabase account"}}},{"parameters":{"description":"=Utiliza esta herramienta para pensar y usa la  la herramienta \"RAG\" tu primera opcion para responder preguntas sobre la Ley Orgánica del Trabajo y los Trabajadores Venezolanos."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1488,176],"id":"30b5d02d-2f81-476e-8705-1797bc757271","name":"pensamiento"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}","tableName":"chat_histories","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1312,208],"id":"634ad8f6-4135-4b5f-abac-781d820a1a0f","name":"Memory","credentials":{"postgres":{"id":"2rWXL8WYRyYZbH6r","name":"Postgres account"}}},{"parameters":{"options":{"dimensions":1536,"batchSize":100,"stripNewLines":false}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1248,400],"id":"38063587-eeec-4dbf-804a-f4828b5ba2a2","name":"Embeddings 1","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"options":{"dimensions":1536,"batchSize":100,"stripNewLines":false}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1808,1040],"id":"64e7d420-77a8-47e1-83e7-d9aa4885b5ac","name":"Embeddings 2","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"responseFormat":"text","temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1184,208],"id":"e74dbb5e-673a-497a-a12f-e29b968f8eee","name":"Chat Model ","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"responseFormat":"text","temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1856,368],"id":"aac24f7e-6d46-4e51-bd76-57b34e93d68c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GXQnAcDQPSdhis7E","name":"OpenAi account 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1856,-80],"id":"d809f203-c993-4378-b9e6-ac8375e9e231","name":"Send a text message","webhookId":"ea339aa9-3b14-4d01-b99f-3021daca9474","credentials":{"telegramApi":{"id":"ieu6af1Rv6kd76li","name":"Telegram account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"Extract from doc","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract from XLSX","type":"main","index":0}],[{"node":"Extract from doc","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Base de Datos Vectorial","type":"main","index":0}]]},"Extract from doc":{"main":[[{"node":"Base de Datos Vectorial","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Base de Datos Vectorial","type":"main","index":0}]]},"Extract from PDF":{"main":[[{"node":"Base de Datos Vectorial","type":"main","index":0}]]},"Extract from XLSX":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File Type&ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File Type&ID","type":"main","index":0}]]},"Download New File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Delete Old File Version":{"main":[[{"node":"Download New File","type":"main","index":0}]]},"Set File Type&ID":{"main":[[{"node":"Delete Old File Version","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Base de Datos Vectorial","type":"ai_document","index":0}]]},"Descargar Audio":{"main":[[{"node":"Transcribir","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Descargar Audio","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Transcribir":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Token Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"RAG":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"RAG","type":"ai_vectorStore","index":0}]]},"pensamiento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings 1":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Embeddings 2":{"ai_embedding":[[{"node":"Base de Datos Vectorial","type":"ai_embedding","index":0}]]},"Chat Model ":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-07-20T23:17:19Z"},"node:File Updated":{"lastTimeChecked":"2025-07-20T23:17:19Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2ea05a33-4b39-4ce6-935c-5ec0af42d7c2","triggerCount":3,"shared":[{"createdAt":"2025-07-16T23:34:39.139Z","updatedAt":"2025-07-16T23:34:39.139Z","role":"workflow:owner","workflowId":"uOzLO8ZrEenf1qZJ","projectId":"n4vHSDQygtGMKCrV"}],"tags":[]}